<div id="closedcaptioneditor">
#set( $sourcepath = $asset.sourcepath )
#set( $source = "$home/${applicationid}/views/modules/asset/downloads/converted/cache/${sourcepath}/video.mp4" )
#set( $webmsource = "$home/${applicationid}/views/modules/asset/downloads/converted/cache/${sourcepath}/video.webm" )
#set( $thumb = "$home/${applicationid}/views/modules/asset/downloads/preview/large/${sourcepath}/thumb.jpg" )
#set( $clientroot = "/${applicationid}/components/closedcaptions" )


$pages.include("$clientroot/details/video.html",$context)


#set( $timecodejump = $context.getRequestParameter("timecodejump"))



	
	<div class="float-left" style=" width:140px; font-size:90%; padding: 6px 0 0 5px;">	
		<span id="captionstart">00:00.0</span> -
		<span id="captionend">00:00.0</span>
	</div>
	<div class="float-left" style="padding: 0px;">
		<form id="addcaption" data-targetdiv="captionview" action="$clientroot/addcaption.html" class="ajaxform" >
			<input type="hidden" name="assetid" value="$asset.id" />
			<input type="hidden" name="oemaxlevel" value="1" />
			<input type="hidden" id="timecodestart" name="timecodestart" value="0" />
			<input type="hidden" id="timecodelength" name="timecodelength" value="8000" />
			<input  id="captioninput" 
				name="cliplabel"
				class="form-control" 
				placeholder="[[press tab to start/stop and press enter to save]]"
				value="" 
				style="width:450px;" />
		</form>
	</div>
	<div class="float-left" style="padding: 0 0 0 20px;">	
		##<a id="playtab" href="#"   data-playtext="[[Play 8s]]" data-stoptext="[[Stop]]" 
		##	class="btn btn-success btn-sm" style="margin-left:0px;" >[[Play 8s]]</a> 
		<a id="removetime" class="btn btn-success btn-sm" style="margin-left:0px;" ><i class="fas fa-minus"></i></a>
		<a id="addtime" class="btn btn-success btn-sm" style="margin-left:0px;" ><i class="fas fa-plus"></i></a>
		<a id="removecaption" class="btn btn-success btn-sm" style="margin-left:0px;" ><i class="fas fa-trash"></i></a>
		
	</div>
<div class="clearfix"></div>
<div class="row">
	<div class="col-sm-12">
<div class="timelineviewer" >
		$pages.include("$clientroot/viewcaptions.html",$context)
</div>
</div>
</div>


</div>