#set( $clientroot = "/${applicationid}/components/closedcaptions" )
<div id="captionview"	
#if( $track.transcribestatus == "needstranscribe" || $track.transcribestatus == "inprogress")  
 class="ajaxstatus" 	ajaxpath="$clientroot/viewcaptions.html?oemaxlevel=1&assetid=$asset.id" 
#end
#if( $track.transcribestatus == "needstranscribe")> <div class="alert alert-primary" role="alert">	[[transcoder uploading audio]] </div>
#elseif( $track.transcribestatus == "inprogress")> <div class="alert alert-primary" role="alert">	 [[in progress]] ${track.percentcomplete}%  </div>
#elseif( $track.transcribestatus == "error")> <div class="alert alert-danger" role="alert">	[[error auto transcribing]]  </div>
#else
>
#end

#set( $clips = $timeline.getClips() )
#set( $padded = $timeline.getPxWidth()+60)

<div id="scrollarea" style="width:100%; height: 260px; overflow-y: scroll;">
<div id="timelinemetadata" data-ratio="$timeline.getPxToTimeRatio()"
	 data-savelink="$home$clientroot/saveclips.json" data-assetid="$asset.id" style="width:${padded}px; margin-left:60px;">
	 
	#foreach($clip in $clips)
		#set( $index = ${foreach.count} - 1)
		<div id="slider123" class="time-slider data-selection"  
			data-cliplabel="#esc($clip.getLabel())" 
			data-timecodestart="$clip.getStart()"
			data-timecodelength="$clip.getLength()">
			<div class="ruler" >
				<div class="timecell" style="left: ${timeline.getPxStart($clip)}px; width: ${timeline.getPxLength($clip)}px; cursor: move;position:relative;">
					<div class="grabresize"></div>
					<span class="cliptext">#esc($!clip.getLabel())</span>
				</div>
			</div>
		</div>
	#end
</div>
</div>


</div>