<div id="emcommentarea">
<h2>[[Comments]]</h2>
#if(!$user)
<p style="color:darkred;">[[You must be logged in to leave your own comments.]]  [[If you don't have an account, please]]
<a href="$home/$applicationid/authentication/register.html">[[register here.]]</a></p>
<br/>
#end
#if(!$comments)
	#set($comments = $commentArchive.loadComments($asset))
	$context.putPageValue("comments",$comments)
#end

$pages.include("$apphome/views/detaileditor/comments/list.html", $context)

	#set($incrsize = $comments.size() + 1)
	#if( $cancomment )
		<form name="addcomment" class="ajaxform" targetdiv="emcommentarea" action="${home}/${catalogid}/components/detaileditor/comments/addcomment.html" method="post">
			<textarea id="commenttext" class="resizer" name="comment" cols="54" rows="2">[[Write a comment]]</textarea> <br/>
			<input type="hidden" name="sourcepath" value="$asset.sourcePath"/>
			<input type="hidden" name="oemaxlevel" value="1"/>
			<input type="hidden" name="catalogid" value="$catalogid"/>
			<input type="submit" value="comment" />
		</form>
	#end
</div>


