<div id="default-top" class="clearfix">
    
<!--  
    <div class="thumbnail">
        <img src="" style="width: 91px; height: 91px;" />
    </div>
    
    <div class="main-info">
        <div class="primary">
            $firstName $lastname <span style="font-weight: normal; color: #999">($userid)</span>
        </div>
        <div class="secondary">
            $role
        </div>
    </div>
-->

     <div class="main-info" style="padding-bottom: 30px;">
        <div class="primary">
           Order History
        </div>
        <div class="secondary">
            View your order history below
        </div>
    </div>
    
</div>

$pages.include("$apphome/views/activity/listorders.html")


