.navbar-inverse {
	$theme
#set($solidcolor = $theme.headercolor)
#set($color1 = $theme.headercolorgradienthi)
#set($color2 = $theme.headercolorgradientlo)
#if ($solidcolor)
background: $solidcolor; /* Old browsers */ 
#end
#if($color1 && $color2)
background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
#end
}




.navbar-default {
	
#set($solidcolor = $theme.navbarcolor)
#set($color1 = $theme.navbarcolorgradienthi)
#set($color2 = $theme.navbarcolorgradientlo)
#if ($solidcolor)
background: $solidcolor; /* Old browsers */ 
#end
#if($color1 && $color2)
background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
#end
}

.panel-primary > .panel-heading {
	
#set($solidcolor = $theme.panelprimarycolor)
#set($color1 = $theme.panelprimarycolorgradienthi)
#set($color2 = $theme.panelprimarycolorgradientlo)
#if ($solidcolor)
background: $solidcolor; /* Old browsers */ 
#end
#if($color1 && $color2)
background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
#end
}

.panel-primary {
#set($solidcolor = $theme.panelprimarycolor)
#set($color1 = $theme.panelprimarycolorgradienthi)
#set($color2 = $theme.panelprimarycolorgradientlo)
	#if($color1)
		border-color: $color1;
	#elseif($solidcolor)
		border-color: #solidcolor;
		
	
	#end
	
}


