<div class="subcolumns">
          <div class="c33l">
            <div class="subcl">
<div class="em-rounded" >
<h1>Titles</h1>
#set($titlesearcher = $searcherManager.getSearcher($catalogid, "title"))
#set($titleid= $context.getRequestParameter("title.value"))
#if( $titleid )
	#set($title = $titlesearcher.searchById($titleid))
	$context.putPageValue("title",$title)
#end	
<ul class="vlist">
#foreach($title in $titlesearcher.getAllHits())

<li #if($titleid == $title.id) class="active" #end  ><a href="$home$apphome/views/settings/production/episodes/fieldsearch.html?title.value=$title.id&field=title&operation=matches&sortby=name">$title</a></li>
#end

</ul>

<ul class="embuttons">
<li><a href="$home$apphome/views/settings/production/titles/edit/addnew.html"><span>Add New Title</span></a></li>
#if( $title)
<li><a class="confirm" href="$home$apphome/views/settings/production/titles/edit/edit.html?id=$title.id&title.value=$title.id"><span>Edit Title</span></a></li>
#end
</ul>

</div>

           </div>
          </div>
          <div class="c66r">
            <div class="subcr">
$pages.includeContent()
</div></div></div>