#set ($groupSearcher = $searcherManager.getSearcher($catalogid, "settingsgroup"))
#set ($permissiontype = $context.findValue("permissiontype"))
#if (!$data)
	#set($groupid = $context.getRequestParameter("settingsgroupid"))
	#if($groupid)
		#set ($data = $groupSearcher.searchById($groupid))
	#end
#end
#if ($data)
<form method="post" action="$siteroot$apphome/views/settings/users/permissions/views/save.html"
	class="ajaxform"
			data-targetdivinner="permissions-div"
			data-oemaxlayout="2">
	<input type="hidden" name="id" value="$!data.id"/>
	<input type="hidden" name="save" value="true"/>
	<input type="hidden" name="view" value="settings/settinggroupedit" />
	<input type="hidden" name="searchtype" value="$groupSearcher.getSearchType()"/>
	<input type="hidden" name="settingsgroupid" value="$data.id" />
	<input type="hidden" name="field" value="permissions"/>
	
	$context.putPageValue("searcher", $groupSearcher)	 
	$context.putPageValue("view", "settings/settinggroupedit")
	$context.putPageValue("viewid", "settinggroupedit")
	$context.putPageValue("data", $data)	

	#set($permissionsearcher = $searcherManager.getSearcher($catalogid, "permissionsapp"))

    
	<input type="hidden" name="field" value="profilesearchfilters" />
	<input type="hidden" name="profilesearchfilters.value" value="hideassettype" />
	<div>

        #if ( !$permissiontype )
           #set ( $permissiontype = "*" )
        #end
        
	    #set( $hits = $permissionsearcher.query().match("permissiontype",$permissiontype).sort("permissiontype").sort("ordering").search() )
		#set( $section = "none")
		#set($values = $data.getValues("permissions"))
		
    	<table class="table table-striped table-hover emdata settings-table">	
	    
	    
    	#foreach($item in $hits )
        		#set($val = false )
        		
        		#set($val = $values.contains($item.id))
        		#if( $section != $item.permissiontype )
        		<thead>
        			<tr class="sectionlevel section$item.permissiontype togglesection">
        			<td colspan="3" style="height: 35px; line-height: 35px;">
        				$searcherManager.getData($catalogid,"permissiontype",$item.permissiontype)
        			</td>
        			</tr>
        			</thead>
        		#set( $section = $item.permissiontype)
        		#end
        		<tr class="$item.permissiontype ">
        		<td valign="middle" style="text-align: center; width: 35px;">
        		<input class="permission-radio" type="checkbox" name="permissions.value" value="$item.id" id="checkbox-$item.id" #if($val == "true" || $val == "full") checked #end/>
        		</td>
        		<td valign="middle"><label for="checkbox-$item.id" style="padding:5px 0 1px 0;">$context.getText($item.getName())</label></td>
        		<td class="caption">$!item.caption</td>
        			
        		</tr>
    	#end
    	</table>
    </div>
    <div class="form-submit-btns">
			<input class="btn btn-cta" type="submit" value="[[Save]]"/>
			<a class="btn btn-danger ajax ml-2" 
				href="$siteroot$apphome/views/settings/users/permissions/views/delete.html?id=$groupid"
				data-targetdivinner="applicationmaincontent"
					data-oemaxlevel="3"
				confirm="[[Are you sure you want to delete the security group]] $data.name">[[Delete]]</a>
		</div>
</form>

#else
[[Please select a Security Group]]
#end