## API -- Set these page variables
##$searchtype  ##jointable
##$fieldexternalid ##productid
##$fieldexternalvalue ##4322
##$listid ##states
##$listexternalid
##$edit ## are we editing
##$imagetype 
##$catalogid
#if(!$listid)
	#set($listid = $detail.getListId())
#end
## get big list of all 
#set( $allsearcher = $searcherManager.getSearcher($catalogid,$listid))	
#set ($types = $allsearcher.allHits)
$context.putPageValue("all", $types)

#set( $joinsearcher = $searcherManager.getSearcher($catalogid, $searchtype))
#set ($filteredtracker = $searcherManager.makeFilteredTracker())
$filteredtracker.setSearcher($joinsearcher)
$filteredtracker.setListId($listexternalid)
$filteredtracker.filter($fieldexternalid, $fieldexternalvalue)

$context.putPageValue("checked", $filteredtracker.filteredValues())
<input name="operation" type="hidden" value="matches" />

<table>
	<tr>
	
#set($count = 0)
#foreach ($item in $types)
	
	<td>
	
	
	
	<label for="$detail.value" class="">
	
	
	  <input type="checkbox" name="${detail}.orvalue" id="${detail}.${item.id}" value="$item.get('id')"
	    #if ($checked.contains($item.id)) checked #end >
		$item
	 </label>

	</td> 
	#if ($velocityCount % 2 == 0) </tr> <tr> #end	    
	
#end
	</tr>
</table>
