#emcontainer #emplayerplayer
{
	width: 600px;
}
#emcontainer .emplayerbox
{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
#emcontainer .emplayerbox td
{
	padding: 10px;
}
#emcontainer #emplayerplayer  .embox
{
	min-height: 400px;
	width: 100%;
}

#emcontainer #emviewerdetails
{
	width: 180px;
}
#emcontainer #emviewerdetails  .embox
{
	min-height: 400px;
  	background: url(../../images/backgrounds/gradientmenu.png) no-repeat top center;
}
#emcontainer #emplayerresults
{
	width: 100%;
	
}
#emcontainer #emplayerresults .embox
{
	min-height: 600px;
	background: url(../../images/backgrounds/gradientresults.png) no-repeat top center;
	
}

.emdetailsbox
{
	text-align: left;
	margin-left:auto;
	margin-right:auto;
	width: 260px;
}

#emcontainer .emdetailactions a
{
	display:block;
	text-decoration: none;
}
#emcontainer .emdetailactions a img
{
	vertical-align: top;
}
#emcontainer .emdetailactions a:hover
{
	display:block;
	text-decoration: none;
}

.emdetailvotes 
{
	line-height: 20px;
}

.emdetailvotes img
{
	vertical-align: middle;
}

.emdetaildownload
{
}

.emdetaildownload img
{
	vertical-align: middle;
}

#emcommentarea
{
	padding-top: 10px;
}

/*********************************
	Comments
*********************************/
#emcontainer #emcomments {
	padding-left: 9px;
}
#emcontainer .emcomment {
	margin-bottom: 5px;
	display: table;
	padding: 5px;
}
#emcontainer .emcommentuser {
	font-weight: bold;
	
}
#emcontainer .emcommenttext {
}
#emcontainer .emcommentdate
{
	display: block;
	color: #888888;
}
.emtabs 
{
/*	margin-left: 20px;*/
	
}
.emtabs li
{
	float: left;
	margin-left: 5px;
  	position: relative;
  	margin-top: 0px;
  	overflow: hidden;
}
.emtabs li a {
  padding: 4px 8px;
  display: block;
}
.emtabs li a:hover
{
	text-decoration: none;
}
.emtabs li.emtab a
{
  padding: 5px 25px 5px 5px;
  
}
.emtabs li.emtabselected 
{
	border-bottom: 0 none;;
}
.emtabs li.emtabselected a
{
	text-decoration: none;
}
.emtabs li.ui-state-default a
{
	padding-right: 5px
}
@media (max-width: 1024px) {
	.emtabs li a
	{
	  padding: 4px 4px;
	}
	.emtabs li
	{
		margin-left: 0px;

	}
}

#homelayout div.collectionheaderleft {
    width: 250px;
    float: left;
 }
#homelayout div.collectionheaderright {
    float: left;
    padding: 20px 0 0 0;
 }


#homelayout .emtabs span.ui-icon-closethick
{
	position: absolute;
	display: block;
	right: 3px;
	z-index: 500;
	top:3px;
	cursor: pointer; 
}
#homelayout .ui-icon-newwin
{
	right: 3px;
	z-index: 1000;
	top:3px;
	font-size: 2.2em;
	float: right;
	 zoom: 1.6;
}

#homelayout 
{
	background: white;
}

#emcontent .tab-container {
  border: 1px solid #a3c8d4;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
  margin: -1px 10px 10px 10px;
  padding: 0 0 15px 0;
}

#emcontent .carousel-window>ul
{
	margin: 0 0 0 20px;
	padding: 0;
	list-style: none;
}


#emcontent .media-carousel {
  position: relative;
}
#emcontent .media-carousel .carousel-window {
   overflow: hidden;
}
#emcontent .media-carousel>ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
#emcontent .media-carousel ul li.carousel-item {
 
 width: 171px;
  float: left;
  margin: 15px 10px 0 0px;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
  overflow: hidden;

}

li.carousel-item .footer
{
	color: #EEE;
}

li.carousel-item .ui-widget-content
{
	height: 250px;
} 
#collectionfeed .vcarousel {
	height: 210px;
} 

#emcontent .media-carousel ul li.carousel-item .thumbframe {
  text-align: center;
  border-radius: 0;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  margin: 4px;

}
#emcontent .media-carousel ul li.carousel-item>a  {
  display: block;
}

#emcontent .media-carousel ul li.active {
	background: yellow;
}

#emcontent .media-carousel ul li.carousel-item a.thumb  img {
  min-height: 80px;
  max-width: 120px;
}
#emcontent .media-carousel ul>a.thumb:hover {
  background: #fff;
}
#emcontent .media-carousel ul>a.thumb.active {
  background: #abdcef;
}
#emcontent .media-carousel a.previous,
#emcontent .media-carousel a.next {
  height: 20px;
  width: 20px;
  display: block;
  background: none;
  cursor: pointer;
  
}
#emcontent .media-carousel a.previous .icon,
#emcontent .media-carousel a.next .icon {
  fill: #333;
}
#emcontent .media-carousel a.previous:hover .icon,
#emcontent .media-carousel a.next:hover .icon {
  fill: #777;
}
#emcontent .media-carousel a.previous {
  float: left;
  margin:35px 5px 0;
}

#emcontent .media-carousel a.next {
  float: right;
  margin:35px 5px 0;
}


.media-carousel .nextpage {
	
}

.media-carousel .nextpage,
.media-carousel .prevpage {
	width:50px;
	height: 100px;
	opacity: 0.2;
	position: absolute;
	top:20px;
}
.media-carousel .nextpage:hover,
.media-carousel .prevpage:hover {
	opacity: 0.8;
}
.media-carousel .nextpage {
	background: url('http://demo.entermediadb.com/emshare/theme/images/pdf-next-page.png');
	right:5px;
}
.media-carousel .prevpage {
	background: url('http://demo.entermediadb.com/emshare/theme/images/pdf-prev-page.png');
	left:5px;
}

#collectionfeed #librarychange div.listautocomplete {
    min-width: 220px;
    max-width: 220px;
    margin: 0 0 8px 0;
}
#collectionfeed  .collheader th
{
color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

#collectionfeed  .btn-toolbar  a:hover
{
	 text-decoration: underline;
	 
}

#mainimageholder
{
	position: relative;
	
	height:100%;
	width:100%;
	overflow: hidden;
	text-align:center;
}

.zoomable {
	position:absolute; top:0;  left:0; right:0; cursor:grab;
}
.imagezooming {
	cursor: move;
}

#footerholder
{
	color: #eee;
}

/*
#main-media:HOVER+#footerbase {
	visibility: visible;
}
*/




#download-select 
{
	opacity: 1;
}

#footerbase { 
	height:35px;
	
	/*opacity: 0.8;*/
	background-color: #333;
}


#footermenu {
	width: 100%;
	list-style: none;
	
}
.footermenu {
	margin: 0;
	padding: 0;
}

li.footermenu {
	font-size: 1rem;
	color:#fff;
	height: 35px;
	font-weight: normal;
	float:left;
	display:block;
}
#footermenu .gotoarrows { font-size: 1.9rem; line-height: 25px; padding: 0 2px; cursor:pointer; }
#footermenu .goleftclick { padding:0 8px;}
#footermenu .gorightclick { padding:0 8px;}
#footermenu .gotoarrows { color:#777;} 
#footermenu .gotoarrows:hover { color:#777; }

#footermenu .gotoarrows.arrowenabled { color:#ccc;} 
#footermenu .gotoarrows.arrowenabled:hover { color:#fff; }


#footermenu li a {
	color: #efefef;	
	display:block;
	line-height: 35px;
}
#footermenu .expandmenu {
	padding:0 10px;
}
@media (min-width: 992px) {
	#footermenu .expandmenu {
	padding:0 20px;
	}
}
#footermenu li.tabselected {
	background-color: #ccc;
	
}
#footermenu li a:hover,
#footermenu li.tabselected a {
	text-decoration: none;
	color: #212529;
}

#footermenu li.bottomtab .assetpreview {
    overflow: hidden; 
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    max-width: 170px;
}

#footermenu .dropdown-menu a {
	color:#333;
	font-size:90%;
	padding: 2px 12px;
}
#footermenu .dropdown-menu a:hover,
#footermenu .dropdown-submenu:hover>a,
#footermenu .dropdown-menu a.dropdown-current {
	background-color: #bbb;
	color:#000;
	border-bottom:1px solid #999;
	text-decoration: none;
}
#footermenu  .dropdown-menu {
	z-index:21000;	
}

.footermenu-assetnav {
	float:right;
	margin:0 40px 0 0;
	padding:0;
}

.goleftclick, .gorightclick {
	display: inline;
}  



body.widthless1000 #pdf-thumbnail-sidebar 
{
	/*display: none;*/


}
#footermenu li.bottomtab:hover,
#footermenu li.bottomtab:hover a.dropdown-toggle {
	background-color: #ccc;
	color: #212529;
}

.bottomtab
{
	cursor: pointer;
	text-align: center;
	border-right: 1px solid #666;

}

.assettab
{
	cursor: pointer;
}
.media-presets { padding-top:10px;}
.media-presets-sidebar {
	background-color:#e1e1e1;
	height: 100%;
	margin-bottom: 15px;
	
}
.media-presets-sidebar h3 {
	color: #ccc;
    padding: 6px 10px;
    background-color: #333;
    text-transform: uppercase;
    font-size: 1.1rem;
	margin:0;
	}
.media-presets-sidebar-content {
	padding:10px;
	color:#333;
}
.mediapreset {
	background-color:#bebebe;
	border:2px solid #bebebe;
	width:220px;
	height: 220px;
	text-align:center;
	line-height: 1;
	float:left;
	margin:0 6px 6px 0;
	color:#333;
	
}
.mediapreset:hover
 {
	border:2px solid #333;
	background-color:#d1d1d1;
}
.mediapresetselected
 {
	border:2px solid #333;
	background-color:#e1e1e1;
}
.mediapreset a.mediapresetcontainer {
	display:blocK;
	padding:10px 10px 10px;
	
}
.mediapreset-name {
	text-overflow: ellipsis;
	 white-space: nowrap;
	 width:100%;
	 overflow: hidden;
	 padding:10px 5px;
}
.mediapreset-image {
	height: 155px;
	overflow:hidden;
}
.mediapreset-image img {
	border:2px solid #ccc;
	max-width:170px; 
	max-height: 150px;
}
.mediapreset .mediapreset-actions a {
	opacity: .2;
	margin-right:5px;
}
.mediapreset:hover .mediapreset-actions a {
	opacity: 1;
	
}
.mediapreset .mediapreset-actions a .fas {
	font-weight: 600;
}

.embedcopytext textarea {
	visibility: hidden;	
}


.croptool-maincol {
	float:left; 
	max-width:820px
}

.croptool-sidebar {
	float:left; 
	margin-left:10px;
	width:300px; 
	padding-bottom:20px;
}

@media (min-width: 1200px) {
	.croptool-maincol {
		max-width:820px
	}
	
	.croptool-sidebar {
		width:325px;
		overflow: hidden;
		}
}


@media (min-width: 1680px) {
	.croptool-maincol {
		max-width:1040px
	}
	
	.croptool-sidebar {
		width:430px
		}
	.media-presets-sidebar-content {
		padding:13px;
	}
}

@media (min-width: 1900px) {
	.croptool-maincol {
		max-width:1240px
	}
	
	.croptool-sidebar {
		width:580px
		}
	.media-presets-sidebar-content {
		padding:15px;
	}
}





