#emcontainer .emcategorieslist 
{
	padding: 0px 0 0 4px;
}
#emcontainer .emcategorieslist li a
{
	white-space:nowrap;
	padding-bottom: 6px;
	display: block;	
	font-weight: bold;
	font-size: 1.1em;
}

.emthumbbox {
	margin-bottom: 4px;
	float:left;
	padding: 0 30px 0 0;
}

.emthumbimage
{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
	padding: 0 0 4px 0;
}
.emthumbimage *
{
	vertical-align:middle;
}

/** Sizes **/
.emboxthumbsmall
{
	width: 150px;
	height: 150px;
}
.emthumbsmall
{
	width: 150px;
	height: 150px;
}
td.resultstablecell .proxythumb {
    width: 118px;
    height: 62px;
    vertical-align: middle;
    margin: 5px auto;
    padding: 3px;
    border: 1px solid #e5e5e5;
    
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}


.emboxthumb {
	width: calc(33% - 20px);
	height: 255px;
	text-align: center;
	border-bottom:1px solid #666;
	padding-bottom:15px;
	overflow: hidden;
}
@media (min-width: 1200px) {
	.emboxthumb {
		width: calc(25% - 20px);	
	}
}

@media (min-width: 1400px) {
	.emboxthumb {
		width: calc(20% - 20px);	
	}
}


.proxythumb .loadingbar {
    height: 8px;
    margin-top: 22px;
    margin-left: 4px;
    background: url('../../images/loadingbar.gif');
}

.proxythumb .infloading
{
	margin-top: 22px;
    margin-left: 4px;
}

.emthumb
{
	width: 200px;
}

.emthumb:hover
{
}

div.emdropshadow {
    background: white;
    padding: 3px;
    border: 1px solid #e5e5e5;
    display: inline-block;
    min-width: 40px;
    min-height: 40px;
    margin-top: 3px;
    margin-bottom: 3px;
}

span.emdropshadow {
    background: white;
    padding: 3px;
    border: 1px solid #e5e5e5;
    display: inline-block;
    min-width: 40px;
    min-height: 40px;
}
.playerarea { height: 100%;	}

.playerarea span.emdropshadow {
    padding: 0px;
    background: transparent;
    border: 0px solid #e5e5e5;
    display: block;
    flex: 1;
    min-width: 40px;
    min-height: 40px;
}
.playerarea a.imageplayer {
    flex: 1;
}
.playerarea .player-outer {
	padding:20px 0;
	height: 100%;
}
.playerarea .player {
	margin:0 auto;
	width:100%;
}

.player {

/*
min-width: 100%; 
min-height: 100%;
width: auto; 
height: auto;*/ 
background-size: cover; 
width:100%;
height: 80%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player .video-js {
	margin:0 auto;
	width:90%;
	height: 100%;
}

@media (min-width: 1480px) {
.player .video-js  {
	width:80%;
	}
}



div#hiddenoverlay .playerarea {
	float: left;
	width: 100%;
}


/* STACKED VIEW OVERLAY */

#emthumbholder img.mimethumb {

	position: relative;
    margin: auto;

}


div#hiddenoverlay .overlay-margin {

	width: 90px;
	position: relative;
	float: left;

}

.overlay-margin {

	height: 100%;

}

div.masonry-grid-cell .grid-thumbimage 
{
	background-color:#fff;
	padding: 0px;
	margin:0px;
	border:0px;
	text-align: center;
}
div.masonry-grid-cell .grid-thumbimage img.imagethumb
{
	display: inline-block;
    margin: 0 auto;
    vertical-align: top;
}


.emboxthumblarge
{
	height:300px;
	width: 300px;
}
.emthumblarge
{
	height:300px;
	width: 300px;
}

.emthumbboxicon
{
	margin: 10px 0 0 0;
}
.emthumbboxtext
{
	margin: 5px 0 0 0;
	height: 50px;
}
#emcontainer .emthumbboxtext .emtitle 
{
	padding: 4px 0px 0px 0px;
	text-align: left;
	font-weight: bold;
	color: white;
}


#emcontainer .emthumbboxtext .emcaption 
{
	padding: 2px 4px 0px 0px;
	text-align: left;
	width: 200px;
}

#emfullresults .emrounded
{
	min-width: 810px;
	width: 100%;
}

#emfullresults #emslidesheet
{
	min-height: 300px;
}

/*------------*/
/* pages.html */
/*------------*/

#emcontainer .emnavigateboxes
{
	text-align: right;
	padding-bottom: 50px;
}

#emcontainer #navbox
{
	
	text-align: center;
	padding-right: 5px;	

}
#emcontainer #navbox A 
{
	background-color: #666666;
	color:           #FFFFFF;
	text-decoration: none;
	display:block;
	width: 28px;
	border: 2px solid #666666;
}
#emcontainer #navbox A:hover 
{
	color:           #666666;
	background-color: #FFFFFF;
	border: 2px solid #666666;
}
#emcontainer #navbox A:visited
{
	color:           #FFFFFF;
	text-decoration: none;
}
#emcontainer #navboxselected
{
	text-align: center;
	padding-right: 5px;	
}
#emcontainer #navboxselected A
{
	border: 2px solid #666666;
	text-decoration: none;
	display:block;
	width: 28px;
	color:           #666666;
	background-color: #FFFFFF;
	
}
#emcontainer #navboxselected A:visited
{
	text-decoration: none;
}


#player_container
{
	position: relative;
	background-color:#eee;
	width:120px;
	height:41px;
	border:1px solid #009be3;
	overflow: hidden;
	margin: 0 auto 0 auto;
}

#player_container  ul#player_controls
{
	list-style-type:none;
	padding: 0;
	margin: 0;
}
#player_container  ul#player_controls li
{
	overflow:hidden;
	text-indent:-9999px;
}

#player_play
{
	position: absolute;
	left:4px;
	top:0px;
	width:40px;
	height:40px;
	cursor: pointer;
	display: inline;
	background: url("../../images/audioplayer/spirites.jpg") 0 0 no-repeat;
}
#player_play.em_hover
{
	background: url("../../images/audioplayer/spirites.jpg") -41px 0 no-repeat;
}
#resultselection
{
	clear:both;
	height:100% !important;
}
#resultselectionclear
{
 display:block; 
 float:left;
 padding:14px 8px 0 0 !important;
 line-height:0p !important;
}

.masonry-grid
{
	padding:0px;
	margin:0px;
	background-color: #fff;
}

.masonry-grid-cell
{
	position: relative;
	padding: 0;
	text-overflow: ellipsis;
	overflow:hidden;
	border: 4px solid white;
}


.masonry-grid-cell .grid-thumbimage
{
	vertical-align: middle;
	
}

.masonry-grid-cell .imagearea
{
	overflow: hidden;
}

.masonry-grid-cell .gallery-status-info
{
	opacity: 0;
}

.masonry-grid-cell:hover .gallery-status-info
{
	position: absolute;
	top: 0px;
	background-color: #e5e092;
	width: 100%;
	border-radius: .2em .2em 0 0;
	padding: 0px 5px 5px 5px;
	text-align: center;
	opacity: 1;
}

.masonry-grid-cell .gallery-status-info span
{
	opacity: 0;
}

.masonry-grid-cell:hover .gallery-status-info span
{
	opacity: 1;
	color: rgb(90,90,90);
	text-shadow:0 0 2px white;
}

.masonry-grid-cell .caption
{
	position: absolute;
	bottom: 0px;
	line-height:20px;
	background-color: rgba(20,20,20,.4);
	width: 100%;
	border-radius: 0 0 .2em .2em;
	padding: 0px 5px 5px 5px;
    opacity:0;
    -webkit-transition:opacity 250ms ease-out;
    -moz-transition:opacity 250ms ease-out;
    -ms-transition:opacity 250ms ease-out;
    -o-transition:opacity 250ms ease-out;
    transition:opacity 250ms ease-out;
}

.masonry-grid-cell .caption:before {
    content:' '; /* Must have content to display */
            position:absolute;
            
        }

.masonry-grid-cell .caption a { color:#fff; }

        
.masonry-grid-cell .typedocument 
{
	 opacity:1;
}

.masonry-grid-cell:hover .caption {
            opacity:1;
 }

.masonry-grid-cell .grid-gallery-checkbox
{
	float: right!important;
	margin: 0!important;
}

.overlay-panel {
	margin: 50px;
	height: 60%;
}

.panel-heading > .overlay-close {
	z-index: 10;
	position: absolute;
	right: 60px;
	top: 60px;
}
.playerarea
{

}
.hiddenoverlay > div
{
	flex: 1;
	
}
#hiddenoverlay
{
	background-color: black;
	display:none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5,5,5,0.98);
    z-index: 10000;
	
}

.overlay-popup.largeicon
{
	font-size:30px;
	color: rgb(200,200,200);
	position: fixed;
	left:40px;
	top: 10px;
	z-index: 10001;
}

.overlay-close.largeicon {
	font-size:20px;
	color: #efefef;
	position: fixed;
	right:12px;
	top: 1px;
	z-index: 10001;
	cursor:pointer;
}
.overlay-close.largeicon:hover {
	color: #c1c1c1;
}

div#hiddenoverlay span.glyphicon.glyphicon-new-window
{
	cursor:pointer;
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

span.glyphicon-triangle-right.overlay-nav {

	cursor:pointer;
}

span.glyphicon-triangle-left.overlay-nav {

	cursor:pointer;
}

#main-media
{
	display:block;
    margin:auto;
    position:relative;
    max-height: 100%;
}

#emcontainer #emselectable  #main-results-table .tableresults tr td {
    height: 68px;

}

.masonry-grid .stacked-field-info {
    text-align: left; 
    color:#efefef; 
    line-height:1.8;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}
#embody .masonry-grid .stacked-field-info a {
    font-weight: normal;
    color: #fff;
    font-size: 12px;
    text-shadow:0 0 2px #121212;
}

.badgecontainer {  
	height: 30px;
	width:100%;
	position:absolute;
	bottom:0;
	right: 0;
}
.badgetargetsmall {
	/*position: absolute;
	bottom: 0px;
	right:0px;*/
}
.badgetarget {
	position: absolute;
	bottom: 5px;
	right: 5px;
}


.embadge {	
	display: block;	
	float: right;
	width: 25px;
	height: 30px;
	margin:0px;
	margin-left: 4px;	
	background-color: transparent;
	background-size: 25px 30px;
}


.emgallery {
    text-align: left;
}
.emgallery .emthumbbox {
    padding: 0 0 11px 0;
    border: 1px solid #ddd;
    background: #f9f9f9;
    margin: 5px;
    display: inline-block;
    text-align: center;
    position:relative;
    width:220px;
}


.emgallery .emthumbimage {
	position:relative;
    width: 232px;
    height: 226px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    
}


.emgallery .gallery-caption {
    text-align: left;
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 2px 10px;
    border-radius: 0 0 0 5px;
}
.emgallery .emthumbimage img {
    border: none;
    margin: 0;
    padding: 0;
max-width:200px;
    max-height:200px;
}
.emgallery .emthumbimage.emthumb:hover img.emdropshadow:hover {
    box-shadow: none;
    border: none;
}

.assetVoteTool {
    display: inline-block;
    position: absolute;
    top:0;
    right:0;
    z-index: 2;

}
.assetVoteTool .votebox 
{
   background: white;
    border-left: 1px solid #DDD;
     border-bottom: 1px solid #DDD;
    padding: 2px 0px 0 3px;
    position: relative;
    top: 0px;
    height: 27px;
    display: block;
    border-radius: 0 5px 0 5px;
}

.assetVoteTool .star {
    display: block;
    width: 26px;
    margin: 0 5px 0 3px;
    font-size: 120%;
    color:#afafaf;
    transition: 0.3s;
}
.assetVoteTool .votecounter {
	 text-decoration: none;
	 margin-right: 5px;
}
.assetVoteTool .star:hover, 
.assetVoteTool .star.full {
      color:#FEDC71;
}
.assetVoteTool .star:active i {
  color: #e5c157;
  transform: translateY(-2px);
}
.assetVoteTool a {
    color: #3490B2;
}
.assetVoteTool a:hover {
    text-decoration: underline;
}

#embody .emgallery a.updatebasket {
   
}

.emgallery a.updatebasket .remove {
}
.gallery-caption {
	position:relative;
}
.gallery-field-label {
    text-align: left; 
    font-size: 10px; 
    color: #666; 
    font-weight: bold; 
}
.gallery-field-info {
    text-align: left; 
    color:#444; 
    line-height:1.5;
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 190px; 
    white-space: nowrap;
}
#embody .gallery-field-info a {
    font-weight: normal;
    color: #2790B0;
    font-size: 0.85rem;
    line-height: 1.6;
}
#embody .gallery-field-info a:hover { 
    text-decoration: underline;    
}
#embody .gallery-field-basket {
	position: absolute;
	top:6px;
	right:4px;
}
#embody .gallery-field-basket a {
	color:#afafaf
}
#embody .gallery-field-basket a:hover,
.remove-from-basket {
	color:#000;
}
.gallery-checkbox {
    background: #fff;
    position: absolute;
    top:0;
    left:0;
    border: 1px solid #ddd;
    border-left: none;
    border-top: none;
    border-radius: 0 0 3px 0; 
    padding: 4px 5px 2px 4px;
    z-index: 2;
}

/* VOTING */
#assetVoteCount {
    text-align: center;
}
#asset-viewer-status {
    background: #f7f7f7;
    border-top: 1px solid #000;
    border-bottom: 1px solid #999;
    padding: 16px 13px 16px 13px;

}
#status-flag {
    float: right;
    background: #777;
    border: 1px solid #444;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 5px 20px;
    margin-top: -10px;
}
#status-flag .emdatafield {
    display: inline-block;
    color: #ccc;
    padding: 0;
}
#status-flag .emdatafieldvalue {
     display: inline-block;
     padding: 0;
}
#assetVoteCount .star {
    display: inline-block;
    line-height: 1;
}
#assetVoteCount .star.full {
    color:#FEDC71;
}

#assetVoteCount .voting-label { 
	line-height: 1.5;
	display: inline-block; 
	}
#assetVoteTool {
    display: inline-block;
    position: relative;
    float:right;
    height:0px;
}
#assetVoteTool .votebox 
{
   background: white;
    border-left: 1px solid #DDD;
     border-bottom: 1px solid #DDD;
    padding: 2px 0px 0 3px;
    position: relative;
    top: 0px;
    height: 27px;
    display: block;
    border-radius: 0 5px 0 5px;
}

#assetVoteTool .star {
    display: block;
    width: 26px;
    margin: 0 5px 0 3px;
    font-size: 120%;
    color:#afafaf;
}
#assetVoteTool .votecounter {
	 text-decoration: none;
	 margin-right: 5px;
}
#assetVoteTool .star:hover, 
#assetVoteTool .star.full {
      color:#FEDC71;
      text-decoration: none;
}
#assetVoteTool a {
    color: #3490B2;
    text-decoration: none;
}
#assetVoteTool a:hover {
    text-decoration: underline;
}



.assetpanel-sidebar .carousel {
	height: 100%;
	overflow-y: auto;
	background-color: #565656;			
}
.assetpanel-sidebar .gallery-item {
	display: block;
	position:relative;
	padding:8px 5px;
	text-align:center;
}
.assetpanel-sidebar .gallery-item-title {
	overflow: hidden; 
    display: block;
    height: 28px;
    padding:4px 8px;
    
}

.gallery-item-title .selectionbox {
	margin: 4px 12px 0 0;
	float: left;
}
.gallery-item-title label {
	line-height:20px;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.assetpanel-sidebar .gallery-thumb.active-asset {
	background-color: #ccc;
	border-right: 0px solid #ccc;
	opacity: 1;
	filter: alpha(opacity=100);
}

.assetpanel-sidebar .gallery-thumb {
	background-color:#e1e1e1;
	border-bottom: 1px solid #565656;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.assetpanel-sidebar .gallery-thumb a
{
	text-decoration: none;
}
.assetpanel-sidebar .gallery-thumb:hover {
	/*background-color: #d0e6ef;*/
	opacity: 0.9;
	filter: alpha(opacity=90);
}
.assetpanel-sidebar .gallery-thumb.active-asset:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.assetpanel-sidebar .gallery-thumb:hover .gallery-item-title {
	color:#fff;
	background-color: rgba(20, 20, 20, 0.6);
	}
	
.assetpanel-sidebar .gallery-thumb.selected-asset {
	background-color: #ccc;
	border-right: 0px solid #ccc;
	opacity: 1;
	filter: alpha(opacity=100);
}

.carousel-items .smallthumb {
    max-width: 160px;
	max-height: 100px;
}

td.emrowselected .resultsselection {display:block;}
.emrowselected .caption { opacity: 1;}



.entity-value-list {
	list-style: none;
}

.entity-value-list a {
	text-decoration: underline;
}

.emdatafieldvalue .entity-value-list a {
	color:#ddd;
}
.emdatafieldvalue .entity-value-list a:hover {
	color:#fff;
}
