<div id="allnone">
(<a href="javascript:oecheckall('${searchtype}',true)">#text("all")</a> <a href="javascript:oecheckall('${searchtype}',false)">[[none]]</a>)
</div>

<table>
	<tr>
	
#set($count = 0)
#foreach ($item in $all)
	
	<td>
	
	
	
	<label for="${searchtype}.value" class="">
	
	
	  <input type="checkbox" name="${searchtype}.value" id="${searchtype}.${item.id}" value="$item.get('id')"
	    #if ($checked.contains($item.id)) checked #end >
		$item
	 </label>

	</td> 
	#if ($velocityCount % 4 == 0) </tr> <tr> #end	    
	
#end
	</tr>
</table>

<script type="text/javascript" >
		oecheckall = function(insearchtype,inValue)
		{
		
			var boxes = document.getElementsByTagName("input");
			var boxcount = boxes.length;
			// set the check value for all check boxes
			for(var i = 0; i < boxcount; i++)
			{
				if( boxes[i].id.startsWith(insearchtype + ".") )
				{
					boxes[i].checked = inValue;
				}
			}
			
		}
</script>