#set( $xmledithome = $context.getPageProperty("xmledithome"))

#set( $searchtype = $context.getRequestParameter("searchtype")) ##jointable
#set( $candelete = $context.getRequestParameter("candelete")) 

#set( $view = $context.getRequestParameter("view"))
#set( $editpath = $context.getRequestParameter("editpath"))
#set( $fieldexternalid = $context.getRequestParameter("fieldexternalid"))##productid
#set( $fieldexternalvalue = $context.getRequestParameter("fieldexternalvalue"))##4322



#set ($catalogId = $context.getRequestParameter("catalogid") )
			
#set( $joinsearcher = $searcherManager.getSearcher($catalogId, $searchtype))
#if(!$existingrecords)
	#set ($existingrecords = $joinsearcher.fieldSearch($fieldexternalid,$fieldexternalvalue))
#end
#set( $details = $joinsearcher.getDataProperties($view,$user) )
#set( $passalong = $context.getRequestParameter("passalong"))
#set( $passalongdec = $url_util.decode($passalong) )
#set( $passalong = $url_util.encode($passalongdec) )

#set( $args = "catalogid=$catalogId&searchtype=$searchtype&fieldexternalid=$fieldexternalid&fieldexternalvalue=$fieldexternalvalue&candelete=$!candelete&view=$view&editpath=$editpath#if( $passalong )&$passalongdec&passalong=$passalong#end")

<div id="${searchtype}_table">
#if($candelete != "false")
<div id="emselectable" class="emselectable" data-view="$view" data-searchtype="$searchtype" data-editpath="$home$editpath?$args&edit=true&oemaxlevel=1" data-targetdiv="${view}editor">
#end



#set($selectedid = $context.getRequestParameter("selectedid"))

#if( $existingrecords && $existingrecords.size() > 0 )

<table id="tablesorter" class="emdatatable striped">
	<thead>
	<tr>
	#foreach( $detail in $details )
	<th>$detail.text</th>
	#end
	<th></th>
	</tr>
	</thead>
	<tbody>
	#foreach ( $hit in $existingrecords )
		<tr #if($candelete != "false") rowid="$hit.id" #end #if($selectedid == $hit.id) class="emhighlight" #end>
		#foreach( $detail in $details )
			<td style="padding:4px;">
				#set( $val = "$!hit.get($detail.id)" )
				$context.putPageValue("detail",$detail)
				$context.putPageValue("val",$val)
				$pages.include("$xmledithome/detailreadonly.html", $context)
			</td>
		#end
		
		#if($candelete && $candelete == true && $showdelete == "true")
			<td>
			<a href="#" onclick="if(confirm('Delete Item?')) { showpath('${searchtype}_table', '$home/system/components/xml/table-deleterow.html?delete=true&$editargs'); } return false;">
				[[delete]]
			</a>
			</td>
		#end		
		</tr>
	#end
	</tr>
	</tbody>
</table>
#end

#if( !$existingrecords || $existingrecords.size() == 0 )
	<p>#text("No records found")</p>
#end

#set($link = $context.getRequestParameter("selectlink"))
#if($link)
	<form name="editrow" action="$link">
		<input type="hidden" id="emselectedrow" name="id" />
	</form>
#else
	<div id="$editlink" targetdiv="${view}editor" link="$home$editpath?$args&edit=true&oemaxlevel=1"></div>
#end


#if($candelete != "false")
</div>
#end
</div>