#if( $librarycol )


<div style="float:left;margin-top: 20px;" class="collectionheader">
	$pages.include("$apphome/components/categories/crumbs.html?categoryid=$librarycol.rootcategory")
</div>


<div id="collectiontoplevel" data-collectionid='$librarycol.getId()' data-catalogid='$catalogid'>
		<ul class="ui-tabs-nav nav pull-right emtabs" data-defaulttab="$content.defaulttab" data-targetdiv="collection-tab-content" >
		  <li class="ui-corner-top"><a id="mediatab" data-layouts="2" data-alwaysreloadpage="true"   href="$apphome/views/modules/librarycollection/media/${librarycol.getId()}.html" >[[Assets]]</a></li>
		  #if( ( $caneditdata || $librarycol.isVisibility("2") ) && $librarycol.hasPendingAssets() )
		  <li class="ui-corner-top"><a id="approvaltab" data-layouts="2" data-alwaysreloadpage="true"   href="$apphome/views/modules/librarycollection/pending/${librarycol.getId()}.html" >[[Pending]]</a></li>
		  #end
	#if( $caneditdata && $canimportworkspace )
		  <li class="ui-corner-top"><a id="publishtab" data-layouts="1" data-allwaysloadpage="true"   href="$apphome/views/modules/librarycollection/publish.html?collectionid=${librarycol.getId()}" >[[Revisions]]</a></li>
  	#end
	#if( $caneditdata || $librarycol.isVisibility("2") )
		  #if($canviewupload || $canimportworkspace || $cancopycategory)
		  <li class="ui-corner-top" ><a id="addmediatab"  data-allwaysloadpage="true"  href="$home$apphome/components/createmedia/start.html?collectionid=${librarycol.getId()}" >[[Add Media]]</a></li>
		  #end
	#end	  
    #if($caneditdata && $canassetannotate )
		  <li class="ui-corner-top"><a  id="emannotationstab" data-alwaysreloadpage="true" href="$apphome/views/modules/librarycollection/annotate.html?collectionid=${librarycol.getId()}" >[[Annotate]]</a></li>
	#end 
	#if($caneditdata && $cansharecollection)
		  #set( $link = "$home$apphome/views/modules/librarycollection/share.html?collectionid=${librarycol.getId()}")
		  <li class="ui-corner-top"><a  id="sharetab"  href="$link" >[[Followers]]</a></li>
		   #set( $link = "$home$apphome/views/modules/librarycollection/permissions.html?collectionid=${librarycol.getId()}")
		  <li class="ui-corner-top" ><a id="permissionstab" href="$link" >[[Permissions]]</a></li>
    #end
	#set( $editlink = "$home$apphome/views/modules/librarycollection/edit/settings.html?collectionid=${librarycol.getId()}")
		  <li class="ui-corner-top" ><a id="settingstab" data-allwaysloadpage="true"  href="$editlink" >[[Properties]]</a></li>
		</ul>
		<div class="clearfix"></div>
		<div  id="collection-tab-content" >
		  <div class="tab-pane" id="loadedpanel" >
		  	$pages.includeContent()
		  </div>
		</div>
</div>

#else
$pages.includeContent()
#end