#if( $librarycol )
	<div style="float:left;margin-top: 20px;">
	$pages.include("$apphome/components/categories/crumbs.html?categoryid=$librarycol.rootcategory")
	</div>

	#set( $editlink = "$home$apphome/views/modules/librarycollection/edit/index.html?id=${librarycol.getId()}&viewid=librarycollectiongeneral&viewpath=librarycollection/librarycollectiongeneral&searchtype=librarycollection")
	#set( $library = $mediaarchive.getData("library",$librarycol.get("library") ) )
<div id="collectiontoplevel" data-collectionid='$librarycol.getId()' data-catalogid='$catalogid'>
		
		<ul class="ui-tabs-nav nav pull-right emtabs" data-defaulttab="$content.defaulttab" data-targetdiv="collection-tab-content" >
		  <li class="ui-corner-top"><a id="mediatab" data-layouts="2" data-allwaysloadpage="true"   href="$apphome/views/modules/librarycollection/media/${librarycol.getId()}.html" >[[Collection Assets]]</a></li>
		  #if($canimportcollection)
		  <li class="ui-corner-top"><a id="publishtab" data-layouts="1" data-allwaysloadpage="true"   href="$apphome/views/modules/librarycollection/publish.html?collectionid=${librarycol.getId()}" >[[Revisions]]</a></li>
		  #end
		  #if($canviewupload)
		  <li class="ui-corner-top" ><a id="addmediatab"  data-allwaysloadpage="true"  href="$home$apphome/components/createmedia/start.html?collectionid=${librarycol.getId()}" >[[Add Media]]</a></li>
		  #end
		  <li class="ui-corner-top"><a  id="emannotationstab" data-alwaysreloadpage="true" href="$apphome/views/modules/librarycollection/annotate.html?collectionid=${librarycol.getId()}" >[[Annotate]]</a></li>
		  #if($cansharecollection)
		  #set( $link = "$home$apphome/views/modules/librarycollection/share.html?collectionid=${librarycol.getId()}")
		  <li class="ui-corner-top"><a  id="sharetab"  href="$link" >[[Share]]</a></li>
		  #end
		  <li class="ui-corner-top" ><a id="settingstab" href="$editlink" >[[Settings]]</a></li>
		</ul>
		<div class="clearfix"></div>
		<div  id="collection-tab-content" >
		  <div class="tab-pane" id="loadedpanel" >
		  	$pages.includeContent()
		  </div>
		</div>
</div>


#else
$pages.includeContent()
#end