#if( $librarycol )
	<div style="float:left;margin-top: 12px;margin-left: 10px">
	<a class="librarycrumb" href="$apphome/views/modules/library/librarysearch.html?selectedlibrary=$librarycol.getLibrary().getId()" title="View Library">$librarycol.getLibrary()</a> 
	<a class="collectioncrumb" href="$apphome/views/modules/librarycollection/media/${librarycol.getId()}.html" title="View Collection"><b>$librarycol</b></a>  
	#if( $librarycol.rootcategory)
	<a class="categorycrumb" title="View Folders" href="$home$apphome/views/modules/category/categorysearch.html?categoryid=$librarycol.rootcategory&nodeID=$librarycol.rootcategory"> Folder </a>
	#end
	</div>

<div id="collectiontoplevel" data-collectionid='$librarycol.getId()' data-catalogid='$catalogid'>
		
		<ul class="ui-tabs-nav nav pull-right emtabs" data-defaulttab="$content.defaulttab" data-targetdiv="collection-tab-content" >
		  <li class="ui-corner-top"><a id="mediatab" data-layouts="2" data-alwaysreloadpage="true"   href="$apphome/views/modules/librarycollection/media/${librarycol.getId()}.html" >[[Assets]]</a></li>
		  #if( $caneditdata && $librarycol.hasPendingAssets() )
		  <li class="ui-corner-top"><a id="approvaltab" data-layouts="2" data-alwaysreloadpage="true"   href="$apphome/views/modules/librarycollection/pending/${librarycol.getId()}.html" >[[Pending]]</a></li>
		  #end
	#if( $caneditdata)
		  #if($canimportcollection )
		  <li class="ui-corner-top"><a id="publishtab" data-layouts="1" data-allwaysloadpage="true"   href="$apphome/views/modules/librarycollection/publish.html?collectionid=${librarycol.getId()}" >[[Revisions]]</a></li>
		  #end
		  #if($canviewupload)
		  <li class="ui-corner-top" ><a id="addmediatab"  data-allwaysloadpage="true"  href="$home$apphome/components/createmedia/start.html?collectionid=${librarycol.getId()}" >[[Add Media]]</a></li>
		  #end
		  #if($canassetannotate )
		  <li class="ui-corner-top"><a  id="emannotationstab" data-alwaysreloadpage="true" href="$apphome/views/modules/librarycollection/annotate.html?collectionid=${librarycol.getId()}" >[[Annotate]]</a></li>
		  #end 
		  #if($cansharecollection)
		  #set( $link = "$home$apphome/views/modules/librarycollection/share.html?collectionid=${librarycol.getId()}")
		  <li class="ui-corner-top"><a  id="sharetab"  href="$link" >[[Followers]]</a></li>
		  #end
		   #set( $link = "$home$apphome/views/modules/librarycollection/permissions.html?collectionid=${librarycol.getId()}")
		  <li class="ui-corner-top" ><a id="permissionstab" href="$link" >[[Permissions]]</a></li>
	  #end
	  	  #set( $editlink = "$home$apphome/views/modules/librarycollection/edit/settings.html?collectionid=${librarycol.getId()}")
	  
		  <li class="ui-corner-top" ><a id="settingstab" href="$editlink" >[[Settings]]</a></li>
		</ul>
		<div class="clearfix"></div>
		<div  id="collection-tab-content" >
		  <div class="tab-pane" id="loadedpanel" >
		  	$pages.includeContent()
		  </div>
		</div>
</div>


#else
$pages.includeContent()
#end