#macro (display $filename $label $assetid $view $print)
	$context.putPageValue("view", $view)
	#if ($print && $print == "true")
		$pages.include("$apphome/components/detaileditor/$filename?assetid=$assetid&view=$view&print=true&pluginpath=$apphome/components/detaileditor/$filename", $context)
	#else
  		$pages.include("$apphome/components/detaileditor/toggle.html?pluginpath=$apphome/components/detaileditor/$filename&assetid=$assetid&label=$label&view=$view",$context)
  	#end
#end


<div id="emmediaviewer">

#if( $asset )

<table>
	<tr>
	<td style="vertical-align:top;padding: 0px;">

	$pages.include("$apphome/components/detaileditor/assetmenuul.html",$context)
	</td>
	<td style="vertical-align:top;padding: 0px;width:100%;">
	  <div class="emasseteditorareawrapper">
		<div class="emasseteditorarea">	
		
			$pages.include("$apphome/components/detaileditor/navigate.html")
			#set( $inpreviewpage = false )
			#if( $content.assetrootfolder && $content.path.startsWith($content.assetrootfolder) )
				#set( $inpreviewpage = true )
			#elseif( $content.assetrootfolder && $content.path.startsWith($content.assetrootfolder) )
				#set( $inpreviewpage = true )
			#elseif( $content.path.endsWith("detailviewer/index.html") )
				#set( $inpreviewpage = true )
			#end
		
			#if( $inpreviewpage )
				$pages.include("$apphome/components/detaileditor/index.html?assetid=$asset.id")
			#else
				#if( $asset.getId().startsWith("multiedit:") )
				<h2>[[Editing across $asset.size() records]]</h2>
				#end
				$pages.includeContent()
			#end
		</div>
	  </div>	
</td>
</tr>
</table>


<script type="text/javascript" >
	toggleEditSection = function(inId, inPath, inAssetID, inView, inLabel)
	{
		var targetDiv = "#" + inId;
		targetDiv = targetDiv.replace(/\//g, "\\/");
		jQuery(targetDiv).load('$home$apphome/components/detaileditor/toggle.html', {id: inId, pluginpath: inPath, origURL: "$content.path", assetid:inAssetID, view:inView , label:inLabel});
	}	
</script>


#else

$pages.stream("${cataloghome}/crumbs/categories.html")

[[Asset is missing]]

#end
</div>