#set( $moduleid = $context.findValue("module") )

#macro (display $filename $label $assetid $view $print)
	$context.putPageValue("view", $view)
	#if ($print && $print == "true")
		$pages.include("$apphome/components/detaileditor/$filename?assetid=$assetid&view=$view&print=true&pluginpath=$apphome/components/detaileditor/$filename", $context)
	#else
  		$pages.include("$apphome/components/detaileditor/toggle.html?pluginpath=$apphome/components/detaileditor/$filename&assetid=$assetid&label=$label&view=$view",$context)
  	#end
#end



#if( $asset )

<div id="mediaviewer" class="max">
    
    #set( $ismultifine = $asset.id.startsWith("multiedit:") )
            #if($ismultifine )
            
    #else
            $pages.include("$apphome/components/detaileditor/navigate.html")
                        
    #end
    
    $pages.include("$apphome/components/mediaviewer/player/index.html",$context)
             
    ## $pages.include("$apphome/components/mediaviewer/player/navigation.html",$context)
    
</div>

<div id="detaileditor">
    <div id="de-table">
        <div id="de-side-nav" class="open">
            <div class="title-bar" style="border-left: none;"></div>
            
            $pages.include("$apphome/components/detaileditor/assetmenuul.html",$context)
            
            
        </div>
        <div id="details">
             <div class="title-bar"><span>$section</span></div>
             <div id="resultslist">
                 #set( $inpreviewpage = false )
                    #if( $content.assetrootfolder && $content.path.startsWith($content.assetrootfolder) )
                        #set( $inpreviewpage = true )
                    #elseif( $content.assetrootfolder && $content.path.startsWith($content.assetrootfolder) )
                        #set( $inpreviewpage = true )
                    #elseif( $content.path.endsWith("detailviewer/index.html") )
                        #set( $inpreviewpage = true )
                    #end
                
                    #if( $inpreviewpage )
                        $pages.include("$home$apphome/modules/$moduleid/editor/generalinformation/index.html?assetid=$asset.id")
                    #else
                        #if( $asset.getId().startsWith("multiedit:") )
                        <h2>[[Editing across $asset.size() records]]</h2>
                        #end
                        $pages.includeContent()
                #end
            </div>
        </div>
        <div id="related-media">
             <div class="title-bar" style="border-right: none;"><span style="text-align: center;">Related Media</span></div>
             $pages.include("$apphome/components/results/related/bykeyword.html",$context)
        </div>
    </div>
</div>


<script type="text/javascript" >
	toggleEditSection = function(inId, inPath, inAssetID, inView, inLabel)
	{
		var targetDiv = "#" + inId;
		targetDiv = targetDiv.replace(/\//g, "\\/");
		jQuery(targetDiv).load('$home$apphome/components/detaileditor/toggle.html', {id: inId, pluginpath: inPath, origURL: "$content.path", assetid:inAssetID, view:inView , label:inLabel});
	}	
</script>


#else

$pages.stream("${cataloghome}/crumbs/categories.html")

[[Asset is missing]]

#end
