#set($lastselected = $userprofile.last_selected_module )
 
#if(!$lastselected)
	#set ($lastselected = $content.module )	
	
#end
#if(!$lastselected)
	#set($lastselected = "asset" )
#end

#set($module = $searcherManager.getData($catalogid, "module", $lastselected ) )
#set($logo = $mediaarchive.getAssetBySourcePath("applicationassets/logo"))

#set($logourl = "$home$themeprefix/images/logo.png")
<a class="logocontainer" href="$home$apphome/views/modules/${module.getId()}/index.html"><img class="logo" src="$logourl" alt="EnterMedia Share" /></a>

<span class="navlinks" style="position: relative;">
<ul> 
	#if( $user )
    	#if( $canviewmyaccount ) 
    		<li class="first"><a href="$home$apphome/views/myaccount/myassets/index.html">[[My Account]]</a></li>
    	#end 
    	<li #if( !$canviewmyaccount )  class="first" #end><a href="$home$apphome/authentication/logout.html">[[Logout]]</a></li> 
    #else 
    	<li><a href="$home$apphome/authentication/login.html" class="first">[[Login]]</a></li> 
    #end
    #if($user)
	#set( $localesearcher = $mediaarchive.getSearcher("locale") )
       #set($currentlang = $localesearcher.searchById($context.language))
      #if($currentlang)
 	<li class="dropdown"><a class="" href="#" data-toggle="dropdown">$currentlang <span class="caret"></span></a> 
    #else
 	<li class="dropdown"><a class="" href="#" data-toggle="dropdown">[[Language]] <span class="caret"></span></a> 
     #end
  
  	<ul id="language-bar-select" class="dropdown-menu">
		#set( $localesearcher = $mediaarchive.getSearcher("locale") )
		#set( $languages = $localesearcher.query().match("enabled", "true").search($context) )
		#foreach( $lang in $languages)
			<li ><a href="$home$apphome/components/languages/changelanguage.html?newlang=locale_$lang.id&origURL=#uuencode($context.getPathUrl())">$lang </a></li>
		#end
    </ul> 
	</li>
	#end	
	

    #if($canviewsettings)
    	<li><a href="$home$apphome/views/dashboard/index.html" >[[Dashboard]]</a></li> 
    	<li><a #if ( $module ) href="$home$apphome/views/settings/modules/$module.id/index.html" #else href="$home$apphome/views/settings/index.html" #end>[[Settings]]</a></li> 
    	
    	<li class="dropdown"><a href="#" data-toggle="dropdown">[[Applications]] <span class="caret"></span></a> 
	    <ul id="top-bar-select" class="dropdown-menu">
			#set( $sitesearcher = $searcherManager.getSearcher($catalogid,"app") )
			#set( $sites = $sitesearcher.getAllHits($context) )
			#foreach( $site in $sites)
				<li ><a href="$site.deploypath">$site <span>($site.deploypath)</span></a></li>
			#end
	    </ul> 
    </li>
    #end 
    </ul>
 </span>

