#set( $tab = $context.findValue("tab") )

<div class="subcolumns">
	<div class="c25l" id="left-col">
		<div class="subcl">
			<div class="ui-widget-header">My Account</div>
			<div class="ui-widget-content categories-widget no-padding-for-real">
				<ul id="settings-menu" class="sidebar-list">
					#set( $searcher = $searcherManager.getSearcher($catalogid,"settingsmenumodule") )
					#set( $query = $searcher.createSearchQuery().append("type","toplevel").append("module", "user") ) 
					$!query.addSort("ordering")
					#set($screens = $searcher.search($query)) 
					#foreach($screen in	$screens)
						#if($screen.permission)
							#set($canview = $context.getPageValue("can${screen.permission}"))
						#else
							#set($canview = true)
						#end
						#if($canview)
							<li id="$screen.id" #if( $tab== "$screen.id" ) class="current" #end>
								<a href="$home$apphome${screen.path}">$screen</a>
							</li>
						#end
					#end
				</ul>
			</div>
		</div>
	</div>
	<div id="right-col" >
				$pages.includeContent()
	</div>
</div>






