<div id="eml-tabs-view">
	
	<h2 id="buffer" class="no-tabs">
	
	$content.sectiontitle
	
		$pages.include("$apphome/components/search/quicksearch.html")
	</h2>
	
<div class="autoresize-inner">
	<div id="eml-tab-content" >
		
				<div id="eml-tab-green-container" class="clearfix">
					<div id="eml-tab-options-container">
						<div class="eml-tab-option">
							$pages.includeContent()
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

$pages.include("$apphome/components/results/pages.html",$context)