
<div class="subcolumns">
          <div id="left-col">
          	
				<div class="ui-widget uipanel">
					<div  class="ui-widget-header">Upload</div>
					<div  class="ui-widget-content no-padding-for-real">
						<ul class="sidebar-list" style="margin: 0 -14px;">
							<li><a href="$apphome/views/upload/index.html">Single Asset</a></li>
							#if( $canviewuploadmulti)
							<li><a href="$apphome/components/upload/types/draganddrop.html">Multiple Assets</a></li>
							#end
							<li><a href="">Create New Record</a></li>
						</ul>
					</div>
				</div>
      	 </div>
         <div id="right-col">
       	 	
			$pages.includeContent()

        </div>
</div>