<script src="$home$apphome/components/upload/types/html5/upload.js"></script>
<script src="$home$apphome/components/javascript/upload/jquery.html5_upload.js"></script>

<div id="uploadmetadata">
#set( $root = "$home$apphome/components/upload/types/html5")

<div class="ui-widget uipanel">
    <div  class="ui-widget-header">Upload Media</div>
    <div  class="ui-widget-content">
            

<form id="uploaddata" class="ajaxform" targetdiv="uploadmetadata" name="wizard" method="post"
    action="$root/files.html?uploadid=$context.getUserName()_$formatteddate" data-uploadid="$context.getUserName()_$formatteddate" >

##Add asset id's here

		$context.putPageValue("searcher",$mediaarchive.getAssetSearcher() )	
		$context.putPageValue("view","asset/multipleupload")	
		$pages.include("/$applicationid/components/xml/detaileditorcss.html", $context)

##have the cancel delete these assets?
	<input type="submit" value="Next" />
</form>


</div>
</div>

</div>