<script src="$home$apphome/components/upload/types/html5/upload.js"></script>

#set( $root = "$home$apphome/components/upload/types/html5")
#set($catalogid = $context.getRequestParameter("uploadcatalog"))
#set($path = "/${catalogid}/temp/uploading/${user.getUserName()}")


#set( $catalog = $context.getRequestParameter('uploadcatalog') )
<form id="uploadform" name="wizard" method="post" enctype="multipart/form-data"
    action="$home/${applicationid}/components/upload/types/html5/finish.html?uploadid=$context.getUserName()_$formatteddate" data-uploadid="$context.getUserName()_$formatteddate" >
    
<div class="subcolumns">
    
    <div id="right-sidebar" style="padding: 0 20px 0 0">
           <!-- 
        <div id="emdropbox">
            Drag and Drop files here
        </div>
         -->
        <input type="file" name="files" id="fileElem" multiple style="display:none" onchange="handleFiles(this.files)">
        <a class="btn pickfiles" href="#" id="filePicker">Pick Files...</a>
        
        <ul id="up-files-list">
          <!--  <li><a href="#"><span>File 1</span></a><a class="delete-row ir" href="#">Delete</a></li> -->
           
        </ul>
        
    </div>
    <div id="main-area" style="vertical-align: top;">
        
        <div class="ui-widget uipanel">
            <div  class="ui-widget-header">Upload Media</div>
            <div  class="ui-widget-content no-padding">
            <div id="metadataarea">
             
             <p class="hints" style="text-align: left; padding: 0 20px;" id="drag-and-drop-instructions">
                To upload multiple files, click  <strong>Pick Files</strong> and then select multiple files by using the <strong>Shift</strong> key on your keyboard while clicking on the files you wish to uplaod.
             </p>
             </div>
            </div>                   
        </div>
        
    </div>
    
</div>

</form>

