<div style="padding: 20px 0px 0px 20px;">

#set( $catalog = $context.getRequestParameter('uploadcatalog') )
#set( $sourcepath = "users/$!{user.userName}/" )
<form id="uploadform" name="wizard" method="post" enctype="multipart/form-data"
	action="$home/${applicationid}/components/upload/types/simple/finish.html?sourcepath=$sourcepath">
	<input type="hidden" name="categoryid" value="index"/>
    <div style="width:320px; margin:auto;">

        <input type="text" id="fileName" class="file_input_textbox"  readonly="readonly">
        
         <div class="file_input_div">
      	  <input type="button" value="Browse" class="file_input_button" />    
          <input type="file" class="file_input_hidden" name="file.0" onchange="pickFile(this.value)" />
        </div>
        <div id="uploadprogress"  > </div>
		<br/><br/>
        
			<h2>[[Caption]]</h2>
			<input type="hidden" name="field" value="caption"/>
			<input type="text" class="required" name="caption.value" style="width: 278px;" />
            <img src='$home/system/images/icons/required_form_field_19px.png' style="float:right;"/>
			<br/><br/>

			<h2>[[Title]]</h2>
			<input type="hidden" name="field" value="assettitle"/>
			<input type="text" class="required" name="assettitle.value" style="width: 278px;" />
            <img src='$home/system/images/icons/required_form_field_19px.png' style="float:right;"/>
			<br/><br/>
            
			<h2>[[Add Tags]]</h2>
			<input type="hidden" name="field" value="keywords"/>
			<input type="text" class="required" name="keywords.value" style="width: 278px;" /><img src='$home/system/images/icons/required_form_field_19px.png' style="float:right;"/>
			<br/><br/>
</div>
<table><tr><td>
<div class="embutton" >
		<center>
        <img src='$home/system/images/icons/required_form_field_label.png'/>
        <p></p>
		<input type="button" id="finishbutton" class="finishbutt" value="[[Submit]]" onclick="doUpload('uploadform');">
		</center>
</div>
</tr></td></table>

</form>


</div>
<script type="text/javascript" >
	var uploadid;
 	doUpload =  function()
 	{
 		if(jQuery("#uploadform").valid()) {
 	 		jQuery("#finishbutton").attr('disabled','disabled');
			jQuery("#uploadform").submit();
 		}
 	}
 	
 	getUploadId = function()
 	{
 		if( uploadid == undefined)
 		{
 			var d = new Date();
 			uploadid = "$user.getId()_" + d.getTime();
 		}
 		return uploadid;
 	}
 	
 	pickFile = function(filename)
 	{
 		jQuery("#uploadform #fileName").attr("value", filename );
 		var action = jQuery("#uploadform").attr("action");
 		jQuery("#uploadform").attr("action", action + "&uploadid=" + getUploadId() );
 	}
 	
 	checkProgress = function()
 	{
 		jQuery("#uploadprogress").load("$home$apphome/components/upload/types/simple/uploadprogress.html?uploadid="+ getUploadId());
 	}
 	
 	function showResponse(responseText, statusText, xhr, $form)  
 	{ 
 		//jQuery.fn.livequery.stopped = true;
 		//jQuery("#embody").html(responseText);	
 		//jQuery.fn.livequery.stopped = false;
		document.location.href = "$home$apphome/views/search/reports/runsavedsearch.html?queryid=01newlyuploaded&searchtype=asset&reporttype=01newlyuploaded";
 	}
    // wait for the DOM to be loaded 
    $(document).ready(function() { 
        // bind 'myForm' and provide a simple callback function 
        
        $('#uploadform').ajaxForm({ 
        	        // target identifies the element(s) to update with the server response 
        	       // target: '#emcontainer', 
        	        // success identifies the function to invoke when the server response 
        	        // has been received; here we apply a fade-in effect to the new content
        	        beforeSubmit:function() 
        	        { 
        	            checkProgress(); 
        	           // document.onclick = disable;
        	            jQuery("#finishbutton").attr("value","Sending...");
        	           
        	        }, 
        	        success: showResponse
        	        
        	    }); 
    }); 
 	
</script>
