<div class="subcolumns">
          <div class="c33l">
            <div class="subcl">
<div class="em-rounded" >
<h2>Security Groups</h2>
#set($current = $context.getRequestParameter("settingsgroupid")) 
#set ($groupSearcher = $searcherManager.getSearcher($catalogid, "settingsgroup"))

<ul class="vlist">
#foreach($settingsgroup in $groupSearcher.fieldSearch("id", "*", "textUp"))
 <li #if($current == $settingsgroup.id) class="active" #end><a href="$home$apphome/views/settings/settingsgroup/views/index.html?settingsgroupid=$settingsgroup.id">$settingsgroup</a></li>
#end
</ul>


<ul style="padding-left: 200px;" class="embuttons">
<li><a href='$home$apphome/views/settings/settingsgroup/views/addnew.html?groupname=New'><span>Add New</span></a>
#if( $current)
<li><a href="./delete.html?id=$current" onclick="return confirm('Are you sure you want to delete the security group $data.name')"><span>Delete</span></a></li>
#end
</li>
</ul>

</div>
#if( $currentgroup)
	#set($currentgroup = $context.getRequestParameter("settingsgroupid"))
	
	#set ($profilesearcher = $searcherManager.getSearcher($catalogid, "userprofile"))
	#set($users = $profilesearcher.fieldSearch("settingsgroup", $currentgroup))
	
	#if($users.size() > 0)
	<br>
	<div class="em-rounded" >
	
	<h2>Users in the group</h2>
	<ul class="vlist">
	#foreach($hit in $users)
	#set($target = $userManager.getUser($hit.userid))
	
	 <li><a target="_blank" href="$home$apphome/views/usermanager/users/modifyuser.html?userid=${target.id}">$target</a></li>
	#end
	</ul>
	
	</div>
	#end
#end

           </div>
          </div>
          <div class="c66r">
            <div class="subcr">
            
$pages.includeContent()


</div></div></div>