<beans>

	<bean id="frontendSearcher" bean="xmlFolderSearcher"/>


<!-- 
	<bean id="appsSearcher" class="org.openedit.xml.XmlFolderSearcher"	singleton="false">
		<property name="pageManager"><ref bean="pageManager" /></property>
		<property name="xmlArchive"><ref bean="xmlArchive" /></property>
	</bean>

	<bean id="extensionsSearcher" class="org.openedit.xml.XmlFolderSearcher"	singleton="false">
		<property name="pageManager"><ref bean="pageManager" /></property>
		<property name="xmlArchive"><ref bean="xmlArchive" /></property>
	</bean>

	<bean id="settingssecuritySearcher" class="org.openedit.xml.XmlFolderSearcher"	singleton="false">
		<property name="pageManager"><ref bean="pageManager" /></property>
		<property name="xmlArchive"><ref bean="xmlArchive" /></property>
	</bean>

	<bean id="settingsmetadataSearcher" class="org.openedit.xml.XmlFolderSearcher"	singleton="false">
		<property name="pageManager"><ref bean="pageManager" /></property>
		<property name="xmlArchive"><ref bean="xmlArchive" /></property>
	</bean>

	<bean id="settingslistsSearcher" class="org.openedit.xml.XmlFolderSearcher"	singleton="false">
		<property name="pageManager"><ref bean="pageManager" /></property>
		<property name="xmlArchive"><ref bean="xmlArchive" /></property>
	</bean>
	<bean id="settingseventsSearcher" class="org.openedit.xml.XmlFolderSearcher"	singleton="false">
		<property name="pageManager"><ref bean="pageManager" /></property>
		<property name="xmlArchive"><ref bean="xmlArchive" /></property>
	</bean>
 -->
	  
</beans>