
<div id="eml-tabs-view">
	<h2 id="buffer" class="no-tabs">Add Media
		$pages.include("$apphome/components/search/quicksearch.html")
	</h2>
	<div class="autoresize-inner">
	<div id="eml-tab-content" >


	
$pages.include("$apphome/components/upload/types/simpler.html")	
			#if( $canviewuploadmulti)
				<div align="right" style="  width: 600px; padding-top:10px;">
				<a  class="ajax btn small" targetdivinner="eml-tab-content" href="$apphome/components/upload/types/draganddrop.html?oemaxlevel=3">Multiple File Uploader</a>
				</div>
			#end

	</div>
	</div>
</div>
		<script type="text/javascript">
		jQuery(document).ready(function () { 
			#set( $tab = $context.findValue("tab") )

			jQuery("#$tab").attr("class", "current");
			
			jQuery("#eml-tabs a").click(function(){
				jQuery("#eml-tabs li").removeClass("current")
				jQuery(this).parent().addClass("current");
			});
		});
		
		</script>
		