
#set( $catalog = $editPage.get('uploadcatalog') )

#set($uploadtype = $context.getRequestParameter("CKEditorFuncNum"))
<div class="form-group" style="color: #777;margin-top:6px;" >
<form id="uploadform" name="wizard" method="post" enctype="multipart/form-data" action="$home$apphome/components/html/${content.pickermode}/ckeditorupload-finish.html">
Upload:		<input type="file" size="50" style="color: #777;margin-bottom: 0px;" name="file.0" onchange="doUpload()">
		<input type="hidden" name="unzip" value="false" />
		<input type="hidden" name="catalogid" value="$catalog" /> 
		<input type="hidden" name="applicationid" value="media" />
		<input type="hidden" name="uploadtype" value="$uploadtype" />
		<input type="hidden" name="targetdiv" value="$!context.getRequestParameter('targetdiv')" />
		<input type="hidden" name="detailid" value="$!context.getRequestParameter('detailid')" />

</form>

<div id="waiting" style="display:none;">
	<div><img src='$home/system/images/toolbar/spinner.gif'/><br/>[[Uploading, please wait...]]</div>
</div>
</div>


<script type="text/javascript" >


doUpload =  function()
 	{
 	 	jQuery("#finishbutton").attr('disabled','disabled');
		jQuery("#waiting").show();
		jQuery("#uploadform").submit();
 	}
</script>
