##On desktop wait until renderer script (electron-renderer.js) is loaded
##inline style for versatility across all sites
<style>
  #desktopLoading {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .desktop-loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #f8f8f8;
    border-right-color: #64ae58;
    animation: dl2 1s infinite linear;
  }
  @keyframes dl2 {
    to {
      transform: rotate(1turn);
    }
  }
</style>
<div id="desktopLoading">
  <div class="desktop-loader"></div>
</div>