
<h2 style="padding: 10px 0; margin: 0;">Contacts | Table</h2>

	<div class="field-picker">
		
		<form name="adder" class="ajaxform" targetdiv="emvalueeditor" action="$home$apphome/components/libraries/addfinish.html">
			<input type="hidden" name="fieldname" value="libraries" />
			<select style="width: 150px; float: left; margin-right: 10px;" name="division.value"  id="parent${inputid}" onchange='loadlist("#detail_library", "$catalogid", "library", "Library", "libraries", "division", $(this).val(),"$!val" )'>
				<option value="">-- Choose Division --</option>
				#foreach( $division in $divisions) <option value="$division.id">$division</option>
				#end
			</select>
			<div id="detail_library" class="ajaxchange" targetdiv="librarypermissions" targetpath="$home$apphome/views/settings/modules/asset/libraries/permissions/permissions.html?libraryid=">
				$pages.include("${apphome}/components/xml/types/simplelist.html?searchtype=library&fieldname=libraryid&label=Library",$context)
			</div>
		</form>
		
	</div>
	<div id="table-container">
	
		<div id="side-nav-inner">
		
			<ul class="sortable">
				<li class="header no-sort">Editing Boxes</li>
				<li class="no-sort"><a href="#">Add New</a></li>
				<li  class="current"><a href="#"><span class="drag-and-drop"></span>General</a></li>
				<li><a href="#"><span class="drag-and-drop"></span>Address</a></li>
				<li><a href="#"><span class="drag-and-drop"></span>Company</a></li>
				<li><a href="#"><span class="drag-and-drop"></span>Relations</a></li>
				
			</ul>
		
		</div>
		
		<div id="workarea">
			<ul class="sortable">
				<li class="header no-sort">Fields</li>
				<li class="no-sort"><a href="#">Add New</a></li>
				<li><span class="drag-and-drop"></span><a href="#">First Name<span class="type-of-field">(Textbox)<span></a><a class="ajax delete-row" targetdiv="" href=""></a></li>
				<li><span class="drag-and-drop"></span><a href="#">Last Name<span class="type-of-field">(Textbox)<span></a><a class="ajax delete-row" targetdiv="" href=""></a></li>
				<li><span class="drag-and-drop"></span><a href="#">Email<span class="type-of-field">(Textbox)<span></a><a class="ajax delete-row" targetdiv="" href=""></a></li>
				<li><span class="drag-and-drop"></span><a href="#">Phone<span class="type-of-field">(Phone Number)<span></a><a class="ajax delete-row" targetdiv="" href=""></a></li>
				<li><span class="drag-and-drop"></span><a href="#">Company<span class="type-of-field">(Linked)<span></a><a class="ajax delete-row" targetdiv="" href=""></a></li>
				
			</ul>
		</div>
	</div>
</div>


<script>
	$('.sortable').sortable({
		items: "li:not(.no-sort)"
	});
</script>
