<div class="emgrid-content">
        	 
        	 #set( $assettype = $mediaarchive.getMediaRenderType($hit.fileformat))
        	 
        	 <h3><i class="fas fa-image"></i> $assettype</h3>
        	 
	        <div class="emgridcell-assetimage" data-width="$!{hit.width}" data-height="$!{hit.height}">
	        $pages.include("$componenthome/results/thumbnails/${assettype}.html", $context)
	        </div>
	        <div class="emgridcell-name">
	        <strong>$!hit.name</strong>
	        </div>
	        #set($count=0)
	        #if ($hit.keywords)
	        <div class="emgridcell-keywords">
		        #foreach ($tag in $hit.keywords.split("\s*\|\s*"))
		        	#if($count<3)
					<a class="badge badge-light" 
					href="$home$apphome/views/search/search.html?searchtype=asset&field=$catalogid:asset/details:description&operation=matches&description.value=$tag">$tag</a>
					#set($count=$count+1)
					#end
				#end
			</div>
			#end
	        <div class="emgridcell-actions">
	        
	         <i class="far fa-heart"></i>
	        </div>
</div>