#set($type = $hit.getSearchHit().getType())
#set( $rendertype = $mediaarchive.getMediaRenderType($hit.fileformat))
<div class="emgrid-content emgrid-type-$type emgrid-type-asset-$rendertype">        	 
        	 
        	 <h3>
        	 #if($rendertype == "image")
        	 <i class="fas fa-image"></i>
        	 #elseif($rendertype == "video")
        	 <i class="fas fa-play"></i>
        	 #elseif($rendertype == "document")
        	 	#if($hit.fileformat == "pdf")
        	 		<i class="fas fa-file-pdf"></i>
        	 	#else
        	 		<i class="fas fa-file"></i>
        	 	#end
        	 #else
        	 <i class="fas fa-file"></i>
        	 #end
        	 </h3>
	        <div class="emgridcell-assetimage" data-width="$!{hit.width}" data-height="$!{hit.height}">
	        $pages.include("$componenthome/results/thumbnails/${rendertype}.html", $context)
	        </div>
	        <div class="emgridcell-name">
	        <strong>$!hit.name</strong>
	        </div>
	        $pages.include("$componenthome/grid/tags.html",$context)
	        <div class="emgridcell-actions">
	        
	         <i class="far fa-heart"></i>
	        </div>
</div>