#set($hitssessionid = $context.getRequestParameter("hitssessionid"))
#set( $sourcepath = $asset.sourcePath )


#if( $parenthits )
#set( $rootid = $parenthits.sessionId )
#else
#set( $rootid = $hits.sessionId )
#end



#set( $ismulti = $asset.id.startsWith("multiedit:") )
#if( !$ismulti )
<div id="single-thumb">
		<div class="emthumbbox embox$thumbsize" id="cell${catalogid}_${hit.id}" >
			#set( $count = $hits.getPage()+-1 )
			#set( $count = $count*$hits.getHitsPerPage() )	
			#set( $count = $velocityCount + $count )
			$context.putPageValue("hitindex",$count )
			#set ($sourcepath = $asset.sourcepath)
		
			$context.putPageValue("hit", $asset)
			#set( $type = $mediaarchive.getMediaRenderType($asset.fileformat))
			$context.putPageValue("type", $type)
			<div class="emthumbimage em$thumbsize" 
				##if( $showcaption ) style="vertical-align:bottom;" #end 
				#if($showhover != false) hover="true" #end 
				>			
<a href="$home$apphome/views/assets/${sourcepath}/index.html?hitssessionid=$rootid">
				$pages.include("$apphome/components/results/thumbnails/${type}.html", $context)				
</a>
			</div>
		</div>
</div>
#end


#set( $tab = $context.findValue("assettab") )
#set( $links = $searcherManager.getList($catalogid,"detaileditormenu") )
<div class="ui-widget  uipanel" >
	<div  class="ui-widget-header">
		Edit Asset
	</div>
	<div  class="ui-widget-content">
		<ul id="assetmenu" class="sidebar-list">
			#foreach( $link in $links)
			#set( $pname = "can${link.id}")
			
			#set( $permission = false)
			#set( $permission = "$!context.getPageValue($pname)")
			#set( $inmultiok = ($link.multiedit && $link.multiedit == "true") )
			#set( $text = $link.name)
			#if( $permission == "true")
			
			
			##Check for custom links, arguments and labels
			#set($args = "assetid=$asset.getId()&hitssessionid=$!{hitssessionid}")
			#if($link.id =="comment")
			#set ($comments = $commentArchive.loadComments("/WEB-INF/data/$catalogid/comments/$sourcepath"))
			#set( $text = "$text (<span id='assetcommentscount'>$comments.size()</span>)")
			#set ($args = "assetid=$asset.getId()&sourcepath=$sourcepath&hitssessionid=$!{hitssessionid}")
			#elseif ($link.id == "viewassetedit")
			#set ($path = "/WEB-INF/data/$catalogid/originals/$sourcepath")
			#set ($args = "path=$path&${args}")
			#elseif ($link.id == "assetpermissions")
			#set($args = "editPath=$apphome/asset/$sourcepath/_site.xconf&$args")
			#end
			
			#if( !$ismulti || $inmultiok )
			#set ($href = "$apphome/views/modules/asset/editor/${link.folder}/index.html")
			<li id="detaileditor-${link.id}" class="#if($tab == "$link.id") current #end">
				<a href="$home$href?$args" #if($target) target="$target" #end > $context.getText($text)</a>
			</li>
			#end
			#end
			#end
		</ul>
	</div>
</div>