		#set($hitssessionid = $context.findValue("hitssessionid"))
		#if($hitssessionid)
			#set($hits = $context.getSessionValue($hitssessionid))
		#end
		#if( $hits )
		#set($indexOf = $hits.indexOf($asset.catalogid, $asset.id))
		#set($showIndex = $indexOf + 1)
		#set($previous = $hits.previous($indexOf))
		#set($next = $hits.next($indexOf))
		<div id="eml-tab-subnav">
	
		<ul style="text-align: center;">
				
			#if( $hits )
			
			#set( $thispage = $content.getDirectoryName() )
			
					#if($previous)
						 <li><a href="${home}$apphome/views/modules/assets/editor/$thispage/index.html?sourcepath=${previous.sourcepath}&hitssessionid=${hitssessionid}&roothits=$roothits"><<</a></li>
					#end
						<span class="subnav-title" style="#if ($previous) margin-right: 56px; #end #if ($previous && !$next) margin-right: 112px; #end ">$asset</span>
					#if($next)
						$context.putPageValue("hits", $hits)
						<li style="float: right;"><a href="${home}$apphome/views/modules/assets/editor/$thispage/index.html?sourcepath=${next.sourcepath}&hitssessionid=${hitssessionid}">>></a></li>
					#end
					
			#end	
		</ul>
		</div>
		#end

