#set($pluginpath = $context.getRequestParameter('pluginpath') )
#set($assetid = $context.getRequestParameter('assetid'))
#set($view = $context.getRequestParameter('view'))
#set($label = $context.getRequestParameter('label'))

#set( $plugin = $pages.getPage($pluginpath))

#set ($openview = $context.getRequestParameter("openview"))

#set ($finishedname = "${view}complete")
#set ($finished = $asset.get($finishedname))

#if( !$user.hasProperty($view) || $user.isPropertyTrue($view) )
	#set( $open = "down")
#else
	#set( $open = "up")
#end
<div id="$!view">

<div class="ui-widget emdetaileditorbox commentbox" >
	<div class="ui-widget-header">
	<span>
	<a href="#" onclick="toggleEditSection('$view','$pluginpath', '$asset.id', '$view', '$label');return false;" ><img border="0" src="$home${themeprefix}/images/detaileditor/triangle${open}.png" />
	$context.getText($label)</a>
	</span>
	
	</div>
	#if ($openview && $openview == $view)
		#set ($open = "down")
	#end
	
	#if( $open == "down")
	#set( $origURL = $context.getRequestParameter("origURL") )
	#if( !$origURL )
	#set( $origURL = $content.path )
	#end
	<div class="ui-widget-content">
	
	$context.putPageValue("finished",$finished)
	
	$pages.include("$plugin?origURL=$origURL", $context)
	</div>
	#end
</div>

</div>
