<div id="emcommentarea">
#if(!$comments)
	#set($comments = $commentArchive.loadComments($asset))
	$context.putPageValue("comments",$comments)
#end

$pages.include("${apphome}/components/mediaviewer/comments/list.html", $context)

	#set($incrsize = $comments.size() + 1)
	#if( $cancomment )
		<form name="addcomment" class="ajaxform commentresizer" targetdiv="emcommentarea" action="${home}${apphome}/components/mediaviewer/comments/mini.html" method="post">
			<textarea id="commenttext" name="comment" cols="100" initialtext="[[Add a comment]]">[[Add a comment]]</textarea> 
			<input type="hidden" name="sourcepath" value="$asset.sourcePath"/>
			<input type="hidden" name="oemaxlevel" value="1"/>
			<input type="hidden" name="catalogid" value="$catalogid"/>
	<div id="commentsubmit" style="display: none;">
			<input type="submit" value="[[Add Comment]]"/>
			</div>
		</form>

	#end	
</div>
#if(!$user)
<p>[[You must be]] <a href="$home/$applicationid/authentication/login.html">[[logged in]]</a> [[to leave a comment]]</p>

<br/>
#end


