<div id="application"  data-user="$!user.getId()" data-catalogid="$catalogid" data-home="$home" data-apphome="$apphome" data-themeprefix="${themeprefix}" data-browserlanguage="$!{browserlanguage}">   
   #if($testbench.showbanner == "true")
    <div>
    #if($pages.doesExist("$apphome/theme/images/${userprofile.organization}.png"))
    
        <img class="img img-responsive" src="$apphome/theme/images/${userprofile.organization}.png" style="width: 100%;"/>
    
    
    #elseif($pages.doesExist("$apphome/theme/images/${testbench.getMode()}.png"))
    <img class="img img-responsive" src="$apphome/theme/images/${testbench.getMode()}.png" style="width: 100%;"/>
    #else
    <img class="img img-responsive" src="$apphome/theme/images/banner.png" style="width: 100%;"/>
    #end
    </div>
#end
#if($testbench.hidetoolbar != "true")
 $pages.include("$apphome/theme/layouts/nav.html")
 #end

<div style="padding: 0px 20px;">

 $pages.includeContent()


    </div> <!-- /container -->

   

      <footer>
        <p>&copy;  2016 </p>
      </footer>
  
  <!-- Modal -->
  <div class="modal" id="editmodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modal-title">Modal title</h4>
        </div>
        <div class="modal-body" id="edit-modal-body">
          ...
        </div>
      
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  
 
</div>


