#set( $sitesearcher = $searcherManager.getSearcher("system","catalog") )
						#set( $sites = $sitesearcher.fieldSearch("id","*","nameDown") )
						#set( $active = $sitesearcher.searchById("$userprofile.reportcatalogid") )

   <div class="navbar navbar-inverse" style="z-index: 1001;">
      <div style="padding: 0px 20px;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="$apphome/index.html">EM Reporting - $active</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            #if($user)
                	        <li><a href="/reporting/views/modules/reports/index.html?field=last_selected_module&last_selected_module.value=Reports">Home</a></li>

            #else

            
            #end
              </ul>      
          
          
        
		 #if($user)
		
		
		 <ul class="nav navbar-nav navbar-right">       
	         <li class="dropdown">
		    		#set( $urlbase = "$home$apphome/views/modules" )
					<a href="$home$apphome/views/modules/${module.getId()}/index.html" class="dropdown-toggle" data-toggle="dropdown">Catalogs<b class="caret"></b></a>
		            <ul class="dropdown-menu" style="z-index: 10000;">	
						#set( $sites = $sitesearcher.fieldSearch("id","*","nameDown") )
						
						#foreach( $site in $sites)
					
					
						
							<li style="z-index: 10000;"><a href="$apphome/index.html?id=$site.id">$site</a></li>
					#end
					
					
					<li style="z-index: 10000;"><a href="$apphome/admin/launchadmin.html">Launch advanced admin tools</a></li>
					
					</ul>
				
	
	
		
			</li>
	      
          <li class="">
          	<a href="$apphome/authentication/logout.html">Logout</a>
          </li> 
         </ul> 
          #end
        
        </div><!--/.navbar-collapse -->
      </div>
    </div>
