#if($hits.hasSelections())
<li >
	<a class="emdialog" data-maxwidth="800" href="$apphome/components/sidebars/userdownloads/downloadpresetpicker.html?hitssessionid=$!hits.getSessionId()" 
	data-hidefooter="true" id="" role="button">[[Desktop Download]]</a>
</li>	
#end 

##<li id="desktoptools" class="nav-item ajaxstatus" data-ajaxpath="$page.getPath()?collectionid=$!{librarycol.getId()}&nodeID=$!category.id">
##	<a href="$home$apphome/views/modules/asset/activity/syncdesktop.html?category=$!category.id&collectionid=$!{librarycol.getId()}" class="emdialog" title="Sync $desktop.getDesktopId()" data-hidefooter="true" >
##		<i class="fas fa-sync-alt"></i> [[Sync]]#if($desktop.isEdited($librarycol.getName()) )#end 
##		#if( $desktop.isBusy()) <img src="$apphome/components/javascript/upload/jquery-file-upload/img/loading.gif" width="20" />#end</a>
##</li>


