*.swp
/deploy/
/build/
/bin/
/webapp/WEB-INF/data/entermedia/catalogs/testcatalog/assetalbumss/
/webapp/WEB-INF/data/media/
/webapp/WEB-INF/data/*index/*
/webapp/WEB-INF/data/assets/*
/webapp/WEB-INF/logs/*

*.db
/.DS_Store
