#set($treename = $context.getRequestParameter("tree-name") )
#set($webtree = $context.getPageValue($treename) )

#set( $showinput = $webtree.getTreeRenderer().isAllowSelections() )
#set( $editable = $webtree.getTreeRenderer().isEditable() )
#set( $model = $webtree.getModel() )
#set( $render = $webtree.getTreeRenderer() )

#set( $adding = $context.getRequestParameter("adding" ) )
#if($selectednodes)
$!webtree.getTreeRenderer().selectNodes($selectednodes)
#end

#macro(showtreecategories $cat $depth) 
		#set($children = $model.getChildren($cat))
		#if( $children.size() > 0)
			#set( $haschildren = true)
		#else
			#set( $haschildren = false)
		#end
		#set( $open = $haschildren)
		#set( $expanded = $webtree.isExpanded($cat) )
		#set( $isselected = $render.isNodeSelected($cat))
		<li id="${cat.id}_row" class="noderow categorydraggable" data-nodeid="$cat.id" data-depth="$depth" data-categoryname="$cat.name">
			#set( $checked = $render.isIdSelected($cat.id) )
			#set ( $padding = (15 * $depth) )
			<div class="categorydroparea #if( $isselected ) selected #end #if( $checked) idchecked #end" style="padding-left: ${padding}px" title="id: $cat.id">
				#if($haschildren)<span class="arrow #if($expanded) down #end "></span>#end 
				<span id="${cat.id}_display" class="name folder #if($haschildren) leaf #end" title="$cat.getCategoryPath()" >$cat.name</span>
			</div>
		#if($haschildren && $expanded)
		   <ul class="open" > <!-- Open with $cat.name $children.size() -->
			#foreach( $subcategory in $children) 
				#set ( $newdepth = $depth + 1) ##weird bug when this was above the loop 3 = 1 + 1
				#showtreecategories($subcategory, $newdepth)
		    #end
		   </ul>  <!-- Close on $cat.name $children.size() -->
		#end
		</li>
		
#end

#set( $toggle = $context.getRequestParameter("toggle" ) )
#if( $toggle && $toggle == "true" )
	#set( $nodeid = $context.getRequestParameter("nodeID" ) )
	#set( $target = $webtree.getModel().getChildById($nodeid) )

	$!webtree.getTreeRenderer().toggleNode($target)

	#set( $depths = $context.getRequestParameter("depth" ) )
	#set( $depth = 0 )
	#set( $depth = $depth.parseInt($depths) )
	#showtreecategories($target, $depth)

#elseif( $adding && $adding == "true" )
	#set( $nodeid = $context.getRequestParameter("nodeID" ) )
	#set( $target = $webtree.getModel().getChildById($nodeid) )
	$!webtree.getTreeRenderer().expandNode($target)
	#set( $depths = $context.getRequestParameter("depth" ) )
	#set( $depth = 0 )
	#set( $depth = $depth.parseInt($depths) )
	#showtreecategories($target, $depth)
	
#else
#if($category && $content.isPropertyTrue("searchcategory") )
	$render.setSelectedNode($category)
#end
#set($rootcategory = $webtree.getModel().getRoot())

#set( $top = $context.getRequestParameter("treetoplocation") )
#set( $left = $context.getRequestParameter("treeleftlocation") )

#set( $prefix = $context.getRequestParameter("url-prefix" ) )
#set( $postfix = $context.getRequestParameter("url-postfix" ) )
#set( $targetdiv = $context.getRequestParameter("targetdiv" ) )

<div id="treeholder" data-treetoplocation="$!top" data-treeleftlocation="$!left" >
	<div id="${treename}tree" class="emtree emtree-widget" data-home="$home$apphome" data-treename="$treename"   data-tree-name="$treename" data-rootnodeid="$rootcategory.getId()"
		data-editable="$editable" data-url-prefix="$!prefix" data-url-postfix="$!postfix" data-targetdiv="$!targetdiv"
		>
			<ul  class="open" >
			#showtreecategories($rootcategory, 1)
			</ul>
	</div>
</div>
#end

#if($caneditcategorytree || $editcategories)
<div id="${treename}contextMenu" class="dropdown clearfix treecontext"  data-treename="$treename" style="top:0px; left:0;position: absolute;display:none;z-index:1000;">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
#if( $editable )
      <li><a id="createnode" tabindex="-1" href="#">[[Create]]</a></li>
      <li><a id="renamenode" tabindex="-1" href="#">[[Rename]]</a></li>
      <li><a id="deletenode" tabindex="-1" href="#">[[Delete]]</a></li>
      #if($canaddnewcollection)
      <li><a id="createcollection" tabindex="-1" href="#">[[Create Collection]]</a></li>
      #end
#end      
      <li><a id="nodeproperties" tabindex="-1" href="#">[[Properties]]</a></li>
      <li class="divider"></li>
      <li><a id="addmedia" tabindex="-1" href="#">[[Add Media]]</a></li>
##      <li><a tabindex="-1" href="#">[[Copy]]</a></li>
##      <li><a tabindex="-1" href="#">[[Cut]]</a></li>      
##      <li><a tabindex="-1" href="#" style="enabled:false">[[Paste]]</a></li>
    </ul>
  </div>
  #end
