		#set ($itemid = $context.getRequestParameter("itemid"))
		#set ($publishdestid = $context.getRequestParameter("publishdestid"))
		#set( $fileformat = $context.getRequestParameter("fileformat"))
		
		#set ($publishdestsearcher = $searcherManager.getSearcher($catalogid, "publishdestination"))
		#set ($presetsearcher = $searcherManager.getSearcher($catalogid, "convertpreset") )
		
		#set ($showselector = true)
		
		#if ($publishdestid)
			#set ($dest = $publishdestsearcher.searchById($publishdestid))
			#if ($dest.convertpreset)
				#set ($showselector = false)
				#set ($defaultpreset = $presetsearcher.searchById($dest.convertpreset))
				$defaultpreset
				<input type="hidden" name="${itemid}.presetid.value" value="$dest.convertpreset"/>	
			#end
		#end
		
		#if ($showselector)
		  	   	    #set( $presetquery = $presetsearcher.createSearchQuery() )
		  	   	    $presetquery.setAndTogether(false)
		  	   	    #set( $rendertype = false)
		  	   	    #set( $rendertype = $mediaarchive.getMediaRenderType($fileformat) )
		  	   	    #if( $rendertype )
			  	   	    #set( $null = $presetquery.addExact("inputtype",$rendertype) )
		  	   	    #end
		  	   	    #set( $null = $presetquery.addExact("inputtype","all") )
		  	   	    #set( $null = $presetquery.addSortBy("name") )
		  	   	    #set( $results = $presetsearcher.search($presetquery) )
			<select name="${itemid}.presetid.value">
		  	    	#foreach ($preset in $results)
		  	    		<option value="$preset.id">$preset</option>
		  	    	#end
		    	</select>
		  	    	
		#end
