<form class="validate" id="usereditform" method="post" action="$home$apphome/views/activity/publish/processorder.html">
<div class="emrounded">
<input type="hidden" name="searchtype" value="order"/>
<input type="hidden" name="catalogid" value="$catalogid"/>
<input type="hidden" name="orderid" value="$order.id"/>
<input type="hidden" name="invaliditems" value="$!invaliditems" />
	<div>
	
	#set($publishtype = $!searcherManager.getData($catalogid,"publishdestination",$order.publishdestination))
	
		<h4>Publishing to $publishtype</h4>
		
	<table id="shared-asset-table" class="striped download-table" width="100%" >
	
	
	#foreach( $item in $orderitems )
	
		 #set( $asset = $mediaarchive.getAssetBySourcePath($item.assetsourcepath))
		 #set( $queue = $searcherManager.getData($catalogid,"publishqueue",$item.publishqueueid) )
		 #set( $omit = $invaliditems.contains("${asset.id}"))
		 
		<tr>
		<td>
			$context.putPageValue("hit",$asset)
			$pages.include("$apphome/components/results/thumbnails/small.html",$context)
		</td>
		<td>
			$!asset.name #if( $asset.assettitle ) - $asset.assettitle #end
		</td>
		<td>
			#set($filetype = $searcherManager.getData($catalogid,"assettype",$asset.assettype))
			$!filetype
		</td>
		
		#if($omit)
			#if($publishtype == "YouTube")
				<td colspan="3">
			#else
				<td>
			#end
				$context.putPageValue("publisher",$publishtype)
				$context.putPageValue("filetype",$filetype)
				$pages.include("./publishererror.html",$context)
				</td>
		#else
			<td>
				$pages.include("./presetselector.html?fileformat=$asset.fileformat&itemid=$item.id&publishdestid=$!queue.publishdestination&publishtype=$!publishtype")
			</td>
			#if ($publishtype == "YouTube")
			<td>
				Category
			</td>
			<td>
				<input type="hidden" name="field" value="assetfield">
				<input type="hidden" name="assetfield.value" value="${asset.id}">
				$pages.include("./youtubecategoryselector.html")
			</td>
			#elseif ($publishtype == "FatWire")
				#set($homeurl = "${context.siteRoot}${home}${apphome}")
				#set($username = $context.getUserName())
				<input type="hidden" name="field" value="homeurl">
				<input type="hidden" name="homeurl.value" value="${homeurl}">
				<input type="hidden" name="field" value="username">
				<input type="hidden" name="username.value" value="${username}">
				
			#end
		#end
		</tr>
	#end
	</table>
	</div>
</div>


	#if($invaliditems.size() == $orderitems.size())
		<input class="btn small" style="float: right" type="button" value="Cancel" onclick="window.history.back()"/>
	#else
		<input class="btn small" style="float: right" type="submit" value="Next" />
	#end

</form>	      
