<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>jAngular Test</title>
    <style src="css/main.css"></style>

</head>

    <body>

    	<!-- meat goes here -->
    	<div id="outermostWrapper">

	    	<div id="wrapper" ng-scope="firstScope">
	    		<h1>Hello {{worldtext}}</h1>
	    	
	    		<ul>
		    		<li id="outsideloop" ng-repeat="item in items">
		    			<h1>{{item.name}}</h1>
		    			<a>{{item.info}} AND {{item.name}}</a>    			
		    			<button ng-click="item.clear('{{item.info}}')">Click Button</button>
		    			<span id="somespan">{{item.nested.info}}</span>
		    			<a class="{{item.type}}">Some additional text</a>
		    			<ul>
			    			<li id="insideloop" ng-repeat="stuff in item.tasks">
			    				<a>{{stuff}}</a>
			    			</li>		
			    		</ul>
		    		</li>
	    		</ul>


	    	</div>

	    	<div id="secondWrapper" ng-scope="secondScope">
	    		<h1>I'm a {{moose}}</h1>
	    		<ul>
		    		<li id="secondOutsideloop" ng-repeat="item in secondItems">
		    			<h1>{{item.name}}</h1>
		    			<a>{{item.info}} AND {{item.name}}</a>    			
		    			<button ng-click="item.clear('{{item.info}}')">Click Button</button>
		    			<span id="secondSomespan">{{item.nested.info}}</span>
		    			<a class="{{item.type}}">Some additional text</a>
		    			<ul>
			    			<li id="secondInsideloop" ng-repeat="stuff in item.tasks">
			    				<a>{{stuff}}</a>
			    			</li>
			    		</ul>
		    		</li>
	    		</ul>
	    	</div>

	    </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/jAngular.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>