#macro( renderFolder $inNode )

#set( $id = $categoryPickerTree.getModel().getId($inNode);
<div nodeid="users" path="users" id="categoryPickerTreetreerowtextusers" class="treerowtext">
	<div style="padding-left: 16px;" class="treerowinside">
	<a onclick="return categoryPickerTree.toggleNode('users','categoryPickerTree_media/catalogs/public_admin','users');" href="#users" class="node">
	<img id="jpageTreeusers" src="/system/images/tree/down.png" alt=""></a>
	<a id="categoryPickerTreespageTreeusers" onclick="	return categoryPickerTree.jumpToNode('users','users');" href="#users" title="users">users</a>
	</div>
</div>

#end

#macro( renderLeaf $inNode )

#end

#set( $id = $context.getRequestParameter("categoryid") )

#if( !$catalog )		
	#set ( $catalog = $cart.lastVisitedCatalog )
#end	
#if( !$id && $category )
	#set( $id = $category.id )
#end

#if( $id)
	$!categoryPickerTree.getTreeRenderer().setSelectedNodeById($id)
#end
<script language="javascript">
	var lastselected = "$categoryPickerTree.getTreeRenderer().getSelectedId()";
	categoryPickerTree.selectRow(lastselected); 
</script> 
<div id="$categoryPickerTree.getName()render">      
	#renderFolder( $!categoryPickerTree.getModel().getRoot() )
</div>
##<p align="right"><a href="$home/$catalogid/settings/categories/index.html">edit tree</a></p>