#set( $collectionid = $context.getRequestParameter("collectionid"))
#if($collectionid)
	#set( $librarycol = $mediaarchive.getData("librarycollection", $collectionid) )
	#set( $library = $mediaarchive.getData("library",$librarycol.get("library") ) )
<h3>[[Desktop Imnport]]</h3>
<form  name="archiveassets" id="archiveassets" 
   method="post" action="$home$apphome/views/modules/librarycollection/desktopimport.html">
#if( $desktops.size() == 0 ) [[No desktop app connected]] #end

#if( $desktops.size() > 1)
Please close a desktop

#else
<p>[[File will be imported from your desktop]]: ${desktop.getHomeFolder()}/EnterMedia/${librarycol.getName()}/
</p>
	<input type="hidden" name="desktopid" value="$desktop.getDesktopId()" />
#end

	<input type="hidden" name="collectionid" value="${librarycol.getId()}" />
	<input class="btn" type="submit" id="archiveassetsbutton" value="[[Sync to Desktop]]">	   			
</form>


#end

