
#set ($itemid = $context.getRequestParameter("itemid"))
#set ($publishdestid = $context.getRequestParameter("publishdestid"))
#set ($fileformat = $context.getRequestParameter("fileformat"))

#set ($publishdestsearcher = $searcherManager.getSearcher($catalogid, "publishdestination"))
#set ($presetsearcher = $searcherManager.getSearcher($catalogid, "convertpreset") )

#if ($publishdestid)
	#set ($dest = $publishdestsearcher.searchById($publishdestid))
	#if ($dest.convertpreset)
		#set ($defaultpreset = $presetsearcher.searchById($dest.convertpreset))
	#end
	$defaultpreset
#end

	<select name="${item.id}.presetid.value">
  	   	    #set( $presetquery = $presetsearcher.createSearchQuery() )
  	   	    $presetquery.setAndTogether(false)
  	   	    #set( $rendertype = false)
  	   	    #set( $rendertype = $mediaarchive.getMediaRenderType($fileformat) )
  	   	    #if( $rendertype )
	  	   	    $presetquery.addExact("inputtype",$rendertype);
  	   	    #end
  	   	    $presetquery.addExact("inputtype","all");
  	   	    $presetquery.sortBy("name");
  	   	    
  	   	    #set( $results = $presetsearcher.search($presetquery) )
  	   	    $defaultpreset
  	    	#foreach ($preset in $results)
  	    		<option value="$preset.id" #if( $defaultpreset && $defaultpreset.getId() == $preset.id) selected #end>$preset</option>
  	    	#end
    	</select>
  	    	
	      
