<div class="em-rounded">
#set($order = $data)
#if( $order.userid != $user.getId() )
Invalid order
#else

	#set($orderitemsearcher = $searcherManager.getSearcher($catalogid, "orderitem"))
	#set($ordersearcher = $searcherManager.getSearcher($catalogid, "order"))
	#set($owner = $userManager.getUser($order.userid))
	
	<h2>Export</h2>
	
<form class="validate" id="usereditform" method="post" action="processorder.html">
#set($searcher = $searcherManager.getSearcher($catalogid, "order"))
$context.putPageValue("searcher", $searcher)	 
$context.putPageValue("data", $order)	 
$context.putPageValue("view", "order/publishform")	
<input type="hidden" name="view" value="order/publishform"/>
<input type="hidden" name="searchtype" value="order"/>
<input type="hidden" name="catalogid" value="$catalogid"/>
<input type="hidden" name="orderid" value="$order.id"/>
<input type="hidden" name="field" value="presetid"/>
<input type="hidden" name="field" value="publishdestination"/>
<input type="hidden" name="newuserstatus" value="exportrequested"/>

<input type="hidden" name="field" value="ordertype" />
<input type="hidden" name="ordertype.value" value="export" />

<br/>
$pages.include("/${applicationid}/components/xml/detaileditor.html", $context)
 
<input style="margin-left: 300px;" type="submit" name="submit" value="Send"/> 
##	<a href="submitorder.html?orderid=$order.getId()">Resubmit Order</a>
	
	<div >
	<br><br>
	<table class="striped" >
	#foreach( $item in $orderitems )
	<tr>
		 #set( $asset = $mediaarchive.getAssetBySourcePath($item.assetsourcepath))

	<td colspan="2">-----------------   ${asset.name}  -------------------------------------------------------------------------------------------------------------</td>
	</tr>
	<tr>
	<td>		
		 <input type="hidden" name="itemid" value="$item.getId()" />
				$context.putPageValue("asset", $asset)
				$context.putPageValue("item", $item)
				$context.setRequestParameter("sourcepath", $asset.sourcepath)					
	
	   	#set( $assetpath = $mediaarchive.getLinkToAssetViewer($sourcepath) )
		#set( $thumbend = $mediaarchive.getLinkToSize($sourcepath, "thumb") )
		#set( $tsize = "$home$thumbend" )
		
		#if( $parenthits )
			#set( $rootid = $parenthits.sessionId )
		#else
			#set( $rootid = $hits.sessionId )
		#end
			#set( $click = "$home$apphome/views/assets/${asset.sourcepath}/index.html" )
			<a href="$click" alt="$asset.name" name="$asset.name" style="text-decoration: none;">
			#set( $type = $mediaarchive.getMediaRenderType($asset.fileFormat))
			$context.putPageValue("cell", $asset)
			$context.putPageValue("showdetails", "false")
		   	#set( $sourcepath = $asset.sourcePath )
			$pages.include("${apphome}/components/results/thumbnails/${type}.html", $context)
			</a>
</td>
<td>
	<div class="presetselector" itemid="$item.id" format="$asset.fileformat">
	</div>
	</td>
	</tr>	
	#end
	
</table>
	
	<div id="itemsave"></div>
	
	
</form>
<br><br>
#end


</div>

<script type="text/javascript">
	var pdestid = jQuery('#publishdestination\\.value');
		pdestid.bind('change', 
		function() 
		{
			jQuery('.presetselector').each(
					function()
					{
						var itemid = jQuery(this).attr('itemid');
						var format = jQuery(this).attr('format');
						jQuery(this).load("presetselector.html?publishdestid=" + pdestid[0].value + "&itemid=" + itemid + "&fileformat=" + format);
					}
					);
		}
		);
</script>