<div id="vieweditorarea">

#set($viewid = $context.getRequestParameter("viewid"))
#set( $assettype = $context.getRequestParameter("assettype") )

#if( !$assettype )
	#set( $assettype = "default" )
#end
#set( $moduleid = $context.findValue("module") )
#set( $viewpath = $context.getRequestParameter("viewpath") )

#set( $viewsroot = $content.viewsroot )
<ul class="emsettingslist"  viewid="$viewid" catalogid="$catalogid" searchtype="$moduleid" assettype="$assettype" viewpath="$viewpath" path="$home$viewsroot/movefields.html">

	
#if( $viewid )

	#set($view = $searcherManager.getData("$catalogid", "view", $viewid))
	<li class="header no-sort" id="views-header" >
	    <span id="name">$context.getText($view)</span>
	    #if ( $view.rendertable )
	    <span class="type">[[Table]]: $view.rendertable</span>
	    #end
	    
	    #set ( $systemdefined = "false" )
        #set ( $systemdefined = $context.findValue("systemdefined") )
        
    #if( $canviewsettings )   
	<a class="tooltip float-right btn btn-sm" title="$context.getText($view) [[Settings]]" id="setup-view"><i class="fas fa-cog"></i></a>
	#end
	
	   #if($view.byassettype == "true" )
    
            <span style="float: right; margin: 0 8px 0 0">[[Asset Type]]: 
            #set($current = $context.getRequestParameter("assettype")) 
            #set($assettypesearcher = $searcherManager.getSearcher($catalogid, "assettype"))
            
            <select id="assettype" class="form-control form-control-sm2" name="assettype" onchange='loadViewsByAssetType(this.value,"$viewid")'>
                    <option value="default" >[[Default]]</option>
                        #foreach($item in $assettypesearcher.fieldSearch("id","*","nameUp"))
                            <option #if($current == $item.id) selected #end value="$item.id">$item.getName($context.getLocale())</option>
                        #end
                    </select> 
            </span>
         #end
	
	<div id="views-settings" style="display: none;">
	    
	    <div class="inner clearfix">
	    
        <form id="changename" name="newgroup" method="post" action="$home$viewsroot/changeviewname.html?id=$viewid&viewid=$viewid&viewpath=$viewpath&save=true&searchtype=view">
            <div class="form-group">
            <input type="hidden" name="field" value="name" />
            <label>[[View Name]]</label>
            <input class="form-control" name="name.value" value="$view.name" />
            </div>
            
            <div class="form-group">
		 		<div class="form-check">
	                <input type="checkbox" class="form-check-input" id="byassettype.value" name="byassettype.value" value="true" #if( $view.byassettype && $view.byassettype == "true" ) checked #end />
	                <label class="form-check-label" for="byassettype.value">[[Use Asset Type]]</label>
	            	<input type="hidden" value="byassettype" name="field" />
	            </div>
            </div>
            
			<div class="form-group">
           		
           			<input type="hidden" value="rendertype" name="field" />
	                <label>[[Custom Render Type]]</label>
	            	<select name="rendertype.value" class="form-control form-control-sm">
	            		<option value="default"></option>
	            		<option value="table" #if($view.rendertable) selected #end>[[One to Many]]</option>
	            		<option value="external" #if($view.rendertype == "external") selected #end>[[One to One]]</option>
	            	</select>
	            
            </div>
            
			<div class="form-group">
			##what is this? TODO remove it
				<div class="form-check">
   				<input id="showonregistration.value" class="form-check-input" type="checkbox" name="showonregistration.value" value="true" #if($view.showonregistration == "true") checked #else #end/>
                <label class="form-check-label" for="showonregistration.value">[[Show on registration section]]  </label>
            	<input type="hidden" value="showonregistration" name="field" />
            	</div>
            </div>

			<div class="form-group">
				<div class="form-check">
	    		<input id="systemdefined.value" class="form-check-input" type="checkbox" name="systemdefined.value" value="true" #if($view.systemdefined == "true") checked #else #end/>
                <label class="form-check-label" for="systemdefined.value">[[System View?]]</label>
            	<input type="hidden" value="systemdefined" name="field" />
				</div>
            
            </div>
            <div class="form-group">
            	<div class="form-check">
  					<input id="printview.value" class="form-check-input" type="checkbox" name="printview.value" value="true" #if($view.systemdefined == "true") checked #else #end/>
	                <label class="form-check-label" for="printview.value">[[Print View?]]</label>
	            	<input type="hidden" value="printview" name="field" />
					</div>
            
            </div>
            
            <div class="row">
            	<div class="col-md-6">
		            <div class="form-group">
		                <label>[[External Table]]</label>
		            	<input type="hidden" value="rendertable" name="field" />
		                <input class="field" name="rendertable.value" value="$!view.rendertable" >
					</div>
				</div>
				<div class="col">
					<div class="form-group">
		                <label>[[External ID]]</label>
		            	<input type="hidden" value="renderexternalid" name="field" />
		                <input class="field" name="renderexternalid.value" value="$!view.renderexternalid" />
					</div>
				</div>
            </div>
		

        <div id="rendertableoptions">
	            <div class="form-group">
	            <div class="form-check">
	            	<input type="hidden" value="linktomodule" name="field" />
	                <input type="checkbox" class="form-check-input" id="linktomodule.value" name="linktomodule.value" value="true" #if($!view.linktomodule == "true") checked #end >
	   		 		<label class="form-check-label" for="linktomodule.value">[[Link to Module]]</label>
				</div>
				</div>
				<div class="row">
            	<div class="col-md-6">
					<div class="form-group">
			    		<label>[[Render Table Default Sort]]</label>
						<input type="hidden" value="rendersort" name="field" />
		                <input class="field" name="rendersort.value" value="$!view.rendersort" >
		            </div>
		        </div>
		        <div class="col">
		            <div class="form-group">
						<label>[[Render Table Custom View]]</label>
						<input type="hidden" value="rendercustomview" name="field" />
		                <input class="field" name="rendercustomview.value" value="$!view.rendercustomview" >
					</div>
				</div>
				</div>
          </div>
         	<div class="form-group">
            <input class="btn btn-sm btn-primary" type="submit" value="[[Save]]" />
            #if($candevelop)
            	<a class="btn btn-sm btn-primary" href="$home$viewsroot/makedefault.html?id=$viewid&viewid=$viewid&viewpath=$viewpath&save=true&searchtype=view">[[Make Default]]</a>
            #end
            
            #set($editpath = $context.findValue("editPath"))
          <a class="ajax btn btn-sm btn-secondary float-right" 
          		targetdiv="permissionedit" 
          		href="$home$apphome/views/settings/modules/${moduleid}/permissions/xml/edit.html?name=view-${viewid}&editPath=$editpath">[[Edit Permissions]]</a>
          </div>
        </form>
          
		  <div id="permissionedit"></div>
	    </div>
    </div>
    <script>
        $('#setup-view').click(function(){
            if ( $('#setup-view').hasClass('open') ) {
                $('#views-header').height(44)
                $('#views-settings').hide();
                $('#setup-view').removeClass('open');
            }
            else {
                $('#views-header').height('auto')
                $('#views-settings').show();
                $('#setup-view').addClass('open'); 
            }
        })
        $('#renderastable').click(function(){
            if ( $('#renderastable').is(':checked') ) {
                $('#rendertableoptions').show();
            }
            else {
                $('#rendertableoptions').hide();
            }
        })
        
    </script>
	
	</li>
				
	<li class="no-sort add-to subheader">
	    #if( $view.rendertable)
            #set($searchtype = $view.rendertable)
        #else
            #set($searchtype = $moduleid)
        #end
        #if( $canviewsettings )
        <div class="subheader-title">
		<a class="btn btn-xs btn-primary" href="$home$apphome/views/settings/lists/datamanager/properties/index.html?&searchtype=$searchtype" id="addnewfield">[[Edit Fields]]</a>	    
		</div>
	    #end
	    <form name="addtoview" class="ajaxform" targetdiv="vieweditorarea" id="addtoview" action="addtoview.html">
            <input type="hidden" name="catalogid" value="$!catalogid"/>
            <input type="hidden" name="searchtype" value="$moduleid"/>
            <input type="hidden" name="assettype" value="$assettype"/>
            <input type="hidden" name="oemaxlevel" value="1"/>
            <input type="hidden" name="viewid" value="$viewid"/>
            <input type="hidden" name="viewpath" value="$viewpath"/>
			#if( $view.rendertable)
				#set($searcher = $searcherManager.getSearcher($catalogid, $view.rendertable))
			#else
				#set($searcher = $searcherManager.getSearcher($catalogid, $moduleid))
			#end	
            <select id="fieldnames" 
					name="newone"
					class="form-control form-control-sm2 float-right" 
					style="#if( $canviewsettings ) ; #else display:none;  #end" 
					onchange="jQuery('#addtoview').submit()"  >
                <option value=""> </option>
                #foreach( $detail in $searcher.getUserPropertyDetails() )
				<option value="$detail.id">$detail.getText($context)</option>
                #end
            </select>
            <select id="tableid" 
				name="tableid"
				class="form-control form-control-sm2 float-right"  
				style="#if( $canviewsettings ) ; #else display:none;  #end" 
            	onchange='$("#fieldnames").load("$home$apphome/views/settings/modules/${moduleid}/metadata/views/listfieldoptions.html?searchtype=" + $("#tableid").val())'  >
                <option value=""> </option>
                #foreach( $table in $searcher.getPropertyDetailsArchive().listSearchTypes() )
				<option value="$table" #if( $table == $searcher.getSearchType() ) selected #end>$table</option>
                #end
            </select>
        </form>
        <div class="clearfix"></div>
	</li>
#end
</ul>
<ul  class="emsettingslist listsort" data-path="$home$viewsroot/saveview.html?viewpath=$viewpath&searchtype=$moduleid&assettype=$assettype&viewid=$viewid" >
			#set($details = false)
			#set($details =  $searcher.getDetailsForView($viewpath, $user))
			#foreach( $element in $details)
				#set( $pid = "${element.searchType}.${element.id}")
				<li id="$pid" > 
					#if( $canviewsettings )
					<a class="sortableitem" href="$home$apphome/views/settings/lists/datamanager/properties/edit.html?id=$pid&searchtype=$searchtype"><span class="drag-and-drop"></span> ${element.searchType} / $element.getText($context)<span class="type-of-field">#if( $element.getDataType() ) $element.getDataType() #else textbox #end<span></a>
					#else	
						<a href="#">$element.getText($context)<span class="type-of-field">#if( $element.getDataType() ) $element.getDataType() #else textbox #end<span></a>
					#end	
					<a class="ajax delete-row" targetdiv="vieweditorarea" href="./removefromview.html?searchtype=$moduleid&toremove=$pid&assettype=$assettype&viewid=$viewid&viewpath=$viewpath&oemaxlevel=1">
					<i class="fas fa-times"></i></a>
				</li>
			#end		
		
</ul>
<div class="clearfix"></div>
</div>
