#set ($mode = $user.get("showdebug"))
#if($mode && $mode == "true")
<div style='border:1px dashed red;padding: 0px 1px 1px 1px;margin: 18px;'>
#end
#set ( $editPath = $editPage.path )  
<div class="btn-group clear">
 <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-pencil"></span></button>
 <ul class="dropdown-menu" role="menu">
     
   
          <li><a class="ajaxDialog" href="#" data-target="$home/openedit/components/html/edit/htmledit/index.html?editPath=$editPath&path=$editPath&width=1000&height=680&textheight=480px&origURL=$content.path">Visual Editor</a></li>
          <li><a class="ajaxDialog" href="#" data-target="$home/openedit/views/filemanager/showfile.html?path=$editPath&textheight=600px&width=1000&height=680">HTML Source Editor</a></li>
          <li><a class="ajaxDialog" href="$home/openedit/views/filemanager/showfile.html?path=$editPage.getContentItem().getActualPath()&textheight=600px&width=1000&height=680">Edit Default/Base file</a></li>
          
        </ul>
</div>


#if($mode && $mode == "true")
</div>
#end