#set($view= $context.getRequestParameter("view"))
#if( $context.getUserProfile() )
	#set ($details = $searcher.getDetailsForView($view, $context.getUserProfile()))
#else
	#set ($details = $searcher.getDetailsForView($view))
#end

#if( !$details)
	No details available for this view.  Please configure your view settings.	
#end
$context.putPageValue("details",$details)
<div class="row no-gutters">
<div class="col-3 col-xl-2">
<div class="col-inline-table-sidebar">
<form id="searchquery" class="query-component" onsubmit="refreshTable(); return false;">
	#foreach( $detail in $details)
		$context.putPageValue("detail", $detail)
		$context.putPageValue("searchform", true)
		#set( $value = "$!hits.getSearchQuery().getInput($detail.id)" )
		#set( $values = $hits.getSearchQuery().getInputs($detail.id) )		
		#set( $term = $hits.getSearchQuery().getTermByDetailId($detail.id) )
		$context.putPageValue("term",$term)			
		$context.putPageValue("val",$value)
		$context.putPageValue("values",$values)
		$context.putPageValue("data",$hits.getSearchQuery())
		$pages.include("/${applicationid}/components/advancedsearch/detailedit.html", $context)
		
	#end
	<input type="submit" value="[[Submit]]" class="btn btn-sm btn-primary" />	
</form>
</div>
</div>
<div class="col">
<div class="col-inline-table-content">
#if ( $hits && $hits.size() > 0 )
	<table  class="table table-striped" >
		$pages.include("$apphome/components/xml/inline/tableheader.html",$context)
		<tr class="data-editor"></tr>
			#foreach( $hit in $hits.getPageOfHits() )
				
				$context.putPageValue("hit", $hit)
				$context.putPageValue("count", $count)
				$context.putPageValue("sourcepath", $hit.sourcepath)
				$pages.include("${apphome}/components/xml/inline/row.html", $context)

			#end
	</table>
	<p>$!hits.getPageStart() - $!hits.getPageEnd()  [[of]] $!hits.total</p>
	$pages.include("$apphome/components/xml/inline/pages.html",$context)
#else
	<table  class="table table-striped" >
		<tr class="data-editor"></tr>
	</table>	
	<p class="info" style="margin: 20px;">[[No results found]]</p>
#end
</div>
</div>
</div>
