
<div id="eml-green-dialog" class="clearfix" style="width: 758px;">

<div id="arrow" class="arrow">&nbsp;</div>		

#set( $termid = $context.getRequestParameter("termid"))

#set( $term = $query.getTermByTermId($termid) )

#set( $detail = $term.getDetail() )
#set( $searcher = $mediaarchive.getAssetSearcher() )
#set( $view = "asset/advancedsearch")

<form name="editform" action="$home$apphome/views/search/edit/saveparam.html">
	
		<input name="queryid" value="$query.id" type="hidden" />
		<input name="termid" value="$term.id" type="hidden" />
	
		<div class="emsearchfield"> 
		$!detail.getText($context) 
		</div>
		<input name="field" value="$searcher.getCatalogId():$view:${detail.getId()}" type="hidden">
		<input name="operation" value="$term.getOperation()" type="hidden" />
		#set( $viewtype = $detail.viewType )
		#if (!$viewtype)
			#set ($viewtype = $detail.dataType)
		#end
		#if (!$viewtype)
			#set ($viewtype = "default")
		#end
		#set( $value = $query.getInput($detail.id) )
		$context.putPageValue("val",$value)
		$pages.include("/${applicationid}/components/xml/types/${viewtype}.html", $context)

	<input type="submit" class="btn small" value="Save" />
<a class="btn small" href="">Delete</a> 
	<a class="btn small" href="">Cancel</a> 
</form>
</div>
<!-- 
	#if ($edit == "true")
		<a href="#" onclick="javascript:deleteField('$detail.id'); return false;">
		<img src="$home$apphome/theme/images/navigation/deletesm.png"/>
		</a>
	#end
 -->
