

	<div id="eml-tab-content" >
		
		<h2 id="search-title">You are editing: <input type="text" value="Search Title" /></h2>
		<h6 class="helper-text">To edit the current search title, simply click the name, type your perferred name it will save automatically.</h6>
		
		<p class="friendly-search">
			Currently searching for: <span>Logic logic <a href="#">Parameter</a> logic logic logic <a href="#">Parameter</a> logic <a href="#">Parameter</a> logic logic logic <a href="#">Parameter</a> logic <a href="#">Parameter</a>, <a href="#">Parameter</a>.</span>
		</p>
		
		<div id="eml-tab-green-container" class="clearfix">
			<div id="eml-tab-options-container">
				<div class="eml-tab-option">
					<h3 class="instructions">Choose the type of search parameter you would like to add.</h3>
			
						<ul id="stacked">
	<li><a class="btn" href="$home$apphome/views/activity/downloadassets.html?hitssessionid=$!hits.getSessionId()">Asset Type</a></li>
	<li><a class="btn" href="$home$apphome/views/activity/index.html">File Details</a></li>
	##if( $asset )
	<li><a class="btn" href="$home$apphome/views/activity/index.html">Metadata</a></li>
	<li><a class="btn" href="$home$apphome/views/activity/index.html">Category</a></li>
	##end

</ul>
			
				</div>
			</div>
		</div>
	</div>