<div id="querybigeditarea">

	<div id="eml-tab-content" style="position: relative;" >
		<form name="queryname" action="$home$apphome/views/search/edit/save.html">		
			<h2 id="search-title">You are editing: <input type="text" name="name" value="$query.name" onfocus="$(this).addClass('green');$('#savebtn').show()" /></h2>
			<input name="queryid" value="$query.id" type="hidden" />
			<input id="savebtn" type="submit" class="btn small" value="Save">
		</form>
		<h6 class="helper-text">To edit the current search title, simply click the name, type your perferred name and hit save.</h6>
		
		<p id="savedquerylist" class="friendly-search">
			Currently searching for: 
				<span>
				#foreach( $term in $query.getTerms() )
					#if($velocityCount == 1 )
						All assets that include 
					#end
					#if( $term.getDetail().getId() == "description" )
						##the $term.getDetail().getName() 
					#else
						and the $term.getDetail().getName() is
					#end
						<a  href="$home$apphome/views/search/edit/editparam.html?termid=$term.id&queryid=$query.id&oemaxlevel=1">$query.getFriendlyValue($term.getValue(),$term.getDetail())</a>
				#end
				</span>
		</p>
		<div id="searcheditor">
			<a id="addterm" class="btn" href="$home$apphome/views/search/edit/addterm.html?queryid=$query.id&oemaxlevel=1">Add Search Parameter</a>
		</div>
	</div>
</div>