#set( $hitssessionid = $context.getRequestParameter("hitssessionid"))
#set( $originalpath = $mediaarchive.asLinkToOriginal($asset) )	
#set( $searcher = $mediaarchive.searcherManager.getSearcher($catalogid, "convertpreset"))

#set( $type = $mediaarchive.getMediaPlayerType($asset))
#set( $results = $searcher.query().exact("inputtype",$type).sort("ordering").search($context) )
#set( $cdnprefix = $mediaarchive.getCatalogSettingValue("cdn_prefix") )
$context.putPageValue("cdn",$cdnprefix)
#set( $mediadbappid=$mediaarchive.getMediaDbId())

#set( $hits = $context.getSessionValue($hitssessionid))
#set( $index = $hits.indexOfId($asset.id))
#set( $previous = false )
#set( $previous = $hits.previous($index))
#set( $next = false )
#set( $next = $hits.next($index))       

<div id="main-media-container">
<div id="main-media-viewer" data-assetid="$asset.id" data-next="$!next.getId()" data-previous="$!previous.getId()" >
	#if( !$mediadbappid)
		<p style="color: white;">[[mediadbappid not defined in datamanager]]</p>
	#end
	$pages.include("/${mediadbappid}/services/module/asset/players/large/${type}.html", $context)
</div>
<div id="footerbase">
	<div id="footermenu">
		<ul class="">
		
			<li >
				<div class="goleftclick" >
				<span class="glyphicon glyphicon-triangle-left overlay-nav"></span>
				</div>	
				<div class="gorightclick" >
				<span class="glyphicon glyphicon-triangle-right overlay-nav"></span>
				</div>	
				
			</li>
		
			<li  class="botmenulink">	
				#if( $canmetadatageneral )
				<a href="$home$apphome/views/modules/asset/editor/viewer/index.html?hitssessionid=$hitssessionid&assetid=$asset.getId()" class="nav-link" > $asset </a>
				#else
				<a href="#" class="nav-link" > $asset </a>
				#end
			 </il>
			 #if($candownload || $canconvert)
				<li id="download-select" >		
					<div class="dropup">
						<a class="" href="#" data-toggle="dropdown" expanded="true" > <span class="glyphicon glyphicon-download" style="color: #fff;"> </span>  [[Downloads]]
							<span class="caret"></span></a>
						
						#if( !$cdnprefix )
							#set( $cdnprefix = $context.siteRoot )
						#end
						<ul class="dropdown-menu dropup">
								
									 #if($candownload)				
										<li><a href="$cdnprefix$home/$mediadbappid/services/module/asset/downloads/originals/$originalpath">[[Original File]]</a></li>
									#end	
									#if($canconvert)
										#foreach($result in $results )						
												<li><a href="$cdnprefix$home/$mediadbappid/services/module/asset/downloads/createpreset/${asset.sourcepath}/${result.generatedoutputfile}/${asset.name}-${result.generatedoutputfile}">$result.name</a></li>
										#end
									#end
								</ul>
					   </div>
				  </li>
			 #end
		  <li>
	#if(  $asset.getFileFormat()  == "pdf")
		    <a data-assetid="${asset.id}" target="_new" href="$cdnprefix$home/$mediadbappid/services/module/asset/downloads/vieworiginal/$originalpath" >
            	<span class="glyphicon glyphicon-blackboard" style="color: #fff;"> </span> [[View PDF]]
            </a> 
	#end
		  </li>
		  
		</ul>
	</div>
</div>

</div>

