##Use one touch in middle to show all the toolbars and metadata
##otherwise just look for swipe events on image or on the sides of video

<div id="detailspanel" >

	<div class="overlay-play largeicon"><span class="glyphicon glyphicon-play"></span></div>
	
	<div class="goleftlick" >
	</div>
	
	<div class="playerarea">
	#set( $mediadbappid = $mediaarchive.getCatalogSettingValue("mediadbappid") )
	#if( !$mediadbappid)
		<p style="color: white;">mediadbappid not defined in datamanager</p>
	#end
	#set( $type = $mediaarchive.getMediaRenderType($asset))
	$pages.include("/${mediadbappid}/services/module/asset/players/types/${type}.html", $context)
	</div>
	
	<div class="overlay-close largeicon"><span class="glyphicon glyphicon-remove-circle"></span></div>
	
	<div class="gorightlick" >
	</div>

</div>