.emgridcontainer {
	padding:10px 15px;
	background-color: #efefef;
}
.suggestionscontainer {
	margin:10px 30px 20px 30px;
	padding:10px;
	background-color: #efefef;
}

.emgrid {
	margin:0 0 40px 0;
    padding: 0;
    list-style: none;
    position: relative;
    
}

.emgridcell {
	margin: 0;
	overflow: hidden;
	position:absolute;
	border:1px solid #ccc;
	border-radius: .20rem;
	box-shadow:1px 1px 3px 0 rgba(0,0,0,0.2);
	visibility: hidden;
	background-color: #fff;
}
.emgridcell-category {
	border:none;
	box-shadow: none;
	visibility: hidden;
	background-color: transparent;
}

.emgrid-content {
	position:relative;
	height: 100%;
}
.emgrid-content-header {
	padding:20px 10px 5px;
}
.emgridcell h3 {
	margin:0 0 0;
	font-size:1rem;
	
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    
}

.emgridcell h3 a {
	font-weight: bold;
}

.emgridcell-default {
	padding:10px 10px 0;
	color:#222;
	
	
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
} 

.emgrid-type-asset .emgrid-content-header {
	background-color: #0c223a;

}
.emgrid-type-asset-video .emgrid-content-header {
	background-color: #E51E25;
}
.emgrid-type-asset-document .emgrid-content-header {
	background-color: #164EA1;
}

.emgrid-type-librarycollection .emgrid-content-header {
	background-color: #16A7BA;
}

.emgrid-type-categories
{
	padding:0 0 20px 40px;
}



<!--Here -->




.emgrid-type-category .emgrid-content-header {
	background-color: #37383A;
}
.emgrid-type-category {
	color:#333666;
	height: 20px;
}
.emgrid-type-category .gridcategory-icon {
	float: left;
	font-size:1.2em;
	line-height: 1.5em;
	color:#ffd05b;
	
}
.emgrid-type-asset h3,
.emgrid-type-asset h3 a {
	color:#fff;
}

.gridcategory-name {
	line-height: 1.5em;
	vertical-align:bottom;
	float: left;
	margin-left:10px;
	font-size:1.2em;
		overflow: hidden;
	white-space:nowrap; 
  text-overflow:ellipsis;
}
.emgrid-type-category:hover {
	color:#000
}

.griditem-tools {
	position:absolute;
	top:5px;
	right:5px;
	/* display:none; */
}

.emgridcell:hover {
	background-color: #f8f8f8;
}

.emgrid-content:hover  .griditem-tools {
	display: block;
	}
.emgrid-type-category .griditem-tools {
	top:0;
}
.emgridcell h4 {
	font-size: 0.9rem;
	font-weight: bold;
	padding:0 8px;
	}
.emgridcell-name {
	margin:8px 8px 4px 8px;
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    
    white-space: nowrap;
}
.emgridcell-description {
	margin:8px;
	margin-bottom: 10px;
	line-height: 1.5;
	}
.emgridcell-assetimage {
	text-align: center;
	padding:0;
	min-height: 100px;
	}
.emgridcell-assetimage .videoplay-button {
	font-size:4rem;
}
.emgriddcell-withkeywords {
	min-height: 100px;
}
.emgridcell-actions {
	height: 24px;
	padding-right:12px;
	text-align: right;
}

.emgridcell-task h3 {
	color:#ED1D25;
}

.emgridcell-keywords {
	position:absolute;
	bottom:30px;
	padding:10px 10px;
	width:100%;
	
}
.emgridcell-keywords .badge {
	font-size:0.75rem; 
	background-color: #87DEFF;
	overflow:hidden; 
  white-space:nowrap; 
  text-overflow:ellipsis; 
  max-width:49%;
	}
.emgridcell-keywords .badge:hover {
	background-color:#2A6C92;
	color:#eee;
}

.emrowselected .resultsselection {display:block;}


.gridresultscount { padding:5px 0; font-size:.9rem;}

.emgridcontainer .resultsnumber { float:right; padding: 0 10px 0;}


.ibmgrid-projectnumber {
	padding:5px 10px ;
	color:#666;
	font-weight: bold;
}
.ibmgrid-projectnumber span {
	color:#111;
	font-weight: normal;
}

.ibmgrid-footer {
	position:absolute;
	bottom:0px;
	padding:10px 10px 5px;
	width:100%;
	font-size:.9rem;
}


.ibmgrid-keywords {
	padding:10px;
}
.ibmgrid-keywords .badge {
	  overflow:hidden; 
  white-space:nowrap; 
  text-overflow:ellipsis; 
  max-width:130px; 
  border-radius: 0;
}


.ibmpreview label {
	font-weight: bold;
}
.ibmpreview-keywords .badge {
	  overflow:hidden; 
  white-space:nowrap; 
  text-overflow:ellipsis; 
  max-width:170px; 
}
.ibmtext {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 20;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

@media (min-width: 640px) {
	.emgridcontainer {	
		margin:20px 20px 20px 20px;
		padding: 20px 30px;
	}	
}

@media (min-width: 768px) {
	.emgridcontainer {	
		margin:20px 20px 20px 20px;
		padding: 20px;
	}	
}

@media (min-width: 992px) {
	.emgridcontainer {	
		margin:20px 30px 20px 30px;
		padding: 20px;
	}	
}

