#set($sourcepath = $context.getRequestParameter("sourcepath"))
#set( $type = $mediaarchive.getMediaRenderType($asset.fileFormat))
<style>
	body {
		background: #fff !important;
		overflow: none;
	}
</style>
<div id="embed-wrapper" style="padding: 15px;">
<h2 class="embedlinktext">[[Embed Link]]</h2>
<div class="embedlink">
<textarea class="embedlinktextarea" type=text onclick="this.select();" readonly="readonly" rows="7" cols="60">
<iframe src="$context.siteRoot$home$apphome/components/mediaviewer/player/types/${type}.html?oemaxlevel=1&sourcepath=$asset.sourcepath&embed=true" width="550" height="400" style="border:none">
</iframe>
</textarea>
<p>[[Select code then right click to copy]]</p>
</div>
</div>