<!-- <h2>[[Edit Permissions]]</h2> -->
<!-- <br> -->
<!-- <form name="shareform" action="./socialfinish.html" style="padding-left: 10px;"> -->
<!-- 	<input type="hidden" name="sourcepath" value="$asset.sourcepath" /> -->
<!-- 	<input type="hidden" name="categoryid" value="$!context.getRequestParameter("categoryid")" /> -->

<!-- 	[[Private - Only the people listed below can access]] -->


<!-- #set( $title = "$!asset.assettitle" )  -->
<!-- #set( $title = "$title $!asset.caption" ) -->
<!-- #if( $title.length() < 4 ) -->
<!-- #set( $title = "$!asset.toString()" ) -->
<!-- #end -->
<!-- <input  name="sharecaption" type="hidden" value="$title"  /> -->
<!-- <br> -->




<!-- </form> -->

<div id="permissions">
<script type="text/javascript" charset="utf-8">
	removePerson = function(userid){
		jQuery("#permissions").load("$home$apphome/components/share/removeperson.html?assetid=$asset.id&userid=" + userid);
	}
	removeGroup = function(groupid){
		jQuery("#permissions").load("$home$apphome/components/share/removegroup.html?assetid=$asset.id&groupid=" + groupid);
	}
	addAllGroups = function(userid){
		if(jQuery("#allowallgroups").is(':checked') == false) {
			jQuery("#permissions").load("$home$apphome/components/share/removeallgroups.html?assetid=$asset.id");
		} else {
			jQuery("#permissions").load("$home$apphome/components/share/addallgroups.html?assetid=$asset.id");
		}
	}
	addAll = function(userid){
		//alert(jQuery("#allowall").is(':checked'));
		if(jQuery("#allowall").is(':checked') == false) {
			jQuery("#permissions").load("$home$apphome/components/share/removeall.html?assetid=$asset.id");
		} else {
			jQuery("#permissions").load("$home$apphome/components/share/addall.html?assetid=$asset.id");
		}
	}
</script>

<div id="sharing-wrapper" style="padding: 15px;">


	<div class="header_element">
		<!-- TITLE BAR -->
		Edit Permissions
	</div>

	<div class="access_message">
		<!-- Lock Icon MSG -->

		<img src="$home${themeprefix}/images/gfx/lock_icon.png" style="padding-right: 15px;">Private
		- Only the people listed below can access

	</div>
	<div id="all_container">
		<span class="all_text" style="float:left;">Allow All Teams</span><input type="checkbox" id="allowallgroups" style="float:left;" onclick="addAllGroups(); return false;" #if($isallgroups) checked="checked" #end/>
	</div>
	<div id="all_container">
		<span class="all_text" style="float:left;">Allow All</span><input type="checkbox" id="allowall" style="float:left;" onclick="addAll(); return false;" #if($isall) checked="checked" #end/>
	</div>

	<div id="people_container">

		<span class="field_title">People</span>


		<table class="people_table" id="people_table">

			<tr>
			#set( $owner = ${userManager.getUser($asset.owner)} )
				<td class="avatar"><img src="$home${themeprefix}/images/gfx/default_avatar.png"
					title="$owner"></td>
				<td class="user"> #if ($user.id == $asset.owner) (you)#end</td>
				<td class="userlevel">Is Owner</td>
			</tr>
			#foreach($person in $peoples)
			<tr>
				<td class="avatar"><img src="$home${themeprefix}/images/gfx/default_avatar.png"
					title="$person"></td>
				<td class="user">$person</td>
				<td class="userlevel"><a href="#" title="Remove User" onclick="removePerson('$person.id');return false;"><img
						src="$home${themeprefix}/images/gfx/close_icon.png"> </a></td>
			</tr>
			#end
		</table>


		<div class="add_person_box">
			<span class="add_person_label">Add People:</span> <br /> 
			<input class="addmygroupusers"	name="add_people" type="text" assetid="$asset.id"/>
			<input id="hiddenaddmygroupusers" name="hiddenaddmygroupusers" type="hidden" targetdiv="permissions" postpath="$home$apphome/components/share/addperson.html?assetid=$asset.id&userid="/>
		</div>


	</div>

	<div id="people_container">

		<span class="field_title">Teams</span>


		<table class="people_table" id="people_table">

			#foreach($group in $groups)
			<tr>
				<td class="avatar"><img src="$home${themeprefix}/images/gfx/default_avatar.png"
					title="$group.name"></td>
				<td class="user">$group.name</td>
				<td class="userlevel"><a href="#" title="Remove Group" onclick="removeGroup('$group.id');return false;"><img
						src="$home${themeprefix}/images/gfx/close_icon.png"> </a></td>
			</tr>
			#end

		</table>


		<div class="add_person_box">

			<span>Add Team:</span> <br /> 
			<input class="addmygroups" name="add_team" type="text" assetid="$asset.id">
			<input id="hiddenaddmygroups" name="hiddenaddmygroups" type="hidden" targetdiv="permissions" postpath="$home$apphome/components/share/addgroup.html?assetid=$asset.id&groupid=">
		</div>
		
	</div>




</div>
</div>