<h2>[[Edit Permissions]]</h2>
<br>
<form name="shareform" action="./socialfinish.html" style="padding-left: 10px;">
	<input type="hidden" name="sourcepath" value="$asset.sourcepath" />
	<input type="hidden" name="categoryid" value="$!context.getRequestParameter("categoryid")" />

	[[Private - Only the people listed below can access]]
 

#set( $title = "$!asset.assettitle" ) 
#set( $title = "$title $!asset.caption" )
#if( $title.length() < 4 )
#set( $title = "$!asset.toString()" )
#end
<input  name="sharecaption" type="hidden" value="$title"  />
<br>


 

</form>
