		<div class="wizard clearfix">
			<form id="catalog" name="savecatalog" method="post" action="$home$apphome/views/catalogs/savecatalog.html">
			<div class="wizard-top">
				<h1>Add Catalog Wizard</h1>
			</div>

			<div class="wizard-body">
				<h3>Catalog Name</h3>
					<center>
					<input class="field" type="text" name="name" id="catalog-name" value="My Site"/>
				<hr>
				<h3>Catalog Root Path:</h3> <input class="field" name="rootpath" value="/mysite" >
				<input name="fallbackfolder" value="/media/catalog" type="hidden">

				</center>
				<input name="reloadprofile" value="true" type="hidden">
			</div>
			<div class="wizard-bottom">
				<input class="mbtn blue build-your-own-app" value="[[Create Catalog]]" type="submit"/>	
			</div>
			</form>
		</div>

