#set( $appcatalogid = $context.getRequestParameter("appcatalogid") )
#set ($catalog = $searcherManager.getData("system","catalog",$appcatalogid))

<div class="panel panel-default">
  <div class="panel-heading section-title">
           <img height="28" width="30" alt="EM Share" src="/manager/theme/images/small-server.png" style="float:left; margin: 	0px 15px 0 15px;">
                 <span>$catalog Applications</span> 
   </div>              
  <div class="panel-body">
<ul class="fwlist" id="folders">
	#set( $apps = $searcherManager.getList($appcatalogid,"app") )
	
	#foreach( $app in $apps)
	<li class="auto">
       <a href="$home$apphome/views/applications/index.html?appcatalogid=$appcatalogid&id=$app.id" class="app">
           <img height="60" width="60" alt="$app" src="/manager/theme/images/folder.png" style="float:left; margin: -15px 15px 0 0;">
           <div class="name" style="margin-left: 85px; margin-top: -12px;">
               <div class="alias" style="font-size: 18px; font-weight: bold; margin-bottom: 4px;">$app</div>
               <div class="path">${context.siteRoot}${app.deploypath}</div>
               <div class="last-activity">
               		#set( $module  = $searcherManager.getData($appcatalogid,"module",$app.module) )
               		$!module
               </div>
           </div>
       </a>
       <div class="scan">
           <a class="mbtn" style="margin-top: 15px;" href="$home${app.deploypath}">[[View]]</a>
           <a class="mbtn" style="margin-top: 15px;" href="$home$apphome/views/applications/exports/${app}.zip?apppath=$app.deploypath">[[Download]]</a>
       </div>
	</li>
	#end
	</ul> 
	<div class="scan" style="margin-top: 30px;margin-right: 0;">
    <a class="mbtn" href="$home$apphome/views/catalogs/addapp.html?appcatalogid=$appcatalogid">[[Create New Application]]</a>
    <a class="mbtn" href="$home$apphome/views/applications/uploadapp.html?appcatalogid=$appcatalogid">[[Import Application]]</a>
</div> 
	
</div>
</div>   
<br> 
    <div class="panel panel-default">
  <div class="panel-heading section-title">
           <img height="28" width="30" alt="EM Share" src="/manager/theme/images/small-server.png" style="float:left; margin: 	0px 15px 0 15px;">
                 <span>$catalog Properties</span> 
   </div>   
  <div class="panel-body" style="padding: 30px">

<form action="./save.html" method="post">
    #set($searcher = $searcherManager.getSearcher("system", "catalog"))
	$context.putPageValue("searcher", $searcher)	 
	$context.putPageValue("data", $catalog)	 
	$context.putPageValue("view", "catalog/edit")	
	<input type="hidden" name="view" value="catalog/edit"/>
	<input type="hidden" name="save" value="true"/>
	<input type="hidden" name="id" value="$catalog.id"/>
	
	<div id="shares">
	$pages.include("/${applicationid}/components/xml/detaileditorcss.html", $context)
	</div>

<div class="scan" style="margin-top: 30px;margin-right: 0;">
	<button class="btn green" style="margin-left: 200px;" href="#" data-confirm="[[Are you sure?]]">[[Save]]</button>
	<a class="mbtn blue confirm" style="margin-left: 200px;" href="./remove.html?searchtype=catalog&id=$appcatalogid" data-confirm="[[Are you sure?]]">[[Delete Catalog]]</a>
</div>
<br>
#set( $admin = $searcherManager.getData($catalog.id , "user", "admin"))
<p><b>[[Admin Password Hash]]</b>: $admin.password
##<p><b>[[Admin Password]]</b>: $userManager.decryptPassword($admin)
</from>
</div>
</div>
