#set ($searcher = $searcherManager.getSearcher("system","catalog"))
#set( $catalogs = $searcher.fieldSearch("id","*","name") )

#if( $catalogs.size() == 0 )

		<h1 class="page-title">Welcome to the EnterMedia Manager!</h1>
		<h2 class="page-subtitle">Click below to add a new catalog and get started.</h2>
#else


#end
<h2>Catalog List</h2>
<ul class="catalog-list">

#foreach ($catalog in $catalogs)
     <li class="section-title row" >
       <div class="catalog col-sm-1"></div>
       <div class="col-sm-7"><a href="$home$apphome/views/catalogs/edit.html?appcatalogid=$catalog.id">$catalog</a></div>
       <div class="col-sm-4 listid" ><a href="$home$apphome/views/catalogs/edit.html?appcatalogid=$catalog.id">/$catalog.id</a></div>
     </li>
#end
</ul>

             <div class="scan" style="margin-right: 0; float: left;">
                 <a class="mbtn"  href="$home$apphome/views/catalogs/addcatalog.html">Create New Catalog</a>
             </div> 
		

			