#set ($searcher = $searcherManager.getSearcher("system","catalog"))
#set( $catalogs = $searcher.fieldSearch("id","*","name") )

#if( $catalogs.size() == 0 )

		<h1 class="page-title">Welcome to the EnterMedia Manager!</h1>
		<h2 class="page-subtitle">Click below to add a new catalog and get started.</h2>
#else


#end
 <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Link</th>
        <th>Plan</th>
        <th>Email</th>
        <th>Created On</th>
      </tr>
    </thead>
    <tbody>

#foreach ($catalog in $catalogs)
     <tr >
     <td >
       <div class="catalog">
          <a href="$home$apphome/views/catalogs/edit.html?appcatalogid=$catalog.id">$catalog</a>
       </div>
       </td>
       <td>
          <div class="listid" ><a href="$home$apphome/views/catalogs/edit.html?appcatalogid=$catalog.id">/$catalog.id</a></div>
       </td>
       <td>	
       	  $!searcherManager.getData("system","plan", $catalog.plan )
       </td>
       <td>	
       	  $!catalog.email
       </td>
       <td>	
       	  $!context.getDate($catalog.createdon)
       </td>
     </tr>
#end
	</tbody>
	</table>



             <div class="scan" style="margin-right: 0; float: left;">
                 <a class="mbtn"  href="$home$apphome/views/catalogs/addcatalog.html">Create New Catalog</a>
             </div> 
		

			