<table width="100%" >
<tr>
<td id="collectionpicker">
$pages.include("$apphome/components/libraries/pickcollection.html",$context)
</td>

<!-- 
<td style="margin-left:20px">
<div id="searchform" class="">
<form id="search_form" action="$home$apphome/views/search/search.html" class="em-widget-content">


	#if( $collection  )
		#set( $categoryid = $collection.rootcategory )
	#elseif($library)
		#set( $categoryid = $library.categoryid )
	#end
	<input name="operation" type="hidden" value="exact" />
	<input name="field" type="hidden" value="category-exact" />
	<input name="category-exact.value" type="hidden" value="$!categoryid" />
	


	<input type="hidden" name="field" value="description" />
	<input type="hidden" name="operation" value="freeform" />
	#set( $input = "[[Search...]]")
	#set( $input = $hits.getInput("description") )
    <input type="text"  id="assetsearchinput" initialtext="[[Search...]]"  class="suggestsearchinput initialtext " name="description.value" value="$input" />
</form>
</div>
</td>
 -->
 
</tr>
</table>