<table width="100%" >
<tr>
<td>
$pages.include("$apphome/components/libraries/pickcollection.html",$context)
</td>
<td style="margin-left:20px">
<div id="searchform" class="">
<form id="search_form" action="$home$apphome/views/search/search.html" class="em-widget-content">
	<input type="hidden" name="field" value="description" />
	<input type="hidden" name="operation" value="freeform" />
	#set( $input = "[[Search...]]")
	#set( $input = $hits.getInput("description") )
    <input type="text"  id="assetsearchinput" initialtext="[[Search...]]"  class="suggestsearchinput initialtext " name="description.value" value="$input" />
</form>
</div>
</td>
</tr>
</table>