<div class="filtered">
#if( $hits.getSearchQuery().hasMainInput() )
<strong>Searching for:</strong>  "<em>$hits.getSearchQuery().getMainInput()</em>"
#end
##TODO Loop over the view and show them here if they match

#if( !$librarycol &&  $category )
	<a
	href="$home$apphome/views/modules/asset/index.html"
	class="badge badge-light">$category <i class="fas fa-times"></i></a>
#end

#set( $terms = $userfilters.getFilteredTerms($hits) )
#foreach( $term in $terms)
<a
#if( $librarycol )
	href="$home$apphome/views/modules/librarycollection/viewassets.html?hitssessionid=$hits.getSessionId()&collectionid=$librarycol.getId()&removeterm=$term.getId()"
#else
	href="$home$apphome/views/modules/asset/index.html?hitssessionid=$hits.getSessionId()&removeterm=$term.getId()"
#end
	class="badge badge-light">$term.getDetail() : 
	#foreach( $val in $term.getValueCollection() ) 
		#if( $foreach.count > 1) or #end
		#if($term.getDetail().isList())
			$context.getText( $mediaarchive.getData($term.getDetail().getListId(),$val) )
		#elseif($term.getDetail().isBoolean())
			#if($term.getValue() == 1)
				[[Yes]]
			#else
				[[No]]
			#end
		#else
			$term.getValue()
		#end 
	#end <i class="fas fa-times"></i></a>
#end
#if( $hits.getSearchQuery().hasMainInput() || !$terms.isEmpty() )
<a class="clearfilters" 
#if( $librarycol )
	href="$home$apphome/views/modules/librarycollection/index.html?hitssessionid=$hits.getSessionId()&collectionid=$librarycol.getId()&assetclearresults=true&clearfilters=true">
#else
	href="$home$apphome/views/modules/asset/index.html?hitssessionid=$hits.getSessionId()&assetclearresults=true&assetclearselection=true&clearfilters=true">
#end
[[Clear]]</a>
#end
</div>