#set( $edit = $context.getRequestParameter("editfilters"))
#if( $edit)
	$context.putPageValue("edit",$edit)
#end

<div id="advfilterpanel" class="advfilterpanel" >
#if( !$edit )
	<div class="filters-edit-icon">
		<a class="ajax" data-targetdiv="advfilterpanel" href="$apphome/components/filters/index.html?editfilters=true&oemaxlevel=1"><i class="fas fa-cog"></i></a>
	</div>
#end
<div class="tanmodule" >
	#set( $view = "asset/assetadvancedfilter")
	#set( $searcher = $mediaarchive.getAssetSearcher())
	
	$context.putPageValue("view", $view)
	$context.putPageValue("searcher", $searcher)
	
	#set($usestartswith = $page.isPropertyTrue('usestartswith'))
	$context.putPageValue("usestartswith",$usestartswith)
	$context.putPageValue("caneditlists",false)
				
	

	
	<form  name="filterform" id="filterform" class="autosubmitform em-widget-content ajaxform" data-targetdiv="searchlayout" method="POST"  
	#if( $librarycol)
		data-oemaxlevel="2" 
		action="$home$apphome/views/modules/librarycollection/search.html" 
	#else
		data-oemaxlevel="2" 
		action="$home$apphome/views/search/search.html" 
	#end
	>
	#if( $librarycol)
		<input name="collectionid" type="hidden" value="$librarycol.getId()">
	#end
	
	##We need 2 things passed in: $searcher, $view or $searcher $details
	#if (!$details && $userprofile)
		#set ($details = $searcher.getDetailsForView($view, $userprofile))
	#else
		#set ($details = $searcher.getDetailsForView($view))
	#end
	$context.putPageValue("idprefix","search")
	
	
	##SORT
		<div class="filter-box">
			<div class="filter-box-header">
					<span class="toggle-filter sidetoggle" data-target="filterboxsorting">
					#set($minimizedfilterbox = true)
					#if(!$userprofile.minimizefilterboxsorting || $userprofile.minimizefilterboxsorting == "false")
						#set($minimizedfilterbox = false)
					#end
					<i class="caret fas 
						#if($minimizedfilterbox) 
							 fa-caret-right 
					  	#else 
					  		 fa-caret-down 
					  	#end"></i>
					</span> 
					[[Sort]]
			</div>
			<div class="filter-box-options" id="filterboxsorting" #if($minimizedfilterbox) style="display: none;" #end>
				#set ($alldetails = $searcher.getUserPropertyDetails() )
				<div style="width:145px; display: inline-block;">
				<select  data-sortup="$hits.searchQuery.isSortUp()" class="form-control form-control-sm select2 autosubmited" name="assetsortby" id="assetsortby" data-allowclear="false" style="" >
					#foreach( $detail in $alldetails) 
						<option data-detailid="${detail.id}" value="$detail.id" #if($hits.isSortedBy($detail.id)) selected="selected" #end>$detail.getText($context)</option>
					#end
				</select>
				</div>
				<a href="" class=" float-right" ><i class="filterschangesort fas #if($hits.searchQuery.isSortUp()) fa-sort-alpha-up #else fa-sort-alpha-down #end" style="padding-top:5px"></i></a>
			</div>
		</div>
			
		

	
		
		#foreach( $detail in $details)
		
			$context.putPageValue("detail", $detail)
			$context.putPageValue("searchform", true)
			#if ($detail.isLeaf())
				#if ($detail.isFilter())
					
					#set($filternode = $userfiltervalues.get($detail.id))
					$context.putPageValue("filternode",$filternode)
					#if(($edit == "true") || ($filternode && !$filternode.isEmpty() && $filternode.children.size() > 1))
						
						$pages.include("/${applicationid}/components/filters/detailedit.html", $context)
					#end	
					
				#else
					$pages.include("/${applicationid}/components/filters/detailedit.html", $context)
				#end
			#else
				$pages.include("/${applicationid}/components/filters/section.html", $context)
			#end
		#end
			
			
		#if( $librarycol.rootcategory )
			<input type="hidden" name="field" value="category" />
			<input type="hidden" name="operation" value="exact" />
			<input type="hidden" name="category.value" value="$librarycol.rootcategory" />
			<input type="hidden" name="collectionid" value="$librarycol.getId()" />
		#elseif( $selectedlibrary.categoryid )
			<input type="hidden" name="field" value="category" />
			<input type="hidden" name="operation" value="exact" />
			<input type="hidden" name="category.value" value="$selectedlibrary.categoryid" />
			<input type="hidden" name="selectedlibrary" value="$selectedlibrary.getId()" />
		#elseif( $category )
			#set($categoryid = $category.getId())
			<input type="hidden" name="field" value="category" />
			<input type="hidden" name="operation" value="exact" />
			<input type="hidden" name="category.value" value="$categoryid" />
		#end
		
	
		<input type="hidden" name="customproperty" value="userinputsearch"/>
		<input type="hidden" name="userinputsearch.value" value="true"/>
					
				    
					
			
		#set ($resultview = $userprofile.get('resultview'))
		
		#if( !$resultview )
		<input type="hidden" name="resultstype" value="table" />
		#end
		
		</form>
		
		#if ($edit == "true")
		
		##TODO: Pass this view name in
		#set ($alldetails = $searcher.getUserPropertyDetails() )
		<div class="advancedsearcheditform">
		<strong style="margin-bottom:10px;display:block">[[Edit Fiters]]:</strong>
		<form id="searchaddfield" class="ajaxform" targetdiv="advfilterpanel" action="$home$apphome/components/filters/addfield.html" method="post">
		
			<input type="hidden" name="oemaxlevel" value="1"/>
			<input type="hidden" name="editadvsearch" value="true"/>
			<input type="hidden" name="view" value="$view"/>
			<input type="hidden" name="catalogid" value="$searcher.getCatalogId()"/>
			<input type="hidden" name="searchtype" value="$searcher.getSearchType()"/>
			<div class="form-group">
			<select  class="form-control"  name="field" onChange="jQuery('#searchaddfield').submit();">
				<option value="">[[Asset]]</option>
				#foreach( $detail in $alldetails)
					#if($detail.isLeaf())
					<option value="$detail.id" style="margin-left: 10px;">$detail.getText($context)</option>
					#else							
						<optgroup label="$detail.title"></optgroup>
						#foreach($child in $detail)
						<option value="$child.id" style="margin-left: 10px;">$child.getText($context)</option>
						#end
					#end
				#end	
			</select>
			</div>
			<div class="form-group">
			<select class="form-control" name="field" onChange="jQuery('#searchaddfield').submit();">
				<option value="">[[Collection]]</option>
				#set( $librarydetails = $mediaarchive.getSearcher("librarycollection").getUserPropertyDetails() )
				#foreach( $detail in $librarydetails)
				<option value="librarycollection.${detail.id}" style="margin-left: 10px;">$detail.getText($context)</option>
				#end
			</select>
			</div>
			<div class="form-group">
			<select  class="form-control"  name="field" onChange="jQuery('#searchaddfield').submit();">
				<option value="">[[Library]]</option>
				#set( $librarydetails = $mediaarchive.getSearcher("library").getUserPropertyDetails() )
				#foreach( $detail in $librarydetails)
				<option value="library.${detail.id}" style="margin-left: 10px;">$detail.getText($context)</option>
				#end
			</select>
			</div>
		<div class="form-group">
			<a class="ajax btn btn-sm btn-secondary" targetdiv="advfilterpanel" href="$home$apphome/components/filters/index.html?oemaxlevel=1&editadvsearch=false&searchtype=$searcher.getSearchType()&catalogid=$searcher.getCatalogId()&view=$view">[[Done Editing]]</a>
		</div>	
		</form>
		</div>
		#end
	
		<script type="text/javascript">
			deleteFilterField = function(inType,inFieldId)
			{	
				console.log('delete field');
				var params = 'oemaxlevel=1&editadvsearch=true&view=$view&catalogid=$searcher.getCatalogId()&searchtype=' + inType + "&field=" + inFieldId;
				jQuery('#advfilterpanel').load("$home$apphome/components/filters/deletefield.html?" + params)
			}
		</script>
	</div>
</div>