#set($viewid = $context.getRequestParameter("viewid"))
#set( $assettype = $context.getRequestParameter("assettype") )

#if( !$assettype )
	#set( $assettype = "default" )
#end
#set( $module = $context.findValue("module") )
#set( $viewpath = $context.getRequestParameter("viewpath") )
#set($searcher = $searcherManager.getSearcher($catalogid, $module))

#set( $viewsroot = $content.viewsroot )


<ul  viewid="$viewid" catalogid="$catalogid" searchtype="$module" assettype="$assettype" viewpath="$viewpath" path="$home$viewsroot/movefields.html">

	
#if( $viewid )

	#set($view = $searcherManager.getData("$catalogid", "view", $viewid))
	
	<li class="header no-sort" style="height: 16px;">
	    <span id="name">$view</span> 
	    
	    #set ( $systemdefined = "false" )
        #set ( $systemdefined = $context.findValue("systemdefined") )
	    
	    #if ( $systemdefined == "false" )
	    <a id="editname" style="color: #fff; opacity: 0.75; font-size: 10px; margin-left: 5px; cursor: pointer;">Edit Name</a>
	
	    <form style="display: none; float: left; margin-top: -1px;" id="changename" name="newgroup" action="$home$viewsroot/changeviewname.html">
            <input class="field" style="margin:-6px 0; padding: 4px 5px; border-radius: 3px; border: 1px solid #15566B; width: 200px; font-size: 12px;" name="newname" value="$view" >
            <input class="btn" style="margin: -6px 0 -6px 3px; position: relative; top: -1px; padding: 4px 8px 5px 8px" type="submit" value="Save" />
        </form>
        
       
        
        <script>
            $('#editname').click(function(){
                $('#name').hide();
                $('#changename').show();
                $('#editname').hide();
            })
            
        </script>
	     #end
	#if($view.byassettype == "true" )
	
	
	
	<span style="float: right;">[[Asset Type]]: 
	#set($current = $context.getRequestParameter("assettype")) 
	#set($assettypesearcher = $searcherManager.getSearcher($catalogid, "assettype"))
	
	<select style="margin: 0 0 20px 0;" id="assettype" name="assettype" onchange='loadViewsByAssetType(this.value,"$viewid")'>
			<option value="default" >Default</option>
				#foreach($item in $assettypesearcher.fieldSearch("id","*","textUp"))
					<option #if($current == $item.id) selected #end value="$item.id">$item</option>
				#end
			</select>
	#end	
	</span>
	</li>
				
	<li class="no-sort add-to">
	    <a href="$home$apphome/views/settings/lists/datamanager/properties/index.html?&searchtype=$module">Add New</a>
	    <form name="addtoview" id="addtoview" action="addtoview.html">
            <input type="hidden" name="catalogid" value="$!catalogid"/>
            <input type="hidden" name="searchtype" value="$module"/>
            <input type="hidden" name="assettype" value="$assettype"/>
            <input type="hidden" name="viewid" value="$viewid"/>
            <input type="hidden" name="viewpath" value="$viewpath"/>

            <select name="newone" style="float: right; margin-top: -17px;" onchange="jQuery('#addtoview').submit()">
                <option value=""> </option>
                #foreach( $detail in $searcher.getUserPropertyDetails() )
                    <option value="$detail.id">$detail.text</option>
                #end
            </select>
        </form>
	</li>
#end

			#set($details = false)
			#set($details =  $searcher.getDetailsForView($viewpath, $user))
			#foreach( $element in $details)
				#set( $pid = $element.id)
				<li class="rowdraggable metadatadroppable" id="$pid" ><span class="drag-and-drop"></span>
					<a href="$home$apphome/views/settings/lists/datamanager/properties/edit.html?id=$pid&searchtype=$module">$element.getText($context)<span class="type-of-field">#if( $element.getDataType() ) $element.getDataType() #else textbox #end<span></a>
					
					<a class="ajax delete-row" targetdiv="" href="./removefromview.html?searchtype=$module&toremove=$pid&assettype=$assettype&viewid=$viewid&viewpath=$viewpath"></a>
				</li>
			#end		
		
</ul>

