#set($viewid = $context.getRequestParameter("viewid"))
#set( $assettype = $context.getRequestParameter("assettype") )

#if( !$assettype )
	#set( $assettype = "default" )
#end

#set( $viewpath = $context.getRequestParameter("viewpath") )
#set($searcher = $searcherManager.getSearcher($catalogid, "asset"))
<ul>
	<li class="header no-sort">Fields
	#if( $viewid )

	#set($view = $searcherManager.getData("$catalogid", "assetview", $viewid))
	#if($view.byassettype == "true" )
	
	<span style="float: right;">[[Asset Type]]: 
	#set($current = $context.getRequestParameter("assettype")) 
	#set($assettypesearcher = $searcherManager.getSearcher($catalogid, "assettype"))
	
	<select style="margin: 0 0 20px 0;" id="assettype" name="assettype" onchange="loadViews()">
			<option value="default" >Default</option>
				#foreach($item in $assettypesearcher.fieldSearch("id","*","textUp"))
					<option #if($current == $item.id) selected #end value="$item.id">$item</option>
				#end
			</select>
	#end	
	</span>
#end
	</li>
				
	<li class="no-sort"><a href="#">Add New</a></li>
			#set($details = false)
			#set($details =  $searcher.getDetailsForView($viewpath, $user))
			
			#foreach( $element in $details)
				#set( $pid = $element.id)
				<li><span class="drag-and-drop rowdraggable metadatadroppable" id="$pid" viewid="$viewid" catalogid=$catalogid" searchtype="asset" assettype="$assettype" viewpath="$viewpath"></span>
					<a href="#">$element.getText($context)<span class="type-of-field">#if( $element.getDataType() ) $element.getDataType() #else textbox #end<span></a>
					
					<a class="ajax delete-row" targetdiv="" href="./removefromview.html?searchtype=asset&toremove=$pid&assettype=$assettype&viewid=$viewid&viewpath=$viewpath"></a>
				</li>
			#end		
<!-- 
				<li><span class="drag-and-drop"></span><a href="#">First Name<span class="type-of-field">(Textbox)<span></a><a class="ajax delete-row" targetdiv="" href=""></a></li>
				<li><span class="drag-and-drop"></span><a href="#">Last Name<span class="type-of-field">(Textbox)<span></a><a class="ajax delete-row" targetdiv="" href=""></a></li>
				<li><span class="drag-and-drop"></span><a href="#">Email<span class="type-of-field">(Textbox)<span></a><a class="ajax delete-row" targetdiv="" href=""></a></li>
				<li><span class="drag-and-drop"></span><a href="#">Phone<span class="type-of-field">(Phone Number)<span></a><a class="ajax delete-row" targetdiv="" href=""></a></li>
				<li><span class="drag-and-drop"></span><a href="#">Company<span class="type-of-field">(Linked)<span></a><a class="ajax delete-row" targetdiv="" href=""></a></li>
				<li><span class="drag-and-drop"></span><a href="#">First Name<span class="type-of-field">(Textbox)<span></a><a class="ajax delete-row" targetdiv="" href=""></a></li>
				<li><span class="drag-and-drop"></span><a href="#">Last Name<span class="type-of-field">(Textbox)<span></a><a class="ajax delete-row" targetdiv="" href=""></a></li>
				<li><span class="drag-and-drop"></span><a href="#">Email<span class="type-of-field">(Textbox)<span></a><a class="ajax delete-row" targetdiv="" href=""></a></li>
				<li><span class="drag-and-drop"></span><a href="#">Phone<span class="type-of-field">(Phone Number)<span></a><a class="ajax delete-row" targetdiv="" href=""></a></li>
				<li><span class="drag-and-drop"></span><a href="#">Company<span class="type-of-field">(Linked)<span></a><a class="ajax delete-row" targetdiv="" href=""></a></li>
	 -->			
</ul>
