
<form name="adder" id="libadder" class="ajaxform  validate-inputs" targetdiv="left-col-libraries" action="$home$apphome/components/libraries/addlibraryfinish.html">


<input type="hidden" name="save" value="true" />
<input type="hidden" name="searchtype" value="library" />

$context.putPageValue("searcher",$searcherManager.getSearcher($catalogid,"library") )	
$context.putPageValue("view","library/librarygeneral")	
$pages.include("/$applicationid/components/xml/detaileditorcss.html", $context)

</form>
