#if( $canasseteditorlibraries)
<div id="collectionpickerinner" >
	#set( $searcher = $mediaarchive.getSearcher("librarycollection") )
	$context.putPageValue("searcher",$searcher)
	<form  class="ajaxform"  data-targetdiv="collectionpicker" action="$home$apphome/components/libraries/pickcollection.html">
		<table class="inlinesearch" >
			<tr>
				<td id="${detail.id}editspace" style="padding-right:20px;">
					#set( $detail = $searcher.getDetail("library"))
					#set( $selectedlibrary = $context.getRequestParameter("selectedlibrary"))
					#if($selectedlibrary)
						#set($foundrow = $mediaarchive.getData("library",$selectedlibrary))
					#end
					<select id="list-libraryvalue" name="selectedlibrary"  class="listautocomplete selectautosubmit" 
						data-searchfield="name" data-searchtype="library" data-placeholder="$detail.getText($context)" data-sortby="name">
					#if( $foundrow )
					  <option value="$foundrow.getId()" selected="selected">#esc($foundrow.getName($context.locale))</option>
					#end
					</select>
				</td>	
				<td id="${detail.id}editspace" style="padding-right:20px;">
				#set( $detail = $searcher.getDetail("name"))
				<select name="${detailid}.value"  class="listautocomplete" data-searchfield="name" data-searchtype="librarycollection" data-foreignkeyid="library" 
					data-placeholder="$detail.getText($context)" data-sortby="name">
				#if( $foundrow )
				  <option value="$!val" selected="selected">#esc($label)</option>
				#end
				</select>
				</td>	
			</tr>
		</table>	
	</form>
	
</div>
#end