#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $action = "$home$apphome/views/modules/librarycollection/createcollection.html")
	
<form name="adder" id="adder" class="validate-inputs force-validate-inputs" action="$action">
<input type="hidden" name="save" value="true" />
<input type="hidden" name="searchtype" value="$searchtype" />
<input type="hidden" name="field" value="owner" />
<input type="hidden" name="owner.value" value="$!user.getId()" />

#set( $data = $context.getData())
$context.putPageValue("data",$data)

<input type="hidden" name="field" value="rootcategory" />
<input type="hidden" name="rootcategory.value" value="$!data.rootcategory" />

<input type="hidden" name="collectionroot" value="$home$apphome/views/upload/create/createnewstart.html" />


$context.putPageValue("searcher",$searcherManager.getSearcher($catalogid,$searchtype) )	
$context.putPageValue("view","${searchtype}/${searchtype}addnew")	
$pages.include("/$applicationid/components/xml/detaileditorcss.html", $context)

</form>
