#if ( $canviewlibrarysearch &&  !$userprofile.getCombinedLibraries().isEmpty() )
<div class="ui-widget uipanel" id="left-col-search" >
	<div class="ui-widget-header">[[My Projects]]</div>
<div  class="ui-widget-content">
		<ul class="sidebar-list">
	#set($selected = false )
	#set($selected = $hits.getInput("libraries") )
    	#foreach($libraryid in $userprofile.getCombinedLibraries() )
    		 #set( $library = $searcherManager.getData($catalogid,"library",$libraryid ) )
    		 #set( $division = $searcherManager.getData($catalogid,"division",$library.division ) )
    		#if($library)
    		<li class="#if( $selected && $selected == $library.id) currentsubtle #end librarydroparea" data-libraryid="$library.id"> 
    				<a  href="$home$apphome/views/modules/library/libraryassets/index.html?id=$library.id">#if($division) $!division / #end $library</a>
    		</li>		
    		#end
    	#end
    	</ul>
</div>
</div>
#end



