#set($assettype = $context.getRequestParameter("assettype"))
#if($assettype)
#set($views = $searcherManager.getList("$catalogid", "assettype/views"))
#set($searcher = $mediaarchive.getAssetSearcher()) 
#foreach( $target in $views)
<div class="em-rounded" style="margin-bottom: 10px;">
<h2>$target</h2>
<div id="editlayout">

<table >
#set($details = "")
#set($details =  $searcher.getDetailsForView("asset/assettype/${assettype}/$target.id", $user))

#foreach( $element in $details)
#set( $pid = $element.id)
<tr>
 <td>$!element.text - <b>$pid</b></td> 
 <td><form name="editrow"  method="post" action="removefromview.html?catalogid=$catalogid&searchtype=asset&view=assettype/${assettype}/$target.id">
 <input type="hidden" name="toremove"  value="$pid" />
 <input type="hidden" name="assettype" value="$assettype"/>
 <input type="submit" name="remove" value="remove"/>
 </form>
 </td> 
</tr>
#end
</table>
 
</div>




<br><br><br>


<form name="addtoview" id="addtoview" action="addtoview.html">
<input type="hidden" name="catalogid" value="$!catalogid"/>
<input type="hidden" name="searchtype" value="asset"/>
<input type="hidden" name="assettype" value="$assettype"/>
<input type="hidden" name="view" value="assettype/${assettype}/$target.id"/>

[[Add New Property]]:
<select name="newone">
#foreach( $detail in $searcher.getPropertyDetails())
 
 <option value="$detail.id">$detail.text</option>
 
#end
</select>

<input type="submit" value="[[Add]]"/>
</form>




</div>


#set($details = "")
#end

	


#else
Please select an Asset Type
#end