#set( $manager = $moduleManager.getBean($catalogid,"projectManager") )
#set( $collections = $manager.loadRecentCollections($context))
#foreach( $collection in $collections )
<div class="panel panel-default" style="margin: 0px auto 20px auto;">
					#set( $collectionassets = $manager.loadAssetsInCollection($context,$mediaarchive, $collection.getCollection().getId() ) )
					$!collectionassets.setHitsPerPage(15)

	<div class="panel-header" style="padding: 8px 8px 2px 8px">
		<table width="100%">
		<tr>
		<td class="panel-title" >
				<span style="font-size: 1.2em;" >$collection.getCollection() </span>  
			<span style="font-size: .7em; font-style:italic;"> collection edited by <a href="">Donnie Masterton</a> </span>
		</td>
		
		<td align="right"><a class="btn btn-primary" style="padding: 5px; background-color:#234;" href="">View Assets ($collectionassets.size())</a></td>
		</tr>
		</table>
	</div>
	
	<div class="panel-body" style="padding:0px;margin:0px auto;background: #181818;">
		<div class="media-carousel" style="position: relative;">
			<a class="prevpage" href="#previous"></a>
			<div class="carousel-window">
				<ul>
					#foreach( $hit in $collectionassets.getPageOfHits())
					<li class="clearfix"><a id="thumb${hit.id}}" class="thumb">
							<img src="$home$apphome/views/modules/asset/downloads/preview/thumb/${hit.sourcepath}/thumb.jpg" />
					</a></li> 
					#end
				</ul>
			</div>
			<a class="nextpage" href="#next"></a>
	</div>
	</div>
	<div class="panel-footer">
		 Library $searcherManager.getData( $catalogid, "library",$collection.getCollection().library) <span style="font-size: .7em; font-style:italic;">edited on October 16 at 10:46pm</span> 
	</div>
</div>

#end