#set ($pagenum = $context.findValue("pagenum") )
#if ( $pagenum ) 
	#set($pagenum = $numberutils.toInt($pagenum))
#else
    #set ( $pagenum = 1)
#end
#set($totalpages = $numberutils.toInt($asset.pages))
    
    ##TODO Move this to ./player/types/documentpages.html
    #if( $totalpages > 1 )
    $pages.include("$apphome/components/mediaviewer/player/pages.html",$context)
    #end
    
  
<div id="media-player" class="#if( $totalpages > 1 ) document #end">

    <div id="mp-player">
        <div id="mp-asset-title">
        	#set(  $tostring = $asset.toString($context))
        	<span class="name" title="$tostring">$tostring</span> 


        	#if( $totalpages > 1 ) <span class="pagenum">([[Page]] $pagenum of $totalpages)</span> #end
        	</div>
    	#if( !$asset.importstatus || $asset.importstatus != "complete" )
    		$pages.include("$apphome/components/convertqueue/importstatusplayer.html?assetid=${asset.id}",$context)
    	#else
    		$pages.include("$apphome/components/mediaviewer/player/player.html",$context)
    	#end
    	<div id="mp-asset-info"  class="row">
    
    	
	    	#if ( $canviewvoting )
			    <div id="assetVoteCount" class="col-sm-6">
			        $pages.include("$apphome/views/modules/asset/editor/voting/index.html", $context)
			    </div>
			#end
				
    		<div class="col-sm-6">
    	    #set( $views = $mediaarchive.getAssetStatsManager().getViewsForAsset($asset))
    	    #if ($attachmentcount && $attachmentcount.size() > 1)
    	   <a href="$home$apphome/views/modules/asset/editor/attachments/index.html?assetid=$asset.id&hitssessionid=#esc($hitssessionid)" class="attachments">$attachmentcount.size()<span>&nbsp;</span></a>
    	   #end
           #if($canviewassetpreviewhistory)
	   <a href="$home$apphome/views/modules/asset/editor/historypreviews/index.html?assetid=$asset.id&hitssessionid=#esc($hitssessionid)" class="views">$views <i class="glyphicon glyphicon-eye-open"></i></a>
#end
            #if($canviewcomments)
            <a href="$home$apphome/views/modules/asset/editor/comment/index.html?assetid=$asset.id&sourcepath=$asset.sourcepath&hitssessionid=#esc($hitssessionid)" class="comments">$comments.size() <i class="glyphicon glyphicon-comment"></i></a>
            #end
                <a class="stackedplayer" data-assetid="${asset.id}" href="#" >
            	<span class="glyphicon glyphicon-fullscreen" style="color: #fff;"> </span>
            </a> 
            </div>
        </div>
    </div>
</div>

