

<div id="media-player" class="clearfix" style="padding: 0;">
    <a id="mp-minmax" class="min ajax ir" style="margin-top: 15px" targetdivinner="media-player" href="$home$apphome/components/mediaviewer/player/index.html?assetid=$asset.id&hitssessionid=$hitssessionid&oemaxlevel=1"></a>
    
        <div id="default-top" style="border-bottom: none;">
            <div class="thumbnail">
                #set( $type = $mediaarchive.getMediaRenderType($asset.fileformat))
                #if( !$thumbsize )
                    #set( $thumbsize  = "thumb" )
                #end
                $pages.include("$home$apphome/components/results/thumbnails/${type}.html", $context) 
            </div>
            
            <div class="main-info">
                <div class="primary">
                    $asset
                </div>
                <div class="secondary">
                    <div id="mp-asset-info">
                        
                        #set( $views = $mediaarchive.getAssetStatsManager().getViewsForAsset($asset))
                        <a href="$home$apphome/views/modules/asset/editor/historypreviews/index.html?assetid=$asset.id&hitssessionid=$hitsessionid" class="views">$views<span class="">&nbsp;</span></a>
                        
                        #set ($comments = $commentArchive.loadComments("/WEB-INF/data/$catalogid/comments/$sourcepath"))
                        <a style="margin-right: 0;" href="#" class="comments">$comments.size()<span>&nbsp;</span></a>
                        
                        <!-- a href="$home$apphome/views/modules/asset/editor/attachments/index.html?assetid=$asset.id&hitsessionid=$hitsessionid" class="attachments">19<span>&nbsp;</span></a -->
                   
                    </div>
                </div>
                <div class="asset-details-more">
                    <p style="line-height: 25px; text-align: left; color: #fff;">
                        <strong>Categories</strong><br/>
                        #foreach ($category in $asset.categories)
                            <a href="$home$apphome/views/search/category.html?categoryid=${category.id}">$category.name</a> 
                        #end
                    </p>
                </p>
            </div>
        </div>
</div>

<script>
    $('#mp-player img').load(function(){
        var $wimg = $('#mp-player img').width();
        $('#mp-player').width($wimg);
        $('#mp-asset-title').show();
        $('#mp-asset-info').show();
    });
</script>