#set($totalpages = $numberutils.toInt($asset.pages))
#set ($pagenum = $context.findValue("pagenum") )
#if ( $pagenum ) 
	#set($pagenum = $numberutils.toInt($pagenum))
#else
    #set ( $pagenum = 1)
#end
#set ($currentfive = $pagenum / 5 )

    <div id="pdf-thumbnail-sidebar">
                <ul>
                <li id="prevfive">
                #if ($currentfive > 0 )
                    #set( $prevfive = $currentfive - 5)
                   <a href="index.html?assetid=${asset.getId()}&pagenum=$prevfive&currentfive=$prevfive&hitssessionid=$hitssessionid"> << [[Previous Five]] </a>
                #end
                </li>
                    
                #foreach( $page in [0..4])
                	<li class="#if ( $page == $currentpreview ) current #end">
                        #set( $page = $currentfive + $page + 1)
                        <a href="$home$apphome/views/modules/asset/editor/viewer/index.html?assetid=${asset.getId()}&pagenum=$page&hitssessionid=$hitssessionid">
                            <div class="emdropshadow">
       							<img class="emdropshadow" src="$home/${applicationid}/views/modules/asset/downloads/preview/documentcrop/${asset.sourcepath}/preview.jpg?pagenum=$page" />
       						</div>	
                            <p><span>$page</span></p>
                        </a>
                    </li>
                #end
                <li id="nextfive">
                #if ( $totalpages < $currentfive + 5)
                    #set( $nextthumb = $currentfive + 5)
                        <a href="index.html?assetid=${asset.getId()}&pagenum=$nextthumb&currentfive=$nextthumb&hitssessionid=$hitssessionid"> [[Next Five]] >> </a>
                #end
                </li>
            </ul>
         </div>