/** Custom theme styles */
@import url("baseem.css");


body {
    font: small/1.231 helvetica,arial,clean,sans-serif;
}

#emcontainer  .emselectmenu ul 
{
	list-style: none;
	white-space: nowrap;
	padding:0px;
}

#emcontainer  .emselectmenu ul li a 
{
	display: block;
	text-decoration: none;
	text-align: left;
	padding: 2px 0px 0px 10px;
}

#emcontainer  .emselectmenu  ul li a:hover 
{
	background-color: #fff;
}

  #emcontainer  .emselectmenu  .active
  {
	background-color: #fff;
    font-weight: bold;
  }

  #emcontainer  .emselectmenu  a span
  {
	color: #036;
  }
