#set ($groupSearcher = $searcherManager.getSearcher($catalogid, "settingsgroup"))
#set ($permissiontype = $context.findValue("permissiontype"))
#if (!$data)
	#set($groupid = $context.getRequestParameter("settingsgroupid"))
	#if($groupid)
		#set ($data = $groupSearcher.searchById($groupid))
	#end
#end
#if ($data)
<form method="post" action="$home$apphome/views/settings/users/permissions/views/save.html">
	<input type="hidden" name="id" value="$!data.id"/>
	<input type="hidden" name="save" value="true"/>
	<input type="hidden" name="view" value="settings/settinggroupedit" />
	<input type="hidden" name="searchtype" value="$groupSearcher.getSearchType()"/>
	<input type="hidden" name="settingsgroupid" value="$data.id" />
	<input type="hidden" name="field" value="permissions"/>
	
	$context.putPageValue("searcher", $groupSearcher)	 
	$context.putPageValue("view", "settings/settinggroupedit")
	$context.putPageValue("data", $data)	

	#set($permissionsearcher = $searcherManager.getSearcher($catalogid, "permissionsapp"))
	<div class="list-adder" id="permission-role">
	$pages.include("/${applicationid}/components/xml/detaileditor.html", $context)
	</div>
    
	<input type="hidden" name="field" value="profilesearchfilters" />
	<input type="hidden" name="profilesearchfilters.value" value="hideassettype" />
	<div>

        #if ( !$permissiontype )
           #set ( $permissiontype = "*" )
        #end
        
	    #set( $hits = $permissionsearcher.query().match("permissiontype",$permissiontype).sort("permissiontype").sort("ordering").search() )
    	<table class="table table-striped emdata settings-table">	
	    
	    #set( $section = "none")
    	#foreach($item in $hits )
        		#set($val = false )
        		
        		#set($val = $data.getValues("permissions").contains($item.id))
        		#if( $section != $item.permissiontype )
        			<tr class="sectionlevel $item.permissiontype togglesection">
        			<td colspan="3" style="height: 35px; line-height: 35px;">
        				$searcherManager.getData($catalogid,"permissiontype",$item.permissiontype)
        			</td>
        			</tr>
        		#set( $section = $item.permissiontype)
        		#end
        		<tr class="$item.permissiontype togglesection">
        		<td valign="middle" style="text-align: center; width: 35px;">
        		<input class="permission-radio" type="checkbox" name="permissions.value" value="$item.id" id="checkbox-$item.id" #if($val == "true" || $val == "full") checked #end/>
        		</td>
        		<td valign="middle"><label for="checkbox-$item.id" style="padding:5px 0 1px 0;">$context.getText($item.getName())</label></td>
        		<td class="caption">$!item.caption</td>
        			
        		</tr>
    	#end
    	</table>
    </div>
	<input class="btn btn-sm btn-primary small" type="submit" value="[[Save]]"/>
<a class="btn btn-sm btn-wargning red"  href="$home$apphome/views/settings/users/permissions/views/delete.html?id=$groupid" onclick="return confirm('[[Are you sure you want to delete the security group]] $data.name')">[[Delete]]</a>
	
</form>

<script type="text/javascript">
jQuery(".permission-radio").bind("click", function () {
	var val = jQuery(this).val();
	
	if(val == "partial"){
		jQuery(this).parent().find(".sub-list").show();
	}
	else {
		jQuery(this).parent().find(".sub-list").hide();
	}
});
</script>

#else
[[Please select a Security Group]]
#end