  #set( $smallthumb = "$home${apphome}/views/modules/asset/downloads/preview/medium/${asset.sourcepath}/thumb.jpg" )
 
 <table><tr><td>
 
 <div id="imagerounder" style="background:url('$smallthumb') no-repeat;">
 	
 
 </div>
   
 </td><td>
   
 <div >  
 
 <a class="btn" style="float:right;" href="./buy.html">Add to Cart</a>
 
 <h1 style="float:left;">  $asset.assettitle <h1>
 
 <br><br>

 <h2>   $asset.headline<h2>
   
   <h3> $asset.longcaption<h3>
   
  
 <h4>   $asset.mfrprice<h5>

  </div> 
  
  </td></tr></table>