#set($productid = $context.getRequestParameter("productid"))
#set($cpid = $context.getRequestParameter("cp"))
#set($productsearcher = $mediaarchive.getSearcher("product"))
#set($product = $productsearcher.searchById($context.getRequestParameter("productid")))
#set($productasset = $mediaarchive.getAsset($product.image)) 
#set( $smallthumb = "$home${apphome}/views/modules/asset/downloads/preview/medium/${productasset.sourcepath}/thumb.jpg" )


	
 
 <div class="row-fluid cuepoint-actions" >

<div class="btn-group productclosebutton" >
 <button class="btn btn-danger "><i class="icon-remove icon-white"></i> </button>
 </div>

 							#if($canmanagevideos)					

<div class="span1 offset9">
 
 <div class="btn-group">
 
 
 
  <button class="btn btn-danger"> <i class="icon-cog icon-white"></i> </button>
  <button class="btn  btn-danger dropdown-toggle " data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">

<li>
										<a href="#" data-remote="$apphome/components/dialogedit/edit.html?oemaxlevel=1&id=$product.id&searchtype=product&viewpath=product/productproduct_details" data-target="#editmodal" data-toggle="modal"  >Edit Product</a>
        										<a href="#" data-remote="$apphome/components/dialogedit/delete.html?oemaxlevel=1&id=$cpid&searchtype=cueproducts&viewpath=product/productproduct_details" data-target="#editmodal" data-toggle="modal"  >Delete Product</a>
        
</li>
  </ul>
</div>
 </div>
#end 
 </div>

										<div class="row-fluid view">
										
										
										
																						
										
											<div class="span6 thumbnail">
															<img src="$smallthumb"/>
											</div>
										 <!-- 
											<div class="span3 thumbnail">
															<img src="img/img3.png"/>
											</div>
											<div class="span3 thumbnail">
															<img src="img/img3.png"/>
											</div>
										 -->
											 
										</div>
										<div class="row-fluid brand">
											<ul class="span11 pull-right">
												<li>
													<h5 class="span12">$product.name</h5>
													<p>
$!product.descrip													</p>
												</li>
											</ul>
										</div>
										<div class="row-fluid span12 price">
											<span class="span2"></span>
											<span class="span8 pull-left"><b>$!product.price</b></span>
											<span class="span2"></span>
										</div>
										<div class="row-fluid span12 buy">
											<span class="span2 addtocart" data-productid="$product.id">
											<a href="#" class="addtocart cartimage2 #if($cart.findProduct($product.id)) active #end" data-productid="$product.id"></a>	
											</span>
											<span class="span3 pull-left highlight addtocart" style="color:red;"  data-productid="$product.id">Buy</span>
											<span class="span1"><img class="pull-left" src="$home$apphome/views/facebook/img/like_3.png"></span>
										</div>
										<div class="row-fluid span12 share">
										
											<span class="span2"><img class="pull-left" src="$home$apphome/views/facebook/img/share.png"/></span>
										
											<span class="span3 pull-left">Share</span>
										
											#set($sharelink = "$context.siteRoot$apphome/views/facebook/details/productdetails.html?productid=${productid}&cp=${cpid}" )
											#set($sharelink = "#uuencode($sharelink)" )
											<a href="http://www.facebook.com/sharer/sharer.php?u=$sharelink" class="productlink-tray fblike" target="_blank" ></a>	
											<a href="https://twitter.com/intent/tweet?original_referer=$sharelink&text=$product.name&url=$sharelink" target="_blank"  class="productlink-tray twitter"></a>	
						
								
										</div>
