<html>

	<body>
		<script src="../../../mediadb/components/javascript/jquery-1.11.1.js"/>
		<script>
				var app = $("#application");
				console.log(app);
	// scope.add("home" ,scope.app.data("home") );
	// scope.add("apphome" , scope.app.data("apphome") );
		</script>
		<script src="../../../mediadb/components/javascript/mediadb.js"/>

		<script>

		var scope = new Scope();
		var gallery = new Gallery(scope);
		gallery.setCollectionId(getParam("collectionid"));
		gallery.setUserKey(getParam("entermediakey"));
		gallery.setMediaDbUrl("$context.siteRoot/mediadb");

		scope.add("gallery", gallery);

		var Gallery = function()
		{
			var out = {
				collectionId: null,
				mediaDbUrl: null,
				userKey: null
			}
			out.getPlayerHtml = function(type, asset) 
				{
					"another get request for the player html";
				};
			out.setUserKey = function(key)	
				{
					this.userKey = key; // nothing fancy at the moment
				};
			out.setCollectionId = function(id)
				{
					this.collectionId = id; // nothing fancy
				};
			out.getAssets = function()
				{
					var outAssets = [];
					$.get(scope.apphome + "/components/annotations/json/viewassets.json?id=" + scope.collectionid, function(data)
					{
						// get asset data off data object and build outAssets
						outAssets = JSON.parse(data);
					});
					return outAssets;
				};
			out.setMediaDbUrl = function(inUrl)
				{
					this.mediaDbUrl = inUrl; // nothing fancy
				}
			return out;
		}



		function getParam(name){
			   if(name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
			      return decodeURIComponent(name[1]);
			}
	</script>


		<ul>
			<li ng-repeat="asset in gallery.getAssets()">

				<b>{{asset.name}}</b>	{{gallery.getPlayerHtml(asset)}}

			</li>

	</ul>


	</body>


</html>