

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.asset {
  margin: 0;
  padding: 0;
}

.assets .asset {
  display: block;
  float: left;
  margin: 20px 20px 0 0;
  padding: 0;
}

.nav-sidebar {
  margin-bottom: 0;
}

.nav-sidebar > li > .nav-sidebar > li > a {
  padding-left: 60px;
}

/* body {
    padding: 10px !important;
}
.main {
    padding-top: 70px;
} */
