#set( $nodeID = $context.getRequestParameter("nodeID"))
#set( $searcher = $mediaarchive.getSearcher("category") )
#set( $results = $searcher.query().exact("parents",$nodeID).sort("categorypathUp").search($context) )
$context.putPageValue("hits",$results)
$context.putPageValue("searcher",$searcher)
#set ($details = $searcher.getDetailsForView("category/searchcategory", $userprofile))
	<form id="autosubmitfilter" name="autosubmitfilter" class="autosubmit" autocomplete="off"  data-targetdiv="categoryresults" action="$home$apphome/components/categories/search/searchpath.html">
		<input type="hidden" name="searchtype" value="category" />
		<input type="hidden" name="sortby" value="categorypathUp" />
		<input type="hidden" name="field" value="parents" />
		<input type="hidden" name="operation" value="exact" />
		<input type="hidden" name="parents.value" id="parentfilter" value="$nodeID" />
		<table class="inlinesearch" style="margin:0 4px 10px;width:100%;" >
			<tr>
			#foreach( $detail in $details)
				<td>
					$context.putPageValue("detail", $detail)
					$pages.include("/${applicationid}/components/advancedsearch/detaileditinline.html", $context)
				</td>	
			#end
			</tr>
		</table>
	</form>


	<form class="pickedcategoryform emmultivalue" action="$home$apphome/views/categories/index.html">
		<div id="categoryresults">
			$pages.include("./searchpath.html", $context)
		</div>
		<input name="categoryid" class="emselectedrow" type="hidden" id="selectedcategories" value="$!selectedcategories" />
		<input name="nodeID" class="emselectedrow" type="hidden" />
	</form>

