#set( $searcher = $mediaarchive.getSearcher("librarycollection") )
$context.putPageValue("searcher",$searcher)

<div id="collectionshomeform-container" class="collectionshomeform-container">


	#if( $hits.isEmpty() )
		<h2>No featured collections</h2>
	#else	
	<div class="collectionshome">
		<div class="collectionshome-header">

##			<div style="float:right;">[[Filter By Library]]:
##			<select name="${detail.getId()}.value" style=""> 
##			<option value=""></option>
##			#foreach( $libraryid in $searcherManager.getList($catalogid,"library") )
##				#set( $library = $searcherManager.getData($catalogid,"library",$libraryid))
##				<option value="$libraryid" #if($val && $libraryid == $val) selected #end>$library</option>
##			#end
##			</select>
##			</div>
			
			<h3 class="text-center">[[All Collections]]</h3>
			
		</div>
		<div id="emresultscontent" class="collectionshomeresults">		
	$pages.include("${apphome}/views/collections/pages.html", $context)
			<div class="clearfix"></div>
			$context.putPageValue("hits",$hits)
			$pages.include("${apphome}/components/collections/cards.html", $context)
			
		</div>
	</div>
	#end
</div>