#set( $searcher = $mediaarchive.getSearcher("librarycollection") )
$context.putPageValue("searcher",$searcher)

<div class="collectionshomeform-container">

	
	#set( $feturedhits = $mediaarchive.query("librarycollection").exact("featuredcollection", "true").enduser(true).sort("name").search($context) )
	#if( !$feturedhits.isEmpty() )
	<div class="collectionshome">
	
		<div class="collectionshome-header">
			<h3 class="text-center">[[Featured Collections]]</h3>
			
		</div>
		<div id="" class="collectionshomeresults">		
			$context.putPageValue("hits",$feturedhits)
			$pages.include("${apphome}/components/collections/cards.html", $context)
		</div>
	</div>
	#end

</div>


