#set( $searcher = $mediaarchive.getSearcher("librarycollection") )
$context.putPageValue("searcher",$searcher)

<div class="collectionshomeform-container">

	#if( !$likedcollections.isEmpty() )
	<div class="collectionshome">
	
		<div class="collectionshome-header">
			<h3 class="text-center">[[Saved Collections]]</h3>
			
		</div>
		<div id="" class="collectionshomeresults">		
			$context.putPageValue("hits",$likedcollections)
			$pages.include("${apphome}/components/collections/cards.html", $context)
		</div>
	</div>
	#end

</div>


