#set ( $username = $request.getParameter( 'username' ) )

<div id="default-top" class="clearfix">
    
    
    <div class="main-info" style="padding-bottom: 30px;">
        <div class="primary">
            [[Reset your Password]]
        </div>
        <div class="secondary">
            [[Update your password information]]
        </div>
    </div>
    
    
</div>
<div id="resultslist">
    <div id="default-fields" style="padding:20px">
<form method="post" name="wizard" action="$home$apphome/views/myaccount/setuserpassword-finish.html">
 <input type="hidden" name="userid" value="$user.id"/>
<table width="50%" class="table table-striped" cellspacing="0" cellpadding="0">


		                  
<tr>
		                    
<td class="oedivided-box-blue" style="width:200px; padding:10px;">[[Password]]:</td>
<td><input type="password" name="password" class="form-control"></td>

<input type="hidden" name="username" value="$user.id"/> ## so the page loads after we save
		                  
</tr>
		                  
<tr>
		                    
<td class="oedivided-box-blue" style="width:200px; padding:10px;">[[Retype Password]]:</td>
<td><input type="password" name="retypedPassword"  class="form-control"></td>
		                  
</tr>
	
</table>
		               	               

<input class="btn btn-sm btn-primary" style="margin-right:10px" value="[[Save]]" type="submit">
<input class="btn btn-sm btn-secondary" style="" onclick="doOnCancel();" value="[[Cancel]]" name="[[CANCEL]]" type="button" class="oestandard-button">
</div>
</div>
</form>

<script type="text/javascript">
	function doOnCancel(){
		if (history.length <= 1){
			var location = "$home/$applicationid/authentication/login.html";
			window.location.href = location;
		}else{
			history.go(-1);
		}
		return false;
	}
</script>
  