#set ($groupSearcher = $searcherManager.getSearcher($catalogid, "settingsgroup"))

#if (!$data)
	#set($groupid = $context.getRequestParameter("settingsgroupid"))
	#if($groupid)
		#set ($data = $groupSearcher.searchById($groupid))
	#end
#end
#if ($data)

<form method="post" action="./save.html">
	<input type="hidden" name="id" value="$data.id"/>
	<input type="hidden" name="save" value="true"/>
	<input type="hidden" name="searchtype" value="$groupSearcher.getSearchType()"/>
	
	$context.putPageValue("searcher", $groupSearcher)	 
	$context.putPageValue("view", "settings/settinggroupedit")
	$context.putPageValue("data", $data)	
	

	
	#set($securitylistsearcher = $searcherManager.getSearcher($catalogid, "permission"))
	#set($childlistsearcher = $searcherManager.getSearcher($catalogid, "permissionchild"))
	$pages.include("/${applicationid}/components/xml/detaileditor.html", $context)
	
	#foreach($item in $securitylistsearcher.getAllHits())
	#set($val = $data.get($item.id))
		
		<input type="hidden" name="field" value="$item.id"/>
		<ul>
		<li>$item  <input class="permission-radio" type="radio" name="${item.id}.value" value="full" #if($val == "full") checked #end/> Full  <input  class="permission-radio" type="radio" name="${item.id}.value" value="partial"  #if($val == "partial") checked #end/> Partial <input class="permission-radio" type="radio" name="${item.id}.value" value="none"  #if($val == "none") checked #end/> None
			<ul class="sub-list" style="list-style:none; #if($val != "partial")display: none;#end" >
		#set($children = $childlistsearcher.fieldSearch("permission", $item.id))
			#foreach($child in $children)
				<input type="hidden" name="field" value="${child.id}"/>
				
				<li><input type="checkbox" name="${child.id}.value" value="true" #if($data.get($child.id) == "true") checked #end />$child</li>
			#end
			</ul>
		</li>
		</ul>
	
	#end
	<!-- 
	
	<h2>Metadata Settings</h2>
	#set($metadatalistsearcher = $searcherManager.getSearcher($catalogid, "assettype"))
	<ul>
	#foreach($item in $metadatalistsearcher.getAllHits())
	#set($val = $data.get($item.id))
		
		<input type="hidden" name="field" value="$item.id"/>
		
		<li>$item  <input class="permission-radio" type="radio" name="${item.id}.value" value="readonly" #if($val == "readonly") checked #end/> Read Only  <input  class="permission-radio" type="radio" name="${item.id}.value" value="readwrite"  #if($val == "readwrite") checked #end/> Read/Write 
		
			
		</li>
		
	
	#end
		<input type="hidden" name="field" value="default"/>
		<li>Default  <input class="permission-radio" type="radio" name="default.value" value="readonly" #if($data.get("default") == "readonly") checked #end/> Read Only  <input  class="permission-radio" type="radio" name="default.value" value="readwrite"  #if($data.get("default") == "readwrite") checked #end/> Read/Write 
		</ul>
	
	 -->

	
	<input type="submit"/>
	
	
	
</form>

<script type="text/javascript">

jQuery(".permission-radio").bind("click", function () {
	var val = jQuery(this).val();
	
	if(val == "partial"){
		jQuery(this).parent().find(".sub-list").show();
	}
	else {
		jQuery(this).parent().find(".sub-list").hide();
	}
		
	
});

</script>


<br/><br/>
<a href="./delete.html?id=$data.id" onclick="return confirm('Are you sure you want to delete the security group $data.name')">[Delete]</a>

#else
Please select a Security Group
#end