<form id="eml-tab-green-container" class="validate-inputs" name="savemount" action="save.html" target="_top">
    
<h3>[[Import]]</h3>
#set( $id = $context.getRequestParameter("id") )

<input type="hidden" name="id" value="$id" />

#set( $path = $mount.path )
#if( !$path)
    #set( $path = "/WEB-INF/data/$catalogid/originals/hotfolder1" )
#end
##TODO: Use a detail editor here

<label>[[Import EnterMedia Workspace File]]</label>
<div style="clear: both; margin-top: 15px;"></div>
    <div style="margin-bottom: 20px;" class="file_input_divX">
    <input type="file"  length="20" value="Browse" name="file.0" onChange="pickedFile(this.value)" />
</div>
<div style="margin-bottom: 20px; margin-top: -10px;" id="uploadprogress"  > </div>






<input style="margin-top: 40px;" class="btn" type="submit" value="[[Save]]" />


</form>
