<div class="navbar rounded right-corner shadow vapor">
  <div id="panel-collapse" class="left"><img src="$apphome/views/client/img/collapse-left.png"/>
  </div>
  <div class="navbar-inner" style="background:none;border:none;">
	<div class="container" style="min-height: 300px; padding: 10px;">
	 
	  <a class="brand" href="#">Sample Player</a>
	  <div class="nav-collapse collapse">
		<ul class="nav">
		  <li class="active"><a href="$apphome">Home</a></li>
		  <li><a href="#about">About</a></li>
		<li>
		#if( $user )
		 <a href="$home$apphome/authentication/logout.html">Logout $user</a> 
		#else
		 <a href="$home$apphome/authentication/login.html">Login</a> 
		#end
		</li>
		</ul>
	  </div>
	</div>
  </div>
</div>
