<div id="annotationarea" class="em-workspace" data-catalogid="$catalogid" data-assetid="$asset.id" data-userid="$user.id" data-usercolor="#ff8e8e">
	$pages.include("$apphome/components/annotations2/svg/svg-definitions.tpl.html")
	<script type="text/javascript" src="${apphome}/components/javascript/fabric/dist/fabric.js">  </script>
	<script type="text/javascript" src="${apphome}/components/javascript/colorpicker-master/jquery.colorpicker.js">  </script>
	<script type="text/javascript" src="${apphome}/components/annotations/vendor/lodash/lodash.js">  </script>
	<script type="text/javascript" src="${apphome}/components/annotations2/FabricModel.js">  </script>
 	<script type="text/javascript" src="${apphome}/components/annotations2/AnnotationEditor.js">  </script>
 	<script type="text/javascript" src="${apphome}/components/annotations2/main.js">  </script>

 	<link rel="stylesheet" type="text/css" href="${apphome}/components/annotations2/css/annotations.css" />
	<div id="annotation-holder">
	 <div class="canvas-holder">
               <canvas id="annotation_canvas" class="annotations-canvas" width="100%" height="500"></canvas>
           </div>
	##<h4 class="jangular-render" style="float:left;width:100px;margin:0px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">$asset.name</h4>
	 	   <ul id="annotation-toolbar" class="annotations-toolbar" >
	               <!-- try to reference the right object -->
	        <li id="drawtool" title="Draw">
	            <svg class="icon icon-draw" ><use xlink:href="#icon-draw"></use></svg>
	        </li>
	        <li  id="rectangletool" title="Rectangle">
	            <svg class="icon icon-rectangle" ><use xlink:href="#icon-rectangle" ></use></svg>
	        </li>
	        <li id="circletool" title="Circle">
	            <svg class="icon icon-circle" ><use xlink:href="#icon-circle"></use></svg>
	        </li>
	         <li id="movetool" title="Move">
	            <svg class="icon icon-move" ><use xlink:href="#icon-move"></use></svg>
	        </li>
	        <!--  
	        <li id="colortoolbararea" class="last colorpicker-li">
	            <input type="hidden" id="color-hidden-input" class="colorpicker-input" value="{{userColor}}" size="7">
	            <div colorpicker-position="bottom" colorpicker class="clearfix">
	            	<svg fill="{{userColor}}" class="icon icon-colorpicker" ><use xlink:href="#icon-colorpicker"></use></svg>
	            </div>
	        </li>
	        -->
			<li id="deletetool" title="Delete All">
	            <svg class="icon icon-undo" ><use xlink:href="#icon-undo"></use></svg>
	        </li>
	    </ul>
          
	</div>
</div>
