.emgridcontainer {
	margin:0 20px 30px 15px;
}
.emgrid {
	margin:0;
    padding: 0;
    list-style: none;
    position: relative;
}

.emgridcell {
	margin: 0;
	overflow: hidden;
	position:absolute;
	border:1px solid #ccc;
	border-radius: .20rem;
	box-shadow:1px 1px 3px 0 rgba(0,0,0,0.2);
	visibility: hidden;
	background-color: #fff;
}
.emgridcell-category {
	border:none;
	box-shadow: none;
	visibility: hidden;
	background-color: transparent;
}

.emgrid-content {
	position:relative;
	height: 100%;
}
.emgridcell h3 {
	margin:0;
	font-size:0.9rem;
	padding:6px 0 8px 6px;
	
	background-color: #ddd; /*Default*/
	overflow: hidden;
	white-space:nowrap; 
  text-overflow:ellipsis;
}

.emgrid-type-asset h3 {
	background-color: #0c223a;
	color:#fff;
}
.emgrid-type-asset-video h3 {
	background-color: #E51E25;
}
.emgrid-type-asset-document h3 {
	background-color: #164EA1;
}

.emgrid-type-librarycollection h3 {
	background-color: #16A7BA;
	color:#fff;
}
.emgrid-type-category h3 {
	background-color: #37383A;
	color:#fff;
}
.emgrid-type-project h3 {
	background-color: #E25856;
	color:#fff;
}
.emgrid-type-category {
	color:#333666;
}
.emgrid-type-category .gridcategory-icon {
	text-align: center;
	padding:10px;
	font-size:4.5rem;
	line-height: 4rem;
	
}
.gridcategory-name {
	text-align: center;
	font-size:1rem;
		overflow: hidden;
	white-space:nowrap; 
  text-overflow:ellipsis;
}
.emgrid-type-category:hover {
	color:#000
}

.griditem-tools {
	position:absolute;
	top:35px;
	right:5px;
	display:none;
}

.emgrid-content:hover {
	background-color: rgb(0,0,0,0.6);
}

.emgrid-content:hover  .griditem-tools {
	display: block;
	}
.emgrid-type-category .griditem-tools {
	top:0;
}
.emgridcell h4 {
	font-size: 0.9rem;
	font-weight: bold;
	padding:0 8px;
	}
.emgridcell-name {
	margin:8px 8px 4px 8px;
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    
    white-space: nowrap;
}
.emgridcell-description {
	margin:8px;
	margin-bottom: 10px;
	line-height: 1.5;
	}
.emgridcell-assetimage {
	text-align: center;
	padding:0;
	min-height: 100px;
	}
.emgridcell-assetimage .videoplay-button {
	font-size:4rem;
}
.emgriddcell-withkeywords {
	min-height: 135px;
}
.emgridcell-actions {
	height: 24px;
	padding-right:12px;
	text-align: right;
}

.emgridcell-project h3 {
	color:#228BE6;
}

.emgridcell-task h3 {
	color:#ED1D25;
}

.emgridcell-keywords {
	position:absolute;
	bottom:0px;
	padding:10px 10px 5px;
	
}
.emgridcell-keywords .badge {font-size:0.75rem; background-color: #e9eae7;}


.emrowselected .resultsselection {display:block;}


.gridresultscount { padding:5px 0; font-size:.9rem;}
