.emgridcontainer {
	margin:0 20px 30px 15px;
}
.emgrid {
	margin:0;
    padding: 0;
    list-style: none;
    position: relative;
}

.emgridcell {
	margin: 0;
	overflow: hidden;
	position:absolute;
	border:1px solid #ccc;
	border-radius: .40rem;
	box-shadow:1px 1px 3px 0 rgba(0,0,0,0.2);
	visibility: hidden;
	background-color: #fff;
}
.emgrid-content {
	position:relative;
	height: 100%;
}
.emgridcell h3 {
	
	margin:0 0 10px;;
	font-size:1.1rem;
	padding:8px 0 8px 8px;
	
	background-color: #ddd; /*Default*/
}

.emgrid-type-asset h3 {
	background-color: #94B86E;
	color:#fff;
}
.emgrid-type-asset-video h3 {
	background-color: #94280E;
}

.emgrid-type-librarycollection h3 {
	background-color: #6DADBD;
	color:#fff;
}
.emgrid-type-category h3 {
	background-color: #FFB848;
	color:#fff;
}
.emgrid-type-project h3 {
	background-color: #E25856;
	color:#fff;
}

.emgridcell h4 {
	font-size: 0.9rem;
	font-weight: bold;
	padding:0 8px;
	}
.emgridcell-name {
	margin:8px 8px 4px 8px;
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    
    white-space: nowrap;
}
.emgridcell-description {
	margin:8px;
	margin-bottom: 10px;
	line-height: 1.5;
	}
.emgridcell-assetimage {
	text-align: center;
	padding:0 8px;
	}

.emgridcell-actions {
	height: 24px;
	padding-right:12px;
	text-align: right;
}

.emgridcell-project h3 {
	color:#228BE6;
}

.emgridcell-task h3 {
	color:#ED1D25;
}

.emgridcell-keywords {
	padding:5px;
	
}
.emgridcell-keywords .badge {font-size:0.75rem;}

