/*Color*/
.emnav {
	border-bottom: 1px solid #3c586d;
	background-color: #81A8B8;
}
.emnav .navbutton {
	color:#fff;
}
.emnav .navbutton:hover {
	background-color: #376282;
}
#sub-nav { 
	background-color: #C2CBCE;
	color:#333;
}
#sub-nav a { 
	color:#fff;
}
#sub-nav a:hover {
	background-color: #AEB6B9;
}
.col-sidebar {
	background-color: #E8F3F8;
}
.col-sidebar-detaileditor {
	background-color: #edf0f1;
	webkit-box-shadow: -1px 0 0 #d8dddf inset;
    box-shadow: -1px 0 0 #d8dddf inset;
}

.ui-widget-header {
	border: 1px solid #dddddd;
	background: #DBE6EC;
	color: #333333;
	font-weight: bold;
}
.asset-menu li a {
	color:#626b7a;
}




/*Boostrap Overwrites*/
.btn {
	cursor:pointer;		
}



#emcontent { position: relative;}
#emfooter {   
	bottom: 0;
    left: 0;
    right: 0;
}

/**MainContent*/



/*Leftsidebar*/
.col-sidebar {
	position: fixed;
    z-index: 1050;
    top: 0;
    left:-80%;
    display: block!important;
    width: 80%;
    height: 100%;
}
.col-contet {
	padding: 20px;
}
@media (min-width: 992px) {
	.col-sidebar {
	    position: absolute;
	    left:0;
	    width: 260px;
	    height: auto;
	    min-height: 100%;
	}
	.col-content {
		margin-left: 260px
	}
}

.ui-widget-content .select2 { 
	max-width: 100%; 
}


.filters-sidebar h4 { margin:0; font-size:95%; font-weight:bold; }
.filters-sidebar ul,
.filters-sidebar-selected ul { 
	margin:0 0 10px;
	padding:0;
	list-style: none; 
	font-size:85%;
}


/*Search View Sub Nav*/
#sub-nav { 
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#sub-nav ul {
	margin:0;
	padding:0;
	list-style: none;
	width:100%;
}
#sub-nav ul li {
	float:left;
	height:34px;
} 
#sub-nav ul li a {
	display:block;
	line-height:34px;
	text-decoration: none;
	padding:0 15px;
}
#sub-nav ul li ul {
    display: none;
    list-style:none;
    position: absolute;
    top: 40px;
    border: 1px solid #58b0c4;
    border-top: none;
    z-index: 600;
    padding: 0;
    margin: 0;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, .2);
	
	background: #81cee0;
	height: auto;
}
#sub-nav ul li ul li {
    float: none;
    padding: 0;
    margin: 0;
}
#sub-nav ul li ul li a {
    height: 40px;
    line-height: 40px;
	text-decoration: none;
}
#sub-nav ul li:hover ul li a {
    white-space: nowrap;
    background: #81cee0;
}
#sub-nav ul li:hover ul li a:hover {
    background: #39b4d0;
    color: #fff;
}
#sub-nav ul li:hover ul {
    display: block;
}


.emnav .navbutton {
	display:block;
	line-height: 32px;
	padding:5px 15px;
	text-decoration:none;
}
.emnav .navbutton:hover {
	text-decoration:none;
}







/*Widget*/
.ui-widget {
	font-size:0.8em;
}
.ui-widget .ui-widget {

}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-size: 1em;
}
.ui-widget.ui-widget-content {
	border: 1px solid #c5c5c5;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
	padding:10px;
}
.ui-widget-content-wide {
	padding: 0;
}
.ui-widget-content a {
	color: #333333;
}

.ui-widget-header a {
	color: #333333;
}
.widget-header-title {
	font-size: 1.2em;
    padding: 6px 6px;
    line-height: 2;
}

.ui-widget .sidetoggle > .ui-widget-toggle {
	display: inline-block;
	float:right;
	padding:10px;
	cursor:pointer;
}
.ui-widget .widget-header-setup {
	opacity: 0.4;
    filter: alpha(opacity=40);
	padding:5px 0;
	display:none;
}
.expanded .widget-header-setup {
	display:inline-block;
}
.ui-widget .widget-header-setup:hover {
 	opacity: 1;
    filter: alpha(opacity=100);	
}






/*Emshare Nav Bar*/
#nav { 
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#nav ul {
	margin:0;
	padding:0;
	list-style: none;
	width:100%;
}
#nav ul li {
	float:left;
	height:42px;
} 
.emnav .navbutton {
	display:block;
	line-height: 32px;
	padding:5px 15px;
	text-decoration:none;
}
.emnav .navbutton:hover {
	text-decoration:none;
}
.emnav .librarycollectionpicker {
	padding-left: 10px;
}
.emnav .librarypicker {
	padding:5px 10px 0 0;
	width: 240px;
	float:left;
}
.emnav .collectionpicker {
	padding:5px 10px 0 0;
	width: 240px;
	float:left;
}

@media (max-width: 768px) {
	.emnav .collectionpicker {
		min-width: 140px;
	}	
}

.listautocomplete {width: 100%;} /* General?? */





/*Advanced Search Sidebar*/
.advancedsearchtable {
	table-layout:fixed;
	border-collapse:collapse;
	width:100%;
	
}
.advancedsearchtable td {
	word-wrap:break-word;
}
.advancedsearchtable-submit {
	padding:20px 0 10px;
}




/*Emtree*/
.emtree ul {
    margin: 0;
    padding: 0;
}
.emtree ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #444;
    font-size: 11px;
}
.emtree ul li div {
    padding: 0 0 0 20px;
    border-bottom: 1px solid #E2EFF4;
    height: 27px;
    line-height: 27px;
    display: block;
    cursor: pointer;
    white-space: no-wrap;
}
.cramped .emtree ul li div {
    height: 26px;
    line-height: 26px;
}
.emtree ul li div {
    position: relative;
}
.emtree .checkbox {
    position: absolute;
    height: 7px;
    border-right: 1px dashed #ddd;
    left: 0;
    top: 0;
    width: 15px;
    padding: 10px;
    text-align: center;
}
.emtree .checkbox .field
.emtree ul li div.selected {
    background: #c9e8f2;
}
.emtree ul li div.selected:hover {
    background: #c9e8f2;
}
.emtree ul li div:hover {
    background: #c9e8f2;
}
.emtree ul li div span a.btn {
    line-height: 11px;
    margin-left: 5px;
}
#details .emtree ul li div span input[type="text"] {
    padding: 5px 10px 3px 10px;
    font-size: 11px;
    margin-top: -2px;
}
.actions {
    float: right;
    display: none;
    margin-right: 15px;
}
.emtree ul li div:hover .actions {
    display: inline;
}
.emtree ul li div .actions a {
    float: left;
    margin-left: 5px;
    opacity: 0.7;
}
.emtree ul li div .actions a:hover {
    opacity: 1.0;
}
.emtree ul li div .actions a.add {
    background: url('../images/add.gif') 0 11px no-repeat;
    width: 15px;
}
.emtree ul li div .actions a.edit {
    background: url('../images/edit.gif') 0 11px no-repeat;
    width: 15px;
}
.emtree ul li div .actions a.delete {
    background: url('../images/delete.gif') 0 11px no-repeat;
    width: 15px;
    margin-right: 0;
    margin-top: 0;
}
.emtree ul li div .actions a.add-folder {
    background: url('../images/add-folder.gif') 0 11px no-repeat;
    width: 15px;
}
.emtree ul li div .actions a.upload-file {
    background: url('../images/add-upload.gif') 0 11px no-repeat;
    width: 15px;
}
.emtree ul li div .actions a.download-folder {
    background: url('../images/download-folder.gif') 0 11px no-repeat;
    width: 15px;
}
.emtree ul li div .actions a.download-file {
    background: url('../images/download-file.gif') 0 11px no-repeat;
    width: 15px;
}






/*Module: Assets*/
.asset-menu {
	width:100%;
	height: 44px;
	
}
.asset-menu,
.asset-menu ul li,
.asset-menu .dropdown-menu {
	background-color: #3D4A5D;
}
.asset-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.asset-menu ul li {
	display: block;
	float:left;
}
.asset-menu ul li a {
	display: block;
	position:relative;
	line-height: 20px;
	padding:12px 18px;
	color:#fff;
}
.asset-menu ul li a:hover {
	background-color: #2c3644;
	text-decoration: none;
}
.asset-menu ul li ul li {
	display: block;
	float:none;
}
#mediaplayer { background-color: #000; color:#fff; text-align: center;}
#mediaplayer a { color:#afafaf; text-decoration: none;}
#mediaplayer a:hover { color:#ffffff;  text-decoration: none;}

.media-player { text-align: center;}
.media-player .media-info { text-align: center; padding:5px; font-size:90%}
.media-player-mini {  }
.media-player-mini .media-thumbnail {text-align:center; padding: 10px;}
.media-player-mini .media-info { text-align: left; padding:10px; font-size:90%}
.media-player-mini .media-info strong { font-size:110%; }
.media-player-mini .media-info-more { border-top:1px solid #333; padding-top: 10px; margin-top:10px; }

.media-likes {padding-right:15px; display:inline-block;}
.media-likes .liked {color:#fff;}

.media-data-table { background-color: #efefef;}


.aside-content { margin:0 0 50px;}
.aside-content .aside-header { height:40px; width: 100%; padding: 10px; margin: 0 0 10px;}

.aside-content .aside-block { padding: 10px;}

.aside-media { list-style:none; height: 80px; margin:0; padding:0; }
.aside-media li { float: left; margin-right:10px;}























