<div class="eml-tab-content">
<h2>[[Customizations]]</h2>

<form name="custom" action="$home$apphome/views/settings/customizations/export/customizations.zip">
            <a class="btn btn-sm btn-primary" href="$home$apphome/views/settings/customizations/scan.html">[[Scan for Changes]]</a>

            <a class="btn btn-sm btn-primary submitform" href="$home$apphome/views/settings/customizations/export/customizations.zip">[[Export]]</a>
            <a class="btn btn-sm btn-primary emdialog" href="$home$apphome/views/settings/customizations/importdialog.html">[[Import]]</a>
            <a class="btn btn-sm btn-primary submitform" data-updateaction="true"  href="$home$apphome/views/settings/customizations/delete.html">[[Delete]]</a>


<ul id="modules" class="fwlist modulelist">
    
    #set ( $changes = $mediaarchive.query("customization").all().sort("dateupdated").search($context) )
    #foreach ( $change in $changes )
    <li> 
    	<input style="float:left; margin-top:5px;" name="id" id="module$change.id" value="$change.id" checked	type="checkbox" />
        <div style="float:left; margin-left:8px;">
       	 	<a href="$home$apphome/views/settings/modules/$module.id/info/module-setup.html?field=last_selected_module&last_selected_module.value=${module.id}">
         		
         		<label for="module$change.id" style="margin-bottom:0;">#text($change)</label>            
	         	
    	    </a>
        </div>
        <div class="clearfix"></div>
    </li>
    #end
    
    
</ul>               

</form>
</div>