#foreach( $hit in $hits )
	#if($hit.collectionimage)
#set($asset = $mediaarchive.getAsset($hit.collectionimage))
#else
  #set( $asset = $mediaarchive.query("asset").match("category",$hit.rootcategory).searchOne() )
#end
	  #set( $link = $mediaarchive.asLinkToPreview($asset,"image200x200.jpg"))
	<div class="card card-mini card-collections">
	<a href="$apphome/views/modules/librarycollection/media/index.html?collectionid=${hit.id}&clearselection=true&assetclearresults=true&assetclearselection=true&clearfilters=true" 
	   title="$hit.name">
	 <div class="card-collections-thumb" style='background-image: url("${link}")'></div>
	 <div class="card-name collectionbox">$hit.name</div>
	 </a>
	</div>
  	
#end