#foreach( $hit in $hits.getPageOfHits() )
	  #set( $asset = $mediaarchive.query("asset").match("category",$hit.rootcategory).searchOne() )
	  #set( $link = $mediaarchive.asLinkToPreview($asset,"image200x200.jpg"))
	<div class="card card-mini card-collections" style='background-image: url("${link}")'>


	    <a href="$apphome/views/modules/librarycollection/media/index.html?selectedlibrary=&collectionid=${hit.id}" 
	       title="$hit.name" class="card-name collectionbox">
	    	$hit.name</a>
	  </div>
  </div>
#end
