
#foreach( $hit in $hits )
	  #set( $asset = $mediaarchive.query("asset").match("category",$hit.rootcategory).searchOne() )
	  #set( $link = $mediaarchive.asLinkToPreview($asset,"image200x200.jpg"))
	<div class="card card-mini card-collections">
	<a href="$apphome/views/modules/librarycollection/media/index.html?selectedlibrary=&collectionid=${hit.id}" 
	   title="$hit.name">
	 <div class="card-collections-thumb" style='background-image: url("${link}")'></div>
	 <div class="card-name collectionbox">$hit.name</div>
	 </a>
	</div>
  	
#end