#set ($catalogid = $context.getRequestParameter('catalogid'))
#set ($searchtype = $context.getRequestParameter('searchtype')) ##product
#set ($fieldname = $context.getRequestParameter('fieldname')) ##lastmodified
#set ($view = $context.getRequestParameter('view')) 
<!--  This would have the point details in it -->

      <p>
        <input type="text" size="60" id="${detail.id}_address"  />
        <input type="button" id="${detail.id}_search" value="Search"  />
      </p>
     
    <input type="hidden" name="field" value="${detail.id}_lat"/>
   Latitude: <input type="text" id="${detail.id}_lat" name="${detail.id}_lat.value" value="$!data.get("${detail.id}_lat")"/>
    <input type="hidden" name="field" value="${detail.id}_lng"/>
    Longitude: <input type="text" id="${detail.id}_lng" name="${detail.id}_lng.value" value="$!data.get("${detail.id}_lng")"/>


<div id="${detail.id}_map" align style="width: 500px; height: 300px"></div>
   

<script
	src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=$content.getProperty('mapkey')"
	type="text/javascript"></script>
<script type="text/javascript">

    //<![CDATA[

    var geocoder = null;
    var map = null;


    function mark(detailid, point) {
        if (GBrowserIsCompatible()) {
          var map = new GMap2(document.getElementById(detailid + "_map"));
         
          map.setCenter(point, 13);
          
         
          #if($detail.icon && $pages.doesExist($detail.icon))
              
          // Create our "tiny" marker icon
          var blueIcon = new GIcon(G_DEFAULT_ICON);
          
          blueIcon.image = "$home/location/configuration/images/${detail.icon}.png";
          
          var marker = new GMarker(point, {draggable: true,  icon:blueIcon});

          #else
              var marker = new GMarker(point, {draggable: true});
          #end

          GEvent.addListener(marker, "dragstart", function() {
            map.closeInfoWindow();
          });

          GEvent.addListener(marker, "dragend", function(marker) {
        	   
         	  
        	   
        	  jQuery('#${detail.id}_lat').val(marker.lat());
              jQuery('#${detail.id}_lng').val(marker.lng());
               //Fix this to use the incoming detailid
              // document.addEntry.${detail.id}_lat.value = marker.lat();
              // document.addEntry.${detail.id}_lng.value = marker.lng();
          });

          map.addOverlay(marker);

        }
      }

    
    
    jQuery(document).ready(function() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("${detail.id}_map"));
        map.addControl(new GSmallZoomControl());
		map.addControl(new GMapTypeControl());

	     map.setCenter(new GLatLng(50, -115,8)); 


     	
     	geocoder = new GClientGeocoder();
        #if($data.get("${detail.id}_lat") && $data.get("${detail.id}_lng"))
        	 mark("$detail.id", new GLatLng($data.get("${detail.id}_lat"), $data.get("${detail.id}_lng")));
   	    #end

        GEvent.addListener(map, "click", function(marker, point) {
            
        	   jQuery('#${detail.id}_lat').val(point.lat());
               jQuery('#${detail.id}_lng').val(point.lng());
              // document.addEntry.${detail.id}_lat.value = point.lat();
             //  document.addEntry.${detail.id}_lng.value = point.lng();

 		});
      }
    });

	jQuery('#${detail.id}_search').click(function () {
	  
	  var address = jQuery('#${detail.id}_address').val();
      if (geocoder) {
        geocoder.getLatLng(
          address,
          function(point) {
            if (!point) {
              alert(address + " not found");
            } else {
             mark("$detail.id", point);
             
            }
          }
        );
      }
      return false;
    }

    );
    
   


    //]]>
    </script>
