#set ($catalogid = $context.getRequestParameter('catalogid'))
#set ($searchtype = $context.getRequestParameter('searchtype')) ##product
#set ($fieldname = $context.getRequestParameter('fieldname')) ##lastmodified
#set ($view = $context.getRequestParameter('view')) 
<!--  This would have the point details in it -->

      <p style="text-align: right; margin-top: -5px; margin-bottom: 15px;">
        <input type="text" size="60" id="${detail.id}_address"  />
        <input class="btn small" type="button" id="${detail.id}_search" value="Search"  />
      </p>
     

<div id="${detail.id}_map" align style="width: 100%; height:400px; margin-bottom: 15px;"></div>
   #set($latandlong = $data.get("$detail.id"))
   #set( $lat = $!data.getValue("${detail.id}").getLatitude() )
   #set( $lng = $!data.getValue("${detail.id}").getLongitude() )
   #set($icon = $mediaarchive.getData("geoicon", $data.geoicon))
   

  
   Position: <input type="text" id="${detail.id}_latandlong" size="40" name="${detail.id}.value" value="$lat,$lng"/>


<script type="text/javascript">

jQuery('#${detail.id}_map').gmap({
	 'center':'$mediaarchive.getCatalogSettingValue("startinglatlong")',
}).bind('init', function(ev, map) {
	#if( $latandlong )
	$('#${detail.id}_map').gmap('addMarker', 
			{
			'position': '$lat,$lng',
			'draggable': true, 
		    'bounds': true
		    #if($icon)
				,'icon': '$icon.url'
				#end
		    })
		    .dragend(function(event) 
	    	  		{
	    		 	
	              
	              jQuery('#${detail.id}_latandlong').val(event.latLng.lat() + "," + event.latLng.lng());
	              
	              
	    	  	}       
	    	).click(function() {
	});
	    $('#${detail.id}_map').gmap('option', 'zoom', 12);
	#else
	    $('#${detail.id}_map').gmap('option', 'zoom', 2);
	#end

}).click(function(e)
		{
			//alert( "click");
		});


dosearch = function () 
{
	var address = jQuery('#${detail.id}_address').val();

	$('#${detail.id}_map').gmap('search', { 'address': address }, function(results, status) 
	{
	    if ( status === 'OK' ) 
	    {
	    	$('#${detail.id}_map').gmap('clear', 'markers');
	    	
	    	$('#${detail.id}_map').gmap('addMarker', 
	          {
	    		'position': results[0].geometry.location, 
	    		'draggable': true, 
	    		'bounds': true
	    	  }).dragend(function(event) 
	    	  		{
	    		 	
	    		  
	              
	              jQuery('#${detail.id}_latandlong').val(event.latLng.lat() + "," + event.latLng.lng());
	                
	    	  		}
	    	  ).click(function() 
	    	   {
	    		//$('#${detail.id}_map').gmap('openInfoWindow', {'content': 'Hello World!'}, this);
	    	});

	    	$('#${detail.id}_map').gmap('get', 'map').panTo(results[0].geometry.location);
	       $('#${detail.id}_map').gmap('option', 'zoom', 12);

 		
          jQuery('#${detail.id}_latandlong').val(results[0].geometry.location.lat() + "," + results[0].geometry.location.lng());

	    }
	});
	
}


jQuery('#${detail.id}_search').click(dosearch);
jQuery('#${detail.id}_address').keypress(function(e)
{
	if (e.keyCode == 13) 
	{
		dosearch()
	}
});
		

</script>
