##required: catalogid, searchtype, view, fieldname
##optional: value, foreignkeyid and foreignkeyvalue

#set ($catalogid = $context.getRequestParameter('catalogid'))
#set ($searchtype = $context.getRequestParameter('searchtype')) ##product
#set ($fieldname = $context.getRequestParameter('fieldname')) ##lastmodified
#set ($view = $context.getRequestParameter('view')) 
#set($checked = $data.getValues($detail.id))

<div id="allnone">
(<a href="javascript:selectall('${searchtype}checkbox')">#text("all")</a> <a href="javascript:selectnone('${searchtype}checkbox')">[[none]]</a>)
</div>

##we need to load up the existing detail object

#set( $originalsearcher = $searcherManager.getSearcher($catalogid, $searchtype))
#if( !$detail) ##this is new. To reduce complexity we want to just load up the detail all the time
	#set( $detail = $originalsearcher.getDetailForView($view, $fieldname, $user) )
#end

#set( $listid = $detail.getListId())
#set( $lsearcher = $searcherManager.getSearcher( $detail.getListCatalogId(), $listid ))	
##optional things to filter the list
#set ($foreignkeyid = $detail.get("foreignkeyid") )

#set ($foreignkeyvalue = $context.getRequestParameter('foreignkeyvalue'))

#set ($squery = $detail.query )

#if ($foreignkeyid && $foreignkeyvalue)
	#set( $foreigndetail = $originalsearcher.getDetailForView($view, $foreignkeyid, $user) )
	#if( $foreigndetail && $foreigndetail.listid )
		#set( $foreignfield = $foreigndetail.listid )
	#else
		#set( $foreignfield = $foreignkeyid )
	#end
	#set ($query = $lsearcher.createSearchQuery())
	#set ($o = $query.setAndTogether(false))
	#set ($o = $query.addMatches("$foreignfield", "$foreignkeyvalue"))
	#set ($o = $query.addMatches("$foreignfield", "all"))
#elseif( $squery && (!$detail.getType() || $detail.getType() != "textjoin") )
	#set ($query = $lsearcher.parse($squery))
#else
	#set ($query = $lsearcher.createSearchQuery())
	#set ($o = $query.addMatches("id", "*"))
#end

#if ($detail.sort)
	$query.setSortBy($detail.sort)
#end
#set ($types = $lsearcher.search($query))
#if( !$value )
	#set ($value = $context.getRequestParameter('value'))
#end
#if (!$value)
  #set ($value = $context.getRequestParameter("${fieldname}.value"))
#end

#set( $valueid = "$fieldname" )

#if($types)
	#if( $foreignkeyid)
		<script type="text/javascript">
			addListListener("$foreignkeyid", "${fieldname}");
		</script>
	#end

<table>
	<tr>
	#foreach( $type in $types )
		#set( $key = $type.id)
			<td>
			
	
	  <input type="checkbox" class="${searchtype}checkbox" name="${detail.id}.value" id="${searchtype}.${item.id}" value="$key"
	    #if ($checked.contains($key)) checked #end >
		$type
	 

	</td> 
	#if ($velocityCount % 4 == 0) </tr> <tr> #end	    
		
#end
</tr>
</table>
	
   
#else
	No properties found in ../configuration/lists/#esc(${listid}).xml 
#end




