#if( !$xmledithome)
	#set( $xmledithome = $context.getPageProperty("xmledithome"))
#end
#set( $id = $detail.getId() )
#set( $index = $id.indexOf(".") )
#set( $table = $id.substring(0,$index) )
#set( $index = $index  + 1)
#set( $column = $id.substring($index) )
#set( $newsearcher = $searcherManager.getSearcher($catalogid,$table) )
$context.putPageValue("searcher",$newsearcher)
#set( $newdetail = $newsearcher.getDetail($column) )
#set ($viewtype = $newdetail.viewType)
#if( $data)
	#set( $data = $newsearcher.searchById($data.get($table)) )
	$context.putPageValue("data",$data)
	$context.putPageValue("detail",$newdetail)
#end

#if (!$viewtype)
	#set ($viewtype = $newdetail.dataType)
#end
#if (!$viewtype || $viewtype== "text")
	#set ($viewtype = "default")
#end
	
$pages.include("$xmledithome/types/${viewtype}.html", $context)