##API -
## $detail
## $searcher
## $value
## $searcherManager

<div class="emdatafieldreadonly emdatafieldreadonly-default">
#if($detail.isMultiLanguage()) 
		#set($map = $data.getValue($detail.getId()))
		
		#if( $showalllanguagevalues )
			#set($languages = $mediaarchive.getList("locale"))
			#foreach($locale in $languages)
				#set( $lval = false ) 
				#set( $lval = $map.getText($locale.id) )
				
				#if($lval) 
					<div class="emdatafieldvaluelanguages"><span class="emdatafieldvaluelocale">$locale:</span> $lval</div> 
				#end 
			#end
        #else
			$!map.getText($context.language)
		#end
#elseif( $detail.isKeywordMap() )
	#set($map = $data.getValue($detail.getId()))
	#foreach($keyid in $map.keySet())
		#set( $lval = false ) #set( $lval = $map.get($keyid) )
		#if($lval) $keyid:$lval <br>#end 
	#end		
#else

 

	#ifnotnull($value)
		#set($dmax = 150)
		#if($detail.id == "name")
			#set($dmax = 80)
		#end
		
		#if ($detail.dataType == "list")
			#escarea($!value)
		#else
		
			#if(  $value.length() > $dmax)
				<span class="trim-text" data-max="$dmax">#escarea($value)</span>
				<button class="see-more-btn see-more" data-seemore="(...[[see more]])" data-seeless="(...[[see less]])"></button>
			#else
				#escarea($!value)	
			#end
		#end
	#end
#end	
</div>
