#ifnull($value)
	#set($value = $data.get("primaryimage"))
#end

#if($value && $value != "")

	#set( $foundrow = $mediaarchive.getAsset($value))

	#if($foundrow)
	
	<div id="$!{detail.id}-preview"
		class="assetpreviewreadonly assetdraggable ui-draggable"
		data-assetid="$foundrow.getId()">
		#set($assetrendertype = $mediaarchive.getMediaRenderType($foundrow))
		#if($assetrendertype =="audio")
			   #set ($mime = $mediaarchive.getMimeTypeIcon($foundrow.fileformat))
			   	<div class="format-thumb">
			   		<i class="bi bi-$mime"></i>
			   	</div>
		#else
			#set($pagenum = $data.get("pagenum"))
			#set($imagesize = "image550x550page${pagenum}")
			#if($thumbsize == "largepreview")
				#if( $type == "video" )
					#set($imagesize = "image640x480page${pagenum}")
				#else
					#set($imagesize = "image3000x3000page${pagenum}")
				#end
			#elseif($thumbsize == "mediumplus")
				#if( $type == "video" )
					#set($imagesize = "image640x480page${pagenum}")
				#end
			#elseif($thumbsize == "small")
				#set($imagesize = "image200x200page${pagenum}")
			#elseif($thumbsize == "crop")
				#set($imagesize = "image110x62croppedpage${pagenum}")
			#end	
			#ifnull($pagenum)
				#set($pagenum = 1)
			#end
			<img src="/${mediaarchive.getMediaDbId()}/services/module/asset/generate/#esc(${foundrow.sourcepath})/${imagesize}.webp/${imagesize}.webp" class="img-fluid">
		#end
		</div>
	#else
		<em>[[Deleted Asset]]</em>
	#end

#end
