
#ifnull($values)
	#set($values = $value)
#end
#if( !$values && $data )
	#set($values = $data.getValues($detail.id) )
#end

#set($entity_module = $detail.getListId())

<ul class="entity-value-list">
	#foreach( $type in $values )
		#set( $row = false )
		
		#set( $row = $mediaarchive.getCachedData($entity_module, $type ))
		
	    #if( $row ) 
			#set($namefield = $mediaarchive.getSearcher($entity_module).getDetail("name"))
			#set($name = $searcherManager.getValue($row, $namefield, $context.getLocale()))
		    #set($entityid = $row.id)
			#set($edithome = "$applink/views/modules/$!{entity_module}/editors/default")
			#set($link = "${edithome}/tabs/index.html?entityid=$entityid&hitssessionid=$!hits.sessionId")
			
			#if($entity_module == "searchcategory")
				#set($edithome = "$apphome/views/modules/$!{entity_module}/editors/listsearchcategories")
				#set($link = "${edithome}/index.html?searchcategoryid=$entityid")
			#end

		    <li>
					<a href="$link"
						#if($detail.id == "searchcategory")
							class="ajax"
							data-targetdiv="applicationcontent"
							data-oemaxlevel="4"
							data-edithome="${edithome}"
							data-updateurl="true"
							data-closedialog="true"
						#else
							class="emdialog entityupdateurl"
							data-hitssessionid="$!{hits.sessionId}"
							data-moduleid="$!{entity_module}"
						#end
						data-entityid="$!{entityid}"
						##data-noesc="true" 
						title="#text($name)">#text($name)</a>
		    </li>
	    #end 
	#end	
</ul>
