
#ifnotnull($value)
	#if( $detail.isMultiValue())
		#foreach( $type in $values )
			#set( $foundrow = $searcherManager.getCachedData($detail.getListCatalogId(),$detail.getListId(), $value) )
			#set($label = $foundrow.getName($context.getLanguage()))
					
			#ifnotnull($label)
				#esc($label)
			#end
			#ifnull($label)
				#esc($value) [[Not Found]]
			#end		
		#end	
	#else
		#set( $foundrow = $searcherManager.getCachedData($detail.getListCatalogId(),$detail.getListId(), $value) )
		#set($label = $foundrow.getName($context.getLanguage()))
		
		#ifnotnull($label)
			#esc($label)
		#end
		#ifnull($label)
			#esc($value) [[Not Found]]
		#end
	#end
#end	