#set($idcount = $context.getRequestParameter("idcount"))
#if(!$idcount)
	#set($idcount = "")
#end

#set( $type = $detail.getListId() )
#set($link = $context.getPageValue("tagssearchlink"))
#if(!$link)
	#set($link = "$siteroot$apphome/views/modules/asset/index.html")
#end

#set($clearfilters = $context.getPageValue("clearfilters"))

<span class="tageditor-viewer">
	#set($count = 1)
	#foreach( $valtag in $value )
		#set($fulllink = "$link?field=${type}&operation=contains&${type}.value=#paramencode($valtag)")
		#if ($clearfilters)
			#set($fulllink = "$fulllink&clearfilters=true")
		#end
		<a class="badge badge-tags tageditor-${type} ajax #if($count>6) seelesstags #end" 
		href="$fulllink"
		data-targetdiv="applicationcontent"
		data-oemaxlevel="4"
		data-updateurl="true"
		data-closemediaviewer="true"
		data-closedialog="true" 
		title="#esc($valtag)">#esc($valtag)</a> 
		#set($count = $count + 1)
	#end
</span>
#if($count>6)
	#set($more = $count - 6)
	<button class="see-more-tags-btn see-more" data-seemore="+${more} [[more]]" data-seeless="...[[see less]]">+${more} [[more]]</button>
#end
