#set( $moduleid = "asset" )
#set($viewid = $context.getRequestParameter("viewid"))
#set($viewpath = $context.getRequestParameter("viewpath"))
#set($hitssessionid = $context.findValue("hitssessionid"))

#set($viewsearcher = $searcherManager.getSearcher($catalogid, "view"))
#set($query = $viewsearcher.createSearchQuery().append("moduleid","asset").append("systemdefined","false").append("rendertype","table") )
$!query.addSortBy("ordering")   
#set($views = $viewsearcher.search($query))

$context.putPageValue("view", $viewpath)
#set( $data = $asset)
$context.putPageValue("data",$asset)
#set($show = false)
	#foreach( $target in $views)            
	 #set($permissionvalue = $context.getPageValue("canview-${target.getId()}"))
	 #if($user && ("$!permissionvalue" == "" || $permissionvalue == true))
	 	#set($show = true)
	 
	#end

#end


#if($show)

<li class="footermenu bottomtab #if($viewid == $target.id) tabselected #end " byassettype="true">
    <a class="expandmenu dropdown-toggle" 
     data-toggle="dropdown"
     title="[[Relationships]]"
     data-assettab="viewtable"
     >
     <i class="fas fa-table"></i> [[Relationships]]
    </a>
    <ul class="dropdown-menu">
	#foreach( $target in $views)            
	 #set($permissionvalue = $context.getPageValue("canview-${target.getId()}"))
	 #if("$!permissionvalue" == "" || $permissionvalue == true)
		 #if($target.rendertable)
		       <li>
		          <a class="assettab #if($opentabassettable == $target.id) dropdown-current #end"
		          title="$target"
		           data-link="$home$apphome/views/modules/asset/edit/moduletable.html?oemaxlevel=3&id=${data.id}&assetid=$data.id&viewid=$target.id&viewpath=$moduleid/$target.id&hitssessionid=${hitssessionid}"
		           data-assettab="viewtable"
		           data-assettable="$target.id"
		           >
			         $target
		          </a>
		      </li>
		  #end
	  #end
	 #set($permission = "")
	#end
	</ul>
</li>


#end