#set ($categories = $context.getRequestParameter("categories") )

#if( $categories )
	#set( $clean = $categories.replace('|',' ') )
	<input type="hidden" name="category.orvalue" value="$clean" />
    <ul id="cat-list">
    #set( $selected = $categories.split("\|") )
	#foreach($categoryid in $selected)
		<li class="row" >
			#set( $category = $mediaarchive.getCategory($categoryid))
			<a class="category"  href="$home$apphome/views/categories/${category.id}.html" >$category.getName()</a>
		</li>
	#end
	</ul>
#end
