#set ($categories = $context.getRequestParameter("categories") )
#if( $categories )
    #set( $selected = $categories.split("\|") ) 
#else
	#set ($selected = $context.getRequestParameters("categoryid") )
#end

#if( $selected )
    <ul id="cat-list">
    #set( $ids = "" )
    
	#foreach($categoryid in $selected)
	#set( $category = $mediaarchive.getCategory($categoryid))
			#if($category && $category != "")
		<li class="row" >
			
		
		    #set( $ids = "$categoryid|$ids" )
			
			<a class="category"  href="$home$apphome/views/categories/${category.id}.html" >$category.getName()</a>
			#end
		</li>
					#set( $category = "")
		
	#end
	</ul>
	<input type="hidden" name="category.value" value="$ids" />
#end
