#set( $clientroot = "/${applicationid}/components/closedcaptions" )

	<form name="vttupload" id="vttupload" method="post"  class="ajaxform" data-oemaxlevel="1" targetdiv="closedcaptioneditor"
		  action="$clientroot/details/autotranscribe.html">
	 	<input type="hidden" name="assetid" value="$asset.id"> 
		 
		<p>[[Automatically transcribe your media file]]</p>
		#set($languages = $mediaarchive.getList("locale"))
		<select class="select2 lenguagepicker" name="selectedlang" >
				#foreach($locale in $languages)
				<option value="$!locale.id" #if($selectedlang==$!locale.id) selected="selected" #end>$!locale</option>
				#end
		</select>
		 
	</form>

	