#set( $clientroot = "/${applicationid}/components/closedcaptions" )

	<form name="vttupload" id="vttupload" method="post"  class=" ajaxform autocloseform" data-oemaxlevel="1" targetdiv="closedcaptioneditor"
		  action="$clientroot/details/autotranslate.html">

		<p>[[Translate from language]]

#set($languages = $mediaarchive.getList("locale"))
	<div>				
		<select class="select2 lenguagepickerZ form-control form-control-sm" id="languages" name="selectedlang" data-count="$count" data-detailid="${detailid}" >	 
			#foreach($locale in $languages)
				<option value="$!locale.id" #if($selectedlang==$!locale.id) selected="selected" #end>$!locale</option>
			#end
		</select>
	</div>
</p>
	 	<input type="hidden" name="assetid" value="$asset.id">
	 	<input type="hidden" name="cc_action" value="autotranslate"> 
		 
		<p>[[To what laguage]]</p>
		<div>
		#set($languages = $mediaarchive.getList("locale"))
		<select class="select2 lenguagepickerZ" name="targetlang" >
				#foreach($locale in $languages)
				#if( $selectedlang!=$!locale.id)
				<option value="$!locale.id" >$!locale</option>
				#end
				#end
		</select>
		 <p><strong>[[Note]]</strong>: [[This will overwrite existing captions in this language]]</p>
		 
		 </div>
	</form>

	