#set( $clientroot = "/${applicationid}/components/closedcaptions" )

<div class="clipedit" style="padding-bottom:20px;">
	
		<h3>
			[[Transcribing Tools]]
		</h3>

		<a href="$clientroot/details/importstart.html?assetid=$asset.id&selectedlang=$selectedlang"  data-width="90%" data-height="90%"  class="emdialog btn btn-dark" data-noesc="true" style="margin-left:0px;" >[[Import Captions]] (VTT [[file]])</a> 
		<a  href='#urlescape("$home/${mediadbappid}/services/module/asset/players/closedcaption/${asset.id}/closedcaption-${asset.name}-${selectedlang}.vtt")' class="btn btn-dark" style="margin-left:0px;" >[[Export]]</a> 
		##<br><br>
		##<a id="removeclip" class="btn btn-danger ajax" targetdiv="closedcaptioneditor" data-confirm="[[Are you sure?]]" href="$clientroot/details/delete.html?assetid=$asset.id&selectedlang=$selectedlang" >[[Delete]]</a>
	 
		 #if( $track.sourcelang == $selectedlang && $track.transcribestatus == "complete")
		 <br><br> <div class="alert fader alert-success" role="alert">	[[Auto transcribe complete]]  </div>
		 #end

	
</div>