#set( $sourcepath = $asset.sourcepath )
#set( $source = "$home/${applicationid}/views/modules/asset/downloads/converted/cache/${sourcepath}/video.mp4" )
#set( $webmsource = "$home/${applicationid}/views/modules/asset/downloads/converted/cache/${sourcepath}/video.webm" )
#set( $thumb = "$home/${applicationid}/views/modules/asset/downloads/preview/large/${sourcepath}/thumb.jpg" )
#set( $clientroot = "/${applicationid}/components/closedcaptions" )


<div id="video-container" id="showcaseclient" data-clientroot="$clientroot" data-dataid="$asset.id" >
	#if($asset.previewstatus == "2")
			$pages.include("$apphome/components/results/player/html5/index.html",$context)
	#else
		[[Video is importing]]
	#end	
</div>	

<div class="videotimelinecreate">
	$pages.include("${clientroot}/details/edit.html", $context)
</div>
