

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tabbable-bordered .nav-tabs
{
    margin-bottom: 0;
}

.tabbable-bordered .tab-content
{
    padding: 10px;
    border-radius: 0 0 4px 4px;
    border: 1px solid #ddd;
    border-top: 0;
}

.tabbable-bordered.tabs-left .tab-content
{
    border: 1px solid #ddd;
    border-left: 0;
}

.tabbable-bordered.tabs-right .tab-content
{
    border: 1px solid #ddd;
    border-right: 0;
}

.tabbable-bordered.tabs-below .tab-content
{
    border: 1px solid #ddd;
    border-bottom: 0;
}

.responsearea
{
	max-height: 200px;
	
}