#set( $base = "/$applicationid/users/$album.owner/albums")

<div class="emcontentbox">
 <div class="emalbumresults">

#if ( $album.owner == $user.id )

  <a href="$home$base/edit/index.html?albumid=$album.id"><img border="0" align="absmiddle" src="$home${themeprefix}/entermedia/images/navigation/page-edit.png"/> [[Edit]]</a>

#end
  $pages.include("$base/results/multiresults.html",$context)

 </div>
</div>

#if(!$album.isSelection())

<div class="emalbumtools">
<table>
	<tr>
		<td >	
  			 <img src="$home/$applicationid/catalogs/public/downloads/preview/small/users/${owner.id}/image.jpg" /><br />
		</td>
		<td style="padding:10px;">
			<h2>$owner</h2> <br/> #if( $album.details )$album.details #end 				
		</td>
	</tr>
</table>
	<div id="albumcommentarea$album.id">

$context.setRequestParameter("dataid", "$album.id")
$pages.include("$base/comments/index.html", $context)
</div>
</div>



#if ( $album.owner == $user.id )
<div class="emalbumtools">
$pages.include("$base/menus/album.html")
</div>
#end

#end