	<div class="container">
		<div id="header">
			<div id="logo"><a class="ir" href="$home$apphome/index.html">EnterMedia Manager</a></div>
			<div id="user-status">
				#if( $user )
				<p class="welcome">Welcome, <span class="user">$user</span></p>
				<a href="$home$apphome/authentication/logout.html">Logout</a>
				#end
			</div>
		</div>
		$pages.includeContent()
		<div id="footer" class="col12 clearfix">
			<p>Powered by EnterMedia | <a href="http://www.entermediasoftware.com">www.entermediasoftware.com</a></p>
		</div>
	</div>
