#set( $categoryid = $context.getRequestParameter("categoryid"))
#set( $category = $mediaarchive.getCategory($categoryid))
<div id="cat-list" >
<div  class="row categorydraggable ui-draggable ui-draggable-handle collectionBox" style="padding: 0;margin-top:-8px; border: 0px">
<div class="category"  style="padding:8px 6px 3px 20px;">					
	#foreach( $parent in $category.getParentCategoriesFrom(1))
	#if( $velocityCount > 1) \ #end
	<a  href="$home$apphome/views/modules/category/categorysearch.html?categoryid=${parent.id}">$parent</a>
	#end
</div>
</div></div>