#set( $action = $context.getRequestParameter("action") ) 
#set( $targetdiv = $context.getRequestParameter("targetdiv") )
#set( $categories = $context.getRequestParameter("categories") )

<div id="search-catgories" >
	<div id="searcharea" >
		#set( $searcher = $mediaarchive.getSearcher("category") )
		$context.putPageValue("searcher",$searcher)
		#set ($details = $searcher.getDetailsForView("category/searchcategory", $userprofile))
		<form  class="autosubmit"  data-targetdiv="categoryresults" action="$home$apphome/components/categories/searchcategoryresults.html">
		
			<input type="hidden" name="searchtype" value="category" />
			<input type="hidden" name="sortby" value="categorypathUp" />
		<table class="inlinesearch" >
			<tr>
			#foreach( $detail in $details)
				<td>
					$context.putPageValue("detail", $detail)
					$pages.include("/${applicationid}/components/advancedsearch/detaileditinline.html", $context)
				</td>	
			#end
			</tr>
		</table>
		
		</form>
		
		<form  class="ajaxform"  data-targetdiv="$targetdiv" action="$action">
		<div id="categoryresults">
			$pages.include("$home$apphome/components/categories/searchcategoryresults.html",$context)
		</div>
			<input name="oemaxlevel" value="1"  type="hidden" />
			<input name="categoryidpicked" id="emselectedrow" type="hidden" />
			<input name="categories" type="hidden" value="$!categories" />
		</form>
	</div>
</div>	
