#set( $action = $context.getRequestParameter("action") ) 
#set( $targetdiv = $context.getRequestParameter("targetdiv") )
#set( $categories = $context.getRequestParameter("category.values") )
#set ($longform = $context.getRequestParameter("longform") )
<div id="search-catgories" >
	<div id="searcharea" >
		#set( $searcher = $mediaarchive.getSearcher("category") )
		$context.putPageValue("searcher",$searcher)
		#set ($details = $searcher.getDetailsForView("category/searchcategory", $userprofile))
		<form  class="autosubmit" data-targetdiv="categoryresults" action="$home$apphome/components/categories/searchcategoryresults.html">
		
			<input type="hidden" name="searchtype" value="category" />
			<input type="hidden" name="targetdiv" value="$!targetdiv" />
			<input type="hidden" name="action" value="$!action" />
			<input type="hidden" name="longform" value="$!longform" />
			<input type="hidden" name="sortby" value="categorypathUp" />

		$context.putPageValue("autocomplete","off")

		<table class="inlinesearch" >
			<tr>
			#foreach( $detail in $details)
				<td>
					$context.putPageValue("detail", $detail)
					$pages.include("/${applicationid}/components/advancedsearch/detaileditinline.html", $context)
				</td>	
			#end
			</tr>
		</table>
		
		</form>
		
		<form  data-targetdiv="$!targetdiv" class="emmultivalue" action="$action">
		<div class="emrowpicker" style="min-height: 450px"  >
				$pages.include("$home$apphome/components/categories/searchcategoryresults.html",$context)
		</div>
			<input name="oemaxlevel" value="1"  type="hidden" />
			<input type="hidden" name="longform" value="$!longform" />
			<input name="category.values" type="hidden"  class="emselectedrow" value="$!categories" />
		</form>
		
		<script>
			#foreach($categoryid in $categories.split("\s*\|\s*"))
				$('[data-id="${categoryid}"]').addClass("emrowselected");
			#end
		</script>	
		
		
	</div>
</div>	
