<div id="ajaxloginformdiv">
	
    
    
    #set($loginok = $context.findValue("loginokpage") ) 
	#set( $email = $context.getRequestParameter("email") )
	<div class="my-4">
		<div class="pb-4 text-center"><strong>[[Please check your email]]</strong></div>
	<form name="login" 
		id="login"
		class="ajaxform  row justify-content-md-center g-3" 
		data-targetdiv="ajaxloginformdiv"
		action="$home$content.loginroot/ajaxlogin.html" 
		method="POST" >
			<div class="col-6">
				<input class="form-control grabfocus required" id="entermediakey" name="templogincode" placeholder="[[Enter six digit login code]]" required />
			</div>	
				
			#if( $email )
			<input  type="hidden" name="email" value="$email" />
			#else
			<div class="col-6">
			<input class="form-control required grabfocus" type="text" name="email" size="50" placeholder="[[Enter your Email Address]]" required />
			</div>
			#end
			
			
			<div class="col-auto">
				<input class="btn btn-primary" name="submit" type="submit" id="login-submit" value="[[Login]]" />
			</div>
			#if($loginok)
			#set( $loginok = "$context.siteRoot" + "$loginok")
			<input type="hidden" name="loginokpage" value="#esc($!loginok)"/>
			#end
		

		#ifnotnull( $userCategory)
				<input type="hidden" name="categoryid" value="$userCategory.id" />
		#end
		
	</form>   
	</div>
	#if ( $context.getPageValue("oe-exception") )
			<div style="border: 1px solid black; width: 60%; text-align: center">$context.getPageValue("oe-exception")</div>
			$context.removeSessionValue("oe-exception")
	#end
	
</div>
