<div class="container applicationcontent">
	<div class="row justify-content-md-center">
	    <div class="col col-lg-7">
	    <div class="text-center">

		<form name="login" id="login" action="$home$content.loginroot/login.html" method="POST" onsubmit="return confirmPassword(this);">
			<div class="form-group">

			<input class="form-control grabfocus" id="entermediakey" name="entermediakey" />
			</div>
			
			<div class="form-group">
			#if($loginok)
			#set( $loginok = "$context.siteRoot" + "$loginok")
			<input type="hidden" name="loginokpage" value="#esc($!loginok)"/>
			#end
			</div>
			#if ( $context.getPageValue("oe-exception") )
				<div style="border: 1px solid black; width: 60%; text-align: center">$context.getPageValue("oe-exception")</div>
				$context.removeSessionValue("oe-exception")
			#end
		</form>
            <div class="text-center note" style="margin-top: 40px; margin-bottom: 10px;">
        	</div>
			</div>
		</div>
	</div>
</div>