#set($loginokpage = $context.getRequestParameter("loginokpage") )
#if(!$loginokpage)
	#set($loginokpage = $context.findValue("loginokpage") )
#end 
#if(!$loginokpage)
	#set($loginokpage = $context.getSessionValue("fullOriginalEntryPage") )
#end 
$context.putSessionValue("fullOriginalEntryPage", $!loginokpage)

<div class="container" id="loginformdiv">
	#if($user)
		<div class="text-warning rounded border border-warning px-2 py-1 mb-3" role="alert">
		<i class="fs-small fas fa-exclamation-triangle"></i>
			[[You are already logged in as]] <strong>$user</strong>
		</div>
	#else
		<div class="row no-gutters justify-content-sm-center loginformcontainer mb-3">
			#set($customloginmessage = $mediaarchive.getCatalogSettingValue("customloginmessage") )
			#ifnotnull($customloginmessage)
				<div class="alert alert-info">
					$customloginmessage
				</div>
			#end
			
			#set( $allowguestregistration = $context.findValue("allowguestregistration") )
			<div class="loginform-col mb-2">
				<h1 class="page-title text-center my-2">
					[[Sign-in]]
					 #if( $allowguestregistration == "ture" )
					 / [[Sign-up]]
					 #end
				</h1>
				
				#set( $error = $context.getPageValue("oe-exception") )
				#if ( $error ) 
					<div class="alert alert-danger my-2" role="alert" style="min-width: 400px;">
						<i class="bi bi-exclamation-triangle-fill mr-1 ns"></i>
						$error
					</div>
					$context.removeSessionValue("oe-exception")
				#end
		

				#set($allowloginbyemail = $mediaarchive.getCatalogSettingValue("allowloginbyemail") )

				#if($allowloginbyemail == "true")
				<ul class="nav nav-tabs bg-light" id="loginMethod"  style="min-width: 400px;color: #3884fd;">
					<li class="nav-item" style="flex:1">
						<div class="nav-link active" data-target="#passwordLessLogin" style="cursor: pointer;">Passwordless Login</div>
					</li>
					<li class="nav-item" style="flex:1">
						<div class="nav-link" data-target="#passwordLogin" style="cursor: pointer;">Login with Password</div>
					</li>
				</ul>
				#end
				<div class='border-left border-right border-bottom #if($allowloginbyemail != "true") border-top #end py-2 px-3' style="min-width: 400px;">
					#if($allowloginbyemail == "true")
						<div id="passwordLessLogin" class="login-method">
							<form class="ajaxform d-flex flex-column my-4"  style="text-align: left;" data-targetdiv="loginformdiv" data-oemaxlevel="1" action="$home$content.loginroot/sendmagiclinkfinish.html" id="password-reminder" name="passwordReminder"  method="post">
								#ifnotnull( $userCategory)
									<input type="hidden" name="categoryid" value="$userCategory.id" />
								#end
								#if( $content.allowguestregistration == "true")
									#set($placeholder = "[[Login or Register with your Email Address]]")
								#else
									#set($placeholder = "[[Login with your Email Address]]")
								#end
								<label for="email">$placeholder</label>
								<input class="form-control form-control-sm required grabfocus mb-3 w-100" type="text" name="email" placeholder="[[Enter you email address]]" required />
								<input class="btn btn-primary align-self-center" name="submit" type="submit" value="[[Next]]" />
								<input type="hidden" name="subject" value="[[Your Login Info]]"/>
							</form>
						</div>
					#end
					<div id="passwordLogin" class="login-method" #if($allowloginbyemail == "true") style="display: none;" #end>
						<form class="d-flex flex-column my-4"  name="login" id="login" action="$home$content.loginroot/login.html" method="POST" onsubmit="return confirmPassword(this);">
							<div class="form-group mb-0" style="text-align: left;">
								<label for="accountname">[[Email or Username]]</label>
								<input class="form-control w-100" type="text" id="accountname" name="accountname" autocapitalize="off" autocorrect="off" required />
								<label for="password">[[Password]]</label>
								<input class="form-control w-100" id="password" name="password" type="password"  />
							</div>
							
							#if($mediaarchive.isCatalogSettingTrue("twofactorauthentication"))
								<input type="hidden" name="field" value="googlekeystring"/>
								<div class="form-group">
									<label for="Google Key">[[Two Factor Authenticator Key]]</label>
									<input class="form-control" id="googleauth" name="googlekeystring.value" type="text" />
								</div>
								<a href="$home$content.loginroot/getkey.html">[[If you haven't yet generated a two factor key, click here]]</a>
							#end
	
							<input class="btn btn-primary align-self-center" name="submit" type="submit" value="[[Login]]" />
						</form>   
					</div> 
				</div>
				#set($providers = $mediaarchive.query("oauthprovider").orgroup("id", "google facebook").exact("enabled","true").search($context))
				#if( !$providers.isEmpty() )
					<div class="text-center my-3">
						<span class="divider divider-xs divider-text">[[OR]]</span>
					</div>
					<div class="d-flex flex-wrap align-items-center justify-content-center mb-3">
						$pages.include("$home$content.loginroot/oauth/providers.html", $context)
					</div>
				#end
			</div>
		</div>
	#end

	<div class="text-center loginformquestions my-2 p-0">
		[[Are you having trouble logging in or have a question?]] [[Please]] <a href="mailto:help@entermediadb.org" style="text-decoration: underline;">[[contact us]]</a>.
	</div>
</div>

<script>
	function confirmPassword(form) {
		if(form.password.value=="") {
			alert("[[Please enter your password]]");
			form.password.focus();
			return false;
		} else {
			return true;
		}
	}
	$(document).ready(function() {
    $('.nav-link').click(function() {
			$("#loginMethod").find(".nav-link").removeClass("active");
			$(this).addClass("active");
			var target = $(this).data("target");
			$(".login-method").hide();
			$(target).show();
		})
  });
</script> 