#if( $context.siteRoot )
	#set( $link = "$context.siteRoot$home/$applicationid/" )
#else
	#set( $link = "$url_util.buildRoot()$home/$applicationid/" )
#end
<div style="background-color:#efefef; padding: 40px 0;">
<div style="background-color:#fff; padding:0 20px 20px 20px; margin:0 auto; width:600px;">
<div style="background-color:#000; padding: 1px 0 5px 0; margin-bottom:20px;">
#if($categorylogo)
<a href="$context.siteRoot"><img src="$context.siteRoot/$mediadbappid/services/module/asset/downloads/originals/${categorylogo}" style="max-height: 90px;"></a>
#else
<a href="$context.siteRoot"><img src="https://entermediadb.org/theme/img/entermedia_database.png"></a>
#end
</div>
<p>[[Hello]],</p>
<p>[[A login code was requested for]]: $mail</p>
<div style="margin:10px; padding:15px; background-color:#f0f0f0;">


	<p id="entermediakey" style="text-align:center; font-weight:bold; font-size:120%;">	[[Use login code]]
	<br>$templogincode</p>
	<p>
	##	<a href="#urlescape($link)">[[Login here]]</a>
	</p>

</div>


<p><strong>The EnterMediaDB Team</strong><br>
<em><a href="mailto:help@entermediadb.org">help@entermediadb.org</a></em>
</p>
</div>
</div>
