#if ($commandSucceeded == "true")

<p>[[Thank You!]]</p>
<p>[[Your account information has been sent to]]: $context.mail.<p>
<p><a href="login.html">[[Return to login]]</a></p>
#elseif ($commandSucceeded == "nouser")

<p>[[Unable to send account information for]]:</p>
<p>[[E-Mail Address]]: $context.getRequestParameter("to")</p>
<p>[[No user found.  Please contact your administrator.]]</p>
<p><a href="login.html">[[Return to login]]</a></p>

#elseif ($commandSucceeded == "noemail")

<p>[[Unable to send account information for]]:</p>
<p>[[Username]]: $context.getRequestParameter("username")</p>
<p>[[E-Mail Address]]: $context.getRequestParameter("to")</p>
<p>[[Please contact your administrator.]]</p>
<p><a href="login.html">[[Return to login]]</a></p>

#elseif ($commandSucceeded == "false")

<p>[[Unable to send account information for]]: </p>
<p>[[E-Mail Address]]: $context.getRequestParameter("to")</p>
<p>$context.error</p>
<p>[[Please contact your administrator.]]</p>
<p><a href="login.html">[[Return to login]]</a></p>

#else

<h2>[[Password Helper]]</h2>

<form name="passwordReminder"  method="post">
<p>[[Your password will be sent to you via e-mail.]]</p><br>
		<p>[[E-Mail Address]]: <input type="text" name="to" size="40" /></p>
		<input type="hidden" name="subject" VALUE="[[Your Login Info]]"/>
		##<input type="hidden" name="from" VALUE="noreply@entermediasoftware.com"/>

		<table><tr><td style="padding-left: 100px;"><div class="embutton"><INPUT name="submit" type="submit" class="embutton" value="[[Send Password]]" />
		</div></td></tr></table>
		
</form>
#end
