#if( $commandSucceeded == "nouser")

	$pages.include("./sendmagiclink.html")  ##to try again or register

#else			

<div class="col-md-6 container applicationcontent" style="max-width: 400px;">
	
	    <h3 style="text-align:center;">[[Please check your email]]</h3>
	    
	     #set($loginok = $context.findValue("loginokpage") ) 

		<div class="hr"></div>
		<form name="login" id="login" action="$home$content.loginroot/login.html" method="POST" onsubmit="return confirmPassword(this);">
			<div class="form-group">
			<label for="password">[[Enter Six Digit Login Code]]</label>
			<input class="form-controlX grabfocus" id="entermediakey" name="templogincode" />
			#set( $email = $context.getRequestParameter("email") )	
			#if( $email )
			<input class="form-controlX " type="hidden" name="email" value="$email" />
			#else
			<input class="form-control form-control-sm required grabfocus" type="text" name="email" size="50" style="margin:0 auto; width:100%; max-width: 400px;" placeholder="[[Enter your Email Address]]" required />
			#end
			</div>
			
			<div class="form-group">
			<input class="btn btn-sm btn-primary" name="submit" type="submit" id="login-submit" value="[[Login]]" />
			#if($loginok)
			#set( $loginok = "$context.siteRoot" + "$loginok")
			<input type="hidden" name="loginokpage" value="#esc($!loginok)"/>
			#end
			</div>
			#if ( $context.getPageValue("oe-exception") )
				<div style="border: 1px solid black; width: 60%; text-align: center">$context.getPageValue("oe-exception")</div>
				$context.removeSessionValue("oe-exception")
			#end
		</form>   

			
</div>

#end