#if ($commandSucceeded == "true")

<p>[[Thank You!]]</p>
<p>[[Your account information has been sent to]]: $context.mail.<p>
<p><a href="login.html">[[Return to login]]</a></p>
#elseif ($commandSucceeded == "nouser")

<p>[[Unable to send account information for]]:</p>
<p>[[E-Mail Address]]: $context.getRequestParameter("to")</p>
<p>[[No user found.  Please contact your administrator.]]</p>
<p><a href="login.html">[[Return to login]]</a></p>

#elseif ($commandSucceeded == "noemail")

<p>[[Unable to send account information for]]:</p>
<p>[[Username]]: $context.getRequestParameter("username")</p>
<p>[[E-Mail Address]]: $context.getRequestParameter("to")</p>
<p>[[Please contact your administrator.]]</p>
<p><a href="login.html">[[Return to login]]</a></p>

#elseif ($commandSucceeded == "false")

<p>[[Unable to send account information for]]: </p>
<p>[[E-Mail Address]]: $context.getRequestParameter("to")</p>
<p>$context.error</p>
<p>[[Please contact your administrator.]]</p>
<p><a href="login.html">[[Return to login]]</a></p>

#else

<h2>[[Password Helper]]</h2>

<form id="password-reminder" name="passwordReminder"  method="post">
<p>[[Your password will be sent to you via e-mail.]]</p>
		<label for="to">[[E-Mail Address]]</label> 
		<input type="text" name="to" size="40" />
		<input type="hidden" name="subject" VALUE="[[Your Login Info]]"/>
		##<input type="hidden" name="from" VALUE="noreply@entermediasoftware.com"/>

		<div class="embutton"><INPUT name="submit" type="submit" class="embutton btn" value="[[Send Password]]" />
		
</form>
#end
