<div id="magiclinkcontainer">
<div class="container applicationcontent">
	<div class="row no-gutters justify-content-sm-center loginformcontainer">	
	    <div class="loginform-col text-center mb-4">
	    
			<h1 class="page-title text-center my-4">[[Sign-up]]</h1>

			#set( $to = $context.getRequestParameter("email") )	
			#set( $username = $context.getRequestParameter("username") )
			
			<form class="ajaxform" 
					action="$home$content.loginroot/sendusercode.html"
					id="password-reminder" name="passwordReminder"  method="post"
					data-targetdiv="magiclinkcontainer">

					<div style="margin:10px; text-align: center">[[Email was not found. Enter first and last name to register]]</div>
													
					<p><input class="form-control form-control-sm required" type="text" name="email" size="50" value="$!to" 
					    placeholder="[[Enter your Email Address]]" required /> 		
						</p>
						
					<p><input class="form-control form-control-sm required grabfocus" type="text" name="firstName"  size="50"
						 placeholder="[[First Name]]" required /></p>
					 <p><input class="form-control form-control-sm required " type="text" name="lastName"   
						 placeholder="[[Last Name]]" required /></p>
						 
					<input class="btn btn-primary" name="submit" style="width: 100%;" type="submit" value="[[Send New User Code]]" />
			
					
					#ifnotnull( $userCategory)
					<input type="hidden" name="categoryid" value="$userCategory.id" />
					#end
					<input type="hidden" name="subject" value="[[Login Code]]" />
            </form>
            
		</div>
	</div>
</div>
</div>