
$context.putPageValue("hits",$orderassets)
$context.putPageValue("hidefilters",true)

#set($module = $searcherManager.getData($catalogid, "module", $moduleid ) )

<div id="searchplugin" class="modules-layout">
<div id="collectionbasket">
<h2>[[Cart]]</h2>
                #if($orderitems.size() >0 )
                	$context.putPageValue("resultstargetdiv","collectionbasket")
                	$context.putPageValue("resultsPage","$siteroot$apphome/views/basket/index.html")
                	$context.putPageValue("hideresultstypes","hideresultstypes")
                	
                    $pages.include("$apphome/components/results/index.html",$context)
                #else

                <p class="info" style="padding:20px;">[[No Items in Cart]]</p>

    #end
</div>


</div> 