$context.putPageValue("hits",$orderassets)
$context.putPageValue("hidefilters",true)

<div id="searchplugin" class="modules-layout">
	<div class="col-main col-sidebar" id="leftsidebar">
	<div class="col-main-inner">
		
		#set($module = $searcherManager.getData($catalogid, "module", $moduleid ) )
		<h2>[[Cart]]</h2>
		 
		##$pages.include("${searchhome}/sidebar/standard.html",$context)
		<div class="clearfix"></div>
		
	</div>
	</div>
	<div class="col-main col-content col-content-main" class="module-inner">
				<div id="collectionbasket">
                    <div id="resultsdiv" data-hitssessionid="$orderassets.getSessionId()">
                    #if($orderitems.size() >0 )
                        $pages.include("$apphome/components/results/index.html",$context)
                    #else

                    <p class="info" style="padding:20px;">[[No Items in Cart]]</p>

                    #end
                    </div>
                    </div>

				<div class="clearfix"></div>
	</div>

</div> 