<div id="createmediapanel">
#set( $collectionid = $context.getRequestParameter("collectionid") )
#set( $nodeID = $context.getRequestParameter("nodeID") )
<div class="container-fluid">
<div class="row">

#if( $canviewupload)
     <div class="col-upload-option">
  		<a class="ajax btnthumbnail"  targetdivinner="createmediapanel" href="$home$apphome/components/createmedia/upload/index.html?collectionid=$!collectionid&nodeID=$!nodeID">
      <img  src="$home$apphome/components/createmedia/upload/addi.png" >
      <div class="caption">
        <h4>[[Upload Media]]</h4>
        <p>[[Upload media from local file system or camera]]</p>
      </div>
       </a>
    </div>
  #end	

#if( $collectionid && $cancopycategory)
	<div class="col-upload-option">
  		<a class="ajax btnthumbnail"  targetdivinner="createmediapanel" href="$home$apphome/components/createmedia/copycategory/index.html?collectionid=$!collectionid">
      <img  src="$home$apphome/components/createmedia/upload/addi.png" >
      <div class="caption">
        <h4>[[Copy Categories]]</h4>
        <p>[[Copy existing folder or categories]]</p>
      </div>
       </a>
    </div>
#if($canimportworkspace)
     <div class="col-upload-option">
  		<a class="ajax btnthumbnail"  targetdivinner="createmediapanel" href="$home$apphome/components/createmedia/importwork/index.html?collectionid=$!collectionid">
      <img  src="$home$apphome/components/createmedia/upload/addi.png" >
      <div class="caption">
        <h4>[[Import Work Folder]]</h4>
        <p>[[Import files from user sync folder]]</p>
      </div>
       </a>
    </div>
      <div class="col-upload-option">
  		<a class="ajax btnthumbnail"  targetdivinner="createmediapanel" href="$home$apphome/components/createmedia/importzip/index.html?collectionid=$!collectionid">
      <img  src="$home$apphome/components/createmedia/upload/addi.png" >
      <div class="caption">
        <h4>[[Upload Collection Zip File]]</h4>
        <p>[[Import files from a previously exported zip file]]</p>
      </div>
       </a>
    </div>
    #end
    
#end



  #if( $cancreatenewrecord)
  <div class="col-upload-option">
  <a  class="ajax btnthumbnail" targetdivinner="createmediapanel" href="$home$apphome/components/createmedia/url/start.html?collectionid=$!collectionid" >
      <img  src="$home$apphome/components/createmedia/upload/addi.png" >
      <div class="caption">
        <h4>[[Add Remote Media]]</h4>
        <p>[[Create media assets from a URL or Embed code]]</p>
      </div>
   </a>
   </div>
  <div class="col-upload-option">
   <a  class="ajax btnthumbnail" targetdivinner="createmediapanel" href="$home$apphome/components/createmedia/data/newdatastart.html?collectionid=$!collectionid">  
	<img  src="$home$apphome/components/createmedia/upload/addi.png" >  
	 <div class="caption">
        <h4>[[Create Data Record]]</h4>
        <p>[[Create empty data records then attach media later]]</p>
      </div>
	</a>       
    </div>
  #end
  #if( $cancreatelivemedia)
  <div class="col-upload-option">
  <a  class="ajax" targetdivinner="createmediapanel" href="$home$apphome/components/createmedia/video/newvideostart.html?collectionid=$!collectionid" >
     <div class="btnthumbnail">
       <img  src="$home$apphome/components/createmedia/upload/addi.png" >
       <div class="caption">
        <h4>[[Live Video Stream]]</h4>
        <p>[[Make a live stream recording from your webcam]]</p>
      </div>
    </div>
   </a>  
   </div> 
  #end  
  </div>
  </div>
</div>