<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.0.xsd"

 default-lazy-init="true"
>
	<!-- 
	<bean  id="ProjectModule" class="modules.projects.ProjectModule" lazy-init="default" />
	<bean  id="projectManager" class="model.projects.BaseProjectManager" lazy-init="default">
			<property name="searcherManager"><ref bean="searcherManager" /></property>
	</bean>
 	-->
 	<!-- 
	<lang:groovy  id="ProjectModule" script-source="modules/projects/ProjectModule.groovy" lazy-init="default" />
	 -->
	 
	<lang:groovy  id="JsonModule" script-source="rest/json/JsonModule.groovy" lazy-init="default" />
	<lang:groovy  id="JsonAssetModule" script-source="rest/json/JsonAssetModule.groovy" lazy-init="default" />
	<lang:groovy  id="JsonDataModule" script-source="rest/json/JsonDataModule.groovy" lazy-init="default" />
	<lang:groovy  id="JsonAdminModule" script-source="rest/json/JsonAdminModule.groovy" lazy-init="default" />

	 
</beans>
