<div class="publishtabcontainer">
	
	<div class="ui-widget uipanel" style="padding: 5px 5px 5px 5px;width: 60%">
		<div class="ui-widget-header">[[Collection Snapshots]] </div>
		<div class="ui-widget-content">	
<h4>[[Collection Snapshot Logs]] </h4>


	
#set( $snapshotsearcher = $mediaarchive.getSearcher("librarycollectionsnapshot") )
#set( $snaphits = $snapshotsearcher.query().match("librarycollection",$librarycol.getId()).sort("dateDown").search() )

		##set( $count = $librarycol.getValue("revisions") )
		
		<div><!--class="librarylabels"  -->
			#if( $snaphits.size() > 0)
			<table width="100%" class="emdata table table-striped table-hover" >
			<tr class="tableheader">
				<th>[[Revision]]</th>
				<th>[[User]]</th>
				<th>[[Date]]</th>
				<th>[[Comment]]</th>
				<th>[[Total Assets]]</th>
				<th>[[Actions]]</th>
			</tr>
			#foreach($upload in $snaphits)
			#set($assets = $mediaarchive.getAssetSearcher().fieldSearch("category", "${librarycol.getId()}_$upload.revision"))
			
				<tr> 
					<td>$upload.revision</td>
					<td>$upload.owner</td>
					<td>$context.getDateTime($upload.date)</td>
					<td>$!upload.note</td>
					<td>$!assets.size()</td>
					<td><a href="$home$apphome/views/modules/librarycollection/restoresnapshot.html?collectionid=${librarycol.getId()}&revision=$upload.revision">[[Restore]]</a></td>
				</tr>	
			#end
				</table>
			#else
			<p>[[Save a snapshot of current assets and folders in this collection]]</p>
			#end	
			</div>
						
				
			<a class="btn btn-sm btn-primary" href="$home$apphome/views/modules/librarycollection/createsnapshot.html?collectionid=$librarycol.getId()">[[Create Snapshot]]</a> 

</div>
</div>
</div>
