$context.putPageValue("showhover", "false")
$context.putPageValue("showcaption", "true")
$context.putPageValue("hideheader", "true")

#set($nodeID = $context.getRequestParameter("nodeID"))
#if(!$nodeID)
	#set($nodeID = $context.getRequestParameter("nodeid"))
#end
#if(!$category)
	#set($categoryid = $context.getRequestParameter("categoryid"))
	#if (!$categoryid)
		#set($categoryid = $context.getRequestParameter("nodeID"))
	#end
	#if(!$categoryid)
		#set($categoryid = $context.getRequestParameter("category.value"))
	#end
	#if($categoryid)
		#set($category = $mediaarchive.getData("category",$categoryid))
		#if($category)
			$context.putPageValue("category",$category)
		#end
		#if(!$nodeID)
			#set($nodeID = $categoryid)
		#end
	#end
	
#end
#if( !$librarycol && $category ) 
	#set( $librarycol = $mediaarchive.query("librarycollection").orgroup("rootcategory",$category.getParentCategories()).searchOne() )
#end
#if( !$librarycol )
	#set($collectionid = $context.getRequestParameter("collectionid"))
	#if($collectionid)
		#set( $librarycol = $mediaarchive.query("librarycollection").exact("id",$collectionid).searchOne() )
	#end
#end

#if( $librarycol )	
	$context.putPageValue("librarycol",$librarycol)
	#set($collectionid = $librarycol.getId())
	$context.putPageValue("collectionid", $collectionid)
#end


#set( $downloadsearcher = $mediaarchive.getSearcher("librarycollectiondownloads") )
#set( $downloads = $downloadsearcher.query().match("librarycollection",$librarycol.getId()).sort("date").search() )


##Sidebars
#if( $canviewcategorynav || ( $librarycol && $canviewcategorynavcollections ) )
	#set( $leftbarstatus = $userprofile.get("leftbarstatus"))
#else
	#set( $leftbarstatus = false)
#end
#set( $filtersbarstatus = $userprofile.get("filtersbarstatus"))

	<div id="searchlayout" class="cols-main #if ($module) cols-$module #end searchlayout2" 
		 data-nodeID="$!nodeID" data-collectionid="$!collectionid"  data-module="librarycollection"
		 data-hitssessionid="$!hits.sessionId" data-searchtype="asset" data-hitsperpage="$!hits.hitsPerPage">
		<div class="col-main col-content-main #if ($leftbarstatus!=false) leftopen #end #if ($filtersbarstatus!=false) filtersopen #end " id="maincontent">
				<div id="emresultscontainer" >
				#if($hits.size() == 0 && $mediaarchive.isCatalogSettingTrue("autopopulatecollections"))

					$pages.include("$apphome/components/createmedia/copycategory/index.html?autorun=true", $context)
					
					##TODO: Move this sompleace else or use jquery more
					<script type="text/javascript">   
						jQuery(document).ready(function(){
							jQuery("#poptrigger").trigger("click");
						});
					</script>
				
				#else
					
		    		$pages.include("$apphome/components/results/index.html",$context)
					
				#end
		    	</div>
		</div>
		<div id="col-filters" class="col-main col-filters #if($filtersbarstatus!=false) filtersopen #end">
			<div class="col-main-inner">
				$pages.include("$apphome/components/filters/sidebar.html", $context)
			</div>
		</div>
	</div>
