$context.putPageValue("showhover", "false")
$context.putPageValue("showcaption", "true")
$context.putPageValue("hideheader", "true")
$context.putPageValue("collectionid", $librarycol.getId())

#set( $downloadsearcher = $mediaarchive.getSearcher("librarycollectiondownloads") )
#set( $downloads = $downloadsearcher.query().match("librarycollection",$librarycol.getId()).sort("date").search() )

#if(!$category)

	#set($categoryid = $context.getRequestParameter("categoryid"))
	#if (!$categoryid)
		#set($categoryid = $context.getRequestParameter("nodeID"))
	#end
	#if(!$categoryid)
		#set($categoryid = $context.getRequestParameter("category.value"))
	#end
	
#end




#if($hits.size() == 0 && $mediaarchive.isCatalogSettingTrue("autopopulatecollections"))
	$pages.include("$apphome/components/createmedia/copycategory/index.html?autorun=true", $context)
	
	<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery("#poptrigger").trigger("click");
		});
	</script>

#else
	<div id="emresultscontainer" > 
	$pages.include("$apphome/components/results/index.html",$context)
	</div>
#end