
#set( $parent = $searcherManager.getData($catalogid,"mediaalbum",$data.mediaalbum_id ))
#set( $appmodule = $context.findValue("appmodule"))
<div class="table">
    <div class="module-sidebar-actions tcell">
        <ul>
        #set( $library = $searcherManager.getData($catalogid,"library",$data.library ))
        #if( $library)
            <li><a href="$home$apphome/views/search/search.html?field=libraries&operation=exact&libraries.value=$library.id">View Song Folders</a></li>
        #end  
            <li><a href="#">Download Song Folders</a></li>
            <li><a href="#">Delete Song</a></li>
        </ul>
    </div>
    <div class="module-details-main tcell">
        <div class="module-details-header clearfix">
            <div class="md-thumbnail">
            
              $context.putPageValue('data',  $parent )
              $context.putPageValue('val',  $parent.thumb )
              $context.putPageValue('detail',  $searcher.getDetail("thumb") )
              $pages.include("$apphome/components/moduleresults/cell.html", $context)    
            
            
            </div>
            <div class="md-header-info">
                <span class="md-title">$data.name</span>
                <span class="md-sub-title">$!data.artist</span>
                <span class="md-sub-title">$parent.name ($!parent.releasedate)</span>
            </div>
            <div class="md-player"></div>
        </div>
        <div class="md-details-content-holder">
   
              $context.putPageValue('data',  $data )
            $pages.include("$apphome/components/detaileditor/moduleeditboxes.html?module=$appmodule&searchhome=$apphome/view",$context)
   
            <div class="md-content">
            	$pages.includeContent()
            </div>
        </div>
    </div>
</div>