   <ul id="cat-list">
			#foreach($categoryid in $foundcategories)
			#set($category  = $mediaarchive.getCategory($categoryid))

			<li id="auto-${categoryid}" class="row categorydraggable ui-draggable ui-draggable-handle collectionBox" data-nodeid="$categoryid" data-categoryname="$category.getName()">
				<a class="category" title="$category.getCategoryPath()" target="_blank" href="$home$apphome/views/categories/${category.id}.html" >$category.getCategoryPath() </a>
				<div class="collectionIcons">
						<a href="#" title="[[Remove]]">
							<span class="closecollection ui-icon ui-icon-closethick auto-remove " data-categoryid="$categoryid"></span>
						</a>
				</div>
				<input type="hidden" id="categoryvalues" name="categoryid" value="$categoryid" />
			</li>
		#end
		</ul>

   
	<script type="text/javascript">
	jQuery(".auto-remove").on("click", function() {
		var catid = jQuery(this).data('categoryid');
		
		jQuery("#auto-" + catid).remove();
		
		
	});
	
	
	</script>