#set( $collectionid = $context.getRequestParameter("collectionid") )

<div id="addcategoryform" class="ui-widget uipanel" style="padding: 0 10px 10px 10px;">
   <div class="ui-widget-header">[[Copy Existing Folders]]</div>
   <div class="ui-widget-content">
	

<form  name="wizard" method="post"  class="ajaxform" targetdiv="addcategoryform"
	action="$home$apphome/components/createmedia/copycategory/createnew.html">
    <input type="hidden" name="collectionid" id="urlcurrentcollection" value="$collectionid"/>

    <a class="ajax btn" targetdivinner="auto-pop"  
			  	data-hidefooter="true" href="$apphome/components/createmedia/copycategory/autopopulate.html?collectionid=${collectionid}" class="btn" ><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Auto Populate</a>
	
   <a class="emdialog btn" href="$home$apphome/components/categories/searchcategory.html?targetdiv=categoriespicked&clearselection=$!clear&action=${page.directory}/picked.html"
    data-hidefooter="true" data-parameterdata="categoryvalues"><i class="glyphicon glyphicon-search"></i> [[Select Categories]]</a>
	

	
	<div class="inner-content" style="width: 800px; " id="categoriespicked">
	$pages.include("./picked.html",$context)	
	</div>
	<div id="auto-pop" style="width: 800px;"></div>
	<br><br>
	<input type="submit" value="Import" />	

</div>
	
	
	<a class="ajax btn gobacklink" targetdiv="createmediapanel" href="$home$apphome/components/createmedia/start.html?collectionid=$collectionid">[[Go Back]]</a>

	<script type="text/javascript">
	jQuery(".auto-remove").livequery("click", function() {
		var catid = jQuery(this).data('categoryid');
		
		jQuery("#auto-" + catid).remove();
		
		
	});
	
	
	</script>		


	</div>

	
	
