<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                 &nbsp;
                <h3 class="panel-title">
                   Post new comment</h3>
              
            </div>
            <div class="panel-body" style="padding: 10px;">
           <form name="commentform"  class="form-horizontal ajaxform" data-reset="true" method="post" targetdiv="commentresults" role="form" action="$apphome/components/comments/postcomment.html">
  				<div class="form-group">
    				<div class="col-md-12">
    				<input type="hidden" name="searchtype" value="comment">
    				<input type="hidden" name="save" value="true">
    				<input type="hidden" name="field" value="searchtype">
    				<input type="hidden" name="oemaxlevel" value="1">
    				
    				<input type="hidden" name="field" value="externalid">
    				<input type="hidden" name="field" value="text">
    				<input type="hidden" name="parentsearchtype" value="$parentsearchtype">
    				<input type="hidden" name="searchtype.value" value="$parentsearchtype">
    				<input type="hidden" name="externalid.value" value="$externalid">
    				
    				
    				<input type="text" class="form-control" id="asdf" placeholder="Add New Comment..." name="text.value">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-12">
      <button type="submit" id="commentsubmit" class="btn btn-default btn-block">Submit</button>
    </div>
  </div>
</form>
					
            </div>
        </div>
    </div>
    
</div>


<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>  &nbsp;
                <h3 class="panel-title">
                    Recent Comments</h3>
                <span class="badge pull-right "> <!--  label label-info -->
                    $hits.size()</span>
            </div>
            <div class="panel-body" id="commentresults">
                  $pages.include("$apphome/components/comments/results.html", $context)
                
            </div>
        </div>
    </div>
    
</div>


<style>
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
</style>

<script>
$(window).scroll(function() {
    if($(window).scrollTop() == $(document).height() - $(window).height()) {
    	$(".commentsbutton").each(function(index){
    		if ($(this).attr('disabled') == undefined){
    			$(this).click();
    		}
    	});
 	}
});
 
 $(document).on("click", "#commentsubmit", function() {
	// jQuery("#asdf").val('');
			
		
	
 });


</script>