<div id="resultsdiv" data-hitssessionid="$hits.getSessionId()">
    <div class="simple-content clearfix">
        <div class="one-to-many clearfix">
            <div class="group-title"><a href="#">Album Name</a></div>
            <div class="table-row">
                <div class="table-cell group-image">
                    <img src="" alt="" title="" />
                </div>
                <div class="table-cell">
                    <ul>
                        <li class="table-header">
                            <span class="title">Song Title</span>
                            <span class="status">Status</span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li class="add-song">
                            <a class="btn" href=#"">Add New Song</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="one-to-many clearfix">
            <div class="group-title"><a href="#">Album Name</a></div>
            <div class="table-row">
                <div class="table-cell group-image">
                    <img src="" alt="" title="" />
                </div>
                <div class="table-cell">
                    <ul>
                         <li class="table-header">
                            <span class="title">Song Title</span>
                            <span class="status">Status</span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li class="add-song">
                            <a class="btn" href=#"">Add New Song</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="one-to-many clearfix">
            <div class="group-title"><a href="#">Album Name</a></div>
            <div class="table-row">
                <div class="table-cell group-image">
                    <img src="" alt="" title="" />
                </div>
                <div class="table-cell">
                    <ul>
                         <li class="table-header">
                            <span class="title">Song Title</span>
                            <span class="status">Status</span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li>
                            <span class="title"><a href="$home$apphome/view/index.html?id=123">Song Title</a></span>
                            <span class="status"></span>
                        </li>
                        <li class="add-song">
                            <a class="btn" href=#"">Add New Song</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>