<div id="{{scope.searchtype}}_table" class="tableholder">
    
<div id="emselectable" class="emselectable" data-view="$viewpath" data-searchtype="$searchtype" data-editpath="$home$editpath?$args&edit=true&oemaxlevel=1" data-targetdiv="${viewid}editor">

<table  id="main-results-table" class="emdata striped greytxt table tbl-responsive"  data-hitssessionid="$!existingrecords.sessionId">
	<thead ng-foreach="detail in details">
	<tr id="tableheader">
	#foreach( $detail in $details )
	<th class="sortable #if( $edit)editcolumnheader #end #if( $sortby.startsWith($detail.getId() ) ) currentsort #if( $sortby.endsWith("Up") ) up #else down #end #end" id="$detail.id">$detail.text</th>
	#end
	#if($candelete && $candelete == true && $showdelete == "true")
	<th></th>
	#end
	</tr>
	</thead>
	<tbody ng-foreach="hit in dataresults">
		<tr ng-foreach="detail in details"  #if($candelete != "false") rowid="$hit.id" #end #if($selectedid == $hit.id) class="emhighlight" #end>
		
			<td style="padding:4px;">
				#set( $val = "$!hit.get($detail.id)" )
				#if($detail.render)
					#set( $val = $searcherManager.getValue($catalogid, $detail.render, $hit.properties))
				#end
				$context.putPageValue("detail",$detail)
				$context.putPageValue("val",$val)
				$pages.include("$xmledithome/detailreadonly.html", $context)
			</td>
		#end
		
		#if($candelete && $candelete == true && $showdelete == "true")
			<td>
			<a href="#" onclick="if(confirm('Delete Item?')) { showpath('${searchtype}_table', '$home/system/components/xml/table-deleterow.html?delete=true&$editargs'); } return false;">
				[[delete]]
			</a>
			</td>
		#end		
		</tr>
	#end
	</tr>
	</tbody>
</table>


    <script>
        $('th.sortable').on({
            click: function(){
                var id = $(this).attr('id');
                var path = "$home$apphome/components/xml/columnsort.html?oemaxlevel=1&$args&sortby="
                if ( $(this).hasClass('currentsort') ) {
                    if ( $(this).hasClass('up') ) {
                        jQuery('#${viewid}editor').load( path + id + 'Down');
                    } else {
                        jQuery('#${viewid}editor').load( path + id + 'Up');
                    }
                } else {
                    $('th.sortable').removeClass('currentsort');
                    $(this).addClass('currentsort');
                    jQuery('#${viewid}editor').load( path + id + 'Down');
                }
            }
        });
    </script>



</div>