<div id="default-top" class="clearfix">
     <div class="main-info" style="padding-bottom: 30px;">
        <div class="primary">
           [[Order History]] 
        </div>
        <div class="secondary">
            [[View your order history below]]
        </div>
    </div>
</div>
#if($order.userid == $user.id)
	#set ( $orderid = $context.findValue("orderid") )
	
	
	$context.putPageValue("order", $order)
	$pages.include("$home$apphome/components/orders/vieworder.html", $context)
#else
	Sorry, you've arrived here in error.

#end