on hover on the row, you want to use javascript to use AJAX to load content from this page
into a popup.

This page will use the detail editor to render the details in the new "popup details" view

The data object will already be loaded, as will the searcher by the popup.xconf




Popup content
Maybe use detail editor

needs a searcher, a view, and data

#set($view = ${moduleid}/${moduleid}popupdetails")
<!--  The line below renders the content -->
$pages.include("/$applicationid/components/xml/detaileditor.html?detailsreadonly=true&alwaysshow=true", $context)



Base for modules is:

/WEB-INF/base/emfrontend/views/modules/default/

Results table is:


/WEB-INF/base/emfrontend/views/modules/default/results.html is redendering the results table

you could add something like: <tr data-rowurl="whatever.html">
