#set($module = $searcherManager.getData($catalogid, "module", $context.findValue("module") ))
#set ( $defaultview = $userprofile.getDefaultViewForModule($module.id) )


<ul id="sub-nav" class="search-views">
<li><a href="$home${content.searchhome}/edit/addnew.html?viewid=$defaultview.id&viewpath=$module.id/$defaultview.id">[[Add New]]</a></li>
#if($content.showactions)
	$pages.include("$content.searchhome/selectionactions.html")
#end
#if($hits.hasSelections() )
<li>		$pages.include("${content.searchhome}/selections/selected.html",$context)
</li>
#end


#set( $edit = $context.getRequestParameter("editheader"))
#if( !$edit || $edit == "false")
#set( $edit = false)
#end

<li style="float: right;" class="edit-columns">	
				<div style="position: relative;">
					#if( $canedittablecolumns )
					<div id="table-edit-outside">
						#if( !$edit ) <a class="ajax" id="table-editor" targetdiv="emresultscontent" href="$content.searchhome/results.html?searchtype=${module.id}t&hitssessionid=$hits.getSessionId()&editheader=true&oemaxlevel=1"> <img style="position: relative; top: -1px;" title="[[Edit Columns]]" src="$home$themeprefix/images/edit.gif" /></a>
						#else <a class="ajax table-edit-close" targetdiv="emresultscontent" href="$content.searchhome/results.html?searchtype=${module.id}&hitssessionid=$hits.getSessionId()&editheader=false&oemaxlevel=1"><img title="[[Cancel]]" style="position: relative; top: -1px;" src="$home$themeprefix/images/delete.gif" /></a>
						<div id="column-editor">
							<div id="column-editor-content">
								#set ($alldetails = $searcher.getUserPropertyDetails() )
								<select  onchange='addColumn(jQuery(this).val())' name="addcolumn" >
									<option>[[Add Column]]</option>
									#foreach( $detail in $alldetails) <option value="$detail.id">$detail.getText($context)</option>
									#end
								</select>
								<script type="text/javascript">
									function addColumn(inId) {
										jQuery('#emresultscontent').load("$content.searchhome/addremovecolumns.html?oemaxlevel=1&searchtype=${module.id}&hitssessionid=$hits.getSessionId()&editheader=true&addcolumn=" + inId);
									}
								</script>
							</div>
						</div>
						#end
					</div>
					#end
				</div>
			</li>

</ul>
