#if(!$hits)
        #set($hitsname = $context.getRequestParameter('hitsname'))
        #set($hits = $context.getPageValue($hitsname))
#end


#if(!$hits)
        #set($hitssessionid = $context.getRequestParameter('hitssessionid'))
        #if($hitssessionid)
            #set($hits = $context.getSessionValue($hitssessionid))
        #end
#end
#if(!$hits)
#set($hits = $context.getPageValue($content.hitsname))
#end
$context.putPageValue("hits", $hits)
#set($module = $searcherManager.getData($catalogid, "module", $context.findValue("module") ))

<div id="searchplugin">
	<div class="subcolumns">
		<div class="c25l" id="left-col">
				$pages.include("/$applicationid/views/modules/${module.id}/sidebar/standard.html")
		</div>
		<div id="right-col" class="module-inner">
				
					<div id="resultsdiv">
						<div id="emresultscontent">
							
							$pages.include("/$applicationid/views/modules/$module/resultsactions.html")
							
							<div id="resultsarea">
								<div id="resultslist">
									<div id="emselectable">
										$pages.includeContent()
									</div>
								</div>
							</div>
							
						</div>
					</div>

		</div>
	</div>
</div>



<script type="text/javascript" >

    toggleHit =  function(div, count, sessionid)
    {
    	jQuery.get("$home${content.searchhome}/selections/toggle.html", {count:count, sessionid:"$hits.getSessionId()"});
    	jQuery('#messagearea').load("$home${content.searchhome}/selections/togglepage.html", {oemaxlevel:1, hitssessionid:"$hits.getSessionId()"});
    }


    togglehits =  function(action)
    {
        
    	jQuery('#messagearea').load("$home${content.searchhome}/selections/togglepage.html", {oemaxlevel:1, hitssessionid:"$hits.getSessionId()", action:action});         
           if(action == 'all' || action== 'page'){
        	   jQuery('.selectionbox').attr('checked','checked');
            }else{
            	jQuery('.selectionbox').removeAttr('checked');  
            }
           return false;       

    }

    
    
            
            hide_spinner = function(){$j('#spinner').css('visibility', 'hidden');};
            show_spinner = function(){$j('#spinner').css('visibility','visible');};

            jQuery('.navlink').livequery('click', function(e){  
                show_spinner(); 
                
               nextpage = $j(this).attr('href');
             
               jQuery('#resultsarea').load(nextpage, {oemaxlevel:1}, hide_spinner);       
                return false;      
            });
            
            
                            
</script>    

    
