<a tabindex="0" href="#search-engines" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="flat">Actions</a>

<div id="menu" style="display:none;" >
<ul >
			#if($canadmin)
<li><a href="$home${content.searchhome}/actions/reindex.html">Reindex</a></li>
<li><a href="$home${content.searchhome}/import/index.html">Import Data</a></li>
<li><a href="$home${content.searchhome}/edit/addnew.html">Add New Data</a></li>
<li><a href="$home${content.searchhome}/edit/batchedit.html?hitssessionid=$hits.sessionId">Batch Edit</a></li>


#end
     
			#if($canexport)
			<li class="current"><a href="$home${content.searchhome}/export/export.csv?hitssessionid=$hits.sessionId">[[Export results CSV]]</a></li>
					<li class="current"><a href="$home${content.searchhome}/export/export.csv?hitssessionid=$hits.sessionId&friendly=true">[[Export results with Friendly values]]</a></li>
	

			#end
			#if($candelete)
		<li class="current confirm"><a href="$home${content.searchhome}/actions/deleteselections.html?hitssessionid=$hits.sessionId">[[Delete selected items]]</a></li>
			#end
			
	

	
</ul>
</div>



<div id="ajax_results"></div>

<script type="text/javascript">

//BUTTON
jQuery('.fg-button').hover(
	function(){ jQuery(this).removeClass('ui-state-default').addClass('ui-state-focus'); },
	function(){ jQuery(this).removeClass('ui-state-focus').addClass('ui-state-default'); }
);

// MENU	
jQuery('#flat').menu({ 
	content: jQuery('#menu').html(), // grab content from this page
	showSpeed: 400 
});

		
		jQuery('#select_all').click(function(){
			jQuery('input[type="checkbox"]').each(function(){this.checked = true;});
			jQuery('#ajax_results').load('$home$membershiphome/search/selectall.html');
			
			return false;
		});
		
		jQuery('#select_none').click(function(){
			jQuery('input[type="checkbox"]').each(function(){this.checked = false;});			
			jQuery('#ajax_results').load('$home$membershiphome/search/selectnone.html');			
			
			return false;
		});
		

	
</script>
