
	
	
	<!-- div  class="emviewercaption">#esc($!asset.caption)</div>
	
	<div  class="emviewerinfo">
	$asset

	#if( $asset.getKeywords().size() > 0  )
	has keywords of
		#foreach ($tag in $asset.keywords)
			$tag
		#end
	#end
	#if( $asset.getCategories().size() > 0 )	
	in folders	
		#foreach ($category in $asset.categories) 
			$category.name
		#end
	#end

#if( $asset.assetaddeddate )
[[was uploaded on]]
<span class="emdetaildate">$!context.getDate($asset.assetaddeddate)</span>
#end

#if( $asset.owner )
[[by]] ($asset.owner)
#end

#set( $views = $mediaarchive.getAssetStatsManager().getViewsForAsset($asset))
<span class="emdetailviews">
#if( $views > 0 )
[[and has]] $views views
#end
</span>


</div -->

	<ul class="emdetailactions clearfix">

##if( $canviewsettings )
		##<li class="emdetaileditasset"><a  class="btn" href="$home$apphome/views/detaileditor/generalinformation/index.html?sourcepath=$asset.sourcepath&hitssessionid=$hits.sessionId">[[Metadata]]</a></li>
##end	

#if( $canpublish )
		<li><a class="btn"  href="$home$apphome/views/activity/publishassets.html?assetid=$asset.id">[[Publish]]</a></li>
#end
#if( $canemaillink )
		<li><a class="btn" href="$home$apphome/views/activity/emailassets.html?assetid=$asset.id">[[Email]]</a></li>
#end
#if( $candownload )
		<li><a class="btn" href="$home$apphome/views/activity/downloadassets.html?assetid=$asset.id">[[Download]]</a></li>
#end



#if( $cansocialshare )
		<li class="emdetailfacebook"><a class="btn emdialog" href="$home$apphome/components/share/social.html?sourcepath=$asset.sourcepath&categoryid=$!category.id&width=640&height=480">[[Social Media]]</a></li>
#end
#if( $canembedasset )
		<li class="emdetailfacebook"><a  class="btn emdialog" href="$home$apphome/components/share/embed.html?sourcepath=$asset.sourcepath&width=700&height=200">[[Embed]]</a></li>
#end

#if($caneditasset)
<li style="float: right;">
<a class="btn" href="$home$apphome/views/detaileditor/generalinformation/index.html?sourcepath=$asset.sourcepath"><img width="12" src="$home$themeprefix/images/navigation/write-note.png" title="Edit Metadata" /> Edit</a>
</li>
#end


#if( $canviewvoting )			
<li class="emdetaileditasset" style="float: right;">
		$pages.include("$apphome/components/voting/index.html?catalogid=$catalogid&sourcepath=$asset.sourcepath", $context)
</li>
#end



	</ul>

