<div id="emdataeditor" class="emdetailsbox" >

	<div  class="emviewercaption">#esc($!asset.caption)</div>

	<div  class="emviewerinfo">
	$asset

	#if( $asset.getKeywords().size() > 0  )
	has keywords of
		#foreach ($tag in $asset.keywords)
			$tag
		#end
	#end
	#if( $asset.getCategories().size() > 0 )	
	in folders	
		#foreach ($category in $asset.categories) 
			$category.name
		#end
	#end

#if( $asset.assetaddeddate )
[[was uploaded on]]
<span class="emdetaildate">$!context.getDate($asset.assetaddeddate)</span>
#end

#if( $asset.owner )
[[by]]($asset.owner)
#end

##set( $views = $mediaarchive.getAssetStatsManager().getViewsForAsset($asset))
##<span class="emdetailviews">
##if( $views > 0 )
##[[currently has]] $views views
##end
##</span>

</div>

	<ul class="emdetailactions">
#if( $cansocialshare )
		<a class="emdialog" href="$home$apphome/components/share/social.html?sourcepath=$asset.sourcepath&categoryid=$!category.id&width=640&height=480"><li class="emdetailfacebook  uibutton"><img src="$home$themeprefix/images/buttons/facebooksm.png" alt="Share with social media sites"> Social Media</li></a>#end
#if( $canshareasset )
		<a class="emdialog" href="$home$apphome/components/share/permissions.html?sourcepath=$asset.sourcepath&categoryid=$!category.id&width=700&height=650"><li class="emdetailfacebook  uibutton"><img src="$home$themeprefix/images/navigation/user-group.png" alt="Share Settings">   Permissions</li></a>#end
		<a class="emdialog" href="$home$apphome/components/share/embed.html?sourcepath=$asset.sourcepath&width=700&height=200"><li class="emdetailfacebook  uibutton"><img src="$home$themeprefix/images/navigation/link.png" /> [[Embed]]</li></a>
#if( $canemaillink )
		<a  href="$home$apphome/views/activity/emailassets.html?assetid=$asset.id"><li class="uibutton"><img src="$home$themeprefix/images/buttons/email.png" /> Email</li></a>
#end
#if( $candownload )
		<a  href="$home$apphome/views/activity/publishassets.html?assetid=$asset.id"><li class="uibutton"><img src="$home$themeprefix/images/buttons/forwd_16x16.png" /> Export</li></a>
#end
#if( $candownload )
		<a href="$home$apphome/views/activity/downloadassets.html?assetid=$asset.id"><li class="uibutton"><img src="$home$themeprefix/images/buttons/download.png" /> Download</li></a>
#end
#if( $canviewsettings )
		<a href="$home$apphome/components/mediaviewer/details/metadataedit.html?sourcepath=$asset.sourcepath&hitssessionid=$hits.sessionId&edit=true"><li class="emdetaileditasset  uibutton"> <img src="$home$themeprefix/images/navigation/info.png" />  Edit</li></a>
#end	
#if( $canviewvoting )			
<li class="emdetaileditasset  uibutton">
		$pages.include("$apphome/components/voting/index.html?catalogid=$catalogid&sourcepath=$asset.sourcepath", $context)
</li>
#end
	</ul>

</div>
