<div class="clipedit" style="width:100%;;margin:0px 0 20px;">
	
		<h4>
			[[Timeline Editor]]
			
		</h4>
		<div style="padding:10px 20px 20px; ">
			<a id="addnewcopy" href="#" class="btn btn-primary" style="margin-left:0px;" >[[Add New]]</a>
			<a id="removetime" href="#" class="btn btn-primary" style="margin-left:0px;" >-</a>
			<a id="addtime" href="#" class="btn btn-primary" style="margin-left:0px;" >+</a>
		</div>
	<div style="border-top:1px solid #efefef;">
		<div id="clipdetails" style="padding:20px; display:none ">
			#set( $searcher = $mediaarchive.getSearcher("asset") )
			#set($detail =	$searcher.getPropertyDetails().getDetail("clips")) 
##			$context.putPageValue("value",$asset)
			$context.putPageValue("detail",$detail)
##			$context.putPageValue("searcher",$searcher)
##			$pages.include("/$applicationid/components/xml/detailedit.html", $context)

		
			<input type="text" class="form-control" name="cliplabel" id="cliplabel.value" value="" style="margin-bottom:8px;" placeholder="[[Clip Name]]" >
			<label style="float:left; line-height: 2.2; margin-right: 5px;">[[Start]]: </label> <input type="text"  class="form-control form-control-sm" name="timecodestart" id="timecodestart.value" style="width:183px; float:left; margin-right:20px;"  value="" >
			<label style="float:left; line-height: 2.2; margin-right: 5px;">[[Length]]: </label> <input type="text"  class="form-control form-control-sm" name="timecodelength" id="timecodelength.value" style="width:184px; float:left;"  value="" >
			<div class="clearfix"></div>

			<div class="btns">
			<a id="playclip" data-playtext="[[Play]]"  data-stoptext="[[Stop]]"  href="#" class="btn btn-success btn-disabled" ><i class="fas fa-play"></i> [[Play]]</a>
			<a id="removeclip" href="#" class="btn btn-danger btn-disabled" >[[Remove]]</a>
			<a id="downloadclip" href="#" class="btn btn-primary btn-disabled">[[Download Clip]]</a>
			</div>
		</div>
	</div>
	<div style="padding:10px;">
	<a id="savetimeline" href="#" class="btn btn-primary btn-disabled" style="float:right" disabled>[[Save Timeline]]</a>
	##<a id="cancel" href="/$applicationid/components/timeline/index.html?assetid=$asset.getId()&hitssessionid=hitsassetassets/catalog" class="btn btn-secondary btn-disabled ajax" data-targetdiv="timelineeditor" data-oemaxlevel="1" style="float:right;margin-right: 10px;" >[[Cancel]]</a>
	</div>	
	<div id="warningarea" class="alert alert-warning " role="alert" style="margin-top:4px;display:none;">
	  <strong>[[Note]]:</strong> [[unsaved changes to timeline]]
	</div>
</div>