<div class="clipedit" style="width:100%;margin:0px 0 20px;">
	
		
	<div >
	
	<div style="padding-left:20px;visibility:hidden" id="warningarea">
	<a id="savetimeline" href="#" class="btn btn-primary btn-disabled" style="" disabled>[[Save Changes]]</a>
	##<div id="" class="alert alert-warning " role="alert" style="margin-top:4px;">
	##  <strong>[[Note]]:</strong> [[unsaved changes to timeline]]
	##</div>
	</div>
	
		<div id="clipdetails" style="padding:20px; display:none ">
		
			<textarea class="form-control" name="cliplabel" id="cliplabel.value" value="" style="width:350px;height:60px;margin-bottom:8px;" placeholder="[[Clip Name]]" ></textarea>
			<label style="line-height: 2.2; margin-right: 5px;">[[Start]]: </label> <input type="text"  class="form-control form-control-sm" name="timecodestart" id="timecodestart.value" style="width:100px; "  value="" >
			<label style="line-height: 2.2; margin-right: 5px;">[[Length]]: </label> <input type="text"  class="form-control form-control-sm" name="timecodelength" id="timecodelength.value" style="width:100px; "  value="" >

			<div class="clearfix"></div>
			<div id="nestedfields">
				#set( $searcher = $mediaarchive.getSearcher("clips") )
				$context.putPageValue("searcher",$searcher)
				$context.putPageValue("view","clips/clipsedit")	
				
				$pages.include("/$applicationid/components/xml/detaileditorcss.html", $context)
			</div>

			<div class="btns">
##			<a id="playclip" data-playtext="[[Play]]"  data-stoptext="[[Stop]]"  href="#" class="btn btn-success btn-disabled" ><i class="fas fa-play"></i> [[Play]]</a>
			<a id="removeclip" href="#" class="btn btn-danger btn-disabled" >[[Remove]]</a>
##			<a id="downloadclip" href="#" class="btn btn-primary btn-disabled">[[Download Clip]]</a>
			</div>
		</div>
	</div>
</div>