#set( $sourcepath = $asset.sourcepath )
#set( $source = "$home/${applicationid}/views/modules/asset/downloads/converted/cache/${sourcepath}/video.mp4" )
#set( $webmsource = "$home/${applicationid}/views/modules/asset/downloads/converted/cache/${sourcepath}/video.webm" )
#set( $thumb = "$home/${applicationid}/views/modules/asset/downloads/preview/large/${sourcepath}/thumb.jpg" )
#set( $clientroot = "/${applicationid}/components/timeline" )


<div class="row">
<div class="col" style="max-width: 550px">
	<div id="video-container">
	<div class="video-holder" id="showcaseclient" data-clientroot="$clientroot" data-dataid="$asset.id">
		<section id='cuePlayer' style="padding:6px;">
			<video id="videoclip" class="video-player video-tl" preload="no" controls="true" webkit-playsinline poster="$thumb" style="width:550px">
				<source src="$source" type="video/mp4" />
				<source src="$webmsource" type="video/webm" />
			</video>
	   </section>
	</div>									
</div>
</div>
<div class="col-sm-5  col-xl-4">
	$pages.include("$clientroot/details/edit.html", $context)
</div>
</div>