#set( $asset = $mediaarchive.getAsset($context.getRequestParameter("id")) )
#set ($link = "$siteroot$apphome/views/modules/asset/index.html?hitssessionid=hitsassetassets/catalog#asset-${asset.id}")    
<div class="mapbubblef">
	
  	<a class="stackedplayer" data-assetid="$asset.id"  href="$link" style="float:left; width:80px;">
	   	<img 
	   	class="media-object#"
	   	style="max-width: 80px;" 
	   	src="$siteroot$apphome/views/modules/asset/downloads/preview/thumb/$asset.sourcepath/thumb.jpg" 
	   	alt="$asset">
  	</a>
  	<div style="float:left; width:100px; padding-left:10px; word-break:break-all;">
		<strong><a class="stackedplayer" data-assetid="$asset.id"  href="$link">$asset</a>
		</strong>
		</div>
</div>		  
				
			
		 
		 
		 
		 
		