#if( !$values && $data )
	#set($values = $data.getValue("category-exact") )
#end
#if( $values )
	<div class="tageditor-viewer">
		#foreach( $type in $values )
			#set( $row = false )
			#set( $row = $mediaarchive.getCategory($type) )
		    #if( $row )
		      <a href="$home$apphome/views/modules/category/categorysearch.html?selectedcategory=${row.getId()}&nodeID=${row.id}"
		      class="badge badge-primary">#esc($row.getName())</a> 
		    #end 
		#end	
	</div>
#elseif( $val)
	#set( $row = $mediaarchive.getCategory($val) )
    #if( $row )
      <a href="$home$apphome/views/modules/category/categorysearch.html?selectedcategory=${row.getId()}&nodeID=${row.id}">#esc($row.getName())</a>
    #end 
#end	