#set( $collection =  $mediaarchive.getBean("entityManager").loadChildren($searcher.getSearchType(), $data.getId(), $detail.getListId()))
##XXX $searcher.getSearchType(), $data.getId(), $detail.getListId()  $collection
<ul class="entity-value-list">
	#foreach( $entity in $collection )
	    #set($link = "$applink/views/modules/${detail.getListId()}/components/gridsample/preview/entity.html")
	     <li>
	     <a href="$link" class="emdialog entity-dialog" 
	     		data-noesc="true" 
	     		data-entityid="$entity.getId()" 
	     		data-targetrendertype="entity"
	    		data-targetcomponenthome="/$applicationid/views/modules/$detail.getListId()/components"
	    		data-id="$entity.getId()"
	    		data-updateurl="true"
	    		title='[[View]] #text($entity)'>#text($entity)</a>
	    </li>
	#end	
</ul>
