#set( $collection =  $mediaarchive.getBean("entityManager").loadChildren($searcher.getSearchType(), $data.getId(), $detail.getListId()))
<ul class="entity-value-list">
	#foreach( $entity in $collection )
	    #set($link = "$!siteroot$applink/views/modules/TODO/${entity.id}.html")
	    	    <li>
	    	<a href="$link" 
	    		class="ajax" 
	    		data-targetdiv="applicationcontent"
	    		data-closedialog="true"
	    		data-oemaxlevel="4"
	    		data-updateurl="true"
	    		data-sidebarcomponent="categories"
	    		title='[[View Folder]]: #esc($category.get("categorypath"))'>#esc($category.get("categorypath"))</a>
	    </li>
	#end	
</ul>
