#set($collection = $data.getValues($detail.getId()))
#ifnotnull($collection)
#if(!$collection.isEmpty())
<div class="emfield-scroll">
<ul class="entity-value-list">
	#foreach( $profile in $collection )
		#set( $row = false )
		#set( $name = "")
		#set( $row = $mediaarchive.getCachedData("faceprofilegroup", $profile.faceprofilegroup) )
	    #if( $row )
	    
			#set( $person = $mediaarchive.getCachedData("entityperson", $row.entityperson) )
			#ifnotnull($person)
		    	#set($name = $context.getText( $person) )
		    	#set($name= "$name ($!row.get('samplecount'))")
			#end
	    	#if( $name == "")
	    		#set($name = "[[Profile]] $!row.get('facecounter') ($!row.get('samplecount'))") 
	    	#end
	    	#if($profile.timecodestart)
	    		#set($secs = $mediaarchive.formatMilliseconds($profile.timecodestart))
	    		#set($name = "$name &nbsp;($secs)")
	    	#end
		    
		    #set($link = "$siteroot$applink/views/modules/faceprofilegroup/components/gridsample/preview/entity.html?id=$row.id&hitssessionid=$!hits.sessionId")
		    <li><a href="$link" 
		    	class="emdialog entity-dialog"
		    	title="[[Face Profile]] ($!row.get('samplecount') [[Sample Count]])"
		    	>$!name</a></li>
	    #end 
	#end	
</ul>
</div>
#end
#end