<div class="card">
  <div class="card-body">
<ul class="list-unstyled chatterbox-message-list" >
  #foreach($message in $messages)
  
  
  #set($type = $message.type)
  $context.putPageValue("chat", $message)
  #if(!$type)
  #set($type = "default")
  #end  

 	$pages.include("$apphome/components/chatterbox/types/${type}.html", $context)
 
  
  #end
</ul>
</div></div>



       
                
                    <input class="form-control" type="text" size="51" id="msg" placeholder="Message"/>
                    <button type="button" class="chatter-send"  >Send</button>
              