<div class="card">
  <div class="card-body" >
<ul class="list-unstyled chatterbox-message-list" >
  #foreach($message in $messages)
  
  
  #set($type = $message.type)
  $context.putPageValue("chat", $message)
  #if(!$type)
  #set($type = "default")
  #end  

 	$pages.include("$apphome/components/chatterbox/types/${type}.html", $context)
 
  
  #end
</ul>
<hr/>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary chatter-send" data-command="approveasset" type="button">Approve</button>
    <button class="btn btn-outline-secondary chatter-send" data-command="rejectasset" type="button">Reject</button>
    <button class="btn btn-outline-secondary chatter-send" data-command="replaceasset" type="button">Replace</button>
    <button class="btn btn-outline-secondary chatter-send" data-command="messagereceived" type="button">Send</button>
    
  </div>
  <input type="text" class="form-control chatter-text" id="msg"  placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>
                
                
              
              
</div></div>
     
                
                
           
              