<div class="assetpanel-chatterbox-card">
	  <div class="card-body chatterbox-container" >
	  	<div class="chatterbox-body">
	  		<div class="chatterbox-body-inside">
				<div class="chatterbox-message-list" >
				  #foreach($message in $messages)
			
				  #set($type = $message.messagetype)
				  $context.putPageValue("chat", $message)
				  #if(!$type)
				  #set($type = "message")
				  #end  
				
				 	$pages.include("$apphome/components/chatterbox/types/${type}.html", $context)
				 
				 
				  #end
				</div>
			</div>
		</div>
		#if ($cancomment)
		<div class="chatterbox-inputarea">
			<div class="chatterbox-inputarea-inside">
				<div class="form-row">
	    			<div class="col  col-lg-8 col-xxl-9">
				  		<input type="text" class="form-control chatter-text" id="chatter-msg"  placeholder="" aria-label="" aria-describedby="basic-addon1">
				  	</div>
				  	<div class="col">
					  <button class="btn btn-primary btn-sm chatter-send float-left" data-command="messagereceived" type="button">[[Send]]</button>
					  <div class="dropdown  float-left" style="margin-left:10px;">
					  <button class="btn btn-secondary  btn-sm dropdown-toggle" type="button" id="dropdownChatterMenuActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    [[Edit Status]]
					  </button>
					  <div class="dropdown-menu" aria-labelledby="dropdownChatterMenuActions">
							#if(!$asset.editstatus.equals("6"))
							<a class="dropdown-item chatter-send" href="#" data-command="approveasset">Approve</a>&nbsp;
							#end
							
							#if(!$asset.editstatus.equals("rejected"))
							
						    <a class="dropdown-item chatter-send" href="#" data-command="rejectasset">Reject</a> &nbsp;
						    #end
						  ##  <a class="dropdown-item" href="#"data-command="replaceasset">Replace</a>
					  </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		#end
		</div>
	
</div>
                
                
           
              