#set( $categoryid = $context.getRequestParameter("categoryid"))
#set( $category = $mediaarchive.getCategory($categoryid))


<div id="crumbs" class="breadcrumbs">
<div class="category">					
	#foreach( $parent in $category.getParentCategoriesFrom(1))
	#if( ${foreach.count} > 1) \ #end
	<a  href="$home$apphome/views/modules/category/categorysearch.html?categoryid=${parent.id}&nodeID=${parent.id}">$parent</a>
	#end

	#if( !$librarycol)
		#set($collection = $mediaarchive.getSearcher("librarycollection").query().match("rootcategory",$categoryid).searchOne())
		#if($collection)
			<a href="$home$apphome/views/modules/librarycollection/media/${collection.getId()}.html" class="opencollection-btn" >[[Open Collection]]</span></a>
		#end
	#end


</div>

</div>
#if($librarycol.projectstatus)
<strong> ($mediaarchive.getData("projectstatus", $librarycol.projectstatus))</strong>
#end