#set( $rootpath = "${apphome}/components/categories")

##Always clear Tree if not category or nodeID
#set($clearselection = false)
#set($nodeID = $context.getRequestParameter("nodeID"))
#if(!$nodeID)
	#if (!$category)
		#set($clearselection = true)
	#end
#end


<div id="side-categories" class="cramped assetdropcategory">
    $pages.include("?&&",$context)
    #set( $link = "$apphome/components/emtree/tree.html")
    #set( $link = "${link}?tree-name=categoryPickerTree&clearselection=$clearselection&allowselections=false&editabletree=true" )
    #set( $link = "${link}&targetdiv=searchlayout&maxlevelclick=1" )
    ##set( $link = "${link}&url-prefix=$home$apphome/views/modules/category/categorysearch.html" )
    $pages.include($link, $context)
</div>