#if( $desktop.isBusy() )
<div id="desktopresults" class="ajaxstatus" data-ajaxpath="$page.getPath()?collectionid=$!{librarycol.getId()}&oemaxlevel=1">
	
<div id="exportpath" class="alert alert-success"> ##use ajaxreloading to monitor this?
	  <strong>Download started</strong> to  $desktop.getDesktopId(): ${desktop.getHomeFolder()}/EnterMedia/${librarycol.getName()}/
</div>
	
$pages.include("$apphome/views/modules/librarycollection/viewassets.html")

</div>

#else

<div id="exportpath" class="alert alert-success"> 
	  <strong>Download Sync complete</strong>
</div>


$pages.include("$apphome/views/modules/librarycollection/viewassets.html")

#end