
	#set( $library = $mediaarchive.getData("library",$librarycol.get("library") ) )
<p>

Copy files into your working folder:  $user.id/${librarycol.getName()}/{timestamp}/

<form  name="archiveassets" id="archiveassets" 
			   method="post" action="$home$apphome/views/modules/librarycollection/publishsave.html">
				<input type="hidden" name="collectionid" value="${librarycol.getId()}" />
				<input class="btn" type="submit" id="archiveassetsbutton" value="[[ Download ]]">	   			
</form>

<h3>Or</h3>

<a href="#" class="btn">Download With Zip File</a>

</p>