<div class="publishtabcontainer">
	<div class="ui-widget uipanel" style="padding: 5px 5px 5px 5px;width: 60%">
		<div class="ui-widget-header">[[Export Collection]]</div>
		<div class="ui-widget-content">
						<form  name="archiveassets" id="archiveassets" targetdiv="collectionfeed" class="validate" 
				   method="post" action="$home$apphome/views/modules/librarycollection/exportsave.html">
					<table>
						<tr>
							<td class="archiveassettable"><b>[[Move this Collection To]]:</b>&nbsp;</td>
							<td>
								#set( $selectedlibrary = $mediaarchive.getData("library",$librarycol.library) )
								#set( $lastselectedlibraryname = $selectedlibrary.getName() )
								#if( !$lastselectedlibraryname)
								#set( $lastselectedlibraryname = $user.getShortDescription())
								#end
								<input name="collectionid" value="$librarycol.getId()" type="hidden" />

			<select name="targetlibraryid"  id="libraryvalue"  class="listautocomplete required" data-searchfield="name" data-searchtype="library" 
				data-listcatalogid="$catalogid" onChange='$("#librarychange").submit()' >
			#if( $selectedlibrary )
			  <option value="$selectedlibrary.getId()" selected="selected">#esc($selectedlibrary.getName())</option>
			#end
			</select>


								<input class="btn" type="submit" id="archiveassetsbutton" value="[[ Ok ]]">	   
							</td>
						<tr>
							<td colspan="3" align="center">#if(  $movestatus) [[Move to ]] <b>$selectedlibrary.folder/$librarycol.getName()/</b>  $movestatus #end</td>
						</tr>
				</table>
			</form>
						
		</div>
		
	</div>	
</div>
