<div class="publishtabcontainer">
	
	<div class="ui-widget uipanel" style="padding: 5px 5px 5px 5px;width: 60%">
		<div class="ui-widget-header">[[Download Logs]] </div>
		<div class="ui-widget-content">

#set( $downloadsearcher = $mediaarchive.getSearcher("librarycollectiondownloads") )
#set( $downloads = $downloadsearcher.query().match("librarycollection",$librarycol.getId()).sort("date").search() )


		<div style="width: 100%; padding-top:10px"><!--class="librarylabels"  -->
			<table width="50%" class="categoriescontainer hovertable" >
			<tr>
				<th>[[Revision]]</th>
				<th>[[User]]</th>
				<th>[[Date]]</th>
			</tr>
			#foreach($download in $downloads)
				<tr> 
					<td>$download.revision</td>
					<td>$download.owner</td>
					<td>$download.date</td>
				</tr>	
			#end
			</table>
			</div>
			<form  name="archiveassets" id="archiveassets" targetdiv="collectionfeed" 
			   method="post" action="$home$apphome/views/modules/librarycollection/publishsave.html">
				<input type="hidden" name="collectionid" value="$librarycol.getId()" />
				<br>
				<input class="btn" type="submit" id="archiveassetsbutton" value="[[Download]]">	   
				<h5>
					[[Download a copy to your User Folder:]] <b>$user.getUserName()/$librarycol.getName()/$count</b> 
				</h5>
			</form>	
		</div>
	</div>	

	<div class="ui-widget uipanel" style="padding: 5px 5px 5px 5px;width: 60%">
		<div class="ui-widget-header">[[Upload Logs]] </div>
		<div class="ui-widget-content">
		##set( $count = $librarycol.getValue("revisions") )
		#if(!$count)
			#set( $count = 12)
		#end
		<div style="width: 100%; padding-top:10px"><!--class="librarylabels"  -->
			<table width="50%" class="categoriescontainer hovertable" >
			<tr>
				<th>[[Revision]]</th>
				<th>[[User]]</th>
				<th>[[Date]]</th>
				<th>[[Comment]]</th>
			</tr>
			#foreach($i in [1..$count])
				<tr> 
					<td>dsdfd</td>
				</tr>	
			#end
				</table>
			</div>
			<a class="btn" href="#">[[Upload Changes]]</a>
		</div>
	</div>	
</div>