<div class="publishtabcontainer">
	<div class="ui-widget uipanel" style="padding: 5px 5px 5px 5px;width: 60%">
		<div class="ui-widget-header">[[Import Assets]]</div>
		<div class="ui-widget-content">

						#if( $hits.size() > 0)
						Assets</h5><div style="padding:10px"> $sizer.inEnglish( $filesizes.get("assetsize") ) -  $hits.size() [[files]]</div>
						#end
						#set( $categories = $projectmanager.loadCategoriesOnCollection($mediaarchive,$librarycol.getId() ) )
						
						#if( $categories && $categories.size()  > 0)
							<h5>[[Categories]]</h5>  
							<div style="width: 100%; padding-top:10px"><!--class="librarylabels"  -->
								<table width="50%" class="categoriescontainer hovertable" >
								#foreach( $cat in $categories)
										<tr> #set( $categoryloaded=$mediaarchive.getCategorySearcher().loadData($cat))
											<td style="padding:10px;" ><a href="$home$apphome/views/categories/${cat.getId()}.html">$categoryloaded.getCategoryPath()</a></td>
											##<td>$sizer.inEnglish( $filesizes.get($cat.getId()) )</td>
											<td style="text-align: right;">
												<a href="$home$apphome/views/modules/librarycollection/removecategoryfromcollection.html?categoryid=$cat.getId()&collectionid=$librarycol.getId()"
												   title="[[Remove $cat.getSourcePath() Category]]" 
												   class="confirm categoryclose" confirm="[[Remove from collection?]]"> 
													<span class=" ui-icon ui-icon-closethick" style="display: inline-block; vertical-align: middle;"></span>
												</a>
											</td>
										</tr>	
								#end
								</table>
							</div>
						#end

					<form  name="archiveassets" id="archiveassets" targetdiv="collectionfeed" 
				   method="post" action="$home$apphome/views/modules/librarycollection/publishsave.html">

						<h5>
							[[Copy Assets and Categories in $selectedlibrary Library:]] <b>$selectedlibrary.folder/$librarycol.getName()/</b> 
						</h5>
						<input type="hidden" name="collectionid" value="$librarycol.getId()" />
						<input class="btn" type="submit" id="archiveassetsbutton" value="[[ Ok ]]">	   
					</form>	
		</div>
		
	</div>	
</div>
	

