<div class="publishtabcontainer">
	
	
#set( $snapshotsearcher = $mediaarchive.getSearcher("librarycollectionsnapshot") )
#set( $snapshotsearcher = $snapshotsearcher.query().match("librarycollection",$librarycol.getId()).sort("date").search() )
	<div class="ui-widget uipanel" style="padding: 5px 5px 5px 5px;width: 60%">
		<div class="ui-widget-header">[[Snapshot Logs]] </div>
		<div class="ui-widget-content">
		##set( $count = $librarycol.getValue("revisions") )
		
		<div style="width: 100%; padding-top:10px"><!--class="librarylabels"  -->
			<table width="50%" class="categoriescontainer hovertable" >
			<tr>
				<th>Revision</th>
				<th>User</th>
				<th>Date</th>
				<th>Comment</th>
			</tr>
			#foreach($upload in $uploads)
				<tr> 
					<td>$upload.id</td>
				</tr>	
			#end
				</table>
			</div>
						
			<a class="btn" href="$home$apphome/views/modules/librarycollection/importsave.html?collectionid=$librarycol.getId()">Upload Changes</a>
			<a class="btn" href="$home$apphome/views/modules/librarycollection/createsnapshot.html?collectionid=$librarycol.getId()">Take snapshot</a>
			
		</div>
		
	</div>	
	
</div>
	

