#if(!$hits)
        #set($hitsname = $context.getRequestParameter('hitsname'))
        #set($hits = $context.getPageValue($hitsname))
#end

#if(!$hits)
        #set($hitssessionid = $context.getRequestParameter('hitssessionid'))
        #if($hitssessionid)
            #set($hits = $context.getSessionValue($hitssessionid))
        #end
#end
#set( $moduleid = $page.get("module") )
#set( $searchhome = $page.get("searchhome") )
$context.putPageValue("searchhome",$searchhome)

#if(!$hits)
#set($hits = $context.getPageValue($content.hitsname))
#end
$context.putPageValue("hits", $hits)


<div id="searchplugin">
	<div class="subcolumns">
		<div class="c25l" id="left-col">
#set($module = $searcherManager.getData($catalogid, "module", $moduleid ) )

			<h2>$module</h2>
				$pages.include("${searchhome}/sidebar/standard.html",$context)
		</div>
		<div id="right-col" class="module-inner">
				<div class="container-fluid">
		<div class="row">		
				<div class="col-md-3">
				<div id="html" class="demo">
		<ul>
			<li data-jstree='{ "opened" : true }'>Root node
				<ul>
					<li data-jstree='{ "selected" : true }'>Child node 1</li>
					<li>Child node 2</li>
				</ul>
			</li>
		</ul>
	</div>
				</div>
				<div class="col-md-9">
				<div id="resultsdiv" data-hitssessionid="$hits.getSessionId()" data-searchtype="$moduleid" data-searchhome="$home$content.searchhome" data-category="$!category.getId()" data-pagenum="$hits.getPage()"  data-totalpages="$hits.getTotalPages()">
							<div id="resultsarea">
								<div id="resultslist">
										$pages.includeContent()
								</div>
							</div>
							
						</div>
					</div>
					</div>
					</div>
</div>
	</div>
</div>    
