#set($rootcategory = $mediaarchive.getProjectManager().getRootCategory($mediaarchive, $librarycol.getId()))

 <div >
	<div class="tree-header">
		<span class="">[[Categories]]</span>
	</div>
	<div class="assetdropcategory assetdropcategorymove" style="padding:0px;">  
		$pages.include("$apphome/components/emtree/tree.html?collectiontreeroot=$rootcategory.getId()&tree-name=collectiontree&url-prefix=$apphome/views/modules/librarycollection/category/$librarycol.getId()/&targetdiv=viewassets&editabletree=true",$context)
	</div>

 
 
</div>