#set($rootcategory = $mediaarchive.getProjectManager().getRootCategory($mediaarchive, $librarycol.getId()))
 



#set($children = $rootcategory.children)

<div class="dynamictree" style="overflow: auto; height: 800px;">

	<ul>
		<li id="$rootcategory.id"><ins>&nbsp;&nbsp;</ins> <a
			href="$rootcategory.id">$librarycol</a>
			<ul>#showtree($children)
			</ul></li>
	</ul>

</div>


#macro(showtree $categories) #foreach($cat in $categories)
<li id="$cat.id"><ins>&nbsp;&nbsp;</ins><a href="cat.id">$cat.name</a>
	#if($cat.hasChildren())
	<ul>#showtree($cat.children)
	</ul> #end</li>

#end #end
<script type="text/javascript">
	jQuery(document)
			.ready(
					function() {
						var first = false;

						jQuery(".dynamictree")
								.on(
										'select_node.jstree',
										function(e, data) {
											var node = data.node;
											if (first != false) {
											
												jQuery("#resultsdiv").load("$home$apphome/views/modules/librarycollection/media/fieldsearch.html?collectionid=$librarycol.getId()&oemaxlevel=1&field=category-exact&operation=exact&category-exact.value="+ node.id);
												
												//	document.location.href = "$home$apphome/views/modules/question/fieldsearch.html?field=category&operation=matches&category.value="
												//		+ node.id;
											} else {
												first = true;

											}
											//alert("node.id" + node.id);
											//alert("node.text" + node.text);
											//    var i, j, r = [];
											//   for(i = 0, j = data.selected.length; i < j; i++) {
											//      r.push(data.instance.get_node(data.selected[i]).text);
											//    }
											//    $('#event_result').html('Selected: ' + r.join(', '));
										})
								.on(
										'move_node.jstree',
										function(e, data) {
											var node = data.node;
											var id = node.id;
											var newparent = data.parent;
											jQuery.get(
													"$home$apphome/views/modules/librarycollection/movecategory.html?categoryid="
															+ id
															+ "&categoryid2="
															+ newparent,
													function(data) {
														// $( ".result" ).html( data );
														//  alert( "Load was performed." );
													});
											return false;


										})
								.on(
										'create_node.jstree',
										function(e, data) {
											var node = data.node;
											var text = node.text;
											var newparent = data.parent;
											jQuery.get(
													"$home$apphome/views/modules/librarycollection/createcategory.html?categoryid="
															+ newparent
															+ "&newname="
															+ text,
													function(data) {
														// $( ".result" ).html( data );
														//  alert( "Load was performed." );
													});
											return false;
										})
								.on(
										'delete_node.jstree',
										function(e, data) {
											var node = data.node;
											var text = node.text;
											var id = node.id;
											jQuery.get(
													"$home$apphome/views/modules/librarycollection/deletecategory.html?categoryid="
															+ id
															,
													function(data) {
														// $( ".result" ).html( data );
														//  alert( "Load was performed." );
													});
											return false;
										})
										
										.on(
										'rename_node.jstree',
										function(e, data) {
											var node = data.node;
											var text = node.text;
											var id = node.id;
											jQuery.get(
													"$home$apphome/views/modules/librarycollection/renamecategory.html?id="
															+ id
															+ "&name="
															+ text,
													function(data) {
														// $( ".result" ).html( data );
														//  alert( "Load was performed." );
													});
											return false;
										})
										
										
								.jstree(
										
										
										
										{
											"core" : {
												"animation" : 0,
												"check_callback" : true,
												"themes" : {
													"stripes" : true
												},

											},
											"types" : {
												"#" : {
													"max_children" : 1,
													"max_depth" : 4,
													"valid_children" : [ "root" ]
												},
												"root" : {
													"icon" : "/static/3.0.9/assets/images/tree_icon.png",
													"valid_children" : [ "default" ]
												},
												"default" : {
													"valid_children" : [
															"default", "file" ]
												},
												"file" : {
													"icon" : "glyphicon glyphicon-file",
													"valid_children" : []
												}
											},
											"plugins" : [ "contextmenu", "dnd",
													"search", "state", "types",
													"wholerow" ]
										});
					});
</script>