$context.putPageValue("showhover", "false")
$context.putPageValue("showcaption", "true")
$context.putPageValue("hideheader", "true")

#if(!$category)
	#set($categoryid = $context.getRequestParameter("categoryid"))
	#if($categoryid)
		#set($category = $mediaarchive.getData("category",$categoryid))
		#if($category)
			$context.putPageValue("category",$category)
		#end
	#end
#end

###always go to index - don't care about resultview

<div class="row">		
				<div class="col-md-3 ">

<div class="panel panel-default">
  <div class="panel-heading">[[Collection Browser]]</div>
  <div class="panel-body">
		$pages.include("$apphome/views/modules/librarycollection/tree.html")
  </div>
</div>


	

  </div>

		
			
				<div class="col-md-9">



$pages.include("$apphome/components/results/index.html",$context)

</div></div>




<script>
	// html demo
	$('#html').jstree();
	</script>