$context.putPageValue("showhover", "false")
$context.putPageValue("showcaption", "true")
$context.putPageValue("hideheader", "true")
#set( $downloadsearcher = $mediaarchive.getSearcher("librarycollectiondownloads") )
#set( $downloads = $downloadsearcher.query().match("librarycollection",$librarycol.getId()).sort("date").search() )

#if(!$category)
	#set($categoryid = $context.getRequestParameter("categoryid"))
	#if($categoryid)
		#set($category = $mediaarchive.getData("category",$categoryid))
		#if($category)
			$context.putPageValue("category",$category)
		#end
	#end
#end

###always go to index - don't care about resultview

<div class="row">		
  <div class="col-md-3 ">

    <div class="panel panel-default">
      <div class="panel-heading">[[Collection Browser]] 
        <div class="pull-right"> 
          <select onchange="this.options[this.selectedIndex].value && console.log(this.options[this.selectedIndex].value);">
		      <option value ="">#if( $downloads) [[Choose revision...]] #else [[No revisions]] #end</option>
		      #foreach( $revision in $downloads )
		      <option value="$revision.id">$revision.name</option>
		      #end
		  </select>
		  <a href="$apphome/views/modules/librarycollection/autopopulate.html" class="btn" >[[Auto Populate]]</a>
	  </div>
	</div>

  <div class="panel-body">
		$pages.include("$apphome/views/modules/librarycollection/tree.html")
  </div>
</div>


	

  </div>

		
			
				<div class="col-md-9">



$pages.include("$apphome/components/results/index.html",$context)

</div></div>




<script>
	// html demo
	$('#html').jstree();
	</script>