<!-- Nav tabs -->
<div class="row">
	<div class="col-md-4">
	<div class="tableheaderactions">
	<a href="$home$apphome/views/modules/librarycollection/edit/index.html?id=${data.getId()}&viewid=librarycollectiongeneral&viewpath=librarycollection/librarycollectiongeneral&searchtype=librarycollection" class="librarylabel"  data-targetdiv="left-col-libraries" title="$!{data.notes}"><span> $data.getName() ($hits.size())</span></a>
</div>

	</div>
	<div class="col-md-8">
	<ul class="nav nav-tabs pull-right" role="tablist">
	  <li class="active"><a href="#media" role="tab" data-toggle="tab">Media</a></li>
	  <li><a href="#annotation" role="tab" data-toggle="tab">Annotations</a></li>
	</ul>
	</div>
</div>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="media">$pages.include("$apphome/views/search/index.html")</div>
  <div class="tab-pane" id="annotation">$pages.include("$apphome/components/annotations/workspace/index.html")</div>
</div>


