#set( $searcher = $searcherManager.getSearcher("system","user"))

$context.putPageValue("details",$searcher.getDetailsForView("usernormalsearch", $user))	

<div class="emsectionheader"><div style="padding-left:15px;padding-top:6px;">[[Users]]</div></div>

<form class="ajaxform" id="usersearchform" name="search" targetdiv="usersearchresultspanel" action="$home$usermanagerhome/users/results.html">
	<input type="hidden" name="hitsperpage" value="12"/>
	<input type="hidden" name="sortby" value="enabledDown,lastNameUp"/>
	<input type="hidden" name="field" value="groups"/>
	<input type="hidden" name="operation" value="matches"/>
#if( $user.id != "admin")	
	<input type="hidden" name="groups.value" value="$content.mastergroup"/>
#end	
	<div style="float: left; padding: 5px;">
$pages.include("/${applicationid}/components/xml/searchfields.html",$context)
	</div>
	<table><tr><td>
		<div class="embutton">
		<a href="#" onclick='jQuery("#usersearchform").submit();'>[[Search]]</a>
		</div>
	</td></tr></table>
</form>
<br/>
<br/>
<br/>
<div id="usersearchresultspanel" style="background-color:white;border-collapse:separate;border:1px solid lightgray;"">
$pages.include("./results.html?sortby=enabledDown,lastNameUp&field=groups&operation=matches&groups.value=$content.mastergroup", $context)
</div>
<div style="text-align:right;float:right;margin-top:20px;">
<input type=button onClick="location.href='$home$usermanagerhome/users/adduser.html?iframe=true&height=200&width=300'" value='Create User'>
</div>

<div style="clear:both;">
</div>

