#set($xmledithome = $context.getPageProperty("xmledithome"))
$context.putPageValue("xmledithome",$xmledithome)
#if (!$viewtype)
	#set($viewtype = $detail.viewType)
#end
#if (!$viewtype)
	#set($viewtype = $detail.dataType)
#end
#if (!$viewtype || $viewtype== "text")
	#set ($viewtype = "default")
#end

#if($viewtype =="primarymediafolder")
	$context.putPageValue("thumbsize","crop")
	$context.putPageValue("noassetlink",true)
	$context.putPageValue("hit", $data)
	<div class="emgridcell emgridcellresuls detailreadonly-$viewtype activelistcontainer" 
		style="visibility: visible; width: 160px; position: relative;">  
		$pages.include("${searchhome}/types/qsresult.html", $context)
	</div>
#else
	$pages.include("$xmledithome/typesreadonly/${viewtype}.html", $context)
#end

