#set( $xmledithome = $context.getPageProperty("xmledithome"))
$context.putPageValue("xmledithome",$xmledithome)

#if(!$detailviewercolumns)
	#set($detailviewercolumns = 1)
#end
#set($detailviewercolumnclass = "col-md-12")
#if($detailviewercolumns == 2)
	#set($detailviewercolumnclass = "col-md-6")
#end



 #foreach( $detail in $details )
 
 	#ifnotnull($detail.title)
		</div>
		<h4>$detail.title</h4>
		<div class="row g-0">
			
			$!context.putPageValue("details", $detail)
			$pages.include("$apphome/components/xml/detailviewersection.html", $context)
	#end
	
	#if($detail.dataType == "searchjoin" )
		#set($viewtype = "searchjoin" )
	#else
		#set($viewtype = $detail.viewType)
	#end
	#if (!$viewtype)
		#set($viewtype = $detail.dataType)
	#end
	#if (!$viewtype || $viewtype== "text")
		#set ($viewtype = "default")
	#end
	
	
 	
	#set( $target = "${detail.id}.value" )
				
	#set($values = false)
	#set($value = $searcherManager.getValue($data, $detail, $context.getLocale() ) ) 
	#if($detail.isMultiValue())
		#set($values = $value )
	#end
	
	#set( $editrow = $detail.isEditable() && $readonly != "true")
	
	#if($editrow ||  $value || $values)
		
		$!context.putPageValue("detail",$detail)
		$!context.putPageValue("value", $value)
		$!context.putPageValue("values",$values)
	
		
	 	<div class="$detailviewercolumnclass editor-data-detail emdatafield-$!viewtype">
	
		 
		
		###if( $editrow   || !$detail.isEditable() || $detail.dataType == "searchjoin" )
				
			<div class="container-fluid">
					<div class="row">
						#if( !$detail.hidelabel)
							<div class="col-md-3 col-lg-2 col-emdatafield">
								<label class="emdatafield" data-field="$detail.getId()">
										$!detail.getText($context)
								</label>				
							</div>
						#end
						<div class="col-md-9 col-lg-10">
							<div id="detail_$detail.id" class="emdatafieldvalue #if ($detail.isRequired()) requiredfield #end">
							#if( $editrow )	
								$pages.include("$xmledithome/detailedit.html", $context)
							#else  
								##NOT EDITABLE
								<div class="emdatafieldvalue-readonly">
								$pages.include("$xmledithome/detailreadonly.html", $context)
								</div> 
							#end
							#if ( $detail.note )
								<span class="detail-note">$context.getText($detail.note.toString())<span>
							#end
							</div>
						</div>
					</div>
			</div>
	
			
			
		###end
		
		#if ($detail.viewType && ($detail.viewType == "html" || $detail.viewType == "largehtml"))
			#if($usedhtml)
				#set( $usedhtml = "htmltextarea=${detail.getId()}&$usedhtml")
			#else
				#set( $usedhtml = "htmltextarea=${detail.getId()}")
			#end
		#end
		</div>
	#end
#end


