#set( $xmledithome = $context.getPageProperty("xmledithome"))
$context.putPageValue("xmledithome",$xmledithome)

#set( $readonly = "false" )
#set( $readonly = $context.getRequestParameter("detailsreadonly"))
$!context.putPageValue("readonly", $readonly)

#ifnull($viewid)
	#set($viewid = $context.getRequestParameter("viewid"))
#end
 
#ifnull($details)
	#set( $viewdata = $mediaarchive.getCachedData("view",$viewid) )
	#set ($details = $viewdata.getDetailsForView($context.getUserProfile()))
#end	
#ifnull($details)
	#set ($details = $searcher.getDetailsForView($viewid, $context.getUserProfile()))
#end	

#ifnull($details)
	No details found for $viewid - Searchtype: $searcher.getSearchType() in $content.path
#end

#ifnull($multiedit)
	#set( $multiedit = $context.getRequestParameter("multiedit"))
#end
#ifnull($multiedit)
	#set( $multiedit = false)
#end
#if ( $multiedit == "true" )
	#set( $multiedit = true)
#elseif( $multiedit == "false")
	#set( $multiedit = false)
#end
$context.putPageValue("multiedit",$multiedit)


<div class="oeinputform validate-inputs">
	<div id="allerrors">
	</div>
	
	$!context.putPageValue("details", $details)
	<div class="row g-0">
		 $pages.include("$apphome/components/xml/detaileditorsection.html", $context)
	</div>
</div>

##needed for fast loading HTML edit boxes
#if( $usedhtml && $readonly !=  "true") 
	$pages.include("/system/tools/html/textarea.html?$usedhtml")	
#end
 
