
<br/>
#if ($querylist && $querylist.size() > 0)
<table cellpadding=0 cellspacing=0 border=0  class="striped" width="100%">
#foreach($query in $querylist)

      #set( $asset = $item.getAsset() )
	<tr>

      <td>
     $query.getName()
     
	   </td>
    
      
      	<td align="center">
				<a href="$home/${applicationid}/components/savedqueries/runsavedquery.html?queryid=$query.id&searchtype=asset">[[run this query]]</a>	
      		#if( $canrssfeed)	
      			| <a href="$home/${applicationid}/components/savedqueries/rss/${query.id}.rss"><img src="$home${themeprefix}/entermedia/images/rss.gif" alt="RSS"/></a> 
			#end
				#if($caneditsavedquery)
					 | <a	href="$home/${applicationid}/components/savedqueries/delete.html?id=${query.id}&catalogid=${applicationid}">[[Delete Query]]</a>			
				#end
      	</td>

      	#end
    
</tr>
</table>

<br>
#else
<p>No saved queries found.</p>
#end
#if($hits)
<div align="right">
<a href="$home/${applicationid}/components/savedqueries/savequery.html?hitssessionid=$hits.sessionId&catalogid=${catalogid}">Save current search</a>
</div>
#end