#if(!$hits)
        #set($hitsname = $context.getRequestParameter('hitsname'))
        #set($hits = $context.getPageValue($hitsname))
#end
#if(!$hits)
        #set($hitssessionid = $context.getRequestParameter('hitssessionid'))
        #if($hitssessionid)
            #set($hits = $context.getSessionValue($hitssessionid))
        #end
#end
#set( $moduleid = $context.findValue("module") )
#set( $searchhome = $context.findValue("searchhome") )
$context.putPageValue("searchhome",$searchhome)

#if(!$hits)
#set($hits = $context.getPageValue($content.hitsname))
#end
$context.putPageValue("hits", $hits)
#set( $moduleid = $context.findValue("module") )
#set($module = $searcherManager.getData($catalogid, "module", $moduleid ) )
#set ( $defaultview = $userprofile.getDefaultViewForModule($module.id) )
  <div class="page-header">
      <h1>$module <small>$!{module.description}</small></h1>
      </div>
      
 <!-- Collect the nav links, forms, and other content for toggling -->
     
<nav class="navbar navbar-default" role="navigation" style="z-index: 999;">
  
  
  <div class="collapse navbar-collapse navbar-ex1-collapse nav-bar-reverse">
	

    <ul class="nav navbar-nav">
           <li>   <a  href="${content.searchhome}/index.html?cache=false">[[All]] $module</a></li>
  		<li><a class="ajaxDialog"  data-title="[[Add New]]" data-target="$home${content.searchhome}/edit/addnew.html?viewpath=$module.id/addnew&oemaxlevel=1">[[Add New]]</a></li>
  	#if($content.isPropertyTrue("showselections"))
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">[[Selections]]<b class="caret"></b></a>
        <ul class="dropdown-menu">
          $pages.include("/${content.searchhome}/selectionactions.html", $context)
        </ul>
      </li>
      #end
      #if($content.isPropertyTrue("showselections"))
    #if($caneditdata)
 <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">[[Actions]]<b class="caret"></b></a>
        <ul class="dropdown-menu">
          $pages.include("/${content.searchhome}/adminactions.html", $context)
        </ul>
      </li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">[[Display Options]]<b class="caret"></b></a>
        <ul class="dropdown-menu">
          ##<li><a class="profiletoggle" href="#" data-target="map">[[Map]]</a></li>
         ## <li><a class="profiletoggle" href="#" data-target="gallery">[[Gallery]]</a></li>
         ## <li><a class="profiletoggle" href="#" data-target="table">[[Table]]</a></li>
          
          #if($canadmin)
          
       		<li>   
          <a class="btn btn-default ajaxDialog" data-target="$apphome/views/modules/${module.id}/edit/rules/edit.html?name=view"><span class="glyphicon glyphicon-search"></span></a>
          </li>
          #end
        </ul>
      </li>
#end
#end
</ul>
    <form class="navbar-form navbar-right" role="search" action="$apphome/views/modules/${module.id}/fieldsearch.html">
      <div class="form-group">
        <input type="hidden" class="form-control" placeholder="Search" name="field" value="description">
        <input type="text" class="form-control" placeholder="Search" name="description.value">
        <input type="hidden" class="form-control" placeholder="Search" name="operation" value="contains">
        
      </div>
      <button type="submit" class="btn btn-default">[[Submit]]</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  [[Advanced Search]]
</button>
    </form>
  </div><!-- /.navbar-collapse --></nav>
				
					<div id="resultsdiv" data-searchhome="$home$content.searchhome" data-hitssessionid="$hits.sessionId">
						<div id="emresultscontent">
							
							
							
							<div id="resultsarea">
								<div id="resultslist">
										$pages.includeContent()
								</div>
							</div>
							
						</div>
					</div>
					
					
					
<script type="text/javascript">


jQuery(".profiletoggle").on("click",
		function()
		{
			var div = $(this);
			var target = jQuery(this).data("target");
			saveProfileProperty("${module.id}-display", target,
				function() {
					location.reload();
				}
			);
		}
);

</script>			




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">[[Close]]</span></button>
        <h4 class="modal-title" id="myModalLabel">[[Advanced Search]]</h4>
      </div>
      <div class="modal-body">
   $pages.include("./searchform.html")		

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">[[Close]]</button>
        <button id="search" type="button" class="btn btn-primary">[[Search]]</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
jQuery("#search").on("click", function(){
	jQuery("#advancedsearch").submit();
});

</script>