
<div id="eml-tab-green-container">

<div class="ui-widget">
	<div class="ui-widget-header">Hot Folders</div>
	<div class="ui-widget-content" style="padding-top: 20px; ">

#if( $mounts.size() == 0)

No Hot Folders defined

#else

<table class="striped emdata settings-table">
<thead>
	<tr class="tableheader">
		<th>[[Path]]</th>
		<th>[[External Path]]</th>
		<th>[[Actions]]</th>
	</tr>
</thead>
#foreach( $mount in $mounts )
	<tr>
		<td>
			$mount.getPath()
		</td>
		<td valign="top" style="padding-left:10px;">
					<b>$mount.getExternalPath()</b>
		</td>
		<td><div id="action$velocityCount" style="float: right;"><a class="btn"  href="$home$apphome/views/settings/hotfolders/edit.html?mountid=$mount.getPath()">[[Edit]]</a>
			<a class=" btn red"href="$home$apphome/views/settings/hotfolders/remove.html?mountid=$mount.getPath()" onclick="return confirm('[[Remove this entry?]]');">[[Remove]]</a>	
			</div>
		</td>
	</tr>
#end
</table>
#end

<a class="btn" href="$home$apphome/views/settings/hotfolders/reload.html">[[Reload Mounts]]</a>
<a class="btn"  href="$home$apphome/views/settings/events/triggers/index.html?type=importing" >[[Import Schedule]]</a>

<a class="btn" style="float: right;" href="$home$apphome/views/settings/hotfolders/addnew.html">[[Add]]</a>

</div>

</div>
</div>
