<style>
	.loginbox { max-width: 550px; margin:0 auto; }
</style>

<div id="application" 
	class="emfinderapp setpagetitle #if($desktop) desktop #end"
	data-user="$!user.getId()" 
	data-siteroot="$siteroot"
	data-home="$!siteroot"
	data-apphome="$!apphome" 
	data-catalogid="$!catalogid" 
	data-themeprefix="${themeprefix}" 
	data-browserlanguage="$!{browserlanguage}" 
	data-componenthome="$!componenthome"
	data-moduleid="$!module.getId()"
	data-titlepostfix='$!mediaarchive.getCatalogSettingValue("sitetitle")'
	data-mediadbappid="$!mediaarchive.getMediaDbId()"
	data-entermediakey="$!mediaarchive.getUserManager().getEnterMediaKey($user)"
	data-editmode='$!user.get("oe_edit_mode")'
	#if($desktop)
		data-desktop="true"
		data-required-desktop-version='$!mediaarchive.getCatalogSettingValue("desktop_required_api_version")'
	#end>
	#if ( $canviewerrors )
		<div id="errordiv"></div>
	#end

	<div class="p-5">
	 $pages.includeContent()
	 </div>

	<div id="footer" role="contentinfo" class="emfooter text-center mt-5" style="font-size:0.8rem;">
		$pages.include("${themeprefix}/layouts/footer.html", $context)
	</div>
</div>
