<div class="ui-widget ui-panel">

	<div class="ui-widget-header">Setup Catalogs</div>
	<div class="ui-widget-content">

#set($currentcatalog = $context.getRequestParameter("currentcat"))
#if(!$currentcatalog)
	#set($currentcatalog = $catalogid)
#end

<script type="text/javascript">
	deleteCatalog = function(catalog)
	{
		if(catalog)
		{
			var go = confirm("[[This is going to delete your settings. Are you sure you want to delete this catalog?]]");
			if (go)
			{
				document.location = "$home/$applicationid/settings/deletecatalog.html?deletecatalogid=" + catalog;
			}
		}
	}
	//gets the correct path for the new selected catalog
	//So that the content panel will stay on the same page, but update to the correct catalog
	submitCatalogSelector = function()
	{
		var path = "$home$content.path"
		var selectedCat = jQuery("#currentcatselector").attr("value");
		path = path.replace('$catalogid', selectedCat);
		jQuery("#catalogselect").attr("action", path);
		jQuery("#catalogselect").submit(); 
	}
		
</script>

<link href="$home${themeprefix}//styles/pages/settings.css" rel="stylesheet" type="text/css">
$context.putPageValue("currentcatalog", $currentcatalog)
<table>
<tr>
<td style="padding-right: 10px;">
	#set ($catalogs = $userprofile.getCatalogs())
	#set($selected = $currentcatalog)
		
	<form id="catalogselect" action="">	
		<select id="currentcatselector" name="currentcat" onchange="submitCatalogSelector();">
		<option></option>
		
		#foreach ($catalog in $catalogs)
			<option value="$catalog.id" #if($catalog.id == $selected) selected="selected" #end>$context.getText($catalog.name)</option>
		#end 
		</select>
	</form>
</td>
<td style="padding-right: 10px;">
		<div class="embutton">
	  			<a href="#" onclick="deleteCatalog('$currentcatalog');">[[Delete]]</a>
		</div>
</td>
<td style="padding-left: 15px;">
		<div class="embutton">
			<a class="thickbox" href="$home/$applicationid/settings/createnewcatalog.html?iframe=true&width=300&height=200">[[Create New]]</a>
	    </div>
</td>
</tr>
</table>
#if($currentcatalog)
<table>
	<tr>
	<td style="vertical-align:top;">
		$pages.include("/$applicationid/catalog/settings/menu.html", $context)
	</td>
	<td style="vertical-align:top;">
		<div>
		  <b class="spiffytwo">
		  <b class="spiffytwo1"><b></b></b>
		  <b class="spiffytwo2"><b></b></b>
		  <b class="spiffytwo3"></b>
		  <b class="spiffytwo4"></b>
		  <b class="spiffytwo5"></b></b>
	
		  <div class="spiffyfgtwo">
		  		<div id="catalogSettingsPanel">
		  			$pages.streamContent()
		  		</div>
		  </div>
	
		  <b class="spiffytwo">
		  <b class="spiffytwo5"></b>
		  <b class="spiffytwo4"></b>
		  <b class="spiffytwo3"></b>
		  <b class="spiffytwo2"><b></b></b>
		  <b class="spiffytwo1"><b></b></b></b>
		</div>
	</td>
	</tr>
</table>
#end

</div>
</div>