#set( $appcatalogid = $context.getRequestParameter("appcatalogid"))
		<div class="wizard clearfix">
			<div class="wizard-top">
				<h1>Server Distribution</h1>
			</div>
			<div class="wizard-body">
		#set( $appsearcher = $searcherManager.getSearcher("system","extensionservers") )

		#set( $versions = $appsearcher.query().all().sort("name").search($context) )
		#foreach( $serverversion in $versions)
				<div class="app-option">
					<img class="app-store-icon" src="$home$themeprefix/images/folder.png" width="60" height="60" alt="$serverversion.name" />
					<div class="app-nameplate">
						<div class="app-title">$serverversion.name</div>
						<div class="app-subtitle">$serverversion.caption</div>
					</div>
					<a class="mbtn learn-more"  href="$home$apphome/views/update/upgrade.html?id=$serverversion.id">#if($serverversion.selected == "true")Upgrade#else Install#end >> </a>
				</div>
		#end		
			</div>
			<div class="wizard-bottom">
			<!-- 
				<a class="btn-blue build-your-own-app" href="#">Build Your Own App</a>
			 -->
			 	<a class="mbtn learn-more confirm"  href="$home$apphome/views/update/restartdocker.html" data-confirm="[[Are you sure?]]">Restart Docker</a>
			</div>
		</div>
 
</div>
