#set( $searcher = $mediaarchive.searcherManager.getSearcher($catalogid, "convertpreset"))
#set( $collectionid = $context.getRequestParameter("collectionid") )
#set( $type = $mediaarchive.getMediaPlayerType($asset))
#if( !$type )
	No template for $type
#end
#set( $cdnprefix = $mediaarchive.getCatalogSettingValue("cdn_prefix") )
$context.putPageValue("cdn",$cdnprefix)
#set( $mediadbappid=$mediaarchive.getMediaDbId())

#set( $index = $dialoghits.indexOfId($asset.id))
#set( $previous = false )
#set( $previous = $dialoghits.previous($index))
#set( $next = false )
#set( $next = $dialoghits.next($index))       
#set( $previewonly = $context.getPageValue("previewonly"))
#if( !$previewonly)
	#set( $previewonly = false)
#end
#set( $opentab = $userprofile.get("assetopentab"))
#if( !$opentab)
	#if( $canmetadatageneral )
		#set( $opentab = "viewproperties")
	#else
		#set( $opentab = "viewpreview")
	#end
	
#end
#if ( $asset.id.startsWith("multiedit:") )
    #set  ( $ismulti = true)
#end
$dialoghits.setHitsPerPageHeight($context.getRequestParameter("pageheight"),150)
#set( $hitssessionid = $dialoghits.getSessionId())

<div id="main-media-container">
<div id="main-media-viewer" 
data-opentab="$opentab" 
data-hitssessionid="$hitssessionid" 
data-searchtype="asset" 
data-oemaxlevel="1" 
data-editable="$caneditasset" 
data-assetid="$asset.id" data-next="$!next.getId()" 
data-previous="$!previous.getId()"
data-previouspage="$!dialoghits.idOnPreviousPage()" 
data-nextpage="$!dialoghits.idOnNextPage()" >
	#if( !$mediadbappid)
		<p style="color: white;">[[mediadbappid not defined in datamanager]]</p>
	#end
	#if($opentab == "viewpreview")
		$pages.include("/${mediadbappid}/services/module/asset/players/large2/${type}.html", $context)
		#if( $next )
			#set( $preloadtype = $mediaarchive.getMediaPlayerType($next))
			#if( $preloadtype == "image")
				#set($tpath = $mediaarchive.asLinkToPreview($next, "image1024x768.jpg"))
				<div style="display:none;"><img src="$tpath" /></div>
			#end
		#end
	#elseif($opentab == "viewproperties")
		$pages.include("$apphome/components/mediaviewer/fullscreen/tabs/viewproperties.html")
	#elseif($opentab == "viewcollaborate")
		$pages.include("$apphome/components/mediaviewer/fullscreen/tabs/viewcollaborate.html")
	#elseif($opentab == "multiedit")
		$pages.include("$apphome/components/mediaviewer/fullscreen/tabs/multiedit.html")
	#elseif($opentab == "viewactions")
		#set( $opentabactions = $userprofile.get("assetopentabactions"))
		#if (!$opentabactions)
			#set($opentabactions = "conversions")
		#end
		$pages.include("$apphome/components/mediaviewer/fullscreen/tabs/viewactions.html?action=$opentabactions")
	#end
</div>
<div id="footerbase">
	<div id="footermenu">
		<ul>
		
			<li class="footermenu">
				<div class="goleftclick gotoarrows" >
				<span class="fas fa-caret-left overlay-nav gocaret"></span>
				</div>	
				<div class="gorightclick gotoarrows" >
				<span class="fas fa-caret-right overlay-nav gocaret"></span>
				</div>	
				
			</li>
			<li  class="footermenu bottomtab #if($opentab == "viewpreview")tabselected#end">	
				<a class="expandmenu assetpreview assettab" 
					data-link="$apphome/components/mediaviewer/fullscreen/tabs/viewpreview.html"
					data-assettab="viewpreview"
					title="[[View $asset]]" >
				<i class="fas fa-expand"></i> [[Viewer]]
				</a>
			 </il>
			 #if( !$previewonly && $canmetadatageneral )
			 <li class="footermenu bottomtab #if($opentab == "viewproperties")tabselected#end">
				<a class="expandmenu assettab" 
					data-link="$apphome/components/mediaviewer/fullscreen/tabs/viewproperties.html" title="[[View Metadata]]"
					data-assettab="viewproperties" >
				<i class="fas fa-info-circle"></i> [[Properties]]
				</a>
			</li>
			#end
			#if( !$previewonly )
			#if ($canviewcomments || $canassetannotate)
			 <li class="footermenu bottomtab #if($opentab == "viewcollaborate")tabselected#end">
				<a class="expandmenu assettab" 
					data-link="$apphome/components/mediaviewer/fullscreen/tabs/viewcollaborate.html" title="[[Collaborate]]"
					data-assettab="viewcollaborate" >
				<i class="fas fa-comment-alt"></i> [[Collabotate]]
				</a>
			</li>
			#end
			#end
			#if ( $canshareasset )
            <li class="footermenu bottomtab">
			   <a href="#" class="expandmenu dropdown-toggle" data-toggle="dropdown" title="[[Share]]">
			   	 <span class="fas fa-share-alt"></span> [[Share]]</a>
			   <ul class="dropdown-menu">
   							#if ($canpublish)
	                       <li>
	                           <a  class="dropdown-item  emdialog"  data-hidefooter="true"   href="$home$apphome/views/activity/publishassets.html?assetid=$asset.id" >[[Publish]]</a>
	                       </li>
	                       	#end
	                       	#if( $canemaillink )
	                       <li>
	                           <a  class="dropdown-item  emdialog"  data-hidefooter="true"   href="$home$apphome/views/activity/emailassets.html?assetid=$asset.id" >[[Email]]</a>
	                       </li>
	                       	#end
	                       	#if( $canembedasset && !$multi)
	                       <li>
	                           <a  class="dropdown-item  emdialog"  data-hidefooter="true"   href="$home$apphome/components/share/embed.html?assetid=$asset.id&collectionid=$!collectionid" >[[Embed]]</a>
	                       </li>
	                       	#end
	                       	#if ( $canaddtoproject )
							<li id="add-to-collection">
								<a class="dropdown-item ajax" targetdivinner="shareOptionsContainer" href="#">[[Add to Project]]</a>
							</li>
							#end
             </ul>
             </li>
             #end
    		#set( $originalpath = $mediaarchive.asLinkToOriginal($asset) )	
			#if($candownload && $asset.getFileFormat()  == "pdf")
			<li class="footermenu bottomtab" >
			    <a data-assetid="${asset.id}" target="_new" href="$cdnprefix$home/$mediadbappid/services/module/asset/downloads/vieworiginal/$originalpath" >
	            	<span class="fas fa-file-alt"> </span> [[View PDF]]
	            </a>
            </li> 
			#end
			#if($candownload || $canconvert)
				<li class="footermenu bottomtab" >		
	<a href="#" class="expandmenu dropdown-toggle" data-toggle="dropdown" expanded="true" > <span class="fas fa-download"></span>  [[Download]]</a>
   <ul class="dropdown-menu">
						#if( !$cdnprefix )
							#set( $cdnprefix = $context.siteRoot )
						#end
								
									 #if($candownload)				
										<li><a href="$cdnprefix$home/$mediadbappid/services/module/asset/downloads/originals/$originalpath">[[Original File]]</a></li>
									#end	
									#if($canconvert)

									#if( $type )
									#set( $searcher = $mediaarchive.searcherManager.getSearcher($catalogid, "convertpreset"))
									#set( $results = $searcher.query().exact("inputtype",$type).sort("ordering").named("convertpresets").search($context) )
									#end
									
										#foreach($result in $results )						
												<li><a href="$cdnprefix$home/$mediadbappid/services/module/asset/downloads/createpreset/${asset.sourcepath}/${result.generatedoutputfile}/${asset.name}-${result.generatedoutputfile}">$result.name</a></li>
										#end
									#end
								</ul>
					   
				  </li>
			 #end
            
						
			#if( !$previewonly )
			<li class="footermenu bottomtab">
			   <a href="#" class="expandmenu dropdown-toggle" data-toggle="dropdown" title="[[Actions Menu]]"> 
			   <span class="fas fa-edit"></span> [[Actions]]</a>
			   <ul class="dropdown-menu">
			   
		    	#if( $canviewconversions )
			   	<li>
			   	<a class="assettab" 
						data-link="$apphome/components/mediaviewer/fullscreen/tabs/viewactions.html?action=conversions" title="[[Conversions]]"
						data-assettab="viewactions"
						data-assettabactions="conversions" >
					[[Conversions]] 
					</a>
			   	</li>
			   	#end
			   	#if($type == "video")
			   		#if($canviewtimeline)
			   			<li>
					   	<a class="assettab" 
								data-link="$apphome/components/mediaviewer/fullscreen/tabs/viewactions.html?action=timeline" title="[[Timeline]]"
								data-assettab="viewactions"
								data-assettabactions="timeline" >
							[[Timeline]]
							</a>
					   	</li>
			   		#end
			   	#end
		    	#if( $caneditassetcategories )
			   	<li>
			   	<a class="assettab" 
						data-link="$apphome/components/mediaviewer/fullscreen/tabs/viewactions.html?action=categorize" title="[[Categories]]"
						data-assettab="viewactions"
						data-assettabactions="categorize" >
					[[Categories]]
					</a>
			   	</li>
			   	#end
		    	#if( $canviewmap)
			   	<li>
			   	<a class="assettab" 
						data-link="$apphome/components/mediaviewer/fullscreen/tabs/viewactions.html?action=map" title="[[Map]]"
						data-assettab="viewactions"
						data-assettabactions="map" >
					[[Map]] 
					</a>
			   	</li>
			   	#end
			   	
		    	#if( $canviewattachments )
			   	<li>
			   	<a class="assettab" 
						data-link="$apphome/components/mediaviewer/fullscreen/tabs/viewactions.html?action=attachments" title="[[Attachments]]"
						data-assettab="viewactions"
						data-assettabactions="attachments" >
					[[Attachments]] 
					</a>
			   	</li>
			   	#end
		    	#if( $canconverthistory )
			   	<li>
			   	<a class="assettab" 
						data-link="$apphome/components/mediaviewer/fullscreen/tabs/viewactions.html?action=converthistory" title="[[History]]"
						data-assettab="viewactions"
						data-assettabactions="converthistory" >
					[[History]] 
					</a>
			   	</li>
			   	#end
		    	#if( $candeleteasset )
                 <li>
					#if ( $asset.getId().startsWith("multiedit:") )
						#if($canmultidelete)                 
                     		<a class="emdialog"   href="$home$apphome/components/mediaviewer/fullscreen/delete/index.html?assetid=$asset.id&hitssessionid=$!hitssessionid">
	                     [[Delete Selected Assets]]</a>
	                    #end 
                     #else
                     <a class="emdialog"   href="$home$apphome/components/mediaviewer/fullscreen/delete/index.html?assetid=$asset.id&hitssessionid=$!hitssessionid">
	                     [[Delete Asset]]</a>
                     #end
                     </a>
                 </li>
                 #end
                 #if( $canmultiedit )
                 <li>
					<a class="ajax" targetdivinner="main-media-viewer" href="$apphome/components/mediaviewer/fullscreen/tabs/multiedit.html?assetid=$asset.id&hitssessionid=$!hitssessionid" title="[[Multiedit]]">
					[[Multiedit]] 
					</a>
                 </li>
                 #end
				    #set($moduleid = "asset")
					#set( $sourcepath = $asset.getSourcePath() )
					
					#if( $parenthits )
						#set( $rootid = $parenthits.sessionId )
					#else
						#set( $rootid = $dialoghits.sessionId )
					#end
				   	#set( $searcher = $searcherManager.getSearcher($catalogid,"detaileditormenu") )
					#set( $query = $searcher.createSearchQuery().append("moduleid",$moduleid) )
					#set( $nil = $query.addSortBy("ordering") ) 
					#set( $links = $searcher.cachedSearch($context,$query) )
					
					#set ( $urlutils = $context.getPageValue("url_util"))
					#if ($urlutils)
						#set($sourcepath = $urlutils.encode($sourcepath))
						#set ( $sourcepath = $sourcepath.replace("%2F", "/") )
					#end
				   #if ( $asset.id.startsWith("multiedit:") )
				        #set  ( $ismulti = true)
				    #end
				    #foreach( $link in $links)
						#if( ${foreach.count} == 2)
							##render editing boxes
							$pages.include("$apphome/components/detaileditor/assetdatatables.html",$context)
						#end
				
						#set( $pname = "can${link.id}")
						#set( $permission = false)
						#set( $permission = "$!context.getPageValue($pname)")
						#set( $inmultiok = ($link.multiedit && $link.multiedit == "true") )
						#set( $text = $link.name)
						
						#if($link.id == "metadatageneral"  &&  $caneditmetadatageneral == "false" && $canviewmetadatageneral=="true")
							#set( $text = "View Metadata") ##change label
				            #set( $permission = true)
						#end
				
						#if( $permission == "true" && $link.id == "viewassetedit" && $asset.fileformat != "jpg")
							#set( $permission = false)
						#end
						
						#set( $type = $mediaarchive.getMediaRenderType($asset))
						#if( $permission && $link.id == "viewtimeline" &&  !($type == "video" || $type == "audio"))
							#set( $permission = false)
						#end
						#if( $permission && $link.id == "viewclosedcaptions" && !($type == "video" || $type == "audio"))
							#set( $permission = false)
						#end
				
						#if( $permission == "true")
							##Check for custom links, arguments and labels
							#set($args = "assetid=$asset.getId()&hitssessionid=$!{hitssessionid}")
							#if($link.id =="comment")
								#set( $text = "$text" )
								#set ($args = "assetid=$asset.getId()&sourcepath=$sourcepath&hitssessionid=$!{hitssessionid}")
							#elseif ($link.id == "viewassetedit")
								#set ($path = "/WEB-INF/data/$catalogid/originals/$sourcepath")
								#set ($args = "path=$path&${args}")
							#elseif ($link.id == "assetpermissions")
								#set($args = "editPath=$apphome/asset/$sourcepath/_site.xconf&$args")
							#elseif ($link.id == "metadatageneral")
								#if($canmetadatageneral)
									#set($args = "assetid=$asset.getId()&hitssessionid=$!{hitssessionid}&edit=true&cemg=$canmetadatageneral")
								#else
									#set($args = "assetid=$asset.getId()&hitssessionid=$!{hitssessionid}")
								#end
							#end
							#if( !$ismulti || $inmultiok )
								#set ($href = "$apphome/views/modules/asset/editor/${link.folder}/index.html")
								##<li id="detaileditor-${link.id}" class="#if($tab == "$link.id") current #end $link.id">
								##	<a title="$context.getText($text)" href="$home$href?$args" targetdiv="detaileditor" #if($target) target="$target" #end >
								##	<span class="text">$context.getText($text)</span>
								##	</a>
								##</li>
							#end
						#end
					#end
				</ul>
		    </li>
		    #end
    
		</ul>
	</div>
</div>
</div>

