#set( $hitssessionid = $context.getRequestParameter("hitssessionid"))
#set( $originalpath = $mediaarchive.asLinkToOriginal($asset) )	
#set( $type = $mediaarchive.getMediaPlayerType($asset))
#if( !$type )
No template for $type
#end
#set( $cdnprefix = $mediaarchive.getCatalogSettingValue("cdn_prefix") )
$context.putPageValue("cdn",$cdnprefix)
#set( $mediadbappid=$mediaarchive.getMediaDbId())

#set( $hits = $context.getSessionValue($hitssessionid))
#set( $index = $hits.indexOfId($asset.id))
#set( $previous = false )
#set( $previous = $hits.previous($index))
#set( $next = false )
#set( $next = $hits.next($index))       

#set( $opentab = $userprofile.get("assetopentab"))
#if( !$opentab)
#set( $opentab = "viewproperties")
#end

<div id="main-media-container" style="height: 100%;">
<div id="main-media-viewer" data-opentab="$opentab" data-hitssessionid="$hitssessionid" data-searchtype="asset" data-oemaxlevel="1" data-editable="$caneditasset" data-assetid="$asset.id" data-next="$!next.getId()" data-previous="$!previous.getId()">
	#if( !$mediadbappid)
		<p style="color: white;">[[mediadbappid not defined in datamanager]]</p>
	#end
	#if($opentab == "viewpreview")
		$pages.include("/${mediadbappid}/services/module/asset/players/large2/${type}.html", $context)
	#elseif($opentab == "viewproperties")
		$pages.include("$apphome/components/mediaviewer/fullscreen/tabs/viewproperties.html")
	#elseif($opentab == "viewcollaborate")
		$pages.include("$apphome/components/mediaviewer/fullscreen/tabs/viewcollaborate.html")
	#end
</div>
<div id="footerbase">
	<div id="footermenu">
		<ul>
		
			<li class="footermenu">
				<div class="goleftclick gotoarrows" >
				<span class="fas fa-caret-left overlay-nav gocaret"></span>
				</div>	
				<div class="gorightclick gotoarrows" >
				<span class="fas fa-caret-right overlay-nav gocaret"></span>
				</div>	
				
			</li>
			<li  class="footermenu bottomtab #if($opentab == "viewpreview")tabselected#end">	
				<div class="expandmenu assetpreview" 
					data-link="$apphome/components/mediaviewer/fullscreen/tabs/viewpreview.html" title="[[View $asset]]" >
				<i class="fas fa-expand"></i> $asset
				</div>
			 </il>
			 <li class="footermenu bottomtab #if($opentab == "viewproperties")tabselected#end">
				<div class="expandmenu assetproperties" 
					data-link="$apphome/components/mediaviewer/fullscreen/tabs/viewproperties.html" title="[[View Metadata]]" >
				<i class="fas fa-info-circle"></i> [[Properties]]
				</div>
			</li>
			 <li class="footermenu bottomtab #if($opentab == "viewcollaborate")tabselected#end">
				<div class="expandmenu assetcollaborate" 
					data-link="$apphome/components/mediaviewer/fullscreen/tabs/viewcollaborate.html" title="[[Collaborate]]" >
				<i class="fas fa-comment-alt"></i> [[Collabotate]]
				</div>
			</li>
			
			 <li class="footermenu">
   <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="[[Edit Menu]]"> <span class="fas fa-edit"></span> [[Actions]]</a>
   <ul class="dropdown-menu">
   #set($moduleid = "asset")
	#set( $sourcepath = $asset.getSourcePath() )
	
	#if( $parenthits )
		#set( $rootid = $parenthits.sessionId )
	#else
		#set( $rootid = $hits.sessionId )
	#end
   	#set( $searcher = $searcherManager.getSearcher($catalogid,"detaileditormenu") )
	#set( $query = $searcher.createSearchQuery().append("moduleid",$moduleid) )
	#set( $nil = $query.addSortBy("ordering") ) 
	#set( $links = $searcher.cachedSearch($context,$query) )
	
	#set ( $urlutils = $context.getPageValue("url_util"))
	#if ($urlutils)
		#set($sourcepath = $urlutils.encode($sourcepath))
		#set ( $sourcepath = $sourcepath.replace("%2F", "/") )
	#end
   #if ( $asset.id.startsWith("multiedit:") )
        #set  ( $ismulti = true)
    #end
    #foreach( $link in $links)
		#if( ${foreach.count} == 2)
			##render editing boxes
			$pages.include("$apphome/components/detaileditor/assetdatatables.html",$context)
		#end

		#set( $pname = "can${link.id}")
		#set( $permission = false)
		#set( $permission = "$!context.getPageValue($pname)")
		#set( $inmultiok = ($link.multiedit && $link.multiedit == "true") )
		#set( $text = $link.name)
		
		#if($link.id == "metadatageneral"  &&  $caneditmetadatageneral == "false" && $canviewmetadatageneral=="true")
			#set( $text = "View Metadata") ##change label
            #set( $permission = true)
		#end

		#if( $permission == "true" && $link.id == "viewassetedit" && $asset.fileformat != "jpg")
			#set( $permission = false)
		#end
		
		#set( $type = $mediaarchive.getMediaRenderType($asset))
		#if( $permission && $link.id == "viewtimeline" &&  !($type == "video" || $type == "audio"))
			#set( $permission = false)
		#end
		#if( $permission && $link.id == "viewclosedcaptions" && !($type == "video" || $type == "audio"))
			#set( $permission = false)
		#end

		#if( $permission == "true")
			##Check for custom links, arguments and labels
			#set($args = "assetid=$asset.getId()&hitssessionid=$!{hitssessionid}")
			#if($link.id =="comment")
				#set( $text = "$text" )
				#set ($args = "assetid=$asset.getId()&sourcepath=$sourcepath&hitssessionid=$!{hitssessionid}")
			#elseif ($link.id == "viewassetedit")
				#set ($path = "/WEB-INF/data/$catalogid/originals/$sourcepath")
				#set ($args = "path=$path&${args}")
			#elseif ($link.id == "assetpermissions")
				#set($args = "editPath=$apphome/asset/$sourcepath/_site.xconf&$args")
			#elseif ($link.id == "metadatageneral")
				#if($canmetadatageneral)
					#set($args = "assetid=$asset.getId()&hitssessionid=$!{hitssessionid}&edit=true&cemg=$canmetadatageneral")
				#else
					#set($args = "assetid=$asset.getId()&hitssessionid=$!{hitssessionid}")
				#end
			#end
			#if( !$ismulti || $inmultiok )
				#set ($href = "$apphome/views/modules/asset/editor/${link.folder}/index.html")
				<li id="detaileditor-${link.id}" class="#if($tab == "$link.id") current #end $link.id">
				<a title="$context.getText($text)" href="$home$href?$args" targetdiv="detaileditor" #if($target) target="$target" #end >
				<span class="icon"></span>
				<span class="text">$context.getText($text)</span>
				</a>
				</li>
			#end
		#end
	#end
	</ul>
    </li>
    
			 #if($candownload || $canconvert)
				<li class="footermenu" >		
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" expanded="true" > <span class="fas fa-download"></span>  [[Downloads]]</a>
   <ul class="dropdown-menu">
						#if( !$cdnprefix )
							#set( $cdnprefix = $context.siteRoot )
						#end
								
									 #if($candownload)				
										<li><a href="$cdnprefix$home/$mediadbappid/services/module/asset/downloads/originals/$originalpath">[[Original File]]</a></li>
									#end	
									#if($canconvert)

									#if( $type )
									#set( $searcher = $mediaarchive.searcherManager.getSearcher($catalogid, "convertpreset"))
									#set( $results = $searcher.query().exact("inputtype",$type).sort("ordering").named("convertpresets").search($context) )
									#end
									
										#foreach($result in $results )						
												<li><a href="$cdnprefix$home/$mediadbappid/services/module/asset/downloads/createpreset/${asset.sourcepath}/${result.generatedoutputfile}/${asset.name}-${result.generatedoutputfile}">$result.name</a></li>
										#end
									#end
								</ul>
					   
				  </li>
			 #end
		  <li>
	#if(  $asset.getFileFormat()  == "pdf")
		    <a data-assetid="${asset.id}" target="_new" href="$cdnprefix$home/$mediadbappid/services/module/asset/downloads/vieworiginal/$originalpath" >
            	<span class="fas fa-blackboard"> </span> [[View PDF]]
            </a> 
	#end
		  </li>
		  
		</ul>
	</div>
</div>
</div>

