#set( $searcher = $mediaarchive.searcherManager.getSearcher($catalogid, "convertpreset"))
#set( $collectionid = $context.getRequestParameter("collectionid") )
#set( $rendertype = $mediaarchive.getMediaRenderType($asset))
#set( $playertype = $mediaarchive.getMediaPlayerType($asset))
#if( !$playertype )
	No template for $playertype
#end
#set( $cdnprefix = $mediaarchive.getCatalogSettingValue("cdn_prefix") )
$context.putPageValue("cdn",$cdnprefix)
#set( $mediadbappid=$mediaarchive.getMediaDbId())

#set( $index = $dialoghits.indexOfId($asset.id))
#set( $previous = false )
#set( $previous = $dialoghits.previous($index))
#set( $next = false )
#set( $next = $dialoghits.next($index))  

##This is used to make a readonly version for mediadb
#set( $previewonly = $context.getPageValue("previewonly"))

#if( !$previewonly)
	#set( $previewonly = false)
#end

#set( $ismulti = $asset.id.startsWith("multiedit:") || $context.getRequestParameter("multi") == "true")

#set( $opentab = $userprofile.get("assetopentab"))

#if( $opentab != "viewpreview" && $canviewmetadatageneral )
	#set( $opentab = "viewproperties")
#else
	#set( $opentab = "viewpreview")
#end

#if( $ismulti )
	#set( $opentab = "viewproperties")
#end

## #if($opentab == "viewactions")
## 	#set( $opentabactions = $userprofile.get("assetopentabactions"))

## #if($opentabactions == "closedcaptions" || $opentabactions == "timeline")
##	#if( $rendertype != "video")
##		#set( $opentab = "viewproperties")
##		#set( $opentabactions = false)
##	#end
## #end
## #end

$context.putPageValue("opentab",$opentab)

#set( $hitssessionidOriginal = $context.getRequestParameter("hitssessionidOriginal") )
$context.putPageValue("hitssessionidOriginal",$hitssessionidOriginal)
#set( $hitssessionid = $dialoghits.getSessionId())
$context.putPageValue("hitssessionid",$hitssessionid)
<div id="main-media-container">

$pages.include("$componenthome/mediaviewer/fullscreen/currentassettabs.html",$context)

<div id="main-media-viewer" 
data-opentab="$opentab" 
data-hitssessionid="$hitssessionid" 
data-searchtype="asset" 
data-oemaxlevel="1" 
data-editable="$caneditasset" 
data-assetid="$asset.id" data-next="$!next.getId()" 
data-previous="$!previous.getId()"
data-previouspage="$!dialoghits.idOnPreviousPage()" 
data-nextpage="$!dialoghits.idOnNextPage()"
data-multieeditlink="$componenthome/mediaviewer/fullscreen/tabs/multiedit.html?assetid=multi:$!hitssessionid&hitssessionid=$!hitssessionid&multi=true"
 ><div id="mainmedianotifications"></div>

	#if( !$mediadbappid)
		<p style="color: white;">[[mediadbappid not defined in datamanager]]</p>
	#end
	
	#if($opentab == "viewpreview")
		##$pages.include("/${mediadbappid}/services/module/asset/players/large2/${type}.html", $context)
		$pages.include("$componenthome/mediaviewer/fullscreen/tabs/viewpreview.html",$context)
		
		#if( $next )
			#set( $preloadtype = $mediaarchive.getMediaPlayerType($next))
			#if( $preloadtype == "image")
				#set($tpath = $mediaarchive.asLinkToPreview($next,  $libarycol.id, "image1024x768.jpg"))
				<div style="display:none;"><img src="$tpath" /></div>
			#end
		#end
	#elseif($opentab == "viewproperties")
		$pages.include("$componenthome/mediaviewer/fullscreen/tabs/viewproperties.html")
	#elseif($opentab == "viewcollaborate")
		$pages.include("$componenthome/mediaviewer/fullscreen/tabs/viewcollaborate.html")
	#elseif($opentab == "multiedit")
		$pages.include("$componenthome/mediaviewer/fullscreen/tabs/multiedit.html")
	#elseif($opentab == "viewactions")
		#set( $opentabactions = $userprofile.get("assetopentabactions"))
		#if ( $rendertype !='video')
			#if(!$opentabactions || $opentabactions == 'timeline' || $opentabactions == 'closedcaptions')
				##Back to Preview
				#set( $opentab = "viewproperties")
				#set( $opentabactions = "")
				##userprofile.set("assetopentabactions", "")
				$pages.include("$componenthome/mediaviewer/fullscreen/tabs/viewproperties.html")
			#else
				$pages.include("$componenthome/mediaviewer/fullscreen/tabs/viewactions.html?action=$opentabactions")
			#end
		#else
			$pages.include("$componenthome/mediaviewer/fullscreen/tabs/viewactions.html?action=$opentabactions")
		#end
	#elseif($opentab=="viewtable")
		#set( $opentabassettable = $userprofile.get("assetopentabassettable"))
		#if($opentabassettable)
			$pages.include("$home$apphome/views/modules/asset/edit/moduletable.html?oemaxlevel=3&id=${asset.id}&assetid=$asset.id&viewid=$opentabassettable&viewpath=asset/$opentabassettable&hitssessionid=${hitssessionid}",$context)
		#end
	#end
	
</div>
</div>

