<br><br>


<div class="hints">
<h3>Administration and Settings</h3>

<p>Here you can set up <a href="$home$apphome/views/settings/security/usermanager/users/index.html">users</a>, 
<a href="$home$apphome/views/settings/security/usermanager/groups/index.html">groups</a> and 
<a href="$home/$apphome/views/settings/security/permissions/index.html">permissions</a>, edit the 
<a href="$home$apphome/views/settings/security/rules/index.html">metadata</a> settings for your assets, view and 
edit your asset's <a href="$home$apphome/views/settings/security/rules/index.html">conversion</a> settings and set up conditional 
<a href="$home$apphome/eml/views/settings/events/triggers/index.html">triggers</a> for events that occur with your assets such as uploading and downloading. </p>
</div>