#set($hitssessionid = $hits.sessionId )
$context.putPageValue("showalllanguagevalues",true)
<div class="summarytab">
<div class="container-fluid ">
<div class="row">
		<div class="col-8">
			<div id="asset-detail-editor">
			#foreach( $viewpath in $views.keySet() )
			 
				#set( $target = $views.get($viewpath) )
				#set($permissionvalue = $context.getPageValue("canview-${target.getId()}"))
			        #if("$!permissionvalue" == "" || $permissionvalue == true)
			     
					#if( !$target.rendertable )
						$context.putPageValue("origURL", "$apphome/assets/${asset.sourcePath}.html")
						$context.putPageValue("data",$asset)	
						$context.putPageValue("searcher",$mediaarchive.getAssetSearcher() )	
						$context.putPageValue("view",$viewpath)
						
						<div id="edit-${target.getId()}" class="asset-data-detail asset-data-preview assetpanel-editor-box">
							<h4>$context.getText($target.toString()) 
								<a href="$apphome/components/detaileditor/generalinformation/editform.html?viewpath=$viewpath&oemaxlevel=1&edit=$!caneditasset&assetid=${asset.id}" 
								   class="detail-edit-icon float-right ajax btn btn-xs"
								   data-targetdiv="edit-${target.getId()}"
								   title="[[Edit]] $context.getText($target.toString())"><i class="fas fa-edit"></i> [[ Edit]]</a></h4>
							$pages.include("/$applicationid/components/xml/detailviewer.html", $context)
						</div>
					#end
				#end
                #set($permissionvalue = "")
				
			#end
			</div>
	</div>					
			<div class="col-4">
			
				$pages.include("$apphome/components/mediaviewer/player/summary-mini.html",$context)
			
				#set( $libraries = $asset.getLibraries())
				#if( $libraries.size() > 0)
    				
    				<div class="asset-data-detail assetpanel-editor-box" >
    				<h4>[[Libraries]]</h4>
    				<div class="emlist">
            				#foreach($library in $libraries)
            					 #set( $division = $mediaarchive.getData("division",$library.division ) )
            					 #if($division)
            					 	#set($ldata = "$division.getName($context.locale) / $library.getName($context.locale)" )
            					 #else
            					 	#set($ldata = $library.getName($context.locale) )
            					 #end
            					<a href="$home$apphome/views/modules/library/view/view.html?id=$library.getId()" class="list-library list-hover"><i class="fas fa-boxes"></i> $ldata</a>
            			
            				#end
    					</div>
    				</div>
				#end	
				
				$pages.include("$apphome/components/opencollections/asset/listassetcollections.html",$context)
					
				<div class="asset-data-detail assetpanel-editor-box">
					<h4>[[Categories]]
					#if( $caneditassetcategories )
					<a href="$apphome/components/categories/search/searchcategory.html?targetdiv=addcategory&amp;clearselection=&amp;action=/assets/emshare/components/xml/types/category.html&amp;detailid=category-exact" 
					   class="detail-edit-icon float-right btn btn-xs emdialog"
					   data-cancelsubmit="true" data-parameterdata="categoryvalues"
					   data-noesc="true"
					   title="[[Add Category]]"><i class="fas fa-plus"></i></a>
					#end
					</h4>
					<div  id="cat-list" class="emlist">
					#foreach ($category in $asset.categories)
						<div  class="list-row">
						<div  class="category">						
						#foreach( $parent in $category.getParentCategoriesFrom(1))
						#if( ${foreach.count} > 1) \ #end
						<a  style="padding:0px 4px 4px 4px;" href="$home$apphome/views/categories/${parent.id}.html">$parent</a>
						#end
						</div>
						#if( $caneditassetcategories )
					 	<a class="ajax list-delete"  data-targetdiv="assetcollectionresults" href="#">
					 	<i class="fas fa-times"></i></a>
					 #end
						</div>
					#end
					
					</div>
				</div>
			</div>	
	
</div></div>
</div>