	<div class="cols-main #if ($module) cols-$module #end searchlayout2" id="searchlayout" data-nodeid="$!nodeID" data-collectionid="$!collectionid">
		<div class="col-main col-content-main #if ($leftbarstatus!=false) leftopen #end  " id="maincontent">


<div class="pushcontent"> 
<div class="row">
 <div class="col-md-12">

#set( $collectionid = $context.getRequestParameter("collectionid") )
#set($auto = $context.getRequestParameter("autorun"))

<div id="addcategoryform" class="ui-widget uipanel" style="padding: 0 10px 10px 10px;">
   <div class="ui-widget-header">[[Copy Existing Folders]]</div>
   <div class="ui-widget-content">
	

<form  name="wizard" method="post"  class="" targetdiv="addcategoryform"
	action="$home$apphome/components/createmedia/copycategory/createnew.html">
    <input type="hidden" name="collectionid" id="urlcurrentcollection" value="$collectionid"/>
#if($auto == "true")
<div class="alert alert-info" role="alert">[[This collection hasn't been populated yet!  Please choose the categories and assets you'd like to show below]]</div>

#end
    <a #if($auto == "true") style="display: none;" #end class="ajax btn" id="poptrigger" targetdivinner="auto-pop"  
			  	data-hidefooter="true" href="$apphome/components/createmedia/copycategory/autopopulate.html?collectionid=${collectionid}" class="btn" ><i class="far fa-arrow-alt-circle-down"></i> Auto Populate</a>
	
   <a class="emdialog btn btn-primary" href="$home$apphome/components/categories/search/searchcategory.html?targetdiv=autocategoriespicked&clearselection=$!clear&action=${page.directory}/picked.html"
    data-hidefooter="true" data-parameterdata="categoryvalues"><i class="fas fa-search"></i> [[Select Additional Categories]]</a>
	
	<div class="ajaxprogress" style="display:none;">[[Loading, please wait..]]<img src="$apphome/components/search/images/spinner.gif"/></div>

	
	<div class="inner-content" style="width: 90%; " id="autocategoriespicked">
	$pages.include("$apphome/components/createmedia/copycategory/picked.html",$context)	
	</div>
	<div id="auto-pop" style="width: 90%; "></div>
	<br><br>
	<input class="btn btn-primary" type="submit" value="Import" />	

</div>
</div></div>
	
	
	<a class="ajax btn gobacklink" targetdiv="createmediapanel" href="$home$apphome/components/createmedia/start.html?collectionid=$collectionid">[[Go Back]]</a>

	<script type="text/javascript">
	lQuery(".auto-remove").livequery("click", function() {
		var catid = jQuery(this).data('categoryid');
		
		jQuery("#auto-" + catid).remove();
		
		
	});
	

	
	
	</script>		


	</div>

	</div>
	</div>
</div>
