

 <div class="subcolumns">
          <div class="c25l" id="left-col">
            <div class="subcl">
       

        
        <div class="ui-widget-header">Actions</div>
	      
	      <div class="ui-widget-content categories-widget no-padding-for-real">
	      
	      
					<ul id="settings-menu" class="sidebar-list">
<li><a href="$home$apphome/views/myaccount/index.html"> [[Profile]]</a></li>
<!-- 
<li><a target="_blank" href="http://www.rewardbalance.com/"> [[Samsung Reward Amount]]</a></li>
 -->

<li>
<a  href="$home$apphome/views/myaccount/setuserpassword.html">
    [[Change Password]]
</a>  </li> 
	
	
		
</ul>
</div>
            </div>
          </div>
          <div class="c75r">
            <div class="subcr">
      
		$pages.includeContent()


            </div>
          </div>
        </div>





    