#set ( $username = $request.getParameter( 'username' ) )

<form method="post" name="wizard" action="$home$apphome/views/myaccount/setuserpassword-finish.html">
<h1>[[Update your password]]</h1>
 <input type="hidden" name="userid" value="$user.id"/>
<table height="100%" class="oedivided-box" cellspacing="0" cellpadding="0">
<tr>
<td class="oedivided-box-white" height="100%" valign="top">


		                  
<tr>
		                    
<td class="oedivided-box-blue">[[Password]]:</td>
		                    <td><input type="password" name="password"></td>

		           			<input type="hidden" name="username" value="$user.id"/> ## so the page loads after we save
		                  
</tr>
		                  
<tr>
		                    
<td class="oedivided-box-blue">[[Retype Password]]:</td>
		                    <td><input type="password" name="retypedPassword"></td>
		                  
</tr>
		               
<tr>
                            
<td class="oedivided-box-blue">		               
		               <input  value="[[FINISH]]" type="submit"><input onclick="history.go(-1);" value="[[CANCEL]]" name="[[CANCEL]]" type="button" class="oestandard-button">
		               </td>
		      </tr>
		               
</table>
	
</form>
  