
#set($idcount = $context.getRequestParameter("idcount"))
#if(!$idcount)
	#set($idcount = "")
#end


<div class="render-type-thumbnail" id="${detail.id}-preview" style="padding: 4px;">


#if($val && $val != "")
#set( $foundrow = $mediaarchive.getAsset($val)  )
#if($foundrow)
	$pages.include("$apphome/components/xml/types/assetpicker/preview.html?assetid=$val", $context)
#else
##set( $foundrow = "")
#end
#end
</div>

<input type="hidden" name="${detail.id}.value" id="${detail.id}-value" value="$!foundrow.id"/>
##if($detail.sourcepath)
##<input type="hidden" name="${detail.id}.sourcepath" id="${detail.id}-sourcepath" value="$detail.sourcepath"/>
##end
##<input type="hidden" class="$detail.getId()-field" id="${detail.getId()}.value" name="${detail.getId()}.sourcepath" value="$!sourcepath" />

<a href="$home$apphome/components/html/assetpicker/index.html?targetdiv=${detail.id}-value&detailid=${detail.id}" data-target="$home$apphome/components/html/assetpicker/index.html?targetdiv=${detail.id}-value&detailid=${detail.id}" data-width="90%" data-height="90%"  class="emdialog ajaxDialog btn btn-default" >Browse</a> 

