#set($idcount = $context.getRequestParameter("idcount"))
#if(!$idcount)
	#set($idcount = "")
#end


<div class="render-type-thumbnail" id="${detail.id}-preview" style="padding: 4px;">


#if($val && $val != "")
#set( $foundrow = $mediaarchive.getAsset($val)  )
#if(!$foundrow &&  $detail.getId().contains("sourcepath"))
#set( $foundrow = $mediaarchive.getAssetBySourcePath($val)  )
#end

#if($foundrow)

	$pages.include("$apphome/components/xml/types/assetpicker/preview.html?assetid=$foundrow.id", $context)
#else
##set( $foundrow = "")
#end
#end
</div>

<input type="hidden" name="${detail.id}.value" id="${detail.id}-value" value="$!foundrow.id"/>

<a href="$home$apphome/components/assetpicker/search/searchassets.html?targetdiv=${detail.id}-value&detailid=${detail.id}" data-target="$home$apphome/components/assetpicker/search/searchassets.html?targetdiv=${detail.id}-value&detailid=${detail.id}" data-width="90%" data-height="90%"  class="emdialog  btn btn-default" >[[Browse]]</a> 

[[or]] <input class="render-choose-file" type="file" name="file.${detail.getId()}" />