
#set($idcount = $context.getRequestParameter("idcount"))
#if(!$idcount)
	#set($idcount = "")
#end


#if($val && $val != "")
#set( $foundrow = $searcherManager.getData($detail.getListCatalogId(),$detail.getListId(),$val) )  
#end

<input name="completefield" class="listautocomplete" id="${detail.id}${idcount}value" value="#esc($!foundrow.name)" size="30" type="text" data-searchtype="$detail.listid" data-listcatalogid="$detail.listCatalogId" />
<input name="${detail.getId()}.value"  id="${detail.id}${idcount}valuehidden"    type="hidden"/>



#set($module = $searcherManager.getData($catalogid, "module", $detail.listid ) )
#if($val && $val != "")


#if($module)
#set ( $defaultview = $userprofile.getDefaultViewForModule($moduleid) )
#set($link = "$home$content.searchhome/edit/edit.html?id=$val&viewid=$defaultview.id&viewpath=$module.id/$defaultview.id&hitssessionid=${hits.sessionId}&searchtype=$module.id")
#else
#set($link = "$home$apphome/views/settings/lists/datamanager/edit/edit.html?id=$val&searchtype=$detail.listid")
#end
#if($module.id == "asset")

#set($link = "$home$apphome/views/assets/asset.html?assetid=$val" )
#end
 <a class="btn" href="$link">View</a>
 #end