
#set($idcount = $context.getRequestParameter("idcount"))
#if(!$idcount)
	#set($idcount = "")
#end


#if($val && $val != "")
#set( $foundrow = $searcherManager.getData($detail.getListCatalogId(),$detail.getListId(),$val) )  
#end

<input name="completefield" class="listautocomplete" id="${detail.id}${idcount}value" value="#esc($!foundrow.name)" size="30" type="text" data-searchtype="$detail.listid" data-listcatalogid="$detail.listCatalogId" />
<input name="${detail.getId()}.value"  id="${detail.id}${idcount}valuehidden"   value="$!val" type="hidden"/>

#if( $canviewsettings && $foundrow )
	#set($module = $searcherManager.getData($catalogid, "module", $detail.listid ) )
	#if($module)
	
		#if($module.id == "asset")
		    #set($link = "$home$apphome/views/modules/asset/editor/generalinformation/index.html?assetid=$val" )
		#else
			#set ( $defaultview = $userprofile.getDefaultViewForModule($module.id) )
			#set($link = "$home$apphome/views/modules/${module.id}/edit/edit.html?id=$val&viewid=$defaultview.id&viewpath=$module.id/$defaultview.id&hitssessionid=${hits.sessionId}&searchtype=$module.id")
		#end
	
	#else
	
		#set($link = "$home$apphome/views/settings/lists/datamanager/edit/edit.html?id=$val&searchtype=$detail.listid")
	
	#end
 	<a class="btn" href="$link">View</a>
#end