#set( $rootpath = "${apphome}/components/categorize")
<div id="addcategory">
	#if( $val && $val.length() > 0)
	   #set( $existing = $val.replaceAll(" ","|") )
   #else
		#set ($existing = $context.getRequestParameter("categories") )
		#set ($categoryidpicked = $context.getRequestParameter("categoryidpicked") )
		#if( !$existing)
			#set ($existing = $categoryidpicked)
		#elseif($categoryidpicked)
			#set ($existing = "$existing|$categoryidpicked")
		#end
    #end

	#if( $existing )
	    <ul id="cat-list">
		#foreach($categoryid in $existing.split("\|"))
				#set($category  = $mediaarchive.getCategory($categoryid))
			<li class="row categorydraggable ui-draggable ui-draggable-handle" data-nodeid="$categoryid" data-categoryname="$category.getName()">
				<a class="category ajax" title="$category.getCategoryPath()" targetdivinner="view-picker-content" href="$home$apphome/views/categories/${category.id}.html?oemaxlevel=2" >$category.getName()</a>
			</li>
		#end
		</ul>
	#end
   <input type="hidden" name="operation" value="orsgroup" />
   	#set( $ids = $existing.replace("|"," ") )
   	<input type="hidden" name="category.values" value="$ids" />
   
   <a class="emdialog btn small" href="$home$apphome/components/categories/searchcategory.html?targetdiv=addcategory&categories=$!existing&clearselection=$!clear&action=$page.path" data-hidefooter="true">[[Pick Categories]]</a>

</div>
