#if( $val && $val.length() > 0)
#set( $param = $val.replace(" ","&selected="))
#set( $param = "selected=$param")
#end
#set( $rootpath = "${apphome}/components/categorize")
	<input type="hidden" name="operation" value="orsgroup" />

        <div id="addcategory" >    
        	#if( $val )    	
        	#set( $categories = $val.replaceAll(" ","|") )
           $pages.include("$apphome/components/categorize/search/selected.html?categories=$!categories",$context)
           #end
        </div>
            <a class="thickbox btn small"  data-fancybox-type="inline"   href="#addcategoryoptions" >[[Pick Categories]]</a>

		<div style="display: none">
		        <div id="addcategoryoptions">
		
		           $pages.include("$apphome/components/categorize/search/pickersearch.html?targetdiv=addcategory",$context)
		
		        </div>
		</div>