
#if($detail.isMultiLanguage())
	<div class="${detail.id}-languages">
			#set($languages = $mediaarchive.getList("locale"))
			#set($map = $data.getValue($detail.getId()))
			#set($locale = $languages.get(0))
			
			<div class="clearfix"></div>
			
			<div id="languagesextra${detail.id}">
			$pages.include("$apphome/components/xml/types/language/extralanguage.html?detailid=${detail.id}")
			</div>
			
			<div class="clearfix"></div>
			<div style="padding: 10px">
				<a class="" href="$home$apphome/components/xml/types/language/extralanguage.html" targetdiv="languagesextra" data-detailid="${detail.id}" id="languagesavebtn"><img src="$home$themeprefix/images/icons/addgray.png"></a>
			</div>
			
	</div>

#else
	#if( !$val || $val.length() < 30)
		<input type="text" class="detail_$detail.id autosubmited #if($detail.isRequired() && !$multiedit) required #end" value="#esc($val)"  id="${detail.getId()}.value" name="$!{detailprefix}${detail.getId()}.value"  onblur="if( typeof validate == 'function' ) validate('$searcher.getCatalogId()','$searcher.getSearchType()','$view','$detail.getId()');" />
	#else
		<textarea name="$!{detailprefix}${detail.getId()}.value" class="autosubmited #if($detail.isRequired() && !$multiedit) required #end" onChange="if( typeof validate == 'function' ) validate('$searcher.getCatalogId()','$searcher.getSearchType()','$view','$detail.getId()');" id="${detail.getId()}.value" cols="40" rows="5" >#esc($val)</textarea>
	#end
#end


