
#set( $inputid = $detail.id )

#set( $divisions = $searcherManager.getList($catalogid,"division") )
#if( $content.filter_division )

#elseif( $divisions.size() > 1)
<tr class="emsearchfieldrow">
	<td valign="middle" nowrap="" align="left" class="emsearchfieldvalue" id="detail_division">
		<select name="division.value"  id="parent${inputid}" onchange='loadlist("#detail_library", "$catalogid", "library", "Library", "libraries", "division", $(this).val(),"$!val" )'>
		<option value="">-- Choose Division --</option>
		#foreach( $division in $divisions)
			<option id="$division.id">$division</option>
		#end
		</select>
	</td>
</tr>
#end

<tr class="emsearchfieldrow">
	<td valign="middle" nowrap="" align="left" class="emsearchfieldvalue" >
		<div id="detail_library">
			$pages.include("${apphome}/components/xml/types/simplelist.html?searchtype=library&fieldname=libraries&label=Library",$context)
		</div>		
				
	</td>
</tr>