#set( $pdetail = $mediaarchive.getAssetSearcher().getDetail("project") )
#if($pdetail )
	#set( $childcontext = $context.copy() )

#if( $term)
	#set( $library = $searcherManager.getData($catalogid,"library",$term.getValue() ) )		
#end


		#if($library)
			$childcontext.putPageValue("val", $library.project)
			$childcontext.putPageValue("value", $library.project)
		#end
		
		$childcontext.putPageValue("detail", $pdetail)
		$pages.include("/${applicationid}/components/xml/types/list.html", $childcontext)

#end


<input name="operation" value="matches" type="hidden" />
$pages.include("$apphome/components/xml/types/autocomplete.html",$context)
	
	</td>
</tr>