#set($detailid = $detail.id)
#set($languages = $mediaarchive.getList("locale"))
#set($mylang = $context.getLanguage() )
<div class="languagesaddform">
	#set( $language = $hits.getSearchQuery().getInput("${detailid}.language") )
	#if( !$language )
		#set( $language = $mylang )
	#end	
	<div style="float:left; padding-bottom:5px">
		<select class="select2" id="languages_${detailid}_${language_count}" name="${detailid}.language" data-detailid="${detailid}">
			#foreach($locale in $languages)
			<option value="$!locale.id" #if($language && $language == $locale.id ) selected="selected" #end>$!locale</option>
			#end
		</select>
	</div>
	<div style="float:left;">
		<input type="text" id="languages_${detailid}_${language_count}_value" name="${detailid}.value" #if( $val )value="$val" #end>
	</div>
	<div class='clearfix'></div>
</div>