<script type="text/javascript">
    if (!window.entermediaMissingSelect2TranslationsFixApplied) {
        (function () {
            $.fn.select2.defaults.set('language', {
                inputTooLong: function (args) {
                    return '[[Please enter]] ' + (args.minimum - args.input.length) + ' [[chars less]]';
                },
                inputTooShort: function (args) {
                    return '[[Please enter]] ' + (args.minimum - args.input.length) + ' [[chars more]]';
                },
                loadingMore: function () {
                    return '[[Loading more results]]...';
                },
                maximumSelected: function (args) {
                    return '[[You can only select]] ' + args.maximum + (args.maximum === 1 ? '[[entry]]' : '[[entries]]');
                },
                noResults: function () {
                    return '[[No results]]';
                },
                searching: function () {
                    return '[[Searching]]...';
                }
            });
        })();
        window.entermediaMissingSelect2TranslationsFixApplied = true;
    }
</script>