#set($idcount = $context.getRequestParameter("idcount"))
#if(!$idcount)
	#set($idcount = "")
#end

#set( $detailid = $detail.getId().replace('.','-') )

<div class="hidenoselect2results">

  <select class="listtags form-control" multiple="multiple">
        <option selected="selected">orange</option>
        <option>white</option>
        <option selected="selected">purple</option>
      </select>

##<input name="${detail.getId()}.value" class="listtags #if($detail.isRequired() && !$multiedit) required #end" id="${detailid}${idcount}value" value="#esc($val)" 	
##	data-enterdata="[[Enter comma separated tags]]"
##	 />
</div>
 