#set($nodeID = $context.getRequestParameter("nodeID"))
#if(!$category)
	#set($categoryid = $context.getRequestParameter("categoryid"))
	#if(!$categoryid)
		#set($categoryid = $context.getRequestParameter("category.value"))
	#end
	#if(!$categoryid && $nodeID)
		#set($categoryid = $nodeID)
    #end
    #if(!$categoryid)
        #set($categoryid = "index")
    #end
	#if($categoryid)
		#set($category = $mediaarchive.getData("category",$categoryid))
		#if($category)
			$context.putPageValue("category",$category)
		#end
	#end
#end

##Sidebars
#if( $canviewcategorynav || ( $librarycol && $canviewcategorynavcollections ) )
	#set( $leftbarstatus = $userprofile.get("leftbarstatus"))
#else
	#set( $leftbarstatus = false)
#end
#set( $filtersbarstatus = $userprofile.get("filtersbarstatus"))
 	

<div class="cols-main #if ($module) cols-$module #end searchlayout2" id="searchlayout">
	<div class="col-main col-content-main #if ($leftbarstatus!=false) leftopen #end #if ($filtersbarstatus!=false) filtersopen #end " id="maincontent">
			<div id="emresultscontainer" >
			#if( $hits )
				$context.putPageValue("showhover", "false")
				$context.putPageValue("showcaption", "true")
				$context.putPageValue("hideheader", "true")
		    	$pages.include("$apphome/components/results/index.html",$context)
		   #else 
				$pages.include("$apphome/views/modules/asset/search/all.html")
			#end
			</div>		
	</div>
	<div class="col-main col-filters #if($filtersbarstatus!=false) filtersopen #end" id="col-filters">
		<div class="col-main-inner">
		
		$pages.include("$apphome/components/filters/sidebar.html", $context)
		</div>
	</div>
</div>


