
#if(!$category)
	#set($categoryid = $context.getRequestParameter("categoryid"))
	#if(!$categoryid)
		#set($categoryid = $context.getRequestParameter("category.value"))
	#end
	#if(!$categoryid)
		#set($categoryid = $context.getRequestParameter("nodeID"))
	#end
	#if($categoryid)
		#set($category = $mediaarchive.getData("category",$categoryid))
		#if($category)
			$context.putPageValue("category",$category)
		#end
	#end
#end
 
#if( $hits )
	$context.putPageValue("showhover", "false")
	$context.putPageValue("showcaption", "true")
	$context.putPageValue("hideheader", "true")
	

	###always go to index - don't care about resultview
	<div id="emresultscontainer" > 
	$pages.include("$apphome/components/results/index.html",$context)
	</div>


#else 

	$pages.include("$apphome/views/modules/asset/search/all.html")
#end