#set( $selectedLink = $editlinks.selectedLink )
#if( $selectedLink )
	<input type="hidden" name="linkid" value="$selectedLink.id" />
	
	<table class="oemenuback" >
	<tr>
	<td class="oe-module-title">Link Viewer #if( $selectedLink ):: <span class="oemodule-select">$!selectedLink.text</span>#end</td>
	<td class="oe-module-actions">
		#if( $selectedLink )
			<a class="oestandard-button" href="javascript:gotoEditAction('copy.html');">[[Copy Link]]</a>
			<a class="oestandard-button" href="javascript:gotoEditAction('remove.html');">[[Delete Link]]</a>
		#end
	</td>
	</tr>
	</table>

	$pages.include("/system/components/openedit/links/editlink.html", $context)

#else
<p>$context.getPageProperty('text.description')</p>
#end

<script type="text/javascript">
reloadTree();
</script>
	