#set( $root = "$home$componenthome/upload/types/html5")
#set( $nodeID = $context.getRequestParameter("nodeID") )

#set($collectionid = $context.getRequestParameter("collectionid"))

#if( !$collectionid && $nodeID ) 
    #set($category = $mediaarchive.getData("category",$nodeID))
	#set($librarycol = $mediaarchive.query("librarycollection").orgroup("rootcategory",$category.getParentCategories()).searchOne() )
#end
#if (!$librarycol)
	#if(!$collectionid)
		#set($collectionid = $userprofile.get("lastselectedcollection"))
	#end

	#if($collectionid)
		#set($librarycol = $mediaarchive.getCachedData("librarycollection",$collectionid) )
	#end
#end
#if( $librarycol && !$collectioinid)
    #set($collectionid = $librarycol.getId())
#end


$context.putPageValue("librarycol",$librarycol)

<div class="container-fluid">
<div class="row">
    <div  class="col-4 col-upload-left">
		<div class="uploadinstructions">
		   	<a class="btn btn-primary btn-lg" href="#" id="filePicker" style="margin-top: 0"><i class="fas fa-upload"></i> [[Pick Files]]...</a>
		   	<input id="upload_field" type="file" style="position:absolute; top:-2000px;" multiple="multiple"  />
	        <p class="hints" style="text-align: left; padding: 5px 20px;" id="drag-and-drop-instructions">
	            [[Upload multiple files by using the]] <strong>[[Shift]]</strong> [[key on your keyboard while selecting the files you wish to upload]].
	        </p>			             
		</div>				
	<ul id="up-files-list" class="up-files-list">				
	</ul>	
	
	<div class="uploadinstructions">	  
           <div id="drop-area" >
		<div class="drop-over"></div>
		<div class="hints" >[[Drop files here!]]</div>
	</div>
	</div>	
	
	<!-- This is not shown -->
       <div id="progress_report_template" style="display:none;">
        <li class="uploadprogressrow" >
			<span id="progress_report_barcurrentupload" style="width: 0px;" class="uploadprogress"></span>
			<a href="#">
				<span  id="progress_report_namecurrentupload"  class="name"></span>
				<span id="progress_report_sizecurrentupload"  class="size"></span>
				<span id="progress_report_statuscurrentupload"  class="uploadstatus"></span>
			</a>	
		</li>
	</div>				
					             
        
    </div>
    <div  class="col-8 col-upload-right" >

<form id="uploaddata" name="wizard" onSubmit="return false;"
				    action="$root/finish.html" class="force-validate-inputs"  >
		<div id="uploadmetadata">
		
		
		<div class="ui-widget uipanel">
		    <div  class="ui-widget-header">[[Metadata]]

			
		    	#if( $caneditmetadatasetup )
		    	<span class="widget-header-edit">
				 <a  href="$home$apphome/views/settings/modules/asset/metadata/views/index.html?viewid=multipleupload&viewpath=asset/multipleupload" title="[[Edit]]"><i class="fas fa-cog"></i></a>
				</span>
				#end
		    </div>
		    
		    <div  class="ui-widget-content"> 

				#if( $nodeID)
						$!context.setRequestParameter("libraries.value",$!librarycol.library)
						<input type="hidden" name="collectionid" id="currentcollection" value="$!collectionid" />
						<input type="hidden" name="currentcollection" id="currentcollection" value="$!collectionid" />
				#else		 
				
					#if($collectionid || $mediaarchive.isCatalogSettingTrue("show_add_media_collection"))
						$pages.include("$apphome/components/upload/types/html5/collectionpicker.html", $context)
					#end	
					
				#end				
				
				$context.putPageValue("searcher",$mediaarchive.getAssetSearcher() )	
				
				#if($nodeID)
						<input type="hidden" name="field" value="category" />
						<input id="nodeid" type="hidden" name="category.value" value="$nodeID"/>
				#end

                    #if($collectionid || $nodeid)
						$context.putPageValue("view","asset/multipleuploadcollection")	
					#else
						$context.putPageValue("view","asset/multipleupload")	
					#end
					$pages.include("/$applicationid/components/xml/detaileditorcss.html", $context)
					
					##have the cancel delete these assets?
			        <div id="uploadinstructionsafter" style="display: none">
				       <a class="btn btn-sm btn-primary" id="startbutton" data-complete="[[Upload Complete]]"  href="#">[[Upload]]</a>
		        	</div>
			</div>
		</div>
		</div>
				</form>
		
		<div id="completed-uploads" style="display:none;margin-top:10px;" >
		<div class="ui-widget uipanel">
		    <div  class="ui-widget-header">[[Upload Queue]]</div>
		    <div  class="ui-widget-content">

					<a id="viewassetsbtn" class="btn btn-sm btn-primary" disabled href ="#" data-customviewupload="$!customviewupload"> [[View Upload]]</a>	 
					<ul id="up-files-list-completed" class="up-files-list" >
					</ul>	
			</div>
		</div>	
		</div>
	</div>
</div>
</div>

<script>
$(document).ready(function() 
{ 
			
	$("#upload_field").val('');
	var allfiles = new Array();
	$("#up-files-list").empty();

	$("#viewassetsbtn").click(function(e)
	{
		e.preventDefault();
		var collectionid = $("#currentcollection").val();
		var nodeid = $("#nodeid").val();
		
	    var href = null;
	    var customviewupload = $(this).data("customviewupload");
	    if(customviewupload)
	    	{
	    		href= customviewupload + "?collectionid=" + collectionid;
	    		if( nodeid)
		    	{
		    		href = href + "&nodeID=" + nodeid;
		    	}
	    	}
	    else if(collectionid)
	    {
	    	href = "$home$apphome/views/modules/librarycollection/media/" + collectionid + "/index.html?sortby=assetaddeddateDown";
	    	if( nodeid)
	    	{
	    		href = href + "&nodeID=" + nodeid;
	    	}
	    }
	    else if( nodeid)
		{
	         href = "$home$apphome/views/modules/asset/showcategory.html?sortby=assetaddeddateDown&nodeID=" + nodeid;;
		}
	    else
	    {
	        href = "$home$apphome/views/modules/asset/index.html?sortby=assetaddeddateDown";
		}
	    
	    document.location.href = href;
		
	});
	

	
});

</script>