<div id="emvalueeditor">
	<div id="valuelist" class="emtable clearfix">
    #if ( $asset.getLibraries().isEmpty() )
        <p class="info" style="margin-top: 0;">There are no project associated with this asset.  Add project below.</p>
    #else 
    
    	#foreach($libraryid in $asset.getLibraries())
    		  
    		 #set( $library = false )
    		 #set( $project = false )
    		 #set( $library = $searcherManager.getData($catalogid,"library",$libraryid) )
    		 #if( $library )
	    		 #set( $project = $searcherManager.getData($catalogid,"project",$library.project ) )
	 			<a class="row tag" href="$home$apphome/views/modules/library/userpermissions/index.html?id=$libraryid&searchtype=library">#if($project) $!project / #end $library #if( $library.folder ) ( $library.folder )#end</a>    
	    		#if($caneditasset)
	    			<a style="display:inline;" class="ajax delete-row" targetdiv="emvalueeditor" href="$home$apphome/components/assetlibraries/remove.html?fieldname=libraries&assetid=${asset.id}&libraries.value=$libraryid"></a>
	    		#end
	    	#else
	    			Library not found ($libraryid)
	    	#end	
    		</a>
		#set($project = "")
    	#end
	
	#end
	</div>
#if($caneditasset)
	<div id="valueadd" style="margin: 10px 0 10px 0;">
	   <a class="ajax btn small" targetdiv="valueadd" href="$home$apphome/components/assetlibraries/add.html?oemaxlevel=1&assetid=${asset.id}&sourcepath=${asset.sourcepath}">[[Add]]</a>
	</div>
#end

</div>