	$mediaarchive.loadAssetPermissions($asset.sourcepath, $context)


<div class="ui-widget commentbox" style="overflow: hidden;width: 366px; float: left; margin-right: 20px;">
<div class="ui-widget-header">[[Categories]]</div>
<div  class="ui-widget-content "> 
$pages.include("$apphome/components/categorize/index.html",$context)
</div></div>


 <div class="ui-widget commentbox" style="overflow: hidden;width: 366px; float: left;">
<div class="ui-widget-header">[[Tags]]</div>
<div  class="ui-widget-content "> 
$pages.include("$apphome/components/keywords/index.html",$context)
</div></div>