#set ($categories = $context.getRequestParameter("categories") )
#if( $categories )
    #set( $selected = $categories.split("\|") )
#else
	#set ($selected = $context.getRequestParameters("categoryid") )
#end

#if( $selected )
    <ul id="cat-list">
    #set( $ids = "" )
    
	#foreach($categoryid in $selected)
		<li class="row" >
		    #set( $ids = "$categoryid $ids" )
			#set( $category = $mediaarchive.getCategory($categoryid))
			<a class="category ajax" targetdivinner="view-picker-content" href="$home$apphome/views/categories/${category.id}.html?oemaxlevel=2" >$category.getName()</a>
		</li>
	#end
	</ul>
	<input type="hidden" name="category.values" value="$ids" />
#end
