<div >
	<table id="shared-asset-table" class="table table-striped table-hover download-table" >

#set( $downloadall = false)
#set( $cdnprefix = $mediaarchive.getCatalogSettingValue("cdn_prefix") )
#set($mediadbappid=$mediaarchive.getMediaDbId())
#if( !$cdnprefix )
#set( $cdnprefix = $context.siteRoot )
#end
#foreach( $item in $orderitems )

    #set( $asset = $mediaarchive.getAssetBySourcePath($item.assetsourcepath))
    #set( $sourcepath = $asset.sourcePath )
    
	#set( $click = "$home$apphome/views/modules/asset/editor/index.html?hitssessionid=$rootid&assetid=${asset.getId()}&orderid=$order.id" )
	

	<tr>
	<td class="asset-thumb" style="width:200px; padding:10px">		
		$context.putPageValue("asset", $asset)
		$context.putPageValue("item", $item)
		$context.setRequestParameter("sourcepath", $sourcepath)					
	
	   	#set( $assetpath = $mediaarchive.getLinkToAssetViewer($sourcepath) )
		#set( $thumbend = $mediaarchive.getLinkToSize($sourcepath, "thumb") )
		#set( $tsize = "$home$thumbend" )
		
		#if( $parenthits )
			#set( $rootid = $parenthits.sessionId )
		#else
			#set( $rootid = $hits.sessionId )
		#end
		
			<a  class="showasset" data-assetid="$asset.id" href="#" alt="$asset" name="$asset" style="text-decoration: none;">
		
			#set( $type = $mediaarchive.getMediaRenderType($asset.fileFormat))
			#if(!$type)
			#set ($type = "none")
			#end
			$context.putPageValue("cell", $asset)
			$context.putPageValue("showdetails", "false")
			$context.putPageValue("thumbsize", "crop")
			$pages.include("${apphome}/components/results/thumbnails/${type}.html", $context)
			</a>
	</td>
	<td class="asset-name">
	
	$context.putPageValue("searcher",$searcherManager.getSearcher($catalogid,"asset") )	
	$context.putPageValue("view","asset/downloaddetails")	
	$context.putPageValue("data",$asset)
	$pages.include("/$applicationid/components/xml/detaileditorcss.html?detailsreadonly=true", $context)

	</td>
	#set( $publishqueueid = $item.get("publishqueueid"))
	#set($publishqueue = $searcherManager.getData($catalogid, "publishqueue",$item.get("publishqueueid") ) )

	#set( $presetid = $publishqueue.get("presetid") )
	#if( $publishqueue.publishdestination == "0" || $publishqueue.publishdestination == "pushhttp")   ##download with the browser
	
		#if( $order.orderstatus == "error" )
			<td></td>
			<td>[[Error, download not available]]</td> ##Link to my orders
			#set( $downloadall = false)
		#else	
	
			#set( $presetid = $publishqueue.get("presetid") )
			#if( $presetid == "0")
				<td></td>
				<td style="text-align:right;">
					#if($asset.googleid && $asset.googledownloadurl)
					<!-- Google puts quotes on the returned data so the href is correct below.   -->
						<a class="btn btn-sm btn-primary" href="$asset.googledownloadurl">[[Download]]</a>
					#elseif($asset.googleid && $asset.linkurl)
						<a class="btn btn-sm btn-primary" href=$asset.linkurl>[[Download]]</a>
					#else
					#set ($originalpath = $mediaarchive.asLinkToOriginal($asset) )
					<a class="btn btn-sm btn-primary" href="$cdnprefix$home/$mediadbappid/services/module/asset/downloads/originals/#urlencode($originalpath)?orderid=${order.id}">[[Download]]</a>
					#end
					#set( $downloadall = true)
					
				</td>
			#else
				<td>
				${publishqueue.exportname}
				</td>
				<td align="right">
						#set($convertpreset = $searcherManager.getData($catalogid, "convertpreset", $presetid ) )
					<a class="btn small" href="$cdnprefix$home/$mediadbappid/services/module/asset/downloads/generated/${asset.sourcepath}/${convertpreset.generatedoutputfile}/${publishqueue.exportname}?orderid=${order.id}">[[Download]]</a>
							#set( $downloadall = true)
				</td>
			#end
		#end	
	#elseif( $publishqueue.publishdestination == "1" )
		<td></td>
		<td style="text-align:right;">
			#if( $destination.publishtype == "aspera")
			#if( $item.status == "complete" || $item.status == "delivered" )
			<ul class="embuttons">
				<li><a class="btn btn-sm btn-primary" href="$home$apphome/views/activity/aspera/asperadownload.html?orderid=$order.id&itemid=$item.id">[[Download]]</a></li>
								#set( $downloadall = true)
			</ul>
			#end
		#end	
		</td>
	#else
		<td></td>		
		<td style="text-align:right;"><a class="btn btn-sm btn-primary showasset"  data-assetid="$asset.id" href="#" >[[View]]</a></td>
	#end	
	</tr>	
	#end
	
</table>
#if($downloadall )
	<div style="text-align:right; padding:20px 0;"> 
	<a class="btn btn-sm btn-primary" style="margin-right:20px" href="$home$apphome/views/activity/download/zip/${order.id}.zip?orderid=${order.id}" >[[Download All (Zip)]]</a>
	<a class="btn btn-sm btn-primary" href="$home$apphome/views/activity/download/metadata/export.csv?hitssessionid=none&orderid=$order.id&friendly=true">[[Download Metadata]]</a>
	</div>
#end	
</div>