#set($idcount = $context.getRequestParameter("idcount"))
#if(!$idcount)
	#set($idcount = "")
#end
#ifnull($value)
	#set($value = $val)
#end

#ifnull($uploadenabled)
	#set($uploadenabled = true)
#end
#ifnull($browseenabled)
	#set($browseenabled = true)
#end

<div class="assetpicker"  id="entitypicker${detail.id}" data-detailid="${detail.id}">
	<div class="render-type-thumbnail position-relative mb-1" id="${detail.id}-preview">
		#if($value && $value != "")
			#set( $foundrow = $mediaarchive.getAsset($value)  )
			#if($foundrow)
				#ifnull($searchhome)
					$context.putPageValue("searchhome", "$apphome/components/results")
				#end
				$context.putPageValue("componenthome", "$apphome/components") ##Legacy
				<div class="render-type-thumbnail position-relative mb-1" id="${detail.id}-preview">
					$pages.include("$apphome/components/xml/types/assetpicker/preview.html?assetid=$value", $context)
					<a href="#" 
						class="removefieldassetvalue"
						title="[[Remove This Asset]]" 
						data-targetdivinner="${detail.id}-preview"
						data-detailid="${detail.id}">
						<i class="bi bi-x"></i>
					</a>
				</div>
			#end
		#end
		#ifnull($foundrow)
			<span class="empty">No asset selected</span>
		#end
	</div>
	<input type="hidden" name="${detail.id}.value" id="${detail.id}-value" data-detailid="${detail.id}" value="$!foundrow.id"/>

	<div class="asset-picker-btns">
		#if($uploadenabled)
		<span class="btn btn-secondary btn-file">
			<i class="bi bi-upload me-1"></i>
			[[Upload]] 
			<input type="file" multiple name="file.${detail.getId()}" id="${detail.id}-file" class="assetInput">
		</span>
		#end

		#ifnull($pickerurl)
			#set($pickerurl = "${siteroot}${finderhome}/views/modules/asset/editors/pickerpickasset/index.html")
		#end
		
		#if($browseenabled)
		<a href="$pickerurl" 
			class="emdialog btn btn-secondary"
			data-dialogid="dialogpickerassetpicker"
			data-assetclearresults="true"
			data-assetclearselections="true"
			data-width="1200"
			data-detailid="${detail.id}" 
			data-pickertargetfield="entitypicker${detail.id}"
			data-hidefooter="true"
			data-includeeditcontext="true"
			data-edithome=""
		>
			<i class="bi bi-card-list me-1"></i> [[Browse]]
		</a>
		#end

		#if($module && $entity)
			#if($mediaarchive.isCatalogSettingTrue("ai_create_image_enabled") && $permissions.canEntity($module, $entity, "createassetswithai"))
					<a href="$siteroot$apphome/views/modules/contentcreator/editors/contentcreatorpickasset/index.html"
						class="emdialog btn btn-accent"
						data-dialogid="dialogpickerassetpicker"
						data-assetclearresults="true"
						data-assetclearselections="true"
						data-width="1200"
						data-detailid="${detail.id}" 
						data-pickertargetfield="entitypicker${detail.id}"
						data-hidefooter="true"
						data-includeeditcontext="true"
						data-edithome=""
						title="[[Use AI to generate image]]"
					>
						<i class="bi bi-magic me-1"></i> [[Use AI]]
					</a>
			#end
		#end
	</div>
</div>