#set($languages = $mediaarchive.query("locale").exact("translatemetadata", true).search() )
<hr style="opacity: 0.7;" class="mt-3 mb-2">
<div class="d-flex align-items-end justify-content-end" id="languageaction_${detail.id}">
  <div class="d-flex flex-column">
    <label for="translate-dropdown-${detail.id}" class="mb-1 small fw-bold">
      [[Select Language]] / [[Create Missing Translations]]:
    </label>
    <div class="d-flex align-items-center">
      <select id="translate-dropdown-${detail.id}"
        class="form-control form-select form-control-sm w-auto addlocale-ajax" 
        data-detailid="${detail.id}"
        data-url="$siteroot$apphome/components/xml/types/language/extralanguage.html"
        data-targetdiv="languagesextra_${detail.id}"
        data-targetappendtype="insertbefore"
        data-detailid="${detail.id}"
        data-no-toast="true">
        <option value="">[[Select Language]]</option>
        #set($skip = false)
        #set($selectedlocale = "")
        #foreach($locale in $languages)
          #set($localval = $languagemap.getText($locale.id))
          #set($selected = false)
          #if(!$skip)
            #if($addedlocale == $locale.id || ($localval && $localval != ""))
              #set($skip = true)
              #set($selected = true)
              #set($selectedlocale = $locale)
            #end
          #end
          <option value="$locale.id" #if($selected) selected #end>
            $locale
          </option>
        #end
      </select>

      <button type="button" class="btn btn-sm btn-primary mr-1 translate-ajax" title="[[Translate]]">
        <i class="bi bi-translate mr-1"></i> [[Translate]] 
      </button>
    </div>
  </div>
</div>
