#set($chatterboxhome = $page.chatterboxhome)
$context.putPageValue("chatterboxhome", $chatterboxhome)


#set($chatuser = $mediaarchive.getUser($chat.user) ) 
#set($attachedassets = $attachmentspermessage.get($chat.id))
#set($otherassets = $messageidwithassets.get($chat.id))


<div id="chatter-message-$!chat.id" class="msg-bubble">
		<div class="chatterbox-chat" role="alert" >
			<div class="chat-icon">
				###set( $userimageurl = $mediaarchive.asLinkToUserProfile($chatuser))
				#ifnull($userimageurl) #set( $userimageurl = "${chatterboxhome}/images/aiagent.svg" ) #end
				<a href="#" title="$chat.user" class="msg-avt">
					<img src="${userimageurl}" class="img-fluid">
				</a>
			</div>
			
			
			
			<div class="chat-msg">
				<div class="chat-author">
					#if ($chat.user == "agent")
						<strong>$chatuser.getAnonNickName()</strong>
					#else
						<a href="#esc($userlink)" title="$context.getDateTime($chat.date)">
							<strong>$chatuser.getAnonNickName()</strong>
						</a>
					#end
					<span class="chat-timestamp">$context.getDateTime($chat.date)</span>
				</div>
				
				<div class="msg-body">
						<div class="msg-body-content">$chat.message</div>
				</div>
				
			</div> 
		</div>
</div>



