#set($searcher = $searcherManager.getSearcher($catalogid, "catalogsettings"))
#set($uploadflow = $searcher.searchById("uploadflow_nextpage"))
#if($uploadflow)
	#set($nextpage = $uploadflow.value)
#else
	#set($nextpage = "default")
#end
#if(!$nextpage || $nextpage == "")
	#set($nextpage = "default")
#end

<div class="ui-widget uipanel" style="padding: 0 10px 10px 10px;">
		    <div class="ui-widget-header">[[Upload Media]]</div>
		    <div class="ui-widget-content">

			<div id="uploadarea" data-nextpage="${nextpage}">
			       <div class="padding">
			        	#if( $browser.isHtml5Browser() )
			        	
			        		$pages.include("$apphome/components/upload/types/html5.html",$context)
			        	
			        	#else
			        
			        		$pages.include("$apphome/components/upload/types/simpler.html",$context)
			        	
			        	#end	
			        </div>
			</div>
</div>			
<a class="ajax btn gobacklink" targetdiv="createmediapanel" href="$home$apphome/components/createmedia/start.html">[[Go Back]]</a>
			