/* Important css stuff starts here */		

/* These are "global" styles.  Minus some specificity they should be the same as the ones from the LightWindow Slice.  */
.ad_details dt {color: #555; float: left; font-weight: bold; padding: 2px 5px 2px 0px;}
.ad_details dd {color: #7c7c7c; padding: 2px 5px 2px 0px;}
.ad_details dd.bold {font-weight: bold;}
.ad_details dd a {color: #7c7c7c;}			
.ad_details .extra_padding {padding: 10px 5px 10px 0px;}                               

	.clear {clear: both;}

/*  These styles are specific to this view. */
#sv_header {background: url(images/divider_down.png) left no-repeat; margin-bottom: 10px; position: relative;}
#sv_header h2 {background: #fff; font-weight: bold; display: inline; margin-left: 20px; padding-right: 15px;}
#sv_header img {vertical-align: middle;}
#sv_header .sv_header_right {position: absolute; right: 0px; top: 0px; background: #fff; padding-left: 10px; text-align: center; font-size: .8em;}
#sv_header .sv_header_right select {display: block;}

.sv_subheader {float: left; margin: 0px 40px 20px 0px;}

.sv_item {clear: both; margin: 30px 0px;}
.sv_right {width: 500px; float: right; padding-left: 30px; border-left: 1px solid #989898;}
.sv_left {margin-right: 420px;} /*365 width + padding 30 + extra padding = 420*/

.sv_left .sv_asset {float: left;  width: 138px; text-align: center;}		
.sv_left .sv_details {margin-left: 155px; color: #7c7c7c;}
.sv_left .sv_details .sv_limitations {margin: 0px;}
.sv_left .sv_details a {color: #7c7c7c; display: block;}
.sv_left .sv_details a.sv_red {color: #7e2226; display: block; font-style: italic; text-decoration: none; font-weight: bold;}

.sv_right dl.ad_details {font-size: .85em; margin-top: 5px;}
.sv_right .sv_preview_link {margin-bottom: 5px; }
.sv_right .sv_preview_link a {color: #000;}
.sv_right .sv_series {background: #e8e8e8; border: 1px solid #1f1f1f; padding: 5px 10px; height: 110px; line-height: 110px;}
.sv_right .sv_series a {margin: 5px; text-decoration: none; font-size: 1.1em; color: #999; font-weight: bold; }
.sv_right .sv_series a img {border: 1px solid #aeaeae; vertical-align: middle; display: inline-block;}


/* For the 1 2 3 album chooser */
.album_chooser {margin: 5px 0px;}
.album_chooser a {display: inline-block; width: 21px; height: 21px; line-height: 21px; text-align: center; font-size: .9em; text-decoration: none; color: #727272;}
.album_chooser a.on {border: 1px double #f0f0f0; color: #fff;}		
.album1.on {background-image: url(images/album_chooser_blue.png);}
.album2.on {background-image: url(images/album_chooser_red.png);}
.album3.on {background-image: url(images/album_chooser_green.png);}

/* For the pagination links */
.pagination {margin: 5px 0px;}
.pagination .pagination_summary { height: 18px; line-height: 18px; color: #444; font-weight: bold; font-size: .9em; display: inline; margin-right: 10px;}
.pagination a {background: #434343; color: #999; height: 18px; width: 18px; line-height: 18px; text-align: center; 
	             font-size: .8em; text-decoration: none; display: inline-block; margin: 0px 1px; border: 1px solid #8e8e8e;}
.pagination a img {vertical-align: middle;}
.pagination a.active {color: #718097; background: #fff; }
.pagination a.pagination_next, .pagination a.pagination_prev {margin: 0px; border: none;}
.pagination.last a.pagination_next { display: none; }	
.pagination.first a.pagination_prev { display: none;}
	