<div class="subcolumns">
          <div class="c33l">
            <div class="subcl">
<div class="em-rounded" >
<h2>Asset Types</h2>
#set($current = $context.getRequestParameter("assettype")) 
#set($searcher = $searcherManager.getSearcher($catalogid, "assettype"))

<ul class="vlist">
#foreach($item in $searcher.fieldSearch("id","*","textUp"))
 <li #if($current == $item.id) class="active" #end ><a href="$home$apphome/views/settings/metadata/views/index.html?assettype=$item.id">$item</a></li>
#end
</ul>


<ul class="embuttons">
	<li><a href='$home$apphome/views/settings/assettypes/edit/addnew.html'><span>Add New Asset Type</span></a></li>
	<li><a href="$home$apphome/views/settings/metadata/views/export.html" ><span>[[Save To Master List]]</span></a></li>
</ul>
</div>

           </div>
          </div>
          <div class="c66r">
            <div class="subcr">
            
#set($current = $searcherManager.getData($catalogid, "assettype", $context.getRequestParameter("assettype")))
#if( $current )
<h2>$!current.name Metadata Type Setup</h2>
#end
$pages.includeContent()


</div></div></div>