<div class="cols-main #if ($module) cols-$module #end searchlayout2" id="searchlayout">
	<div class="col-main col-content-main #if ($leftbarstatus!=false) leftopen #end" id="maincontent">
	##set($hidefilters = $context.getRequestParameter("hidefilters"))
    #if(!$hidefilters)
        $pages.include("$componenthome/filters/filters-selected.html", $context)
    #end
    #set( $colleftwidth = $userprofile.get("colleftwidth"))
    #set( $leftbarstatus = $userprofile.get("leftbarstatus"))
	<div id="createmediapanellayout" class="createmediapanel pushcontent" style="#if($leftbarstatus!=false && $colleftwidth) margin-left:${colleftwidth}px;#end">

	#set( $collectionid = $context.getRequestParameter("collectionid") )
	#set( $nodeID = $context.getRequestParameter("nodeID") )
	
	<div class="row no-gutters"  style="border-top:1px solid #999;" >
	      <div class="col-9">
	  		<div class="createmediacontent"  id="createmediapanel">
	    	$pages.include("$apphome/components/createmedia/upload/index.html?collectionid=$!collectionid&nodeID=$!nodeID")
	    	</div>
		</div>  
	   <div class="col-3">
	   	<div class="createmedia-tab createmedia-selected">
	  		<a class="ajax createmedia-btn"  targetdivinner="createmediapanel" href="$home$apphome/components/createmedia/upload/index.html?collectionid=$!collectionid&nodeID=$!nodeID">
	      <div class="createmedia-icon"><img  src="$home$apphome/components/createmedia/upload/add.png" class="img-fluid"></div>
	      <div class="createmedia-caption">
	        <h3>[[Upload Media]]</h3>
	        <p>[[Upload media from local file system or camera]]</p>
	      </div>
	       </a>
	       <div class="clearfix"></div>
	   	</div>
	
	#if( $collectionid && $cancopycategory)
		<div class="createmedia-tab">
	  		<a class="ajax createmedia-btn"  targetdivinner="createmediapanel" href="$home$apphome/components/createmedia/copycategory/index.html?collectionid=$!collectionid">
	      <div class="createmedia-icon"><img  src="$home$apphome/components/createmedia/copycategory/add.png" class="img-fluid"></div>
	      <div class="createmedia-caption">
	        <h3>[[Copy Categories]]</h3>
	        <p>[[Copy existing folder or categories]]</p>
	      </div>
	       </a>
	       <div class="clearfix"></div>
	    </div>
	#end
	
	  #if( $cancreatenewrecord)
	  <div class="createmedia-tab">
	  <a  class="ajax createmedia-btn" targetdivinner="createmediapanel" href="$home$apphome/components/createmedia/url/start.html?collectionid=$!collectionid" >
	      <div class="createmedia-icon"><img  src="$apphome/components/createmedia/url/add.png" class="img-fluid"></div>
	      <div class="createmedia-caption">
	        <h3>[[Add Remote Media]]</h3>
	        <p>[[Create media assets from a URL or Embed code]]</p>
	      </div>
	   </a>
	   <div class="clearfix"></div>
	   </div>
	  <div class="createmedia-tab">
	   <a  class="ajax createmedia-btn" targetdivinner="createmediapanel" href="$home$apphome/components/createmedia/data/newdatastart.html?collectionid=$!collectionid">  
		 <div class="createmedia-icon"><img  src="$apphome/components/createmedia/data/add.png" class="img-fluid"></div>  
		 <div class="createmedia-caption">
	        <h3>[[Create Data Record]]</h3>
	        <p>[[Create empty data records then attach media later]]</p>
	      </div>
		</a>  
		<div class="clearfix"></div>     
	    </div>
	  #end
	  #if( $cancreatelivemedia)
	  <div class="createmedia-tab">
	  	<a class="ajax createmedia-btn" targetdivinner="createmediapanel" href="$home$apphome/components/createmedia/video/newvideostart.html?collectionid=$!collectionid" >
	     
	       <div class="createmedia-icon"><img  src="$apphome/components/createmedia/video/add.png" class="img-fluid"></div>
	       <div class="createmedia-caption">
	        <h3>[[Live Video Stream]]</h3>
	        <p>[[Make a live stream recording from your webcam]]</p>
	    	</div>
	   </a>  
	   <div class="clearfix"></div>
	   </div> 
	  #end  
	  </div>
	
	  
	</div>
	</div>

	</div>
</div>

