#if( $selectedcategory )
<div id="collectiontoplevel" class="results-header" >
	<div class="results-header-left float-md-left categorycrumbs">
		$pages.include("$apphome/components/categories/crumbs.html?categoryid=$selectedcategory.id")
	</div>
	<div class="results-header-tabs float-md-right">
		<ul class="ui-tabs-nav nav float-right emtabs" data-defaulttab="$content.defaulttab" data-targetdiv="collection-tab-content" >
		  
		  #set( $link = "$home$apphome/views/modules/category/edit/index.html?id=${selectedcategory.getId()}&categoryid=$selectedcategory.getId()&viewid=categorygeneral&viewpath=category/categorygeneral&searchtype=category")
		  <li class="ui-corner-top" ><a id="settingstab" href="$link" >[[Properties]]</a></li>
	
		  #set( $link = "$home$apphome/views/modules/category/permissions.html?categoryid=${selectedcategory.getId()}")
		  <li class="ui-corner-top" ><a id="permissionstab" href="$link" >[[Permissions]]</a></li>
		</ul>
	</div>
	<div class="clearfix"></div>
</div>

<div  id="collection-tab-content" >
  <div class="tab-pane" id="loadedpanel" >
  	$pages.includeContent()
  </div>
</div>

#else
$pages.includeContent()
#end