#if( $librarycol )
<div class="collection-container">
<div id="collectiontoplevel" class="results-header" data-collectionid='$librarycol.getId()' data-catalogid='$catalogid'>

	<div class="results-header-left float-md-left collectioncrumbs">
		#if(!$canforcebasiccollections)
			$pages.include("$apphome/components/categories/crumbs.html?categoryid=$librarycol.rootcategory")
		#end
	</div>
	<div class="results-header-tabs float-md-right">
		#if(!$canforcebasiccollections)
		<ul class="ui-tabs-nav nav pull-right emtabs" data-defaulttab="$content.defaulttab" data-targetdiv="collection-tab-content" >
		  <li class="ui-corner-top"><a id="mediatab" data-layouts="2" data-alwaysreloadpage="true"   href="$apphome/views/modules/librarycollection/media/${librarycol.getId()}.html" >[[Assets]]</a></li>
			#if( $caneditdata && $canimportworkspace )
				<li class="ui-corner-top"><a id="publishtab" data-layouts="1" data-allwaysloadpage="true"   href="$apphome/views/modules/librarycollection/publish.html?collectionid=${librarycol.getId()}" >[[Revisions]]</a></li>
		  	#end
			## #if( $caneditdata || $librarycol.isVisibility("2") )
			##	  #if($canviewupload || $canimportworkspace || $cancopycategory)
			##		#if($librarycol.projectstatus != "finalized")		
			##	  		<li class="ui-corner-top" ><a id="addmediatab"  data-allwaysloadpage="true"  href="$home$apphome/components/createmedia/start.html?collectionid=${librarycol.getId()}" >[[Add Media]]</a></li>
			##		#end
			##	  #end
			## #end	  
			#if($caneditdata && $cansharecollection)
				  #set( $link = "$home$apphome/views/modules/librarycollection/share.html?collectionid=${librarycol.getId()}")
				  <li class="ui-corner-top"><a  id="sharetab"  href="$link" >[[Followers]]</a></li>
				   #set( $link = "$home$apphome/views/modules/librarycollection/permissions.html?collectionid=${librarycol.getId()}")
				  <li class="ui-corner-top" ><a id="permissionstab" href="$link" >[[Permissions]]</a></li>
		    #end
			#set( $editlink = "$home$apphome/views/modules/librarycollection/edit/settings.html?collectionid=${librarycol.getId()}")
		  	<li class="ui-corner-top" ><a id="settingstab" data-allwaysloadpage="true"  href="$editlink" >[[Properties]]</a></li>
		</ul>
		#end
	</div>
	<div class="clearfix"></div>
</div>
<div  id="collection-tab-content" class="colletion-content">
		<div class="tab-pane" id="loadedpanel" >
	  		$pages.includeContent()
	  	</div>
</div>
</div>
#else
$pages.includeContent()
#end