#if ( $canviewerrors )
<div id="errordiv"></div>
#end

#set( $title = $context.getRequestParameter("dialogtitle"))

<div class="modal-dialog modal-lg" id="searcharea" >
	<div class="modal-content">
	
	<div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	<div class="modal-body">

$pages.includeContent()

	</div>
	<div class="modal-footer">
	      <button id="closebutton" type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">[[Close]]</button>
	      <input  id="submitbutton" type="submit" form="notset"  value="[[Ok]]" name="submitbutton" class="btn btn-sm btn-primary">
    </div>
    
</div>
</div>
