<div id="header" class="emheader clearfix" role="banner">

#set($lastselected = $userprofile.last_selected_module )
 
#if(!$lastselected)
	#set ($lastselected = $content.module )	
	
#end
#if(!$lastselected)
	#set($lastselected = "asset" )
#end

#set($module = $searcherManager.getData($catalogid, "module", $lastselected ) )

#set($logourl = "$home$themeprefix/images/logo.png")

<div class="logocontainer">
	<a class="emlogo" href="$home$apphome/index.html"><img class="logo" src="$logourl" alt="EnterMedia EMShare" /></a>
</div>
<div class="emheader-right">
<div class="navlinks">
<ul> 
	#if( $user )
    	#if( $canviewmyaccount ) 
    		<li class="first"><a href="$home$apphome/views/myaccount/myassets/index.html">[[My Account]]</a></li>
    	#end 
    	<li #if( !$canviewmyaccount )  class="first" #end><a href="$home$apphome/authentication/logout.html">[[Logout]]</a></li> 
    #else 
    	<li><a href="$home$apphome/authentication/login.html" class="first">[[Login]]</a></li> 
    #end
    #if($user)
	#set( $localesearcher = $mediaarchive.getSearcher("locale") )
       #set($currentlang = $localesearcher.searchById($context.language))
      #if($currentlang)
 	<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">$currentlang</a> 
    #else
 	<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">[[Language]]</a> 
     #end
  
  	<div id="language-bar-select" class="dropdown-menu">
		#set( $localesearcher = $mediaarchive.getSearcher("locale") )
		#set( $languages = $localesearcher.query().match("enabled", "true").search($context) )
		#foreach( $lang in $languages)
			#set($langurl = "$home$apphome/components/languages/changelanguage.html?newlang=locale_$lang.id&origURL=$context.getPathUrl()")
			 <a class="dropdown-item" href="#urlescape($langurl)">$lang </a>
		#end
    </div> 
	</li>
	#end	
	
    #if($canviewsettings)
   	<li><a href="$home$apphome/views/dashboard/index.html" >[[Dashboard]]</a></li> 
   	<li><a #if ( $module ) href="$home$apphome/views/settings/modules/$module.id/index.html" #else href="$home$apphome/views/settings/index.html" #end>[[Settings]]</a></li> 
    #end 

#set($lastselected = $userprofile.last_selected_module )
#if(!$lastselected)
	#set ($lastselected = $content.module )
#end
#if(!$lastselected)
      #set($lastselected = "asset" )
#end   
#if( $userprofile.getModules().size() > 1 )
    #set($module = $searcherManager.getData($catalogid, "module", $lastselected ) )
	#if( !$module ) 
		##in case they deleted an old selected module 
	    #set($module = $searcherManager.getData($catalogid, "module", "asset" ) )
	#end
#set( $urlbase = "$home$apphome/views/modules" )
<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">$module.getName($context)</a> 
	<div id="module-bar-select" class="dropdown-menu">
		#foreach ( $amodule in $userprofile.getModules() )
			<a class="dropdown-item" href="$urlbase/${amodule.id}/index.html?field=last_selected_module&last_selected_module.value=${amodule.id}">$amodule</a>
		#end
	</div>
</li>
#end

    </ul>
 </div>
 
#if( $userprofile.hasModule("order") )
#set( $orders = $mediaarchive.query("order").exact("checkoutstatus","pending").search($context))
#if( $orders.size() > 0)
<div id="headerstatusarea"  class="alert alert-primary" role="alert">
<a href="$apphome/views/modules/order/fieldsearch.html?field=checkoutstatus&checkoutstatus.value=pending&operation=exact">
	<i class="fas fa-info-circle"></i>
	[[Pending Orders]]  ($orders.size())</a>
</div>
#end
#end
</div>
<div id="site-title">$!content.tagline</div>
</div>
