<script type="text/javascript"  src="$applink/components/javascript/jquery-3.6.0.min.js" onload="if (!window.jQuery) window.$ = window.jQuery = module.exports;"></script>

<script type="text/javascript" src="/${applicationid}/components/javascript/bootstrap/4.5.3/js/popper.min.js"></script>
<script type="text/javascript" src="/${applicationid}/components/javascript/bootstrap/4.5.3/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="/${applicationid}/components/javascript/jquery-ui/1.12/jquery-ui.min.js" ></script>
<script type="text/javascript" src="/${applicationid}/components/javascript/jquery-ui/i18n/jquery-ui-i18n.js" ></script> 

<script type="text/javascript" src="$siteroot$applink/components/javascript/index.js" ></script>



#foreach( $script in $pageManager.getScriptPathsWithoutApp($content))
	<script type="text/javascript" src="#if(!$script.startsWith("http"))$siteroot#end$script">  </script>	
#end


#foreach( $style in $pageManager.getStylePathsFor($content) )
	<link rel="stylesheet" type="text/css" href="#if(!$style.startsWith("http"))$siteroot#end$style" />
#end
