#foreach( $script in $content.getScriptPaths() )
	
	<script type="text/javascript" src="#if(!$script.startsWith("http"))$home#end$script">  </script>
	#if($script=="/assets/mediaapp/components/javascript/jquery-3.3.1.min.js")
		<script>
	  	if (!window.jQuery) {
	    	window.$ = window.jQuery = require('./src/assets/jquery-3.3.1.min.js');
	  	}
		</script>
	#end
#end

#foreach( $style in $content.getStylePaths() )
	<link rel="stylesheet" type="text/css" href="#if(!$style.startsWith("http"))$home#end$style" />
#end
