#set( $subtab = $context.findValue("subtab") )

#if( $subtab )

#set ( $module = $context.findValue("module") )
#set ( $parentid = $context.findValue("tab") )

<div id="eml-tab-subnav">
	<ul>
		#set( $searcher = $searcherManager.getSearcher($catalogid,"settingsmenumodule") )
		#set( $query = $searcher.createSearchQuery() )
		#set( $null = $query.addExact("parentid", $parentid ))
		$!query.addSortBy("ordering")
		#set($tabs = $searcher.cachedSearch($context,$query))
		#if($tabs)
			#foreach($screen in $tabs )
			<li #if( $subtab == "$screen.id" ) class="current" #end>
				<a  href="$home$apphome${screen.path}">#if ( $screen.sublabel ) $context.getText($screen.sublabel.toString()) #else $context.getText($screen.toString()) #end 
				</a>
			</li>
			#end
		#else
		<li class="current"><a href="">$!subtab</a></li>
		#end
	</ul>
</div>

<div id="eml-tab-green-container" class="eml-tab-content">
			
			$pages.includeContent()
			
</div>

#else
<div class="eml-full-content">
			$pages.includeContent()
</div>

#end