

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.asset {
  margin: 0;
  padding: 0;
}

.assets .asset {
  display: block;
  float: left;
  margin: 20px 20px 0 0;
  padding: 0;
}

.nav-sidebar {
  margin-bottom: 0;
}

.nav-sidebar > li > .nav-sidebar > li > a {
  padding-left: 60px;
}

/* body {
    padding: 10px !important;
}
.main {
    padding-top: 70px;
} */

.em-workspace .comment-list li.user-input {
	 display: none;
}
/*
Above css from old main.css
Below css from old highlights.css
*/
#annotationarea {
  /* Bootstrap Overrides */
  /* Annotations Specific */
  
}
.em-workspace .sidebar {
  background: #abdcef;
  border-color: #2186ad;
}
.em-workspace .navbar {
  background: #ead6b7;
  border-bottom: 10px solid #b6373d;
}
.em-workspace .btn {
  border-radius: 0;
}
.em-workspace .btn.btn-primary {
  background-color: #68a8c1;
  border: 1px solid #41768b;
}
.em-workspace .btn.btn-primary:hover {
  background-color: #569eba;
}
.em-workspace .btn.btn-default {
  background-color: #eee;
  border: 1px solid #ddd;
}
.annotations-toolbar-container {
	background-color: #efefef;
	margin: 10px 0 0 0;
}
.em-workspace .annotations-toolbar {
  list-style: none;
  margin: 0;
  /* margin-right: 5px; */
  margin:0;
  /* height: 20px; */
  /* position: relative; */
  /* z-index: 999; */
  /* width: 300px; */
  /* background-color: #888; */
}
.em-workspace .annotations-toolbar li {
  float: left;
  margin: 0;
  background: #efefef;
  width: 44px;
  height: 40px;
  line-height: 36px;
  border: 1px solid #ccc;
  border-right: none;
  cursor: pointer;
  color: #666;
}
.em-workspace .annotations-toolbar li .tool-options {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.em-workspace .annotations-toolbar li .tool-options li {
  border-right: 1px solid #ccc;
}
.em-workspace .annotations-toolbar li .icon {
  float: left;
  width: 32px;
  height: 32px;
  margin: 3px 5px;
  
}
.em-workspace .annotations-toolbar li .additional-info {
  font-weight: bold;
  margin-left: 15px;
}
.em-workspace .annotations-toolbar li:hover {
  background: #f9f9f9;
}
.em-workspace .annotations-toolbar li:hover .icon {
  fill: #555;
}
.em-workspace .annotations-toolbar li:hover .tool-options {
  display: block;
}
.em-workspace .annotations-toolbar li.active {
  background: #fff;
}
.em-workspace .annotations-toolbar li.active .icon {
  fill: #6fb353;
}
.em-workspace .annotations-toolbar li.last {
  border-right: 1px solid #ccc;
}
.em-workspace .annotations-toolbar li.comments,
.em-workspace .annotations-toolbar li.approved,
.em-workspace .annotations-toolbar li.rejected {
  margin-left: 20px;
  width: 75px;
  color: #fff;
}
.em-workspace .annotations-toolbar li.comments {
  background-color: #68a8c1;
  border: 1px solid #41768b;
}
.em-workspace .annotations-toolbar li.approved {
  background-color: #37d045;
  border: 1px solid #458a30;
}
.em-workspace .annotations-toolbar li.rejected {
  background-color: #d03737;
  border: 1px solid #752123;
}
.em-workspace .canvas-holder {
 
  /* border: 10px solid #fff; */
 /* overflow: scroll;*/
 
  clear: both;
  background-color: #444;
  padding: 10px;
}
.em-workspace .canvas-container {
	 margin: 0 auto;	
}
 
.em-workspace .canvas-holder .annotations-canvas {
  /* margin: 0 auto; */
  width: 800px;
  height: 600px;
}

.em-workspace .annotations-carousel {
  height: 93px;
  background: #181818;
  padding: 0;
  margin-top: 10px;
  margin-left: 10px;
}
.em-workspace .annotations-carousel .carousel-window {
   overflow: hidden;
   height: 83px;
   width: 90%;
   float:left;
}
.em-workspace .annotations-carousel ul
{
	 margin: 0;
 
	padding: 0 15px 0 5px;
	list-style: none;
	height: 83px;
	float:left;
}
.em-workspace .annotations-carousel ul li {
  height: 66px;
  float: left;
  margin: 15px 0 0 12px;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
  background-color: #fff;

}


.em-workspace .annotations-carousel ul li a.thumb  {
  height: 58px;
  padding: 0;
  display: block;
  width: 111px;
  margin: 4px;
  overflow: hidden;
}

.em-workspace .annotations-carousel ul li.active {
	background: yellow;
}

.em-workspace .annotations-carousel ul li a.thumb  img {
 
}
.em-workspace .annotations-carousel ul a.thumb:hover {
  background: #fff;
}
.em-workspace .annotations-carousel ul a.thumb.active {
  background: #abdcef;
}
.em-workspace .annotations-carousel a.previous,
.em-workspace .annotations-carousel a.next {
  width: 20px;
  height: 20px;
   display: block;
  background: none;
  cursor: pointer;
  
}
.em-workspace .annotations-carousel a.previous .icon,
.em-workspace .annotations-carousel a.next .icon {
  fill: #333;
}
.em-workspace .annotations-carousel a.previous:hover .icon,
.em-workspace .annotations-carousel a.next:hover .icon {
  fill: #777;
}
.em-workspace .annotations-carousel a.previous {
  float: left;
  margin:35px 5px 0;
}

.em-workspace .annotations-carousel a.next {
  float: right;
  margin:35px 5px 0;
}
.em-workspace .colorpicker span {
  color: #005E7A;
}
.em-workspace .comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.em-workspace  div.comment {
  margin: 10px 10px 0px 0px;
  background: #EDF1F5;
  display: block;
  padding: 9px 9px 27px 9px;
}

.em-workspace .comment-list div.selected {
  background: yellow;
}
colornumber
.em-workspace .comment-list li .pull-right {
  margin-top: 5px;
}
.em-workspace .comment-list li .btn {
  margin-left: 10px;
}
.em-workspace .comment-list li.user-input {
  background: none;
}
.em-workspace .comment-list li.user-input textarea {
  max-width: 100%;
  width: 100%;
  border: none;
  color: #777;
  line-height: 21px;
  padding: 15px;
  border: 1px solid #66a1b9;
  background: #fff;
}
.em-workspace .comment-list li.user-input textarea:focus {
  outline: none;
}
.em-workspace .comment-list li.separator {
  background: #41768b;
  margin: 30px 0;
  height: 1px;
  padding: 0;
}
.em-workspace .comment-list li.comment {
  border: 1px solid #66a1b9;
  margin-bottom: 35px;
}
.em-workspace .comment-list li.comment.normal .user-gravatar {
  width: 46px;
  height: 46px;
  padding: 3px;
  background: #fff;
  border: 1px solid #41768b;
  float: right;
  position: relative;
  top: -15px;
  right: 10px;
}
.em-workspace .comment-list li.comment.normal .user-gravatar img {
  width: 38px;
  height: 38px;
}
.em-workspace .comment-list li.comment.normal .comment-content {
  padding: 15px;
}
.em-workspace .comment-list li.comment.normal .comment-content strong {
  display: block;
  margin-bottom: 12px;
  color: #222;
}
.em-workspace .comment-list li.comment.normal .comment-content p {
  line-height: 21px;
  color: #666;
  margin-bottom: 0;
}
.em-workspace .comment-list li.comment.normal .comment-meta {
  padding: 0 15px 15px 15px;
  font-size: 12px;
}
.em-workspace .comment-list li.comment.normal .comment-meta .comment-id {
  background: #4fabe5;
  border-radius: 3px;
  padding: 2px 8px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
}
.em-workspace .comment-list li.comment.normal .comment-meta .comment-timestamp {
  color: #87cbe6;
}
#annotation-holder 
{
	
	background: #444;
	margin-left: 10px; 
}

.comment-content
{
	padding-top: 10px;
	
}
.colornumber
{
	display: inline;
	padding: 10px 15px;
	font-size: 3.2em;
	font-weight: bold;
	
}

.annotation-toolbar svg
{
	width:32px;
	height:32px;
}