#if($errors.get($detail.id) == "error-format")
	#set($val = "")
	<span style="color: red;">
	[[Sorry - wrong format]]
	</span><br>
#end
#set($idcount = $context.getRequestParameter("idcount"))
#if(!$idcount)
	#set($idcount = "")
#end

<div class="row">
	<div class="col-md-5">
		<input name="${detail.getId()}.value" id="date-${detail.id}" type="text" class="form-control tbdatepicker #if($detail.isRequired()  && !$multiedit) required #end " data-targetid="${detail.id}${idcount}value" value="#esc($!val)"/> 
	</div>
	<div class="col-md-7">&nbsp;</div>
</div>

#if ($detail.picker == "false" && $detail.format)
	<span style="color:gray;font-style:italic;font-size:.9em;">$detail.format<span>
#end

<script>
jQuery(".tbdatepicker").datepicker();

$(function(){
	$("#date-${detail.id}").datepicker("option","changeMonth",true);
	$("#date-${detail.id}").datepicker("option","changeYear",true);
	$("#date-${detail.id}").datepicker( "option", "yearRange", "-100:+20" );
});
</script>
