#set( $inputname = "${detail.id}" )
#if($catalogid)
#set ($inputid = "${detail.id}${catalogid}")
#else
#set($inputid="${detail.id}")
#end
#set ($inputid = $inputid.replaceAll("/",""))


	#set( $op = $term.getParameter("op") )
	Date Search: <select name="operation" id="operation${inputid}" onchange="updateDateInput${inputid}(this.selectedIndex);" class="form-control" style="padding: 5px 5px;"> 
		<option value="equals" >[[Equals]]</option>
		<option value="after" #if( $op && $op == "after" )selected #end>[[After Date]]</option>
		<option value="before" #if( $op && $op == "before" )selected #end >[[Before Date]]</option>
		<option value="betweendates" #if( $op && $op == "betweendates" )selected #end >[[Between]]</option>
		<option value="before1" #if( $op && $op == "before1" )selected #end>[[Past 24 hours]]</option>
		<option value="before7" #if( $op && $op == "before7" )selected #end>[[Past week]]</option>
		<option value="before30" #if( $op && $op == "before30" )selected #end>[[Past month]]</option>
		<option value="before365" #if( $op && $op == "before365" )selected #end>[[Past year]]</option>
	</select>
	<br/>
	
	<input id="dateformat${inputid}" name="dateformat" #if( $op && $op == "betweendates" ) value="MM/dd/yyyy HH:mm:ss" #else value="MM/dd/yyyy" #end type="hidden">
	
	<span id="datevalue${inputid}" style="display: none; ">
	<input name="${inputname}.value"  id="datebox${inputid}" value="" type="hidden">	
	<input type="text" class="tbdatepicker form-control" data-targetid="datebox${inputid}" placeholder="Date..." /> 

	
	</span>
	
	<div id="daterange${inputid}" style="display: none;">
	
	#if($hits)
		#set($after = $hits.getInput("${inputname}.after"))
		#set($before = $hits.getInput("${inputname}.before"))
	#elseif($query)
		#set($after = $query.getInput("${inputname}.after"))
		#set($before = $query.getInput("${inputname}.before"))
	#else
		#set($after = $context.getRequestParameter("${inputname}.after"))
		#set($before = $context.getRequestParameter("${inputname}.before"))
	#end
	<div class="row">
	<div class="col-md-6">
	<input name="${inputname}.after" class="" id="dateafter${inputid}" value=""  type="hidden">
	<input type="text" class="tbdatepicker form-control" data-targetid="dateafter${inputid}" value="" data-time="00:00:00"  placeholder="From..."/> 	

	</div>
	
	<div class="col-md-6">
	<input name="${inputname}.before" class="" id="datebefore${inputid}" value=""  type="hidden">
	<input type="text" class="tbdatepicker form-control" data-targetid="datebefore${inputid}" value="" data-time="23:59:59"  placeholder="To..." /> 	
	</div>
	</div>
	</div>
	
	<script type="text/javascript">
		updateDateInput${inputid} = function(value)
		{
			var valueblock = document.getElementById('datevalue${inputid}');
			var rangeblock = document.getElementById('daterange${inputid}');
			if( value < 3 )
			{
				valueblock.style.display='block';
				rangeblock.style.display='none';
				$("#dateformat${inputid}").val("MM/dd/yyyy");
			}
			else if ( value == 3 )
			{
				valueblock.style.display='none';
				rangeblock.style.display='block';
				$("#dateformat${inputid}").val("MM/dd/yyyy HH:mm:ss");
			}
			else
			{
				valueblock.style.display='none';
				rangeblock.style.display='none';
				$("#dateformat${inputid}").val("MM/dd/yyyy");
			}
		}
		updateDateInput${inputid}(document.getElementById('operation${inputid}').selectedIndex);
	</script>
