
#if($errors.get($detail.id) == "error-matched")
	#set($val = "")
	[[Sorry - those did not match]]<br>
#end

#if($context.getRequestParameter("viewonly") == true)
	[[Not Shown]]
#else

#set($val1 = $context.getRequestParameter("${detail.id}.value"))
#set($val2 = $context.getRequestParameter("${detail.id}match.value"))
<div id="${detail.id}-matched">
	<div class="row">
		<div class="col-md-5">
			<input class="${detail.id} form-control required" name="${detail.getId()}.value" id="${detail.id}value" value="$!val1"  type="text"> 
		</div>
		<div class="col-md-2">
			<label class="control-label" for="${detail.getId()}match.value">Retype ${detail.name}</label>
		</div>
		<div class="col-md-5">
			<input class="${detail.id} form-control required" name="${detail.getId()}match.value" value="$!val2" id="${detail.id}match"   type="text" >
		</div>
	</div>
</div> 
<script>
#set($D = "$")
$(document).ready(function(){
	var rules = $("#${detail.id}value").rules();
	$("#${detail.id}match").rules("add",{
		equalTo: "#${detail.id}value",
		messages: {
			equalTo: ${D}.validator.format("Does not match ${detail.name} value")
		}
	});
});
</script>
#end
