<input name="field" value="$fid" type="hidden">
#set( $fid = $detail.getId() )
#set($current = $data.get($fid))
#set($fromrequest = $context.getRequestParameters(${param}))

#set($rootcategory = $testbench.getCategoryArchive().getRootCategory())
#set($children = $rootcategory.children)

<input id="tree" type="text" name="${fid}.value" value="$!current"/>


<div id="categoryselect" style="overflow:auto; height: 400px; border-width: 1px; border-style: dotted; display: none; " >

	<ul>
	<li id="$rootcategory.id" class="open"><a href="$rootcategory.id"> <ins>&nbsp;&nbsp;</ins> $rootcategory.name</a>
		<ul>
			#showtree($children)
		</ul>
	</li>
	</ul>



	
</div>


<script type="text/javascript">
jQuery(document).ready(function() {

	jQuery("#categoryselect").hide();
	
	jQuery("#tree").bind("click", function () {
		jQuery("#categoryselect").show();
	}
	);
	
	jQuery("#categoryselect").tree({
		callback : {
			onselect : function (NODE, REF_NODE, TYPE, TREE_OBJ, RB) { 
				var id = jQuery(NODE).attr('id');
				jQuery("#tree").val(id);
				jQuery("#categoryselect").hide();
				return false;			
			}
		}
			
	}
	
	);

});
	



</script>





#macro(showtree $categories)
	
		#foreach($cat in $categories)
	
			<li #if ($current.contains($cat.id) || $fromrequest.contains($cat.id))   selected="true" #end" id="$cat.id">    <a href="cat.id"><ins>&nbsp;&nbsp;</ins> $cat.name</a>
		#if($cat.hasChildren())
		   <ul>
			  #showtree($cat.children)
		   </ul>
		#end
		</li>
		#end	
#end		


