#set($module = $searcherManager.getData($catalogid, "module", $context.findValue("module") ))
#set ( $defaultview = $userprofile.getDefaultViewForModule($module.id) )


#set($resulttype = $userprofile.get("${module.id}-display"))
#if(!$resulttype)
#set($resulttype = "table")
#end



<ul id="sub-nav" class="search-views emsubnav">
<li><a href="$home${content.searchhome}/edit/addnew.html?viewid=$defaultview.id&viewpath=$module.id/$defaultview.id&hitssessionid=$hits.getSessionId()">[[Add New]]</a></li>
#if($content.showactions)
	$pages.include("$content.searchhome/selectionactions.html")
#end
#if($hits.hasSelections() )
<li id="moduleselections">		$pages.include("${content.searchhome}/selections/selected.html",$context)
</li>
#end
<li>
			$pages.include("$apphome/views/modules/default/pages.html", $context) ## views/modules/default/navigate.html",$context)
			</li>

#set( $edit = $context.getRequestParameter("editheader"))
#if( !$edit || $edit == "false")
#set( $edit = false)
#end



#if(!$edit || $edit == "false" && $content.isPropertyTrue("enablemap") )
			<li style="float: right;">
				<div style="position: relative;">
					<a class="table-edit-close">
					<form id="changedisplay" action="$home$apphome/views/modules/${module.id}/changedisplay.html">
						<input name="hitssessionid" type="hidden" value="$hits.sessionId"/>
						<input name="resulttype" type="hidden" value="${module.id}-display"/>
						
						<select name="newresultview" id="" class="smalldropdown" onChange="jQuery('#changedisplay').submit();" >
						
							<option value="table" #if( $resulttype == "table") selected #end>[[Table]]</option>
							<option value="map" #if( $resulttype == "map") selected #end>[[Map]]</option>
							
						</select>
					</form>
					</a>
				</div>
			</li>
		#end	

<li style="float: right;" class="edit-columns">	
				<div style="position: relative;">
					#if( $canedittablecolumns )
					<div id="table-edit-outside">
						#if( !$edit ) <a class="ajax" id="table-editor" targetdiv="emresultscontent" href="$content.searchhome/results.html?searchtype=${module.id}t&hitssessionid=$hits.getSessionId()&editheader=true&oemaxlevel=1"> <img style="position: relative; top: -1px;" title="[[Edit Columns]]" src="$home$themeprefix/images/edit.gif" /></a>
						#else <a class="ajax table-edit-close" targetdiv="emresultscontent" href="$content.searchhome/results.html?searchtype=${module.id}&hitssessionid=$hits.getSessionId()&editheader=false&oemaxlevel=1"><img title="[[Cancel]]" style="position: relative; top: -1px;" src="$home$themeprefix/images/delete.gif" /></a>
						<div id="column-editor">
							<div id="column-editor-content">
								#set ($alldetails = $searcher.getUserPropertyDetails() )
								<select  class="addremovecolumns" name="addcolumn" >
									<option>[[Add Column]]</option>
									#foreach( $detail in $alldetails) <option value="$detail.id">$detail.getText($context)</option>
									#end
								</select>
								
							</div>
						</div>
						#end
					</div>
					#end
				</div>
			</li>

</ul>


<script type="text/javascript">
	//This should be moved out of here
	function refreshSelections() {
		jQuery('#moduleselections').load("$content.searchhome/selections/selected.html?oemaxlevel=1&searchtype=${module.id}&hitssessionid=$hits.getSessionId()");
	}
</script>
