#set($module = $searcherManager.getData($catalogid, "module", $context.findValue("module") ))
#set($moduleid = $module.id)
#set($defaultview = $userprofile.getDefaultViewForModule($module.id) )

#set($resulttype = $userprofile.get("${module.id}-display"))
#if(!$resulttype)
	#set($resulttype = "table")
#end

#set($searchhome = $page.get("searchhome") )

#set( $edit = $context.getRequestParameter("editheader"))
#if( !$edit || $edit == "false")
	#set( $edit = false)
#end


<div id="sub-nav" class="search-views emsubnav">
#if(!$edit)
	<ul class="resultsnav">
	<li>
	<a href="$home${searchhome}/edit/addnew.html?viewid=$defaultview.id&viewpath=$module.id/$defaultview.id&hitssessionid=$hits.getSessionId()">[[Add New]]</a></li>
	#if($content.showactions)
		$pages.include("$searchhome/selectionactions.html")
	#end
##	#if($hits.hasSelections() )
##	<li id="moduleselections">		
##		$pages.include("${searchhome}/selections/selected.html",$context)
##	</li>
##	#end
	</ul>
#end

<ul class="resultsnavright">
	#if( $canedittablecolumns )
		#if( !$edit )
			<li>	
				 
				<a class="ajax edit-icon" id="table-editor" targetdiv="resultsdiv" href="$searchhome/results.html?searchtype=${module.id}&hitssessionid=$hits.getSessionId()&editheader=true&oemaxlevel=1&moduleid=$!moduleid"> <i class="fas fa-edit"></i></a>
			</li>
		#else
			<li> 
					<a class="ajax table-edit-close" targetdiv="resultsdiv" href="$searchhome/results.html?searchtype=${module.id}&hitssessionid=$hits.getSessionId()&editheader=false&oemaxlevel=1&moduleid=$!moduleid"><i class="fas fa-times"></i></a>
			</li>
			<li class="resultsnavtitem">
					<div id="column-editor">
						<div id="column-editor-content">
							#set ($alldetails = $searcher.getUserPropertyDetails() )
							<select  class="addremovecolumns form-control" name="addcolumn" >
								<option>[[Add Column]]</option>
								#foreach( $detail in $alldetails) <option value="$detail.id">$detail.getText($context)</option>
								#end
							</select>
							
						</div>
					</div>
			</li>
		#end
	#end

	#if(!$edit && $content.isPropertyTrue("enablemap") )
	<li class="resultsnavtitem">
		<div style="position: relative;">
			<a class="table-edit-close">
			<form id="changedisplay" action="$home$apphome/views/modules/${module.id}/changedisplay.html">
				<input name="hitssessionid" type="hidden" value="$hits.sessionId"/>
				<input name="resulttype" type="hidden" value="${module.id}-display"/>
				
				<select name="newresultview" id="" class="form-control" onChange="jQuery('#changedisplay').submit();" >
				
					<option value="table" #if( $resulttype == "table") selected #end>[[Table]]</option>
					<option value="map" #if( $resulttype == "map") selected #end>[[Map]]</option>
					
				</select>
			</form>
			</a>
		</div>
	</li>
	#end	

	#if(!$edit)
		<li class="resultsnavtitem hidden-sm-xs hidden-xs hidden-sm hidden-md">
		$pages.include("$apphome/views/modules/default/pages.html", $context) ## views/modules/default/navigate.html",$context)
		</li>
	#end

</ul>
</div>

<script type="text/javascript">
	//This should be moved out of here
	function refreshSelections() {
		jQuery('#moduleselections').load("$searchhome/selections/selected.html?oemaxlevel=1&searchtype=${module.id}&hitssessionid=$hits.getSessionId()");
	}
</script>
