<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" data-toggle="dropdown" id="resultsSelectionDropdown">[[Results]] </a>
	<div class="dropdown-menu">
	#set( $type = $content.module )
	
	<a class="dropdown-item" href="$home${content.searchhome}/edit/batchedit.html?id=multiedit:$hits.sessionId&hitssessionid=$hits.sessionId&searchtype=$type">[[Batch Edit]]</a>
	<a class="dropdown-item" href="$home${content.searchhome}/export/download/export_${type}.csv?hitssessionid=$hits.sessionId&searchtype=$type">[[Export results]]</a>
	<a class="dropdown-item" href="$home${content.searchhome}/export/download/export_${type}.csv?hitssessionid=$hits.sessionId&friendly=true&searchtype=$type&view=$type/${type}resultstable">[[Export results (friendly)]]</a>
	<a class="dropdown-item" href="$home${content.searchhome}/export/custom.html?hitssessionid=$hits.sessionId">[[Custom Export]]</a>
	<a class="dropdown-item" href="$home${apphome}/views/activity/downloaddataassets.html?hitssessionid=$hits.sessionId">[[Download Assets]]</a>
	#if($candelete)
		 <a class="dropdown-item" href="$home${content.searchhome}/actions/deleteselections.html?hitssessionid=$hits.sessionId">[[Delete Selected Items]]</a>
	#end
	</div>
</li>