#embody {




}

#header {




}


#header .header-text{
position: relative;

}


.logocontainer
{
	display: block;
	float: left;
	width: 170px;
	height: 59px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-size: 100%;
		
}
.logocontainer img
{
	display: none;	
}



#nav {
	
	
	

	background: -moz-linear-gradient(top, #63BDD9 0%, #309ABA 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63BDD9), color-stop(100%,#309ABA)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #63BDD9 0%,#309ABA 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #63BDD9 0%,#309ABA 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #63BDD9 0%,#309ABA 100%); /* IE10+ */
	background: linear-gradient(top, #63BDD9 0%,#309ABA 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63BDD9', endColorstr='#309ABA',GradientType=0 ); /* IE6-9 */


}

#nav .flat-right
{
    border-right-color: #0F8DB5;
}


#nav li a.navbutton, 
.tageditor-viewer a {

	background: -moz-linear-gradient(top, #52B9D7 0%, #308EA7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52B9D7), color-stop(100%,#308EA7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #52B9D7 0%,#308EA7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #52B9D7 0%,#308EA7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #52B9D7 0%,#308EA7 100%); /* IE10+ */
	background: linear-gradient(top, #52B9D7 0%,#308EA7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52B9D7', endColorstr='#308EA7',GradientType=0 ); /* IE6-9 */
	color: #E6E6E6;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .1);
	border-color: #0F8DB5;


}

#nav li a.navbutton:hover,.tageditor-viewer a:hover,#nav li.navselected a, #nav li a:active, #module-dropdown.active, #module-dropdown.active:hover {

	color: #FFFFFF;


	background: -moz-linear-gradient(top, #52B9D7 0%, #308EA7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52B9D7), color-stop(100%,#308EA7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #52B9D7 0%,#308EA7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #52B9D7 0%,#308EA7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #52B9D7 0%,#308EA7 100%); /* IE10+ */
	background: linear-gradient(top, #52B9D7 0%,#308EA7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52B9D7', endColorstr='#308EA7',GradientType=0 ); /* IE6-9 */

	border-color: #0F627D;



}

#module-dropdown span {
  color: #E6E6E6;
}

#module-dropdown span:hover {
  color: #FFFFFF;
}

#nav li.navselected a, #nav li a:active, #module-dropdown.active, #module-dropdown.active:hover {
		box-shadow: -2px -1px 3px 0px rgba(0, 0, 0, .1);

		border-color: #0F627D;



}



#module-list {
}

#module-list li a {
}

#nav .flat-right {
border-right-color: #52B9D7;
}

#header .navlinks {
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {
}



#emcontent {

}

#main{
}

#left-col{
background: #D5EFF7 url('../images/sidebar-shadow.png') right top repeat-y;;
}

#left-col .ui-widget-header {

color: #E6E6E6;


}

.ui-widget-header
{


background: -moz-linear-gradient(top, #63BDD9 0%, #309ABA 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63BDD9), color-stop(100%,#309ABA)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #63BDD9 0%,#309ABA 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #63BDD9 0%,#309ABA 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #63BDD9 0%,#309ABA 100%); /* IE10+ */
background: linear-gradient(top, #63BDD9 0%,#309ABA 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63BDD9', endColorstr='#309ABA',GradientType=0 ); /* IE6-9 */


}

#left-col .ui-widget-content {


	
}


#help-content .ui-widget-header {


background: -moz-linear-gradient(top, #63BDD9 0%, #309ABA 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63BDD9), color-stop(100%,#309ABA)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #63BDD9 0%,#309ABA 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #63BDD9 0%,#309ABA 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #63BDD9 0%,#309ABA 100%); /* IE10+ */
background: linear-gradient(top, #63BDD9 0%,#309ABA 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63BDD9', endColorstr='#309ABA',GradientType=0 ); /* IE6-9 */

color: #E6E6E6;


}

#emcontainer #emselectable #main-results-table #tableheader th, .settings-table #tableheader th {



background: -moz-linear-gradient(top,  #BAE783 0%, #7FAB4C 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BAE783), color-stop(100%,#7FAB4C)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #BAE783 0%,#7FAB4C 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #BAE783 0%,#7FAB4C 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #BAE783 0%,#7FAB4C 100%); /* IE10+ */
background: linear-gradient(to bottom,  #BAE783 0%,#7FAB4C 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BAE783', endColorstr='#7FAB4C',GradientType=0 ); /* IE6-9 */



}

/* Table Colors */

#eml-tab-subnav ul, #sub-nav {





}



ul#sub-nav li:hover ul li a {





}

#eml-tab-subnav ul li.current a, #sub-nav li.current a:hover {
background: #3DAACD;
}

#eml-tab-subnav ul li a:hover, #sub-nav li a:hover, #sub-nav li:hover a, #sub-nav li.edit-columns:hover #column-editor {
}

ul#sub-nav li:hover ul li a:hover {
}


#right-col {
}

/* Table Hover Color */
#emcontainer #emselectable table tr.emborderhover, #main-results-table tr:hover {
}

.sidebar-media li.currentsubtle {
}

#de-side-nav li.current a, #de-side-nav li.current a:hover {

background: -moz-linear-gradient(left,  #2B99BA 0%, #63BDD9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2B99BA), color-stop(100%,#63BDD9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #2B99BA 0%,#63BDD9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #2B99BA 0%,#63BDD9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #2B99BA 0%,#63BDD9 100%); /* IE10+ */
background: linear-gradient(to right,  #2B99BA 0%,#63BDD9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2B99BA', endColorstr='#63BDD9',GradientType=1 ); /* IE6-9 */

border-bottom: 1px solid #2B99BA;
border-top: 1px solid #2B99BA;


}

#de-side-nav ul li.current::after, #pdf-thumbnail-sidebar ul li.current::after {

border-left-color: #63BDD9;

}

.title-bar {
	
background: -moz-linear-gradient(top, #2B99BA 0%, #63BDD9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2B99BA), color-stop(100%,#63BDD9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2B99BA 0%,#63BDD9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2B99BA 0%,#63BDD9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #2B99BA 0%,#63BDD9 100%); /* IE10+ */
background: linear-gradient(top, #2B99BA 0%,#63BDD9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2B99BA', endColorstr='#63BDD9',GradientType=0 ); /* IE6-9 */
border-left: #63BDD9;
border-right: #63BDD9;
border-bottom: #63BDD9;

}

.search-list li.current a.search-href, .sidebar-list li.current a {
background: #3DAACD;
}
