#ifnotnull($publishing)

	#if($publishing.get("distributiontype") == "gallery") 
		<script type="text/javascript" src="$!siteroot$applink/components/javascript/jquery-3.7.1.min.js"></script>
		<script type="text/javascript" src="$!siteroot$applink/components/javascript/jquery-brickvertical.js"></script>
		<script type="text/javascript" src="$!siteroot$applink/components/javascript/jquery-simpleLightbox.js"></script>
		<style type="text/css">
			.scrollview {
				overflow-y: auto;
				}
		</style>
		<div id="previewgallery" style="height: 100%; overflow-y: auto;">
		$pages.include("$apphome/services/publishingdestination/gallery/index.html", $context)
		</div>

	#else 
	
		$pages.include("$apphome/services/publishingdestination/carousel/index.html", $context)
	#end
  
#end
#ifnull($publishing)
  <h2>Preview not available</h2>
#end
