#ifnotnull($publishing)

	#if($publishing.get("distributiontype") == "gallery") 
		<script type="text/javascript" src="$!siteroot$applink/components/javascript/jquery-3.7.1.min.js"></script>
		<script type="text/javascript" src="$!siteroot$applink/components/javascript/emedia/brickvertical.js"></script>
		<script type="text/javascript" src="$!siteroot$applink/components/javascript/simpleLightbox/simple-lightbox.jquery.min.js"></script>
		
		<div id="previewgallery" style="height: 100%;">
		##$pages.include("${apphome}/services/publishingdestination/gallery/index.html", $context)
		
		##Moved to use Module Players
		$pages.include("${apphome}/services/module/${moduleid}/players/gallery/index.html", $context)
		
		</div>
				
		<script type="text/javascript">
		/**
		 * Init
		 */
		(function ($) {
			jQuery(document).ready(function () {
				var grid = $(".masonry-grid2");
				grid.brickvertical();
				var slb = $('a.lightbox').simpleLightbox({
					captionSelector: 'self',
					captionType: 'data',
					captionsData: 'caption',
					captionDelay: 250,
					widthRatio:0.98,
					heightRatio:0.98,
					overlayOpacity: 1,
					fadeSpeed: 60
				});
				slb.on("shown.simplelightbox", function () {
					var lang = "es"; document.documentElement.lang;
					if(!lang) {
						var drupalSelector = $("script[data-drupal-selector='drupal-settings-json']").text();
						if(drupalSelector) {
							var drupalSettings = JSON.parse(drupalSelector);
							lang = drupalSettings.dataLayer.defaultLang;
						}
					}
					if (!lang) lang = window.navigator.language || window.navigator.userLanguage;
					if (lang.indexOf("-") != -1 || lang.indexOf("_") != -1) {
						var loc = lang.split(/[-_]/)[0];
						var variant = lang.split(/[-_]/)[1];
						if (loc.toLowerCase() == "zh") {
							if (
								variant.toLowerCase() == "hant" ||
								variant.toLowerCase() == "tw" ||
								variant.toLowerCase() == "hk"
							) {
								lang = "zh_TW";
							} else {
								lang = "zh";
							}
						} else {
							lang = loc;
						}
					}
			
					var locales = $(this).data("locales");
					if(locales) {
						if (typeof locales === "string") {
							var txt = document.createElement("textarea");
							txt.innerHTML = locales;
							locales = JSON.parse(txt.value);
						}
						var localeCaption = locales[lang] ? locales[lang] : locales["en"];
						if(localeCaption) {
							$(this).attr("data-caption", localeCaption);
							$(".sl-caption").html(localeCaption);
						}
					}
					
					
					var dl = $(this).data("downloadlink");
					if(dl) {
						$(".simple-lightbox").append("<a class='sl-dl' href='" + dl + "' target='_blank'></a>");
					}
				})
			});
		}(jQuery));		
		</script>

	#else 
		<script type="text/javascript" src="$!siteroot$applink/components/javascript/splide/splide.min.js"></script>
	
		##$pages.include("${apphome}/services/publishingdestination/carousel/index.html", $context)
		
		##Moved to use Module Players
		$pages.include("${apphome}/services/module/${moduleid}/players/carousel/index.html", $context)
		
		<script type="text/javascript" src="$!siteroot$applink/components/javascript/emedia/players/carousel.js"></script>
	#end
  
#end

#ifnull($publishing)
  <h2>Preview not available</h2>
#end
