<div id="summary-mini">
    <div id="mediaplayer" class="media-player-mini">
		#set($totalpages = $numberutils.toInt($asset.pages))
		#set ( $hitssessionid = $context.findValue("hitssessionid"))
			<div class="media-thumbnail">
				#set( $type = $mediaarchive.getMediaRenderType($asset.fileformat))
				#if( !$thumbsize )
		    		#set( $thumbsize  = "mediumplus" )
				#end
				$context.putPageValue("thumbsize",$thumbsize)
				$context.putPageValue("viewer","summary")
				
				<a class="assettab" 
					data-link="$applink/views/modules/asset/components/mediaviewer/fullscreen/tabs/viewpreview.html" 
					data-assettab="viewpreview" 
					title="Preview $asset">
	 			$pages.include("$apphome/components/results/thumbnails/${type}.html", $context) 
				</a>
				
			</div>
		    <div class="media-player-mini-links">        
		    #set( $views = $mediaarchive.getAssetStatsManager().getViewsForAsset($asset))
		    <a class="assettab" 
						data-link="$apphome/components/mediaviewer/fullscreen/tabs/viewactions.html?action=converthistory" title="[[History]]"
						data-assettab="viewactions"
						data-assettabactions="converthistory"
						data-assettabname="[[History]]" >
					<i class="fas fa-eye"></i> $views 
					</a>
		    
		    #if ($totalpages > 1) 
		         	<a class="propertyset" propertyname="maximize_player" propertyvalue="true" targetdiv="detaileditor" href="$home$apphome/views/assets/$asset.sourcepath/index.html?hitssessionid=#esc($hitssessionid)&oemaxlevel=2">($totalpages [[Pages]])</a> 
		    #end
		    #if ($attachmentcount > 0)
		       	<a href="$home$apphome/views/modules/asset/editor/attachments/index.html?assetid=$asset.id&hitssessionid=$!{hitssessionid}" class="attachments">$attachmentcount<span>&nbsp;</span></a>
		    #end
		    #if ( $canviewvoting )
			    <div id="assetVoteCount" class="media-info-icons">
		        	$pages.include("$apphome/views/modules/asset/editor/voting/index.html", $context)
		   		</div>
			#end
			
			#if( $desktop )
			<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
		 
			  <div class="btn-group" role="group">
			    <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			      Mediaboat</button>
			    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
			      <a class="dropdown-item ajax" targetdiv="nowhere"  href="$home$apphome/components/desktop/openasset.html?assetid=$asset.id&lock=true">[[Open File]]</a>
			      <a class="dropdown-item desktop-send" href="#" data-assetid="${asset.id}" data-command="singleupload" data-catalogid="${catalogid}" data-mediadb="${mediadbappid}" data-replace="true" data-filename="${asset.name}">[[Replace from Desktop]]</a>
			      <a class="dropdown-item desktop-send" href="#" data-assetid="${asset.id}" data-replace="false" data-command="singleupload" data-catalogid="${catalogid}" data-mediadb="${mediadbappid}" data-filename="${asset.name}">[[Create copy from Desktop]]</a>
			      
			    </div>
			    
			    
			  </div>
		   
			</div>
			#end
			
            <form name="lockform" class="autosubmit ajaxform" action="$home$componenthome/mediaviewer/player/summary-mini.html?oemaxlevel=1" data-targetdiv="summary-mini" >
            <input type="hidden" name="assetid" value="${asset.id}"/>
            <div class="assetlocked">
                <label for="assetlocked" class="form-check-label-right">[[Lock Asset]]:</label>
                <input id="assetlocked" class="togglelock form-check-input" type="checkbox" #if($asset.isLocked()) checked #end /> 
                #if($asset.isLocked()) ( <i class="fas fa-user"></i> $asset.getLockOwner() ) #end
            </div> 
            </form>
			
		</div>	

        
    </div>
</div>
