#if($filternode)
	#set( $viewpermission = $context.getPageValue("canviewfilter${type.getId()}") )
	#ifnull($viewpermission)
		#set( $viewpermission = true)
	#end
	
	#if( $viewpermission )
		#set( $fieldname = $detail.getId() )
		
			#if ($filternode.children.size() > 10)
				<select id="${fieldname}select2" 
						name="${fieldname}.value" 
						class="listdropdown choose-select detail-select form-control autosubmited #if($detail.isRequired() && !$multiedit) required #end" 
						listid="${fieldname}filter" 
						data-listid="${fieldname}filter" 
						data-searchtype= '$searchtype'
						onchange="if( typeof updatelisteners == 'function' )updatelisteners('$catalogid','$searchtype','$!view','$fieldname');"
						data-allowclear="false">
					<option value=""></option>
				#foreach($entry in $filternode.children)
					<option value="$entry.getId()" #if(  $hits.getSearchQuery().hasTermValue($filternode.id,$entry.getId()) ) selected #end>#esc($entry.getText($context))</option>
				#end
				</select>
			#else

				#foreach($entry in $filternode.children)
				<a class="addfilter #if ($first) filter-current #end" data-filtertype="$filternode.getId()" data-filtervalue="$entry.getId()" data-filterlabel="$entry.getText($context)" href="#" title="($entry.count)">
				##<i class="fas  #if ($first) fa-check-square #else fa-square #end"></i>
				<input class="filtercheck filtercheck${fieldname}" data-fieldname="${fieldname}" type="checkbox" name="${fieldname}.value" id="$entry.getId()${fieldname}_val" value="$entry.getId()" #if( $hits.getSearchQuery().hasTermValue($filternode.id,$entry.getId()) ) checked #end />
				<label for="$entry.getId()${fieldname}_val"> $entry.getText($context) </label>
				</a>
				#end
			#end
				
	#end  ##permission
#end 



	