#set($type = $hits.findFilterNode($detail.id))
$type
#if($type)
	#set( $viewpermission = $context.getPageValue("canviewfilter${type.getId()}") )
	#ifnull($viewpermission)
		#set( $viewpermission = true)
	#end
	#if( $viewpermission )
			<div class="filter-box">
		<div class="filter-box-header"><span class="toggle-filter"><i class="fas fa-caret-down"></i></span> $type.getName($context.getLocale()) </div>
		<div class="filter-box-options">
			#if ($type.children >10)
				##select2
				<select  id="$csslistid" name="${fieldname}.value" 
						class="listdropdown choose-select detail-select form-control autosubmited #if($detail.isRequired() && !$multiedit) required #end" 
						listid="$listid" id="${valueid}.value"
						data-listid="$listid" 
						data-searchtype= '$searchtype'
						onchange="if( typeof updatelisteners == 'function' )updatelisteners('$catalogid','$searchtype','$!view','$fieldname');" 
					>
				#foreach($entry in $type.children)
					<option value="$key" #if( $value && $key == $value ) selected #end>#esc($label)</option>
				#end
				</select>
			#else
				#checkboxes
				#foreach($entry in $type.children)
				<a class="addfilter" data-filtertype="$type.getId()" data-filtervalue="$entry.getId()" data-filterlabel="$entry.getText($context)" href="#" title="($entry.count)">
				<i class="fas fa-check-square"></i>
				<span> $entry.getText($context) </span>
				</a>
				#end
			#end
			
			##<a href="" class="filter-current"><i class="fas fa-check-square"></i> Date</a>
			##<a href=""><i class="far fa-square"></i> Name</a>
			
		</div>
	</div>
		
	#end  ##permission
#end 



	