#if($filternode)
	#set( $viewpermission = $context.getPageValue("canviewfilter${type.getId()}") )
	#ifnull($viewpermission)
		#set( $viewpermission = true)
	#end
	
	#if( $viewpermission )
		#set( $fieldname = $detail.getId() )
		<div class="filter-box">
		<div class="filter-box-header"><span class="toggle-filter"><i class="fas fa-caret-down"></i></span> $filternode.getName($context.getLocale()) </div>
		<div class="filter-box-options">
			#if ($filternode.children >10)
				##select2
				<select  id="$csslistid" name="${fieldname}.value" 
						class="listdropdown choose-select detail-select form-control autosubmited #if($detail.isRequired() && !$multiedit) required #end" 
						listid="$listid" id="${valueid}.value"
						data-listid="$listid" 
						data-searchtype= '$searchtype'
						onchange="if( typeof updatelisteners == 'function' )updatelisteners('$catalogid','$searchtype','$!view','$fieldname');" 
					>
				#foreach($entry in $filternode.children)
					<option value="$key" #if( $value && $key == $value ) selected #end>#esc($label)</option>
				#end
				</select>
			#else

				#foreach($entry in $filternode.children)
				<a class="addfilter #if ($first) filter-current #end" data-filtertype="$filternode.getId()" data-filtervalue="$entry.getId()" data-filterlabel="$entry.getText($context)" href="#" title="($entry.count)">
				##<i class="fas  #if ($first) fa-check-square #else fa-square #end"></i>
				<input type="checkbox" name="${fieldname}.value" value="$entry.getId()" #if( $hits.getSearchQuery().hasTermValue($filternode.id,$entry.getId()) ) checked #end />
				<span> $entry.getText($context) </span>
				</a>
				#end
			#end
			
			##<a href="" class="filter-current"><i class="fas fa-check-square"></i> Date</a>
			##<a href=""><i class="far fa-square"></i> Name</a>
			
		</div>
	</div>
		
	#end  ##permission
#end 



	