#set( $attachmentroot = $content.attachmentroot )
#if( $file )	
	#set( $parentsourcepath = "${file.parentsourcepath}/${file.name}" )
	#set( $name = $file.name)
#end
	
	#set( $generated = "/WEB-INF/data/${catalogid}/generated/$parentsourcepath/image1024x768.jpg" )
	<a class="emdialog" href="$home/${catalogid}/downloads/preview/extralarge/${parentsourcepath}/preview.jpg">
	#if( $pages.doesExist($generated) )
			<img src="$home/${catalogid}/downloads/preview/thumb/${parentsourcepath}/thumb.jpg" />
			<p class="name">$name </p>
		</a>
	#else	
	<div id="generatedimage"> ##TODO: Only do for images and documents
		<div class="preview #if ( $file.folder != "false" ) folder #else $!file.fileformat #end"></div>
		<p class="name">#if ( $name ) $name #else  Click on a file name to view details about that file #end</p>
		</a>
	</div>
	#end
	</a>
$context.putPageValue("data",$file)	
$context.putPageValue("searcher",$mediaarchive.getAssetSearcher() )	
	
			#if( $asset.assettype && $archive.viewExists("asset/assettype/$asset.assettype/general") )
			  #set ($view = "asset/assettype/$asset.assettype/general")
			#else
			  #set ($view = "asset/assettype/default/general")
			#end
			$context.putPageValue("view",$view)	
			$pages.include("/$applicationid/components/xml/detailviewer.html", $context)
	
	
#if( $asset.assettype && $archive.viewExists("asset/assettype/$asset.assettype/fileproperties") )
  #set ($view = "asset/assettype/$asset.assettype/fileproperties")
#else
  #set ($view = "asset/assettype/default/fileproperties")
#end
$context.putPageValue("view",$view)	

$pages.include("/$applicationid/components/xml/detailviewer.html", $context)

<!--
<ul id="stacked" style="margin-top: 15px;">
	##<li><a class="btn" href="#">View Preview</a></li>
	<li><a  class="btn ajaxappender"  href="$home$attachmentroot/upload.html?assetid=$asset.id&parentsourcepath=$parentsourcepath">Upload Files</a></li>
#if(!$data || $data.folder == "true" )
	<li><a  id="downloadlink" class="btn" href="$home$attachmentroot/zip/${name}-attachments.zip?path=$path&stripfolders=$path">Download Folder</a></li>
#else
	<li><a  id="downloadlink" class="btn" href="$home/$catalogid/downloads/originals/$parentsourcepath/$name">Download</a></li>
#end
	<li><a class="btn" href="$home$attachmentroot/createfolder.html?sourcepath=$asset.sourcepath&fileid=$!fileid">Create Folder</a></li>
#if( $data )
	<li><a class="btn" href="$home$attachmentroot/delete.html?sourcepath=$asset.sourcepath&fileid=$!fileid">
		Delete 	
		#if( $data.folder == "true") Folder #else Asset #end</a></li>
#end
</ul>
-->
