#set( $attachmentroot = $content.attachmentroot )

#set( $path = "/WEB-INF/data/$catalogid/originals/$asset.sourcepath/" )

#set($rootcategory = $categoryPickerTree.getModel().getRoot())

#set($children = $rootcategory.children)

#macro(showattachments $parentfolder $depth) 
		#set ( $depth = $depth + 1)
		#set ( $padding = (20 * $depth) )
		
		#set( $files = $attachmentManager.listChildren($context, $mediaarchive, $parentfolder ) )
		#foreach($file in $files)
			#set( $filesource  = "${file.parentsourcepath}/${file.name}")
			   <li><div style="padding-left: ${padding}px"><span class="#if ( $file.folder == 'true' )arrow down #end"></span><span class="name #if ( $file.folder == 'true' ) folder #else #if( $file.fileformat ) $file.fileformat #else default #end #end" fileid="${file.id}" sourcepath="$filesource" >$file.name</span><span class="actions">#if ( $file.folder == "true" )<a class="edit ir">Edit</a><a class="add ir" id="${rootcategory.id}">Add New</a>#end<a class="delete ir" data-parent="${rootcategory.id}">Delete</a></span></div>
					#if($file.folder == "true")  
						<ul class="open" > ##use cookies to open/close them?
						  #showattachments($filesource , $depth)
					   </ul>
					#end
			   </li>
			   	<li id="${cat.id}_add" style="display: none;"><div class="selected new"><span class="name folder"><input class="field" type="text" value="New Category" id="${cat.id}_new" /><a data-parent="${cat.id}" class="save btn">Save</a><a id="${cat.id}" class="cancel btn">Cancel</a></span></div></li>		 	
		
			   		
		#end
#end


<div class="ui-widget" >
	<div  class="ui-widget-header">Attachments</div>
	<div  class="ui-widget-content categories-widget no-padding-for-real">
		<div id="attachments-container">
			<div id="tree" class="attachments">
					<ul class="open" >
						<li><div><span class="arrow down"></span><span class="name folder" fileid="${file.id}" sourcepath="$filesource" >Attachments</span><span class="actions"><a class="edit ir nope">Edit</a><a class="add ir" id="${rootcategory.id}">Add New</a><a class="delete ir nope" data-parent="${rootcategory.id}">Delete</a></span></div>
							<ul class="open" >							
								#showattachments($asset.sourcePath, 1)
							</ul>
						</li>
					  	<li id="${rootcategory}_add" style="display: none;"><div class="selected new"><span class="name folder"><input class="field" type="text" value="New Category" id="${rootcategory}_new" /><a data-parent="${rootcategory.id}" class="save btn">Save</a><a id="${rootcategory.id}" class="cancel btn">Cancel</a></span></div></li>		 
					</ul>	
<!-- 				
					<li><div><span class="arrow down"></span><span class="name folder">bus.jpg</span><span class="actions"><a>+</a></span></div>
						<ul class="open">
							<li><div><span class="name folder">Empty Inner Folder</span><span class="actions"><a>+</a></span></div></li>
							<li><div><span class="arrow"></span><span class="name folder">Folder 1</span><span class="actions"><a>+</a></span></div>
								<ul>
									<li><div><span class="arrow"></span><span class="name folder">Inner Folder</span><span class="actions"><a>+</a></span></div>
										<ul>
											<li><div><span class="arrow"></span><span class="name folder">Inner Folder</span><span class="actions"><a>+</a></span></div>
												<ul>
													<li><div><span class="arrow"></span><span class="name folder">Inner Folder</span><span class="actions"><a>+</a></span></div></li>
													<li><div><span class="name png">PNG 1</span><span class="actions"><a>+</a></span></div></li>
													<li><div><span class="name jpg">JPG 1 </span><span class="date-uploaded">(12/24/2011 12:24:01)</span><span class="actions"><a>+</a></span></div></li>
													<li><div><span class="name pdf">PDF 1</span><span class="actions"><a>+</a></span></div></li>
													<li><div><span class="name pdf">PDF 2</span><span class="actions"><a>+</a></span></div></li>
												</ul>
											</li>
											<li><div><span class="name png">PNG 1</span><span class="actions"><a>+</a></span></div></li>
											<li><div><span class="name jpg">JPG 1 </span><span class="date-uploaded">(12/24/2011 12:24:01)</span><span class="actions"><a>+</a></span></div></li>
											<li><div><span class="name pdf">PDF 1</span><span class="actions"><a>+</a></span></div></li>
											<li><div><span class="name pdf">PDF 2</span><span class="actions"><a>+</a></span></div></li>
										</ul>
									</li>
									<li><div><span class="name png">PNG 1</span><span class="actions"><a>+</a></span></div></li>
									<li><div><span class="name jpg">JPG 1 </span><span class="date-uploaded">(12/24/2011 12:24:01)</span><span class="actions"><a>+</a></span></div></li>
									<li><div><span class="name pdf">PDF 1</span><span class="actions"><a>+</a></span></div></li>
									<li><div><span class="name pdf">PDF 2</span><span class="actions"><a>+</a></span></div></li>
								</ul>
							</li>
							<li><div><span class="name folder">Folder 2</span><span class="actions"><a>+</a></span></div></li>
							<li><div><span class="name folder">Folder 3</span><span class="actions"><a>+</a></span></div></li>
							<li><div><span class="name folder">Folder 4</span><span class="actions"><a>+</a></span></div></li>
						</ul>
					</li>
				</ul>
-->	
			</div>
		<div id="preview-pane">
		$pages.include("$attachmentroot/details.html")	
		</div>
		</div>
	</div>
</div>

##$sizer.inEnglish($attachment.size)

<a  class="btn" href="reload.html?sourcepath=$asset.sourcePath	">Reload Files</a>

<script type="	text/javascript">

	$('#tree ul li div').click( function()
		{
		
		$(this).parent().find('> ul').toggle('fast');
		
		if ( $(this).find('.arrow').hasClass('down') )
		{
			$(this).find('.arrow').removeClass('down');
		}
		else 
		{
			$(this).find('.arrow').addClass('down');
		}
		var file = $(this).find('.name');
		file = $(file);
		var fileid = file.attr("fileid");
		$("#preview-pane").load("$home$attachmentroot/details.html?oemaxlevel=1&assetid=$asset.id&fileid=" + fileid );
	});
	
</script>