
#if($asset.isFolder())

	#set( $path = $context.getRequestParameter("path"))
	#set( $changepath = "$apphome/views/detaileditor/attachments/changeattachment.html" )
	
	#if( $path )
		##Implement the following method to support this.
		#set( $editNode = $pageTree.getTreeRenderer().setSelectedNodeByUrl($path))
	#end	
	
	#if( $editNode )
		#set( $nodeID = $pageTree.getModel().getId($editNode))
		#set ($children = $pageTree.getModel().getHitTracker($nodeID))
	#end
	
	#if( $canchangeattachment && $children && $children.size() > 0)
	<form name="attachmentform" id="attachmentform" action="$home$changepath">
	<input type="hidden" name="path" value="$path"/>
	<input type="hidden" name="assetid" value="$asset.id"/>
	#end
	
	<table width="100%">
	#if( $children && $children.size() > 0)
	<tr>
		#if( $canchangeattachment )
		<th>Primary<br/>asset</th>
		<th>Thumbnail</th>
		#end
		<th>File Name</th>
		<th>Size</th>
		<th>User</th>
		<th>Date</th>
		<th>Version History</th>
	</tr>
	#end
		
	#set($even = true)
	#foreach( $treeNode in $children )
		#if( $treeNode.contentItem.name.indexOf(".") > 0 )
		#if($even)
		    $context.putPageValue("even", false)
		#else
			$context.putPageValue("even", true)
		 #end
		$context.putPageValue("item", $treeNode.getContentItem())
		$context.putPageValue("treeNode", $treeNode)
		$pages.include("./filternode.html", $context)
		#end
	#end
	</table>
	
	
	#if( $canchangeattachment && $children && $children.size() > 0)
		<br/><input type="submit" value="Save"/><br/>
		</form>
	#end
	 
	#if( $canchangeattachment && !$asset.primaryfile && $children && $children.size() > 0 )
		<script type="text/javascript">
		jQuery('input[name=filename]:first').attr("checked", "checked");;
		jQuery('#attachmentform').submit();
		</script>
	#end
	
	#if($canupload && $caneditasset)
		<p>
		$pages.include("$apphome/views/detaileditor/attachments/upload.html", $context)
		</p>
	#end
#else ##end isfolder check
	<p>This is currently a file-based record, which does not allow for attachments.  
	#if($caneditasset)
		You can convert this asset by clicking the link below.
		</p>
		#set($params = $context.getRequestParamsAsList())
		<table><tr><td>
		<div class="embutton"><a href="$home$apphome/views/detaileditor/attachments/convert.html?$params">Convert this to a Folder-Based Record</a></div>
		</td></tr></table>
		
	#else
		<p>You do not have sufficient permissions to convert this to a folder-based record.</p>
	#end	
#end