.selectedtime
{
	border-color: #666; 
	background-color: #ffaf7d;
}


#bottom-slider #btmcontent ul#slider_vdo
{
	list-style: none;
	margin: 0;
	padding: 0;
}


#bottom-slider
{
	padding: 10px;
}


 #bottom-slider #btmcontent ul#slider_vdo li a.current  {
 
border-color: #2a6496; 
 }


/*

#bottom-slider
{
	background: none repeat scroll 0 0 #EDEDED;
}
#bottom-slider #btmhead
{
	   height: 46px;
    line-height: 46px;
    padding-left: 10px;
}
#bottom-slider #btmhead #tag
{
	width: 9.53%;
}
#bottom-slider #btmhead #time
{
	width: 4.983%;
}
#bottom-slider #btmhead #new
{
	  background: url("../img/button_bg.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: white;
    height: 24px;
    width: 11%;
}


#bottom-slider #btmcontent
{
	  margin: 5px 0px 0px 0px;
    padding-bottom: 22px;
    padding-left: 15px;
    padding-right: 15px;
}#bottom-slider #btmcontent #myCarousel
{
	width: 95.90%;
	margin:0;
}
#bottom-slider #btmcontent #next 
{
	width: 1.98%;
	padding-top: 5%;
}
#bottom-slider #btmcontent #prev
{
	width: 1.98%;
	padding-top: 5%;
	margin: 0;
}
#bottom-slider #btmcontent ul#slider_vdo
{
	list-style: none;
	margin: 0;
	padding: 0;
}
#bottom-slider #btmcontent ul#slider_vdo li
{
	display: inline-block;
}


 
 #bottom-slider #btmcontent ul#slider_vdo li a.current img {
 
 border: 0px solid #FFFFFF;
 
 }

#bottom-slider #btmcontent ul#slider_vdo li a img
{
	 border: 8px solid #FFFFFF;
    border-radius: 0 0 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    margin-right: 1.5%;
    width: 5%;
}
#bottom-slider #btmcontent ul#slider_vdo li#last a img
{
	 margin-right:0;
}
*/
#video-container{
	background: #060606;
	 border: 0 solid #DDDDDD;
	 position: relative;
}


#video{
 margin-left: auto;
    margin-right: auto;
    display: block
    }
    
    
 #myCarousel2{
 height: 80%;
 }
 
 


.productpanel {

  position: absolute; 
  top: 0px; 
  right: -0px;
  color: #FFF; 
  text-align: center;
  font-size: 20px;
  background-color: rgba(221, 221, 221, 0.6);
  width: 20%;
  padding: 10px 0;
  z-index: 2147483647;
	height: 80%;
}

#video {
position: relative;
z-index: 1;
	
}

.video-holder{
position: relative;
}


video {
    max-width: 100%;
    height: 100%;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
#video-container{
	background: #060606;
	 border: 0 solid #DDDDDD;
	 position: relative;
}
#product-dialog{
	position: absolute;
	top: 0;
	right: 0;
	/*
	background: url("../img/slide_bg.png") repeat;
	*/
	background-color:rgba(237,237,237,0.25);
	z-index: 10;
	padding: 2% 2% 3%;
	 width: 27%;
	     height: 92%;
	 

}
#product-dialog .buy,#product-dialog .price,#product-dialog .share{
	 padding-top: 6%;
	 border-bottom: 1px ridge #999D9A;
	 margin: 0;
}

#product-dialog .buy .highlight{
	color: red;
}


#product-dialog .view{
	padding-bottom: 7%;
	border-bottom: 1px ridge #999D9A;
}
#product-dialog .brand{
	padding-bottom: 3%;
	border-bottom: 1px ridge #999D9A;
}
#product-dialog .brand p{
	font-size: 12px;
}
#product-dialog .brand h5{
	margin: 0;
}

#product-dialog .brand ul{
	/*
	list-style: url('../img/protag.png');
	*/
	list-style: none;
}
#left-slide
{
   background: none repeat scroll 0 0 #EDEDED;
    /*margin-left: 1%;*/
    padding-left: 2%;
    padding-top: 2%;
    position: relative;
     padding-right: 2%;
    
     
}





#left-slide #links
{
	 left: 2%;
    position: absolute;
    top: 1%;
}
#left-slide #left-page
{
	  list-style: none outside none;
    margin: 0;
    padding: 0;
}
#left-slide #products
{
	border-bottom: 1px solid #CACACA;
    padding-bottom:24%;
}
#left-slide .product
{
 padding-bottom:8%;
}
#left-slide #drop-link	
{
	margin:0;
}
#left-slide #drop-link .accordion-group
{
	border:none;
}
#left-slide #drop-link .accordion-group .accordion-toggle {
    display: block;
     padding-bottom: 10%;
    padding-left: 12px;
}
#left-slide #drop-link .accordion-group .accordion-toggle span{
      line-height: 15px;
    padding-left: 5%;
    text-align: left;
    width: 81%;
    color: #000000;
}
#left-slide .thumbnail
{
	border: none;
	  width: 48%;
	
}
#left-slide .thumbnail>p
{
	 margin: 7px 0 10px;
}


#video{
 margin-left: auto;
    margin-right: auto;
    display: block
    }
    
    
 
 
 .productclosebutton {
 position: absolute;
 top: 0;
 left: 0;
 margin-left: -29px;;
 
 }
 
 
 

/* ------------------- */
/* show / hide buttons */
/* ------------------- */
.container-fluid.closeLeft p.closeLeft {
	display: none;
}

.container-fluid.openLeft p.openLeft {
	display: none;
}

/* -----------------*/
/*  Close Left       */
/* -----------------*/
.closeLeft .span2 {
	opacity: 0;
	filter: alpha(opacity = 0); /* For IE8 and earlier */
	margin-left: -200px;
	width: 0;
	overflow: hidden;
}

.closeLeft .spa10 {
	width: 100%;
}

.closeLeft .span10 {
	width: 100%;
}



.closeLeft .to-hide {
	display: none;;
}

.closeLeft #openTrigger {
	display: none;
}


.openLeft #closeTrigger {
	display: none;
}



/* -----------------*/
/*  Open Left       */
/* -----------------*/
.openLeft .span10 {
	/*width: 700px;*/
}

/* -----------------*/

/* -----------------*/
/* CSS Transitions */
/* -----------------*/



.productpanel {

  position: absolute; 
  top: 0px; 
  right: -0px;
  color: #FFF; 
  text-align: center;
  font-size: 20px;
  background-color: rgba(221, 221, 221, 0.6);
  width: 20%;
  padding: 10px 0;
  z-index: 2147483647;
	height: 80%;
}

#video {
position: relative;
z-index: 1;
	
}

.video-holder{
position: relative;
}


video {
    max-width: 100%;
    height: 100%;
}
 
 .productlink-tray{
	display: inline-block;
padding-top: 1px;
 width: 15px;
 height:15px;
	

 }
 
 
 
 
 #left-dialog{
	position: absolute;
	top: 0;
	left: 0;
	/*
	background: url("../img/slide_bg.png") repeat;
	*/
	background-color:rgba(237,237,237,0.25);
	z-index: 10;
	padding: 2% 2% 3%;
	 width: 27%;
	     height: 92%;
	 

}
 

#top-float{
	margin: 0 auto;
	
	/*
	background: url("../img/slide_bg.png") repeat;
	*/
	background-color:rgba(237,237,237,0.25);
	z-index: 10;
	padding: 2% 2% 3%;
	 width: 27%;
	    
	 

}
 
 
 
