<?xml version="1.0" encoding="UTF-8"?>

<root >
  <data id="category" view="thumbs" sort="" hitsperpage="12">New</data>
  <data id="search" view="thumbs" sort="" hitsperpage="12">New</data>
  <data id="album" view="thumbs" sort="" hitsperpage="12">New</data>
  <data id="selection1" view="thumbs" sort="" hitsperpage="12">New</data>
  <data id="selection2" view="categorize" sort="" hitsperpage="12">New</data>
  <data id="selection3" view="download" sort="" hitsperpage="12">New</data>
</root>
