

#set($timeline = $context.getPageValue("timeline"))
<div id="timeline" class="timelinecontainer">
	
	<div id="slider123" class="time-slider" >
	
		<a id="addnewcopy" href="#" class="btn btn-sm btn-primary" style="position:absolute; top:20px; z-index: 6"><i class="fas fa-plus"></i></a>
		<div id="timelinecursor" class="timelinecursor"></div>
		<div class="ruler" style="height: 66px;">
		#set( $added = 0)		
		#set( $space = 15)
		#set( $firstloop = true)
		
		#foreach($block in $timeline.getTicks())

			<div id="title_${added}"	class="graduation-title"   style="left: ${added}px">$block.getLabel()</div>
			#set( $added = $added + $space)

##if( $firstloop  == true)
			<div id="tick_${added}" 	class="graduation" style="left: ${added}px"></div>
			#set( $added = $added + $space)

			<div id="tick_${added}" 	class="graduation" style="left: ${added}px"></div>
			#set( $added = $added + $space)

			<div id="tick_${added}" 	class="graduation" style="left: ${added}px"></div>
			#set( $added = $added + $space)

##	#set( $firstloop = false)
###end

			<div id="tick_${added}" 	class="graduation" style="left: ${added}px"></div>
			
			<div id="middle_${added}" 	class="graduation middle" style="left: ${added}px"></div>


		#end
		<div class="bg" style="width:${added}px"></div>
		</div>
		<div style="position:absolute; right:0; top:20px; width:80px;">
			<a id="removetime" href="#" class="btn btn-primary" style="margin-left:0px; z-index:6;" ><i class="fas fa-angle-left"></i></a>
			<a id="addtime" href="#" class="btn btn-primary" style="margin-left:0px; z-index:6;" ><i class="fas fa-angle-right"></i></a>
		</div>
	</div>
	
</div>