.testclass {
  float: left;
}
.testclass canvas {
  overflow: 'scroll';
}
.testclass span {
  color: #fff000;
}
.testclass li {
  background: #abdcef;
  border-color: #72b3cc;
}
.testclass li a {
  color: #fff;
}
.testclass li a {
  color: #000000;
}
