<div id="edit$permission.name">

#set( $inparent = $context.getRequestParameter("inparent"))
#macro(showfilter2 $filter $inLevel $inTraverse)
$!context.putPageValue("filter", $filter)
$!context.putPageValue("traverse", $inTraverse)
$!context.putPageValue("level", $inLevel)

##SHOW THE PERMISSION
$pages.include("$apphome/components/rules/viewpermission.html", $context)
		#set($odd = ($inLevel % 2 > 0))

	<ul style="list-style: none;" class="list-group #if(!$odd) odd #end">
	#foreach( $child in $filter.filters)	
		
		#set( $level = $inLevel+1)
		#set( $zeroCount = $velocityCount+-1)
			    
		#set( $newtraverse = "${inTraverse}/${zeroCount}")
		<li class="list-group-item ">#showfilter2($child $level $newtraverse)</li>
	#end
	</ul>
</li>	
#end
	#set( $filter = $permission.rootFilter)
	#if ($filter)
		<form name="permissionedit" class="ajaxform" targetdiv="edit$permission.name" action="$home$apphome/components/rules/save.html">
			<input type="hidden" name="editPath" value="$editPath"/>
			<input type="hidden" name="name" value="$permission.name"/>
			<input type="hidden" name="inparent" value="$inparent"/>
			
			#set( $list = $searcherManager.getList("system","group"))
			$context.putPageValue("groups",$list)
			##macro starts here
		
			<ul style="list-style: none;" class="list-group">
		<li class="list-group-item">
			#showfilter2($filter 0 "0")
			</li>
			</ul>
			<p>
				<input class="btn" type="submit" value="[[Save]]" />
			##<a class="ajax btn red" targetdiv="edit$permission.name" href="$home$apphome/components/rules/cancel.html?name=$permission.name">[[Cancel]]</a>
			</p>	
		</form>
	#else
	 	$pages.include("$apphome/components/rules/addnewcondition.html", $context)
	 #end
</div>
