#set( $inparent = $context.getRequestParameter("inparent"))
		#if($filter.type == "Group" )
			Group =
			<select class="select2" name="condition.${traverse}.value">
				<option value="">[[select a group]]</option>
				#foreach( $group in $groups )
					#if ($filter.value && $group.id == $filter.value)
						<option selected value="$group.id">$group.name</option>
					#else
						<option value="$group.id">$group.name</option>
					#end
				#end
			</select>	
		#elseif($filter.type == "User" )
			#if( !$filter.value ) Any User #else Username = #end
		    <input name="condition.${traverse}.value" value="$!filter.value" />
		#elseif($filter.type == "Permission" )
			 Permission = <input name="condition.${traverse}.value" value="$!filter.permission" />
		#elseif($filter.type == "PageProperty"  || $filter.type == "PageValue" )
			$filter.type  <input name="condition.${traverse}.property" value="$!filter.property" />=<input name="condition.${traverse}.value" value="$!filter.getEquals()" />
		#elseif($filter.type == "And" )
			And:
		#elseif($filter.type == "Action" )
			#if($filter.conditiontype == "test")
						
						<input name="condition.${traverse}.field" value="maxattempts" type="hidden" />
						
						Max Attempts <input name="condition.${traverse}.maxattempts.value" value="$!filter.maxattempts" class="form-control"/>
			#elseif($filter.conditiontype =="score")
							Performance on Activity<br/>
							#set($testlist = $mediaarchive.getSearcher("testplan").getAllHits())
						<input name="condition.${traverse}.field" value="testplan" type="hidden"/>
						<select class="form-control select2" name="condition.${traverse}.testplan.value" value="testplan">
										<option value=""></option>
							#foreach($test in $testlist)
								<option value="$test.id" #if($filter.testplan == $test.id) selected #end >$test</option>
							#end
						</select>
						 <input name="condition.${traverse}.field" value="minscore" type="hidden"/>
						Minumum Score<input class="form-control" name="condition.${traverse}.minscore.value" value="$!filter.minscore" />
			
			
			#elseif($filter.conditiontype =="benchmode")
							Application Mode
							#set($testlist = $mediaarchive.getSearcher("testbenchsetting").getAllHits())
						<input name="condition.${traverse}.field" value="targetbenchmode" type="hidden"/>
						<select class="form-control select2" name="condition.${traverse}.targetbenchmode.value" >
										<option value=""></option>
							#foreach($test in $testlist)
								<option value="$test.id" #if($filter.targetbenchmode == $test.id) selected #end >$test</option>
							#end
						</select>
						
			
			
			#else
					
				Action: <input name="condition.${traverse}.name" value="$!filter.getActionName()" size="40" />
				<input name="condition.${traverse}.field" value="conditiontype" />=<input name="condition.${traverse}.conditiontype.value" value="$!filter.conditiontype" />
			#end
		#elseif($filter.type == "Or" )
			Or:
		#elseif($filter.type == "Not" )
			Not: 
		#elseif($filter.type == "UserProfile" )
			  $filter.toString()
		#elseif($filter.type == "Boolean" )
			<select name="condition.${traverse}.value">
				<option value="true" #if($!filter.isTrue()) selected #end>[[True]]</option>
				<option value="false" #if(!$!filter.isTrue()) selected #end>[[False]]</option>
			</select>
		#elseif($filter.type == "Question" )
			<input type="hidden" name="condition.${traverse}.field" value="id">
			<select class="form-control select2-dropdown select2" id="questionfilter" name="condition.${traverse}.id.value" >
			<option value=""></option>
			#foreach($node in $testplan.getPlanEntries())
				#set($question = $testbench.getQuestion($node.questionid))
				#if($question)
					<option value="$question.id" #if($filter.id == $question.id) selected #end >$question.getText()</option>
				#end
			
			#end
			

</select>
<div id="responsepicker">
#if($filter.id)
$pages.include("./responsedropdown.html?questionid=$filter.id", $context)
#end
</div>

<script type="text/javascript">
jQuery("#questionfilter").on("change", function(){
	var val = jQuery(this).val();
	jQuery("#responsepicker").load("$apphome/components/rules/responsedropdown.html?oemaxlevel=1&traverse=${traverse}&questionid=" + val );
});

jQuery(".select2-dropdown").select2();

</script>

		#elseif ($filter)
			
			$filter.type = $!filter.getValue()
		#end
		#if ($filter)
			<a class="ajax" targetdiv="edit$permission.name" href="$home$apphome/components/rules/removecondition.html?editPath=$editPath&traverse=${traverse}&name=$permission.name">
				<img src="$home/system/images/toolbar/deletefile.gif" border="0" /></a>
		#end
		
		<span id="add${permission.name}$traverse">	 
		#if( $filter.isContainer())
		 	<a class="ajax btn" targetdiv='add${permission.name}$traverse' href="$home$apphome/components/rules/addnewcondition.html?editPath=$editPath&name=$permission.name&traverse=$!traverse">[[Add Child]]</a>
		#elseif( $filter.isDelegator() && !$filter.filter )
		 	<a class="ajax" targetdiv='add${permission.name}$traverse' href='$home$apphome/components/rules/addnewcondition.html?editPath=$editPath&name=$permission.name&traverse=$!traverse'>[[set child]]</a>
		#end
		</span>
