#set($reportsearcher = $mediaarchive.getSearcherManager().getSearcher("system","reports"))
#set($reportlist = $reportsearcher.fieldSearch("dashboard" , "true"))


<div class="dashboard">
	<div class="container-fluid">
	
	<div class="row">
	#foreach($report in $reportlist)
	<div class="col-md-6 ">
	<div class="card panel-default">
	  <div class="card-header">$report 
	  <a class="float-right" href="$apphome/views/dashboard/executefinish.html?reportid=${report.id}"><i class="fas fa-search"></i></a>
	  </div>
	  <div class="card-body">
	$pages.include("$apphome/components/reports/showreport.html?reportid=$report.id&cache=false")
	
	  </div>
	</div>
	</div>
	#end
	</div>
	
	</div>
</div>