##needs 	$hits $resultsPage  $targetdiv

#set($reloadsearchtype = "chatterbox")
#set($updateurl = "false")
#set($oemaxlevel = "1")
#set($targetdiv = "chatterboxmessages")

#set($totalPages = $hits.getTotalPages() )
#set($currentpage = $context.getRequestParameter("currentpagenum"))

#set( $prhits = $hits.getPositionRender() )
#ifnotnull($currentpage)
	$prhits.setPageOneBased($currentpage)
#end

##set($links = $prhits.links())
##set( $selectedpos2 = $prhits.toPosition($prhits.getPage()))

#set($selectedpos_ = $context.getRequestParameter("position"))
#ifnull($selectedpos_)
	#set($selectedpos_ = $totalPages)
#end
#set( $selectedpos = $prhits.toPosition($selectedpos_))


#if($totalPages> 1)
<div class="resultspositions" 
	data-categoryid="$!categoryid"
	data-hitssessionid="$!hits.getSessionId()" 
	data-searchtype="$!hits.getSearchType()" 
	data-currentpagenum="$prhits.getPage()">

	
	<span>
		[[Page]]
		$selectedpos
		[[of]]
		<a class="ajax pl-1 pr-2" 
			data-targetdiv="$targetdiv" 
			data-updateurl="$!updateurl"  
			data-oemaxlevel="$oemaxlevel" 
			data-position="$selectedpos"  
			href="$resultsPage=$totalPages">$totalPages</a>
	</span>
	#set($prev = $selectedpos - 1)
	$prev
	<a class="ajax #if($prev <= 0) disabled #end px-2" 
		data-targetdiv="$targetdiv" 
		data-updateurl="$!updateurl"  
		data-oemaxlevel="$oemaxlevel" 
		data-position="$prev"  
		title="[[Previous]]"
		href="$resultsPage=$prev">
		<i class="fas fa-chevron-left"></i>
	</a>

	#set($next = $selectedpos + 1)
	<a class="ajax #if($next > $totalPages) disabled #end px-2" 
		data-targetdiv="$targetdiv" 
		data-updateurl="$!updateurl"  
		data-oemaxlevel="$oemaxlevel" 
		data-position="$next"  
		title="[[Next]]"
		href="$resultsPage=$next">
		<i class="fas fa-chevron-right"></i>
	</a>
</div>
#end