#set($chatterboxhome = $page.chatterboxhome)
$context.putPageValue("chatterboxhome", $chatterboxhome)

#if(!$chat)
	#set($chatid = $context.getRequestParameter("messageid"))
	#set($chat = $mediaarchive.getData("chatterbox",$chatid))
#end
<div id="chatter-message-$chat.id" class="message-edit-box">

<form class="chatter-edit-form ajaxform"  method="post"	 
	action="${chatterboxhome}/editsave.html"
	data-targetdiv="chatter-message-$chat.id">
	<input type="hidden" name="searchtype" value="chatterbox" />
	<input type="hidden" name="chatid" value="$chat.id" />
	<input type="hidden" name="channel" value="$!currentchannel.id" />
	<!-- <strong>[[Edit Message]]</strong> -->
	<div class="chatterbox-write" style="position: relative;">
		<textarea class="chatter-msg-edit" data-replytoid="$!chat.replytoid" name="chatter-msg">$!{chat.message}</textarea>
	</div>
	
	<a href="#" class="btn btn-sm btn-primary chatter-save me-1">
		<i class="fas fa-save me-1"></i> [[Save Edit]]
	</a>
	<a href="${chatterboxhome}/editsave.html?chatid=$chat.id&channel=$!currentchannel.id" class="btn btn-sm btn-light ajax" data-targetdiv="chatter-message-$chat.id">[[Cancel]]</a>

</form>
</div>
