<div id="chatterbox-write" class="chatterbox-write">
	#set( $replytoid = $context.getRequestParameter("replytoid"))
	#ifnotnull($replytoid)
		#set( $otherchat = $mediaarchive.getCachedData("chatterbox",$replytoid))
		#set( $otherchatuser = $mediaarchive.getUser($otherchat.user) ) 
		<div class="chatterboxreplyto">
			<div class="d-flex align-items-center justify-content-between">
				<p class="m-0">
					<span><i class="fas fa-quote-left"></i> [[Replying to]]</span> 
					<a href="#esc($userlink)" title="$context.getDateTime($otherchat.date)">
						<strong>$otherchatuser.getAnonNickName()</strong>
					</a>
				</p>
				<button class="btn" title="[[Cancel Reply]]" id="chatterboxreplycancel">
					<i class="fas fa-times text-muted"></i>
				</button>
			</div>
			<div class="msg-body">
				$url_util.escapeMessage($otherchat.message)
			</div>
		</div>
	#end
	<div class="position-relative w-100 chatterbox-editorarea">
		<textarea class="chatterbox-text chatter-text flex-1 grabfocus" id="chatter-msg" data-replytoid="$!replytoid" placeholder="[[Message]]" autofocus></textarea>
		
		<div class="chatterbox-editactions">
			<div class="d-flex align-items-center">
				<div class="position-relative">
					<div id="emojipicker"></div>
					<a class="btn chatter-emoji"
						href="${chatterboxhome}/emojipicker.html"
						data-oemaxlevel="1"
						data-targetdivinner="emojipicker"
						title="[[Emoji]]">
						<i class="far fa-smile"></i>
					</a>
				</div>
				#if(!$page.chatattachmentsdisabled && $permissions.canModule($module, "chat_add_attachments"))
					<div class="position-relative">
						<div id="attachfileonchat" class="attachfileonchat"></div>
						<a class="btn chatter-attachfile"
							href="${chatterboxhome}/attach.html"
							data-oemaxlevel="1"
							data-targetdivinner="attachfileonchat"
							data-channel="$!currentchannel.getId()"  
							#if($librarycol.getId())data-collectionid="$librarycol.getId()"#end
							data-messageid="X"
							data-allowclose="true"
							title="[[Attachments]]">
							<i class="fas fa-paperclip"></i>
						</a>
					</div>
					
				#end
			</div>
			<button class="btn chatter-btn chatter-send" data-command="messagereceived" type="button">
				[[Send]] <i class="fas fa-paper-plane"></i>
			</button>
		</div>
	</div>
</div>
