<div class="d-flex align-items-center px-2 chatter-checkboxes">
  <span class="text-muted mr-2">[[Include in query]]:</span>
  <div class="checkbox-bar">

    <input type="checkbox" id="marketingassets" name="marketingassets" value="true" checked>
    <label for="marketingassets"><i class="bi bi-image-fill mr-1"></i> Marketing Assets</label>

    <input type="checkbox" id="bankaccounts" name="bankaccounts" value="true" disabled>
    <label for="bankaccounts"><i class="bi bi-coin mr-1"></i> Bank Accounts</label>

  </div>
</div>