<div id="indexstatuschecker"  
  class="ajaxstatus"
  data-entityid="$entity.id"
  data-moduleid="$module.id"
  #if($refresh)
    data-ajaxrunning="true"
  #else
    data-ajaxstatuscomplete="true"
  #end
  data-oemaxlevel="1"
  data-interval="5000"
  data-chatterboxhome="$chatterboxhome"
  data-ajaxpath="${chatterboxhome}/guidebar.html">

  <div class="chatter-guides">
    <span class="text-muted mr-2">[[Using records from]]:</span>
    #foreach($status in $statuses)
      <span class="chatter-guide #if($status.isReady()) success #end mr-2">
        #if($status.isReady())
          <i class="bi bi-check-lg mr-1"></i> #text($status.getViewData()) <span>($status.getCountTotal())</span>
        #else
          <i class="fas fa-spinner fa-spin mr-1"></i> #text($status.getViewData()) <span>($status.getCountPending() / $status.getCountTotal())</span>
        #end
      </span>
    #end
  </div>

</div>
