
#set($tabid = "tabworkflowchat")
<div id="${tabid}" 
	class=" entity-tab-content entity-tab-chatterbox h-100" 
	data-tabid="$!{tabid}"
	data-entityid="$!entityid"
	data-moduleid="$!module.getId()"
	data-currenttab="$!viewid"
	data-url=""
>
	<div class="chatterbox"
	data-entityid="$!entityid"  
	data-moduleid="$!module.getId()"
	data-renderurl="${edithome}/index.html" 
	data-rendermessageurl="${edithome}/message.html"
	data-channel="$!{currentchannel.getId()}" 
	data-channeltype="community" 
	data-user="$!{user.id}" 
	data-catalogid="$!{catalogid}"
	data-broadcastall="true">
		
		$pages.include("${edithome}/messages.html", $context)				
					
		#if( $permissions.canModule($module, "chat_send_messages"))
				$pages.include("${edithome}/editarea.html", $context)				
		#end
	
	
	</div>
</div>