#set($chatterboxhome = $page.chatterboxhome)
$context.putPageValue("chatterboxhome", $chatterboxhome)
#set($moduleid = $module.getId())
#ifnull($moduleid)
#set($moduleid = $page.module) 
#end
<div class="chatterbox"
	##data-entityid="$!entity.id"  
	data-moduleid="$!moduleid"
	data-renderurl="${chatterboxhome}/index.html" 
	data-rendermessageurl="${chatterboxhome}/message.html"
	data-channel="$!{currentchannel.getId()}" 
	data-channeltype="$!{channeltype}" 
	data-user="$!{user.id}" 
	data-catalogid="$!{catalogid}"
	data-broadcastall="true">
	
		$pages.include("${chatterboxhome}/messages.html", $context)				
		
		###if($module && $permissions.canModule($module, "chat_send_messages"))
				$pages.include("${chatterboxhome}/editarea.html", $context)				
		###end
	
	
	</div>
