<div class="chat-msg-listattachments">
$context.putPageValue("thumbsize", "small")
#if($otherassets.size() > 1)
	$context.putPageValue("thumbsize", "crop")
#end
#foreach($entry in $otherassets)
	$context.putPageValue("value", $entry.id)
	<div class="chat-msg-attachments-asset position-relative">
		#if($chat.user == $user.id )
		<a href="#" 
			class="removefieldassetvalue"
			title="[[Remove This Asset]]" 
			data-targetdivinner="${entry.id}-preview"
			><i class="bi bi-x"></i></a>
		#end
		
		#ifnull($searchhome)
			#set($searchhome = "${finderhome}/views/modules/default/results/default")
			$context.putPageValue("searchhome", $searchhome) 
		#end
		$pages.include("${finderhome}/views/modules/${module.id}/components/xml/types/assetpicker/preview.html?assetid=${entry.id}", $context)
	</div>
#end
</div>

