#set($chatterboxhome = $page.chatterboxhome)
$context.putPageValue("chatterboxhome", $chatterboxhome)

#set($channel = $context.getRequestParameter("channel"))
#set($collectionid = $context.getRequestParameter("collectionid"))

#set($resultsPage = "${chatterboxhome}/showpage.html?chatterboxhitssessionid=${messagesthitracker.sessionId}&channel=$!currentchannel.id&pageposition")

$context.putPageValue("hits",$messagesthitracker)
$context.putPageValue("resultsPage",$resultsPage)
$context.putPageValue("targetdiv","chatloadmore")
$context.putPageValue("oemaxlevel","2")


<div id="chatterboxmessages" class="chatterbox-messages" style="#if(!$user) height: 100%; #end">
		
		##$pages.include("${apphome}/views/modules/defualt/chatpositions.html", $context)
	
	
		$pages.include("${chatterboxhome}/chatpositions.html", $context)
		
		<div class="chatterbox-container">
			<div class="chatterbox-body-inside">
				<div class="chatterbox-message-list">
						#foreach($chat in $messages)
							$context.putPageValue("chat",$chat) 
							$pages.include("${chatterboxhome}/message.html", $context)											
						#end
				</div>
				<div id="newmessagearea"></div>
				<div class="chatterspinner" style="display: none;"><strong>[[Processing]]...</strong></div>
			</div>
		</div>
	</div>

