#set($channel = $context.getRequestParameter("channel"))
#set($collectionid = $context.getRequestParameter("collectionid"))

#set($resultsPage = "${edithome}/messages.html?hitssessionid=${messagesthitracker.sessionId}&channel=$!currentchannel.id&channel=$channel&pageposition")

$context.putPageValue("hits",$messagesthitracker)
$context.putPageValue("resultsPage",$resultsPage)
$context.putPageValue("targetdiv","chatloadmore")
$context.putPageValue("oemaxlevel","2")


<div id="chatterboxmessages" class="chatterbox-messages">
		$pages.include("${edithome}/chatpositions.html", $context)
		<div class="chatterbox-container">
			<div class="chatterbox-body-inside">
				<div class="chatterbox-message-list">
						#foreach($chat in $messages)
							$context.putPageValue("chat",$chat) 
							$pages.include("${edithome}/message.html", $context)				
						#end
				</div>
				<div id="newmessagearea"></div>
			</div>
		</div>
	</div>

