<ul class="ltr">
			<li class="open" id="phtml_1"><a href="#" class="undetermined"><ins>&nbsp;</ins>Root node 1</a>
				<ul>
					<li id="phtml_2" class="leaf"><a href="#" class="clicked checked"><ins>&nbsp;</ins>Child node 1</a></li>
					<li id="phtml_3" class="leaf"><a href="#"><ins>&nbsp;</ins>Child node 2</a></li>
					<li id="phtml_4" class="last leaf"><a href="#"><ins>&nbsp;</ins>Some other child node with longer text</a></li>
				</ul>
			</li>
			<li id="phtml_5" class="closed"><a href="#" ><ins>&nbsp;</ins>Root node 2</a>
				<ul>
					<li id="phtml_22" class="leaf"><a href="#" class="clicked checked"><ins>&nbsp;</ins>Child node 1</a></li>
					<li id="phtml_23" class="leaf"><a href="#"><ins>&nbsp;</ins>Child node 2</a></li>
					<li id="phtml_24" class="last leaf"><a href="#"><ins>&nbsp;</ins>Some other child node with longer text</a></li>
				</ul>
			</li>	
		</ul>	


<ul class="ltr">
<ul>
	<li id="index" class="last open"><a href="index"><ins>&nbsp;&nbsp;</ins>Videos</a>
		<ul style="">
							<li class="leaf" id="users">    <ins>&nbsp;&nbsp;</ins><a href="users">users</a>
				</li>
				<li class="leaf" id="1316704738665">    <ins>&nbsp;&nbsp;</ins><a href="1316704738665">Videos</a>
				</li>
				<li class="leaf last" id="1109">    <ins>&nbsp;&nbsp;</ins><a href="1109">1109</a>
				</li>
				</ul>
	</li>
</ul>
</ul>