#set( $rootpath = "${apphome}/components/categorize")

#set( $params = $context.getRequestParameters("selected") )

#set( $selected = "")
#foreach( $val in $params)
	#set( $selected = "selected=$val&$selected" )
#end
<div class="dynamictree" style="overflow:auto;" >

</div>

<div id="log"></div>
<script type="text/javascript">
jQuery(document).ready(function() {
	var first = false;
	
	$(".dynamictree").jstree({ 
		"plugins" : [ "themes", "html_data", "checkbox", "ui" ],
		checkbox: {
      	  "real_checkboxes": true,
      	  "real_checkboxes_names": function (n) { return ["category.value", n.attr("id")]; }
        },
        "html_data" : {
           "ajax" : {
                "url" : "$rootpath/jstree/categories_wparams.html?$selected",
                "data" : function (n) {
                    return { id : n.attr ? n.attr("id") : 0 };
                }
            }
		}
	});
	
});

</script>