<div style="padding-top:20px;">
<div class="ui-widget uipanel" style="margin:0 20px 20px 20px;">
    <div class="ui-widget-header">[[Add Media]]</div>
    <div class="ui-widget-content">

<div class="row" style="max-width: 800px;margin: auto;">
#if( $canviewupload)
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <a href="$home$apphome/views/upload/index.html"><img  src="./upload/add.png" style="height: 100px; width: 100%; display: block;"></a>
      <div class="caption">
        <h3>[[Upload Media]]</h3>
        <p>[[Upload media from local file system or camera]]</p>
        <p><a href="$home$apphome/views/upload/index.html" class="btn btn-default" role="button">[[Next]]</a></p>
      </div>
    </div>
    </div>
  #end	
  #if( $cancreatenewrecord)
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <a href="./url/start.html" ><img  src="./url/add.png" style="height: 100px; width: 100%; display: block;"></a>
      <div class="caption">
        <h3>[[Add Remote Media]]</h3>
        <p>[[Create media assets from a URL or Embed code]]</p>
        <p><a href="./url/start.html" class="btn btn-default" role="button">[[Next]]</a></p>
      </div>
    </div>
    </div>
  <div class="col-sm-6 col-md-3">
     <div class="thumbnail">
	<a href="./data/newdatastart.html"> <img  src="./data/add.png" style="height: 100px; width: 100%; display: block;"></a>     
	 <div class="caption">
        <h3>[[Empty Data Record]]</h3>
        <p>[[Create empty data records then attach media later]]</p>
        <p><a href="./data/newdatastart.html" class="btn btn-default" role="button">[[Next]]</a></p>
      </div>
    </div>
	    </div>
  #end
  #if( $cancreatelivemedia)
  <div class="col-sm-6 col-md-3">
     <div class="thumbnail">
       <a href="./video/newvideostart.html" ><img  src="./video/add.png" style="height: 100px; width: 100%; display: block;"></a>  
       <div class="caption">
        <h3>[[Live Video Stream]]</h3>
        <p>[[Make a live stream recording from your webcam]]</p>
        <p><a href="./video/newvideostart.html"  class="btn btn-default" role="button">[[Next]]</a></p>
      </div>
    </div>
   </div> 
  #end  
  </div>
</div>

	
	</div>
</div>
</div>
