<div class="ui-widget uipanel" style="margin: 20px;">
    <div class="ui-widget-header">[[Live Media]]</div>
    <div class="ui-widget-content">

<div class="row" style="max-width: 800px;margin: auto;">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img  src="./url/add.png" style="height: 150px; width: 100%; display: block;">
      <div class="caption">
        <h3>Add Media URL</h3>
        <p>Create Assets based on a URL to the media itself</p>
        <p><a href="./url/start.html" class="btn btn-default" role="button">Next</a></p>
      </div>
    </div>
    </div>
  <div class="col-sm-6 col-md-4">
     <div class="thumbnail">
	 <img  src="./data/add.png" style="height: 150px; width: 100%; display: block;">     
	 <div class="caption">
        <h3>Data Only</h3>
        <p>Create empty records then attach media later</p>
        <p><a href="./data/newdatastart.html" class="btn btn-default" role="button">Next</a></p>
      </div>
    </div>
	    </div>
  <div class="col-sm-6 col-md-4">
     <div class="thumbnail">
       <img  src="./video/add.png" style="height: 150px; width: 100%; display: block;">
       <div class="caption">
        <h3>Live Video Stream</h3>
        <p>Make a live stream recording from your webcam</p>
        <p><a href="./video/newvideostart.html"  class="btn btn-default" role="button">Next</a></p>
      </div>
    </div>
   </div> 
    
  </div>
</div>

	
	</div>
</div>
