body {
    margin: 0;
    padding: 0;
	background-color: #0e0e0f;
}

td
{
  margin: 0;
    padding: 0;
}
#homecontent
{
	width: 1220px;
	margin: auto;
}
#emcontainer
{
	margin-top: 40px;
}

#emcontainer #emcontentwithside {
	min-height:566px; /*ff*/
	height: auto !important; /*ie7 */
	padding: 0px 20px 0px 100px;
	
}

.welcomepage
{
	padding-top: 10px;
	padding-left: 131px; 
	max-width: 975px;
}
/*********************************
	Navigation Menu
*********************************/
.embody #nav .emtable .row .menulink
{
	text-decoration: none;
	text-transform:uppercase;
	color: #0e0e0f;
	font-weight: bold;
	padding-right: 8px;
	font-size: 8pt;
}

.embody #nav .emtable .row .menulink:hover
{
	color: #CC0717;
}


#topnav form
{
	margin-right:5px; 	
}
#topnavwelcome
{
	background: url(../images/appstore/header.png); 
	height: 170px;
	width: 1220px;
	margin: auto auto;
	text-align: center;
	background-repeat: no-repeat;
	
}
#navcontent
{
	background: url(../images/appstore/header2.png); 
	height: 115px;
	text-align: center;
	background-repeat: no-repeat;
	margin-left: 100px;
}

#topnav
{
	background: url(../images/appstore/header2.1.png); 
	background-repeat: repeat-x;
}

#logo {
	float: left;
	width: 260px;
	height: 60px;
	position:absolute;
	top: 0px;
	left: 0px;
}

#logo A {
	margin-top: 20px;
	margin-left: 40px;
	display: block;
	width: 200px;
	height: 40px;
	padding: 0;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
}
#nav {
	margin: 0;
	padding:0;
}

#emtopmenu
{
	float:right;
    white-space: nowrap;
    margin: 0px 160px 0px 0px;

}
#logo A span
{
	display: none;
}
#topnav img
{
	vertical-align:middle; 
	margin-right:3px;
}
#topnav #topnavsearch
{
	float:right;
    margin: 100px 0px 0px 0px;
	
	display:block;
	padding: 4px 12px 0px 0px;

}
#topnav #topnavsearch input
{
	border: 1px solid black;
}

.ui-widget {
    margin: 0 auto;
}

.ui-panel 
{
    margin-bottom: 20px;
    padding: 0;   
}

.ui-widget-header {
    background: none repeat scroll 0 0 #93463b;
    color: #FFFFFF;
    font-size: 1.2em;
    padding: 5px 0 10px 5px;
    margin: 0;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
	border-top: 2px solid #93463b;
    border-left: 6px solid #93463b;
    border-right: 6px solid #93463b;

}

.ui-widget-content 
{
	-webkit-box-shadow: inset -5px -5px 20px #0e0e0f;
	box-shadow: inset 0px 5px 5px #888;
	min-height: 100px;
	overflow: hidden;
	padding: 16px 20px 4px 20px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
	border-bottom: 2px solid #901a1d;
    border-left: 2px solid #901a1d;
    border-right: 2px solid #901a1d;
    background-color: white;

}


.ui-panel-secondary 
{
    margin-bottom: 20px;
    padding: 0;   
     
}

.ui-panel-secondary-header {
    background: none repeat scroll 0 0 #d6a54c;
    color: #FFFFFF;
    font-size: 1.1em;
    padding: 2px 0 6px 3px;
    margin: 0;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
	border-top: 2px solid #d6a54c;
    border-left: 6px solid #d6a54c;
    border-right: 6px solid #d6a54c;

}

.ui-panel-secondary-content 
{
	min-height: 100px;
	overflow: hidden;
	padding: 16px 20px 4px 20px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
	border-bottom: 1px solid #0e0e0f;
    border-left: 1px solid #0e0e0f;
    border-right: 1px solid #0e0e0f;
    background-color: white;

}


.emslidesheet
{
	
	
}

.emslidesmall
{
   float: left;
   margin-bottom: 4px;
   padding: 0 0px 0 0;
    height: 100px;
    width: 160px;
}


#nav ul {
	margin:0;
	padding:0;
	list-style:none;
	width: 100%;
}
#nav li {
	padding: 3px 8px;
	float: right;
	font-size: 85%;
	display: block;
}
#nav li a {
	text-decoration: none;
	color: #white;
	font-weight: bold;
	display: block;
	text-transform:uppercase;
}
#nav li a:hover, #nav li a:active, #nav li a:focus {
	color: #cc0717;
	text-decoration: none;
}

/* I added the following three which have all the styles pulled from the html. 
   I also moved some of the styles from the li to the li a so the whole menu 
   item/button is a link.  Wider buttons are easier to click!! */

/* ----- */
#nav ul.emactionsheadermenu { 
	z-index:600; 
	position:absolute;	
	list-style-type: none; 
	margin: 1px 0; 
	padding: 0px;	
	width: 176px;	
	border: 1px solid #9A9A9A; 
	xcolor: #999999;	
	
	text-align:left; 
	background-color: #F7F7F7;
}

#nav ul.emactionsheadermenu li { 
	display: block; 
	border-top: 1px solid white; 
	margin: 0px;
}
#nav ul.emactionsheadermenu li a {
	padding: 4px 0px; 
	width: 160px;
	display: block;
	text-decoration: none; 
	color: #9A9A9A;
}

#nav li a {
	text-decoration: none;
	color: white;
	font-size: 95%;
	font-weight: bold;
	display: block;
}

.defaulttext
{
	font-style: italic;
	color: #a1a1a1;
	width:150px;
}
