<!-- fabric formatting stuff... probably does not belong here -->


    <ul class="annotations-toolbar">
        <li ng-click="selectTool('move')" ng-class="{ 'active': currentTool.name == 'move' }">
            <svg class="icon icon-move" viewBox="0 0 32 32"><use xlink:href="#icon-move"></use></svg>
        </li>
        <li ng-click="selectTool('draw')" ng-class="{ 'active': currentTool.name == 'draw' }">
            <svg class="icon icon-draw" viewBox="0 0 32 32"><use xlink:href="#icon-draw"></use></svg>
        </li>
        <li ng-show="shapeToolType == 'rectangle'" ng-click="setShapeTypeFromUi('rectangle')" ng-class="{ 'active': currentTool.name == 'shape' }">
            <svg class="icon icon-rectangle" viewBox="0 0 32 32"><use xlink:href="#icon-rectangle"></use></svg>
            <ul class="tool-options">
                <li ng-click="setShapeTypeFromUi('circle')">
                    <svg  class="icon icon-circle" viewBox="0 0 32 32"><use xlink:href="#icon-circle"></use></svg>
                </li>
            </ul>
        </li>
        <li ng-show="shapeToolType == 'circle'" ng-click="setShapeTypeFromUi('circle')" ng-class="{ 'active': currentTool.name == 'shape' }">
            <svg class="icon icon-circle" viewBox="0 0 32 32"><use xlink:href="#icon-circle"></use></svg>
            <ul class="tool-options">
                <li ng-click="setShapeTypeFromUi('rectangle')">
                    <svg  class="icon icon-rectangle" viewBox="0 0 32 32"><use xlink:href="#icon-rectangle"></use></svg>
                </li>
            </ul>
        </li>
        <li ng-click="selectTool('arrow')" ng-class="{ 'active': currentTool.name == 'arrow' }">
            <svg class="icon icon-arrow" viewBox="0 0 32 32"><use xlink:href="#icon-arrow"></use></svg>
        </li>
        <li ng-click="selectTool('text')" ng-class="{ 'active': currentTool.name == 'text' }">
            <svg class="icon icon-text" viewBox="0 0 32 32"><use xlink:href="#icon-text"></use></svg>
        </li>
        <li ng-click="selectTool('zoom')" ng-class="{ 'active': currentTool.name == 'zoom' }">
            <svg class="icon icon-zoom-in" viewBox="0 0 32 32"><use xlink:href="#icon-zoom-in"></use></svg>
        </li>
        <li ng-click="selectTool('comment')" ng-class="{ 'active': currentTool.name == 'comment' }">
            <svg class="icon icon-comment" viewBox="0 0 32 32"><use xlink:href="#icon-comment"></use></svg>
        </li>
        <li ng-click="exportCanvas()">
            <svg class="icon icon-load-images" viewBox="0 0 32 32"><use xlink:href="#icon-load-images"></use></svg>
        </li>
        <li class="last colorpicker-li">
            <div colorpicker colorpicker-position="bottom" ng-model="colorpicker.hex" colorpicker class="clearfix">
            <svg fill="{{colorpicker.hex}}" class="icon icon-colorpicker" viewBox="0 0 32 32"><use xlink:href="#icon-colorpicker"></use></svg>
            </div>
        </li>

        <!--
        <li class="comment" ng-click="selectTool('comment')"><span class="icon glyphicon glyphicon-pushpin"></span></li>
        <li class="colorpicker" ng-click="selectTool('colorpicker')"><span class="icon glyphicon glyphicon-tint colorpicker"></span></li>
        <li class="comments"><span class="icon glyphicon glyphicon-comment"></span><span class="additional-info">{{comments.length}}</span></li>
        <li class="approved"><span class="icon glyphicon glyphicon-thumbs-up"></span><span class="additional-info">{{getApprovals().length}}</span></li>
        <li class="rejected"><span class="icon glyphicon glyphicon-thumbs-down"></span><span class="additional-info">{{getRejections().length}}</span></li>
        -->
    </ul>
    <div class="row">
        <div class="col-md-9">
            <div class="canvas-holder">
                <canvas id="annotation_canvas" class="annotations-canvas" width="800" height="600"></canvas>
            </div>
            <div class="annotations-carousel">
                <ul>
                    <li class="previous">
                        <svg class="icon icon-arrow-left" viewBox="0 0 32 32"><use xlink:href="#icon-arrow-left"></use></svg>
                    </li>
                    <li ng-repeat="thumb in thumbs" class="thumb clearfix" ng-class="{'active': currentAnnotation.annotation.id === thumb.id}">
                    	<a ui-sref="app.annotations.details({annotationID: thumb.id})">
                            <img ng-src="{{thumb.src}}"></img>
                        </a>
                    </li>
                    <li class="next icon-arrow-right">
                        <svg class="icon icon-arrow-right" viewBox="0 0 32 32"><use xlink:href="#icon-arrow-right"></use></svg>
                    </li>
                </ul>
            </div>
            <h3>{{currentAnnotation.annotation.name}}</h3>
        </div>
        <div class="col-md-3">
            <ul class="comment-list">
                <li class="user-input clearfix" ng-show="readyToComment">
                    <form id="annotation-input">
                        <textarea id="user-comment-input" name="user-input" rows="8" cols="40" ng-model="newCommentText"></textarea>
                        <div class="pull-right">
                            <button name="user-add-comment" class="btn btn-danger" ng-click="cancelComment()">Cancel</button>
                            <button type="submit" name="user-add-comment" class="btn btn-primary" ng-click="addComment()">Add Comment</button>
                        </div>
                    </form>
                </li>
                <li class="separator" ng-show="readyToComment"></li>
                <li ng-repeat="annotation in annotations" class="comment {{annotation.comment.type}}">
                    <div ng-switch="annotation.comment.type">
                        <div ng-when="normal">
                            <div class="comment-holder">
                                <div class="user-gravatar">
                                    <img ng-src="http://www.gravatar.com/avatar/{{annotation.user.email}}" alt="" />
                                </div>
                                <div class="comment-content">
                                    <strong>{{annotation.user.name}}</strong>
                                    <p>
                                        {{annotation.comment.text}}
                                    </p>
                                    </div>
                                </div>
                                <div class="comment-meta">
                                    <span class="comment-id">{{annotation.id}}</span>
                                    <button ng-click="removeComment(annotation.id)">remove</button>
                                    <span class="comment-timestamp pull-right">{{annotation.comment.timestamp}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
