<div class="panel panel-default printpanel" >
  <div class="panel-heading">
    <h3 class="panel-title">$asset</h3>
  </div>
  <div class="panel-body">
  	#set( $type = $mediaarchive.getMediaRenderType($asset.fileFormat))
				$context.putPageValue("cell", $asset)
  
					$pages.include("${apphome}/components/results/thumbnails/${type}.html", $context)
  	$context.putPageValue("searcher", $mediaarchive.getAssetSearcher())	 
	$context.putPageValue("data", $asset)	 
	$context.putPageValue("view", "asset/print")	
	$pages.include("/${applicationid}/components/xml/bootstrapdetaileditor.html?detailsreadonly=true", $context)
  
  
  </div>
</div>


