<div  id="search-collections" >
	<div id="searcharea" >
	#set( $searcher = $mediaarchive.getSearcher("librarycollection") )
	$context.putPageValue("searcher",$searcher)
	#set($viewid = "librarysearchcollection")
	#set($viewpath = "librarycollection/${viewid}")
	#set($details = $searcher.getDetailsForView($viewpath, $userprofile))
	#set( $hitssessionid = $context.getRequestParameter("hitssessionid"))
	#if( $hitssessionid)
		#set( $hits = $context.getSessionValue($hitssessionid))
		#if( $hits && $hits.getSelectionSize() > 0)	
			<div class="alert alert-info">
		  		<strong>[[Adding]]</strong> $hits.getSelectionSize() [[assets to collection]]
			</div>
		#end	
	#end
	<form  id="colsearchform" class="autosubmit"  data-targetdiv="collectionresultsdialog" action="$home$apphome/components/opencollections/searchcollectionresults.html">
	
		<input type="hidden" name="searchtype" value="librarycollection" />
		<input type="hidden" name="sortby" value="name" />
		<table class="" style="width:100%;">
		<tr>
		<td>

		<div  class="row inlinesearch" >
		$context.putPageValue("autocomplete","off")
			#foreach( $detail in $details)
			<div class="col">
					$context.putPageValue("detail", $detail)
					$pages.include("/${applicationid}/components/advancedsearch/detaileditinline.html", $context)
			</div>
			#if( $counter == 4)
				</div>
				<div  class="row" >
			#end	
			#end
		</div>	
		</td>
		#if($canaddnewcollection || $canedittablecolumns)
		<td style="width:120px; padding:0; position:relative">
			#if( $canedittablecolumns )
			<a style="position:absolute; top:3px; right:3px;"
				class=" edit-icon"
				href="$apphome/views/settings/modules/librarycollection/metadata/viewssystem/index.html?viewid=${viewid}&viewpath=${viewpath}"
				title="[[Edit Search Form Fields]]">
			<i class="fas fa-edit"></i>
			</a>
			#end
			<a class="ajax btn btn-sm btn-primary" 
				title="[[Add New Collection]]" style="white-space: nowrap; margin:-10px 0 0 5px;" targetdiv="colsearchform" data-searchtype="librarycollection" data-oemaxlevel="1" 
				href="$home$apphome/components/opencollections/pickcollectionaddnew.html?hitssessionid=$!hitssessionid">[[New Collection]]</a>
		</td>
		#end
		</tr>
		</table>
	</form>
	
	
	<div id="collectionresultsdialog">
		$pages.include("$apphome/components/opencollections/searchcollectionresults.html",$context)
	</div>
	
	</div>
<script>
lQuery("#collectionresultsdialog .rowclick").livequery("click", function(e) {
	$(this).closest(".modal").modal("hide");
	var rowid = $(this).attr("rowid");
	#set($hitsselected = $hits.getSelectionSize())
	#if(  $hits &&  $hitsselected > 0 )	
		var nextpage = '$home$apphome/views/modules/librarycollection/media/addtocollection.html?collectionid=' + rowid + '&hitssessionid=$hits.sessionId';
	#else	
	    var nextpage = '$home$apphome/views/modules/librarycollection/media/' + rowid + '.html';
	#end   
	//$("#left-col-opencollections").load(nextpage);
	//console.log(${hitsselected});
	window.location.href = nextpage;


});
</script>
</div>	
