#if ( $canviewopencollections)
<div class="ui-widget uipanel" id="left-col-opencollections" >
	<div  #if($userprofile.minimizeopencollectionscontent == "false" && $cantogglesidebar) class="ui-widget-header sidetoggle expanded" 
		  #elseif($cantogglesidebar) class="ui-widget-header sidetoggle" 
		  #else class="ui-widget-header" #end 
		data-target="opencollectionscontent">
		<span class="widget-header-title">[[ Collections]]</span>
		<span class="widget-header-right">
			<a class="emdialog sidebarsubmenu" title="[[Collection Search]]" data-hidefooter="true" href="$home$apphome/components/opencollections/searchcollection.html"><i class="fas fa-search"></i></a>
			<i class="fas fa-angle-down ui-widget-toggle"></i>
		</span>
	</div>
	<div  class="ui-widget-content"  id="opencollectionscontent" #if($userprofile.minimizeopencollectionscontent == "true" && $cantogglesidebar) style="display: none;" #end>

	<div class="opencollections">
	<ul>
		
	 #if($canaddtofavorites)
		#set( $collection = $mediaarchive.getProjectManager().getFavoritesCollection($user) )
		#if( $librarycol && $collection.getId() == $librarycol.id )
				#set( $selected = true )
			#end
		<li class="librarycollectiondroparea #if ($selected ) selected #end"
				data-dropsaveurl="$home$apphome/components/opencollections/addassettocollection.html"
				data-collectionid="$collection.getId()"
				data-targetdiv="left-col-opencollections"
			>
				<div class="collectionrow">
					<a  href="$home$apphome/views/modules/librarycollection/media/index.html?collectionid=${collection.getId()}&clearselection=true" 
					 	class="collectionbox #if ($selected ) selected #end favorite"  
					 	title="$!{collection}"
					 	data-collectionname="${collection.getName()}">
					 	[[Favorites]] ($collection.getAssetCount())
					</a>
				 </div>
			</li>
	#end
	  	#foreach($collection in $usercollections )
		    #set( $selected = false )
			#if( $librarycol && $collection.getId() == $librarycol.id )
				#set( $selected = true )
			#end
	  		<li class="librarycollectiondroparea #if ($selected ) selected #end"
				data-dropsaveurl="$home$apphome/components/opencollections/addassettocollection.html"
				data-collectionid="$collection.getId()"
				data-targetdiv="left-col-opencollections"
			>
				<div class="collectionrow">
					<a  href="$home$apphome/views/modules/librarycollection/media/index.html?collectionid=${collection.getId()}&clearselection=true" 
					 	class="collectionbox #if ($selected ) selected #end"  
					 	title="$!{collection}"
					 	data-collectionname="${collection.getName()}">
					 	$collection.getName() ($collection.getAssetCount())
					</a>
					<div class="collectionicons">
						<a href="$home$apphome/components/opencollections/closecollection.html?collectionid=${collection.getId()}" 
							class="collectionclose ajax" targetdiv="left-col-opencollections" title="[[Close Collection]]">
							<span class="closecollection fas fa-times " data-collectionid="${collection.getId()}"></span>
						</a>
					</div>
				 </div>
			</li>
		#end
		#if ($canaddnewcollection)
		<li class="newcollectiondroparea">
			<div id="opencollectioncreatenewarea">
 				<a id="newCollection" class="ajax collectionnew btn btn-xs btn-secondary" 
					   targetdivinner="opencollectioncreatenewarea" data-oemaxlevel="1"
					   href="$home$apphome/components/opencollections/addnewchild.html?libraryid=$context.getUserName()" >
					   [[Create New]]
					</a>
		    </div>
		</li>
		#end	
	</ul>	
	</div>
	</div>
</div>
#end
