#set( $viewtype = $detail.searchcomponent )
#if (!$viewtype)
	#set( $viewtype = $detail.viewType )
#end
#if (!$viewtype)
	#set ($viewtype = $detail.dataType)
#end
#if (!$viewtype || $viewtype == "text")
	#set ($viewtype = "default")
#end

#if (!$viewtype || $viewtype == "date")
	#set ($viewtype = "datesearch")
#end

#if (!$viewtype || $viewtype == "textarea" || $viewtype == "html")
	#set ($viewtype = "default")
#end

#if (!$viewtype || $viewtype == "boolean")
	#set ($viewtype = "booleansearch")
#end

	
	<div class="emsearchfieldrow">
		<div id="detail_${detail.id}" align="left" valign="middle" class="emsearchfieldvalue emsearchcomponent-$!viewtype" nowrap >

			<input name="field" value="${detail.getId()}" type="hidden">
	
			
	
			#if(!$detail.isDate() && $detail.getId() != "category" && !$viewtype.endsWith("search") )
					#if($detail.defaultoperation && $detail.defaultoperation != "")
					<input name="operation" value="$detail.defaultoperation" type="hidden" />
					#elseif($detail.isList() || $detail.isBoolean() || $viewtype == "multiselect")
					<input name="operation" value="matches" type="hidden" />
					#else
					<input name="operation" value="contains" type="hidden" />
					#end
			#end
				
	
	
			#if( $hits.getSearchQuery() )
				#set( $value = "$!hits.getSearchQuery().getInput($detail.id)" )
				#set( $values = "$!hits.getSearchQuery().getInputs($detail.id)" )
				#set( $term = $hits.getSearchQuery().getTermByDetailId($detail.id) )
				$context.putPageValue("term",$term)			
				$context.putPageValue("val",$value)
				$context.putPageValue("values",$values)
			#end	
			
			$context.putPageValue("inlinelabels",true)
			$context.putPageValue("caneditlists",false)
			
			$pages.include("/${applicationid}/components/xml/types/${viewtype}.html", $context)
		</div>
	</div>

