#set ($catalogid = $context.getRequestParameter('catalogid'))
#set ($searchtype = $context.getRequestParameter('searchtype')) ##product
#set ($fieldname = $context.getRequestParameter('fieldname')) ##lastmodified
#set ($view = $context.getRequestParameter('view')) 
<!--  This would have the point details in it -->

    
     

<div id="${detail.id}_map" align style="width: 100%; height:400px; margin-bottom: 15px;"></div>
   #set($latandlong = $data.get("$detail.id"))
   #set( $lat = $!data.get("${detail.id}_lat") )
   #set( $lng = $!data.get("${detail.id}_lng") )
   #set($icon = $mediaarchive.getData("geoicon", $data.geoicon))
   
   <input type="hidden" name="field" value="${detail.id}_lat"/>
    <input type="hidden" id="${detail.id}_lat" name="${detail.id}_lat.value" value="$!lat"/>
    <input type="hidden" name="field" value="${detail.id}_lng"/>
     <input type="hidden" id="${detail.id}_lng" name="${detail.id}_lng.value" value="$!lng"/>

  
   <input type="hidden" id="${detail.id}_latandlong" size="40" name="${detail.id}.value" value="$!latandlong"/>


<script type="text/javascript">

jQuery('#${detail.id}_map').gmap({
	 'center':'$mediaarchive.getCatalogSettingValue("startinglatlong")',
}).bind('init', function(ev, map) {
	#if( $latandlong )
	$('#${detail.id}_map').gmap('addMarker', 
			{
			'position': '$latandlong',
		
		    'bounds': true
		    #if($icon)
				,'icon': '$icon.url'
				#end
		    });
		    
	    $('#${detail.id}_map').gmap('option', 'zoom', 12);
	#else
	    $('#${detail.id}_map').gmap('option', 'zoom', 2);
	#end

}).click(function(e)
		{
			//alert( "click");
		});






</script>
