#set ($catalogid = $context.getRequestParameter('catalogid'))
#set ($searchtype = $context.getRequestParameter('searchtype')) ##product
#set ($fieldname = $context.getRequestParameter('fieldname')) ##lastmodified
#set ($view = $context.getRequestParameter('view')) 
<!--  This would have the point details in it -->

 
<div id="$!{hit.id}_${detail.id}_map" align style="width: 100%; height:400px; margin-bottom: 15px;"></div>
   
   #set( $lat = $!hit.get("${detail.id}_lat") )
   #set( $lng = $!hit.get("${detail.id}_lng") )
    <input type="hidden" name="field" value="${detail.id}_lat"/>
   Latitude: <input type="text" id="${detail.id}_lat" name="${detail.id}_lat.value" value="$!lat"/>
    <input type="hidden" name="field" value="${detail.id}_lng"/>
    Longitude: <input type="text" id="${detail.id}_lng" name="${detail.id}_lng.value" value="$!lng"/>


<script type="text/javascript">

$('#$!{hit.id}_${detail.id}_map').gmap({
	 'center':'$mediaarchive.getCatalogSettingValue("startinglatlong")',
}).bind('init', function(ev, map) {
	#if( $lat )
	$('#$!{hit.id}_${detail.id}_map').gmap('addMarker', 
			{
			'position': '$lat,$lng',
			'draggable': false, 
		    'bounds': true
		    })
		    .dragend(function(event) 
	    	  		{
	    		 	
	    		  jQuery('#${detail.id}_lat').val(event.latLng.lat());
	              jQuery('#${detail.id}_lng').val(event.latLng.lng());
	    	  	}       
	    	).click(function() {
		//$('#${detail.id}_map').gmap('openInfoWindow', {'content': 'Hello World!'}, this);
	});
	    $('#$!{hit.id}_${detail.id}_map').gmap('option', 'zoom', 12);
	#else
	    $('#$!{hit.id}_${detail.id}_map').gmap('option', 'zoom', 2);
	#end

}).click(function(e)
		{
			//alert( "click");
		});






</script>
