##required: catalogid, searchtype, view, fieldname
##optional: value, foreignkeyid and foreignkeyvalue

#set ($catalogid = $context.getRequestParameter('catalogid'))
#set ($searchtype = $context.getRequestParameter('searchtype')) ##product
#set ($fieldname = $context.getRequestParameter('fieldname')) ##lastmodified
#set ($view = $context.getRequestParameter('view')) 
#if( $data )
	#set($values = $data.getValues($detail.id) )
#end
#set( $searcher = $searcherManager.getSearcher($detail.getListCatalogId(), $detail.getListId() ))

	<ul class="multi-value-list">
		#foreach( $type in $values )
			#set( $row = false )
			#set( $row = $searcher.searchById($type) )
		    #if( $row )
		    <li>$row</li>
		    #end 
		#end	
	</ul>




