 $modulehits.size()

<div id="galleryimg" class="gridview emgrid" data-colwidth="300" 
style="margin-bottom: 30px; ">

#foreach( $hit in $modulehits)
     <div class="hiddenli emgridcell" style="width:270px; ">
        <div style="background-color: #ff0000; display:block;
        	 min-height:180px; padding:1px;">
        <h3 style="font-size:.6em;">$hit.name</h3>
        <p>$hit.highlight
        $hit.description
        </p>
        </div>
     </div>
#end     
</div>
            
<div class="clearfix"></div>