<ul id="galleryimg" class="gridview" style="margin-bottom: 30px; height: 600px;">
     <li class="hiddenli" style="left:32px; width:270px; height:180px;">
        <div style="background-color: #ff0000; display:block; height:100%; padding:1px;">
        <h3>Content A</h3>
        <p>Text, text</p>
        </div>
        
     </li>
     <li class="hiddenli"  style="left:307px; width:270px; height:400px;">
        <div style="background-color: #99ddff; display:block; height:100%;  padding:1px;">
        <h3>Content B</h3>
        <p>Text, text, text, text. More words and words and words and words.</p>
        <p>Text, text, text, text. More words and words.</p>
        <p>Text, text, text, text. More words and words.</p>
        <p>Text, text, text, text. More words and words.</p>
        </div>
     </li>
     <li class="hiddenli" style="left:582px; width:270px; height:180px;">
     <div style="background-color: #ffcc00; display:block; height:100%; padding:1px;">
        <h3>Content C</h3>
        <p>Text, text,</p>
        </div>
        
     </li>
      <li class="hiddenli" style="left:857px; width:270px; height:180px;">
        <div style="background-color: #aa11B0; display:block; height:100%; padding:1px;">
        <h3>Content D</h3>
        <p>Text, text</p>
        </div>
        
     </li>
     <li class="hiddenli" style="top:185px; left:32px; width:270px; height:180px;">
        <div style="background-color: #aa0000; display:block; height:100%; padding:1px;">
        <h3>Content E</h3>
        <p>Text, text,</p>
        </div>
        
     </li>
     <li class="hiddenli" style="top:185px; left:582px; width:270px; height:180px;">
        <div style="background-color: #aabb00; display:block; height:100%; padding:1px;">
        <h3>Content F</h3>
        <p>Text, text,</p>
        </div>
        
     </li>
</ul>
            
            
<div class="clearfix"></div>