$modulehits.size() [[Results Found]]

<div id="galleryimg" class="emgrid" 
	data-colwidth="300">

#foreach( $hit in $modulehits.getPageOfHits())
	#set($type = $hit.getSearchHit().getType())
     <div class="emgridcell emgridcell-$type" style="width:270px; min-height: 180px; ">
     	#if ($type != "asset")
     		#set($type = "default")
     	#end
     	$context.putPageValue("hit", $hit)
        $pages.include("$apphome/components/grid/types/${type}.html", $context)
     </div>
#end     
</div>
            
<div class="clearfix"></div>