#set( $hitssessionid = $context.getRequestParameter("hitssessionid"))
#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $action = "$home$apphome/views/modules/librarycollection/createcollection.html")
	
<form name="adder" id="adder" class="validate-inputs ajaxform" targetdiv="emcontainer" action="$action">
<input type="hidden" name="save" value="true" />
<input type="hidden" name="searchtype" value="$searchtype" />
<input type="hidden" name="field" value="owner" />
<input type="hidden" name="owner.value" value="$!user.getId()" />

<input type="hidden" name="hitssessionid" value="$!hitssessionid" />

#set( $data = $context.getData())
$context.putPageValue("data",$data)

<input type="hidden" name="field" value="rootcategory" />
<input type="hidden" name="rootcategory.value" value="$!data.rootcategory" />


$context.putPageValue("searcher",$searcherManager.getSearcher($catalogid,$searchtype) )	
$context.putPageValue("view","${searchtype}/${searchtype}addnew")	
$pages.include("/$applicationid/components/xml/detaileditorcss.html", $context)

<input type="submit" value="[[Save]]" />

</form>
