<div id="emresultscontent">

#set( $searcher = $mediaarchive.getSearcher("librarycollection") )
$context.putPageValue("searcher",$searcher)
#set ($details = $searcher.getDetailsForView("librarycollection/librarysearchcollectionresultstable", $userprofile))
$context.putPageValue("details",$details)
$context.putPageValue("clickpath","")
$context.putPageValue("viewpostfix",".html")
$context.putPageValue("clickruncommand","closecollection")
$context.putPageValue("module","librarycollection")

#if( $hits && $hits.getTotalPages() >  1  )

$pages.include("${apphome}/components/table/results.html", $context)

#else
[[No results found]]
#end
</div>

