<div>
	<div class="col-sidebar-header">
		<h2 class="filterstoggle">
		<a class="nav-btn filterstoggleclose float-left" href="#">
			<i class="fas fa-chevron-circle-right closebar"></i>
		</a>
		<i class="fas fa-sliders-h"></i> [[FILTERS]]</h2>
	</div>
	
	<div class="filter-box">
		<div class="filter-box-header"><span class="toggle-filter"><i class="fas fa-caret-down"></i></span> Sort by </div>
		<div class="filter-box-options">
			<a href="" class="filter-current"><i class="fas fa-check-square"></i> Date</a>
			<a href=""><i class="far fa-square"></i> Name</a>
		</div>
	</div>
	
	
	<div class="filter-box">
		<div class="filter-box-header"><span class="toggle-filter"><i class="fas fa-caret-down"></i></span> Asset Type </div>
		<div class="filter-box-options">
			<a href="" class="filter-current"><i class="fas fa-check-square"></i> Image</a>
			<a href=""><i class="far fa-square"></i> Video</a>
			<a href=""><i class="far fa-square"></i> Document</a>
		</div>
	</div>
	
	<div class="clearfix"></div>
</div>