

	<div class="col-sidebar-header">
		<h2 class="lefttoggle">
		<i class="fas fa-folder-open"></i> [[LOCATIONS]]	
		<a class="nav-btn lefttoggleclose float-right" href="#">
			<i class="fas fa-chevron-circle-left closebar"></i>
		</a>
		<a class="emdialog sidebarsubmenu float-right sidebarheaderactions" data-hidefooter="true" data-width="1000" data-height="600"  title="[[Select Category]]" href="$home$apphome/components/categories/search/searchcategory.html">
		<i class="fas fa-search"></i>
		</a>
		</h2>
	</div>
	
	
	#if(!$librarycol)
		#set( $selectedcollection = $context.getRequestParameter("collectionid"))
		#if( $selectedcollection)
			#set($librarycol = $mediaarchive.getData("librarycollection",$selectedcollection))
			$context.putPageValue("librarycol",$librarycol)
		#end	
	#end
	#set( $selectedlibraryid = $context.getRequestParameter("selectedlibrary"))
	#if($selectedlibraryid)
		#set($selectedlibrary = $mediaarchive.getData("library",$selectedlibraryid))
		$context.putPageValue("selectedlibrary",$selectedlibrary)
	#elseif( $librarycol )
		#set( $selectedlibraryid = $librarycol.get("library") )
		#set($selectedlibrary = $mediaarchive.getData("library",$selectedlibraryid))
		$context.putPageValue("selectedlibrary",$selectedlibrary)
	#end
	
	#if( $librarycol)
		$pages.include("$apphome/components/librarycollection/sidebar.html",$context)
	#else
		$pages.include("$apphome/components/categories/sidebar-left.html", $context) 
	#end
	
	
	
		
	
 
<div class="clearfix"></div>
