    <link rel="stylesheet" href="$home$apphome/components/annotations/workspace/css/dashboard.css">
    <link rel="stylesheet" href="$home$apphome/components/annotations/workspace/js/vendor/angular/ng-table/ng-table.min.css">
    <link rel="stylesheet" href="$home$apphome/components/annotations/workspace/css/colorpicker.css">
    <link rel="stylesheet" href="$home$apphome/components/annotations/workspace/css/main.css">
    <link rel="stylesheet" href="$home$apphome/components/annotations/workspace/css/fabric.css">
    <link rel="stylesheet" href="$home$apphome/components/annotations/workspace/css/highlights.css">
    <script src="$home$apphome/components/annotations/workspace/js/vendor/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <div class="em-workspace" ng-app="Workspace">

        <div ui-view="svgIncludes"></div>

        <div ui-view="mainContentArea"></div>



        <!-- bring in vendor scripts! -->
        <script src="$home$apphome/components/annotations/workspace/js/vendor/lodash/lodash.js"></script>
        <script src="$home$apphome/components/annotations/workspace/js/vendor/angular/ui-router/ui-router-0.2.10.js"></script>
        <script src="$home$apphome/components/annotations/workspace/js/vendor/angular/ng-table/ng-table.min.js"></script>
        <script src="$home$apphome/components/annotations/workspace/js/vendor/moment/moment.min.js"></script>
        <script src="$home$apphome/components/annotations/workspace/js/vendor/md5/md5.js"></script>
        <!-- import modules -->
        <script src="$home$apphome/components/annotations/workspace/js/vendor/angular/ng-colorpicker/colorpicker.js"></script>
        <script src="$home$apphome/components/annotations/workspace/node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>
        <script src="$home$apphome/components/annotations/workspace/js/vendor/angular/btford/socket.min.js"></script>
        <script src="$home$apphome/components/annotations/workspace/js/main.js"></script>
                     
        <!-- bring in services! -->
        <script src="$home$apphome/components/annotations/workspace/js/services/annotationService.js"></script>
        <script src="$home$apphome/components/annotations/workspace/js/services/fabricJsService.js"></script>
        <script src="$home$apphome/components/annotations/workspace/js/services/AnnotationSocket.js"></script>
                     
        <!-- bring in controllers! -->
        <script src="$home$apphome/components/annotations/workspace/js/controllers/SidebarCtrl.js"></script>
        <script src="$home$apphome/components/annotations/workspace/js/controllers/AnnotationCtrl.js"></script>
        <script src="$home$apphome/components/annotations/workspace/js/controllers/DashboardCtrl.js"></script>
        <script src="$home$apphome/components/annotations/workspace/js/controllers/ProjectCtrl.js"></script>
        <script src="$home$apphome/components/annotations/workspace/js/controllers/AnnotationDetailsCtrl.js"></script>
        <script src="$home$apphome/components/annotations/workspace/js/controllers/ProjectDetailsCtrl.js"></script>

    </div>
