#set( $rootpath = "${apphome}/components/categorize")
#set ($detailid = $context.getRequestParameter("detailid") )
#if( $detail )
#set( $detailid = $detail.id)
#end

<div id="addcategory" >
	#set ($existing = $context.getRequestParameter("${detailid}.value") )
	#if(!$existing)
		#set ($existing = $val)
	#end
	#if(!$existing)
		#set ($existing = $values)
	#end
	#if(!$existing)
		#set ($existing = $context.getRequestParameter("${detailid}.values") )
	#end
	
	#if( $existing && !$existing.trim().isEmpty() )
	 	#set ($existing = $existing.replace("||","|"))
	    <ul class="cat-list" >
		#foreach($categoryid in $existing.split("\s*\|\s*"))
			#set($category  = $mediaarchive.getCategory($categoryid))
			#if($category)
			<li class="cat-row categorydraggable ui-draggable ui-draggable-handle collectionBox" data-nodeid="$categoryid" data-categoryname="$category.getName()">
					<div class="category ">					
#foreach( $parent in $category.getParentCategoriesFrom(1))
#if( ${foreach.count} > 1) \ #end
<a  href="$home$apphome/views/modules/category/categorysearch.html?selectedcategory=${category.id}&nodeID=${category.id}">$parent</a>
#end
				<div class="collectionicons">
						<a href="#" title="[[Remove]]">
							<span class="closecategory fas fa-times" data-categoryid="$categoryid"></span>
						</a>
				</div>
			</div>
			</li>
			#end
		#end
		</ul>
	#end

   <input type="hidden" name="operation" value="orsgroup" />
   	<input type="hidden" id="categoryvalues" name="${detailid}.value" value="$!existing" class="#if($detail.isRequired() && !$multiedit) required #end"  />
   
   <a class="emdialog btn btn-xs btn-secondary" href="$home$apphome/components/categories/search/searchcategory.html?targetdiv=addcategory&clearselection=$!clear&action=$page.path&detailid=$detailid" data-cancelsubmit="true" data-width="900" data-parameterdata="categoryvalues">[[Pick Categories]]</a>

<script>

	lQuery("#cat-list .closecategory").liveajax("click",function() 
			{
				var link = $(this);
				link.closest("li").hide();
				
				var id = link.data("categoryid");
				var existing = $("#categoryvalues").val();
				existing = existing.replace(id,"");
				existing = existing.replace("||","|");
				$("#categoryvalues").val(existing);
				
				
			}
	);

</script>
</div>
