#set( $listid = $detail.getListId())
#set( $parentcollectionid = $context.getRequestParameter("parentcollectionid"))
#ifnull($parentcollectionid ) #set( $$parentcollectionid = $librarycol.getId()) #end
#set( $allprojects = $mediaarchive.getSearcher($listid).query().match("parentcollectionid",$parentcollectionid).sort("name").search($context) )
#set( $fieldid = "${detail.id}.value")
#set( $projectid = $context.getRequestParameter($fieldid))
#ifnull($projectid)
	#set( $projectid = $val)
#end

#ifnull($projectid)
	#if( !$searchform && !$allprojects.isEmpty() && $allprojects.size() == 1)
		#set( $projectid = $allprojects.get(0).getId() )  ##TODO: remeber last one picked
	#end	
#end

<select name="${detail.getId()}.value" class="select2">
#if ($detail.blankoption != false || $searchform)
<option value="*">[[All]]</option>
#end
#foreach( $project in $allprojects )
	<option value="$project.getId()" #if($projectid == $project.getId()) selected #end>$project</option>
#end
</select>
