#set( $fieldid  = "faceprofilegroup");
<div class="tageditor-viewer">	
#foreach( $val in $values )
	#set( $facegroup = $mediaarchive.getCachedData($fieldid,$val) )
	<a href="$siteroot$apphome/components/gridsample/preview/entity.html?id=$facegroup.getId()&searchtype=$fieldid"
	title="[[Entity]]: $!val" 
	class="emdialog entity-dialog badge badge-tags"
	data-noesc="true"
	>
	#if( $facegroup.getName() )
		$facegroup.getName()
	#else
	$!facegroup.get("facecounter")
	#end	
	</a>
#end
</div>

#if( !$values.isEmpty() && $canviewsettings )
	<a href="$siteroot$apphome/components/timeline/deleteallprofiles.html?id=$asset.id">
	[[delete all]]
	</a>
#end
