##required: catalogid, detail, view, fieldname
##optional: value, foreignkeyid and foreignkeyvalue

#set ($catalogidother = $context.getRequestParameter('catalogid'))
#if($catalogidother)
	#set ($catalogid = $catalogidother)
#end

#ifnull ($fieldname)
	#set ($fieldname = $context.getRequestParameter('fieldname')) ##lastmodified
#end
#set ($view = $context.getRequestParameter('view')) 
##we need to load up the existing detail object

#if( !$detail) ##this is new. To reduce complexity we want to just load up the detail all the time
	#if(!$searchtype)
		#set ( $searchtype = $context.getRequestParameter("searchtype") )
	#end
	#if( !$searchtype)
		searchtype not found!
	#end
	#set( $originalsearcher = $searcherManager.getSearcher($catalogid, $searchtype))
	#set ($fieldname = $context.getRequestParameter('fieldname')) ##lastmodified
	#set( $detail = $originalsearcher.getDetailForView($view, $fieldname, $user) )
#end

#set ($fieldname = $detail.id)
#set( $listid = $detail.getListId())
#set( $csslistid = "listdetail_$fieldname")

#set( $originalsearcher = $searcherManager.getSearcher($catalogid, $listid))

<div id="$csslistid" class="listdetailpicker">

#set( $lsearcher = $searcherManager.getSearcher( $detail.getListCatalogId(), $listid ))	

##require both 
#set ($listfilterid = $detail.get("listfilterid") )   ##local field that we depend on to get the value, get the value

#if( $listfilterid)
	#set( $listfilterdetail = $originalsearcher.getDetailForView($view, $listfilterid, $user) )
	
	<script type="text/javascript">
		##this is to list to the parent and to update itself fieldname
		addListListener("$listfilterid", "${fieldname}");
	</script>
	#set ($remotevalue = $context.getRequestParameter('foreignkeyvalue'))
	#if(!$remotevalue)
		#set( $remotevalue  = $data.get($listfilterid) )
	#end		
	#if(!$remotevalue)
		#set ($remotevalue = $context.replaceProperty($detail.defaultvalue) )  ##not used much
	#end
	#if( $remotevalue)
		#set($foreignkeyid = $detail.get("foreignkeyid") )   ##remove column that we search on. Use the value here
		#if( !$foreignkeyid)
			#set($foreignkeyid = $listfilterid)
		#end
		#set($query = $lsearcher.query().exact($foreignkeyid,$remotevalue).getQuery() )
	#end
#else
	#set($query = $lsearcher.query().all().getQuery() )
#end

$query.setSortBy($detail.getDefaultSort())
####$lsearcher.addShowOnly($context, $query) 
#set ($types = $lsearcher.search($context, $query))

#ifnull ($value)
	#set ($value = $context.getRequestParameter('val'))
#end
#ifnull ($value)
	#set ($value = $val)
#end
#ifnull ($value)
	#set ($value = $context.replaceProperty($detail.defaultvalue) )
#end

#set($searchfield = $detail.getId() )

#set( $valueid = "$fieldname" )
#if($types)
	<select name="${fieldname}.value" 
			class="listdropdown choose-select detail-select form-control #if($detail.isRequired() && !$multiedit) required #end" 
			listid="$listid" 
			id="${valueid}value"
			data-listid="$listid" 
			data-searchtype= '$listid'
			data-searchfield="$searchfield"
        	onchange="if( typeof updatelisteners == 'function' )updatelisteners('$catalogid','$searcher.getSearchType()','$!view','$fieldname');"
        	#if($removeclear) data-allowclear="false" #end
	>
	#if ($detail.blankoption != "false")
	<option value=""></option>
	#end
	$types.setHitsPerPage(1000)
	#foreach( $type in $types.getPageOfHits() )
		#set( $key = $type.id)
		#if($detail.render)
   			#set($label = $searcherManager.getValue($catalogid, $detail.render, $type.properties))
		#else
   		#set($label = $type.getName($context.getLanguage()))
		#end
		<option value="$key" #if( $value && $key == $value ) selected #end>#esc($label)</option>
	#end
	#if($hits && $hits.size() > 1000 )
		<option value="-1">1000 [[limit reached]]</option>
	#end
   </select>
 
   
#else
	[[No values found]] 
#end
 #if( $caneditlists)
		<a class="emdialog addnewitem btn btn-xs btn-light" data-dialogid="inlineedit" 
			href="$apphome/views/settings/lists/datamanager/edit/inline.html?searchtype=$listid&update=${valueid}value" title="[[Add New]] $detail" data-hidefooter="true">+ [[New]] $detail</a>
  #end
  <div class="clearfix"></div>
</div>
