#set( $title = $searcherManager.getData($catalogid,"title",$asset.title ))
#set( $destination = $searcherManager.getData($catalogid,"publishdestination",$order.publishdestination ))
#if (!$destination)
	#set( $destination = "Visual Data" )
#end
<div style="text-align: left; padding: 10px 0 10px 10px; font-size: 14px">
	<span style="font-weight: bold;">
		$!title
	</span> 
	$!asset.name | Order #$order >> $destination
</div>
<table class="emresultscontent" width="100%"> 
<tr id="tableheader">
	<th >Step</th>
	<th >Started</th>
	<th >Completed</th>
	<th >Status</th>
</tr>
#set($dateformat = "MMMMM dd yyyy hh:mm:ss")
<tr>
<td>Ordered</td> 

<td>$datestorageutil.formatDate($order.date, $dateformat)</td>


#if (!$conversiontask && !$publishqueue)
	<td>$!datestorageutil.formatDate($order.date, $dateformat)</td>
	<td>Complete</td>
#elseif ($conversiontask && !$publishqueue)
	<td>$!datestorageutil.formatDate($conversioncomplete, $dateformat)</td>
	<td>
	#if($conversioncomplete)
		Complete
	#end
	</td>
#elseif( !$conversiontask && $publishqueue)
	<td>$!datestorageutil.formatDate($publishcomplete, $dateformat)</td>
	<td>
	#if($publishcomplete )
		Complete
	#end
	</td>
#else( $conversiontask && $publishqueue)
	<td>$!datestorageutil.formatDate($publishcomplete, $dateformat)</td>
	<td>
	#if($publishcomplete)
		Complete
	#end
	</td>
#end


</tr>
<tr>
<td>Transcoding</td>
#if ($conversiontask)
	<td>$!datestorageutil.formatDate($conversionstart, $dateformat)</td>
	<td>$!datestorageutil.formatDate($conversioncomplete, $dateformat)</td>
	<td>
	#if ($conversionerror)
		Error
	#else
		#if ($conversionstart)
			<div id="conversionbar"></div>
			#if($conversioncomplete)
			#set($percent = 100)
			
			#else
			#set($percent = $conversiontask.percentage)
				
			#end
		#else
			Waiting
		#end
	#end
	</td></tr>
	
	<script type="text/javascript">
	jQuery(function() {
		jQuery( "#conversionbar" ).progressbar({
			
			value: $percent
		});
	});
	</script>
	
#else <td>n/a</td><td>n/a</td><td>n/a</td></tr> #end




<tr>	
	<td>Publishing</td>
	#if ($publishqueue)
	<td>$!datestorageutil.formatDate($publishstart, $dateformat)</td>
	<td>$!datestorageutil.formatDate($publishcomplete, $dateformat)</td>
	<td>
		<a target="_top" href="$home/$catalogid/settings/data/edit/edit.html?id=$publishqueue.id&origURL=&searchtype=publishqueue">
		#if ($publishqueue.status == "error")
			Error 
			##$publishqueue.errordetails
		#else 
			#if ($publishstart)
				<div id="publishbar"></div>
			#if($publishcomplete)
			#set($percent = 100)
			#else
			#set($percent = $publishqueue.percentage)
			#end
			#elseif ($conversiontask && $conversionstart)
				Waiting
			#end
			<script type="text/javascript">
	jQuery(function() {
		jQuery( "#publishbar" ).progressbar({
			
			value: $percent
		});
	});
	</script>
		#end
		</a>
	</td>
	#else <td>n/a</td><td>n/a</td><td>n/a</td></tr> #end
</tr>

</table>


