#set( $title = $searcherManager.getData($catalogid,"title",$asset.title ))
#set( $destination = $searcherManager.getData($catalogid,"publishdestination",$order.publishdestination ))
#if (!$destination)
	#set( $destination = "Visual Data" )
#end
<div style="text-align: left; padding: 10px 0 10px 10px; font-size: 14px">
	<span style="font-weight: bold;">
		$!title
	</span> 
	$!asset.name | Order #$order >> $destination
</div>
<table class="emresultscontent" width="100%"> 
<tr id="tableheader">
	<th >Step</th>
	<th >Started</th>
	<th >Completed</th>
	<th >Status</th>
</tr>
#set($dateformat = "MMMMM dd yyyy hh:mm:ss")
<tr>
<td>Ordered</td>

<td>$datestorageutil.formatDate($order.date, $dateformat)</td>


#if (!$conversiontask && !$publishqueue)
	<td>$!datestorageutil.formatDate($order.date, $dateformat)</td>
	<td>Complete</td>
#elseif ($conversiontask && !$publishqueue)
	<td>$!datestorageutil.formatDate($conversioncomplete, $dateformat)</td>
	<td>
	#if($conversioncomplete)
		Complete
	#end
	</td>
#else
	<td>$!datestorageutil.formatDate($publishcomplete, $dateformat)</td>
	<td>
	#if($conversioncomplete)
		Complete
	#end
	</td>
#end


</tr>
#if ($conversiontask)
<tr>
<td>Transcoding</td>
<td>$!datestorageutil.formatDate($conversionstart, $dateformat)</td>
<td>$!datestorageutil.formatDate($conversioncomplete, $dateformat)</td>
<td>
#if ($conversionerror)
	Error
#else
	#if ($conversionstart)

	#if($conversioncomplete)
		Complete
	#else
		Processing
	#end
	#else
		Waiting
	#end
#end

</td>
</tr>
#end
#if ($publishqueue)
<tr>
	
<td>Publishing</td>
<td>$!datestorageutil.formatDate($publishstart, $dateformat)</td>
<td>$!datestorageutil.formatDate($publishcomplete, $dateformat)</td>
<td>
#if ($publishqueue.status == "error")
	Error 
	##$publishqueue.errordetails
#else
	#if ($publishstart)
	#if($publishcomplete)
		Complete
	#else
		Processing
	#end
	#elseif ($conversiontask && $conversionstart)
		Waiting
	#end
#end

</td>
</tr>
#end
</table>
