#set($view= $context.getRequestParameter("view"))
#if ( $hits && $hits.size() > 0 )
#if( $context.getUserProfile() )
		#set ($details = $searcher.getDetailsForView($view, $context.getUserProfile()))
	#else
		#set ($details = $searcher.getDetailsForView($view))
		
	#end
	#if( !$details)
		No details available for this view.  Please configure your view settings.	

	#end
$context.putPageValue("details",$details)




	<table  class="table table-striped" >
	
	
	
			$pages.include("$apphome/components/xml/inline/tableheader.html",$context)
<tr class="data-editor"></tr>
			#foreach( $hit in $hits.getPageOfHits() )
				
				$context.putPageValue("hit", $hit)
				$context.putPageValue("count", $count)
				$context.putPageValue("sourcepath", $hit.sourcepath)
				$pages.include("${apphome}/components/xml/inline/row.html", $context)

			#end
	</table>

<p>$!hits.getPageStart() - $!hits.getPageEnd()  [[of]] $!hits.total</p>

$pages.include("$apphome/components/xml/inline/pages.html",$context)
#else
<p class="info" style="margin: 20px;">[[No results found]]</p>
#end
