<div class="ui-widget uipanel" id="left-col-search" >
				<div  class="ui-widget-header">[[Filters]] #if($cantogglesidebar) <img src="$apphome/theme/images/minimize.png" class="sidetoggle" data-target="filterscontent">#end </div>
<div  class="ui-widget-content" id="filterscontent" #if($userprofile.minimizefilterscontent == "true" && $cantogglesidebar) style="display: none;" #end>
#set ($assetTypeSearcher = $searcherManager.getSearcher($catalogid, "assettype"))

#set ($types = $assetTypeSearcher.fieldSearch(id, "*", "name"))

#set( $notselected = $userprofile.getValues("hideassettype") ) 


<div class="subcolumns" style="white-space:nowrap;"> 
    <ul id="filters-sidebar">  
#foreach($type in $types )

    
    #if( $notselected.contains( $type.getId() ) )
    #set( $selected = false)
    #else
    #set( $selected = true)
    #end
	
			
	<li><input class="assettypeselect" type="checkbox" name="childquery" value="$type.getId()" #if( $selected )checked #end/><span> $type.name</span></li> 			
				
			


#end
</ul>


<form  action="$apphome/components/results/table.html" class="ajaxform" targetdiv="resultsdiv" style="margin-bottom:0;padding-right:15px;" target="_parent" name="dontshow" id="dontshow" valign="middle">
    ##<input type="hidden"  name="oemaxlevel" value="1" />
    <input type="hidden" name="catalogid" value="$!catalogid" />
    <input type="hidden" name="searchtype" value="asset" />
        <input type="hidden" name="cache" value="false" />
    
    <input type="hidden" name="hitssessionid" value="$!hits.sessionId" /> ##TODO: reload on ajax reloads
     
</form>
<input class="btn"  id="select_all" type="button" value="[[All]]" />
<input class="btn" style="margin-left: 5px;" id="select_none" type="button" value="[[None]]" />


</div>
</div></div>
	


<script type="text/javascript">

applyDontShow = function()
{	
	jQuery('#spinner').css('visibility', 'visible');
	
	var inputs = jQuery('input[name="childquery"]');
	var query = "hitssessionid=$hits.getSessionId()&cache=false&profilesearchfilters=hideassettype";
	var found = false;
	for (var i = 0; i < inputs.size(); i++)
	{
		input = inputs[i];
		if (!input.checked)
		{
			query += "&hideassettype=" + input.value;
			found=true;
		} 
	}
	
	//TODO: Why not update the results with new data like VD does?
	jQuery('#dontshow').attr('action', "$home$apphome/components/results/table.html?" + query);
	jQuery('#dontshow').submit();


}

jQuery('#select_all').click(function(){
	jQuery('.assettypeselect').each(function(){this.checked = true;});
	applyDontShow();
	return false;
});

jQuery('#select_none').click(function(){
	jQuery('.assettypeselect').each(function(){this.checked = false;});
	applyDontShow();
	return false;
});


jQuery('.assettypeselect').bind('click',applyDontShow);

</script>

