<div class="ui-widget uipanel" id="left-col-search" >
			<div  #if($userprofile.minimizefilterscontent == "false" && $cantogglesidebar) class="ui-widget-header sidetoggle expanded" #elseif($cantogglesidebar) class="ui-widget-header sidetoggle" #else class="ui-widget-header" #end data-target="filterscontent">
				<span class="widget-header-title">[[Filters]]</span>
			</div>
<div  class="ui-widget-content" id="filterscontent" #if($userprofile.minimizefilterscontent == "true" && $cantogglesidebar) style="display: none;" #end>


#set($facets = $hits.getFilters())
<div class="subcolumns" style="white-space:nowrap;"> 

<form  action="$apphome/components/results/filter.html" class="ajaxform" targetdiv="resultsdiv" style="margin-bottom:0;padding-right:15px;" target="_parent" name="dontshow" id="dontshow" valign="middle">



#foreach($type in $facets )
      
	    
	    
	     <ul id="filters-sidebar">
	     <li><b>$type</b> </li>
		    
   
	#foreach($entry in $type.children)
			
	<li><input class="assettypeselect" type="checkbox" name="filter" value="$entry.getId()" #if( $entry.isSelected() )checked #end/><span> $entry ($entry.value) $entry.isSelected()</span></li> 			
				
			#end

</ul>

#end


    <input type="hidden"  name="oemaxlevel" value="1" />
    <input type="hidden" name="catalogid" value="$!catalogid" />
    <input type="hidden" name="searchtype" value="asset" />
    
    <input type="hidden" name="hitssessionid" value="$!hits.sessionId" /> ##TODO: reload on ajax reloads
     <input type="submit" >
</form>


</div>
</div></div>
	


<script type="text/javascript">

applyFilters = function()
{	
	
	//TODO: Why not update the results with new data like VD does?
	//jQuery('#dontshow').attr('action', "$home$apphome/components/results/table.html?" + query);
	jQuery('#dontshow').submit();


}


jQuery('.assettypeselect').bind('click',applyFilters);

</script>

