XX
<div id="emvalueeditor">
	<div id="valuelist" class="emtable clearfix">
	#foreach($library in $asset.getLibraries())
		  
		 #set( $data = $searcherManager.getData($catalogid,"library",$library) )
		 #set( $division = $searcherManager.getData($catalogid,"division",$data.division ) )
		 
		<a class="row tag">$division / $data</a>

		#if($caneditasset)
			<a style="display:inline;" class="ajax delete-row" targetdiv="emvalueeditor" href="$home$apphome/components/libraries/remove.html?fieldname=libraries&assetid=${asset.id}&libraries.value=$library"></a>
		#end
		</a>
	#end
	</div>
#if($caneditasset)
	<div id="valueadd" style="margin: 20px 0 10px 0;">
	<a class="ajax btn small" targetdiv="valueadd" href="$home$apphome/components/assetlibraries/add.html?oemaxlevel=1&assetid=${asset.id}&sourcepath=${asset.sourcepath}">[[Add Library]]</a>
	</div>
#end

</div>