#set( $collectionid = $context.getRequestParameter("collectionid"))
#if($collectionid)
	#set( $librarycol = $mediaarchive.getData("librarycollection", $collectionid) )
	#set( $library = $mediaarchive.getData("library",$librarycol.get("library") ) )
<h3>[[Work Folder]]</h3>

<p>
[[Copy files into your work folder]]:  $user.id/${librarycol.getName()}/{timestamp}/
<form  name="archiveassets" id="archiveassets" 
   method="post" action="$home$apphome/views/modules/librarycollection/export.html">
	<input type="hidden" name="collectionid" value="${librarycol.getId()}" />
	<input class="btn" type="submit" id="archiveassetsbutton" value="[[ Copy ]]">	   			
</form>
<h3>[[Zip File]]</h3>
<form  name="archiveassets" id="archiveassets" 
			   method="post" action="$home$apphome/views/modules/librarycollection/download/zip/${librarycol.getId()}.zip">
				<input type="hidden" name="collectionid" value="${librarycol.getId()}" />
				<input type="hidden" name="zip" value="true" />
				<input class="btn" type="submit" id="archiveassetsbutton" value="[[ Download Zip ]]">	   			
</form>

#end

#if ($hits.getSelectionSize() > 0)
<h3>[[Asset Selections]]</h3>
<a class="btn emdialog"  data-hidefooter="true" href="$home$apphome/views/activity/downloadassets.html?hitssessionid=$!hits.getSessionId()&collectionid=$!{librarycol.getId()}">[[Download]] $hits.getSelectionSize() [[Selected Assets]]</a>
#end 
