#set( $collectionid = $context.getRequestParameter("collectionid"))
#if($collectionid)
	#set( $librarycol = $mediaarchive.getData("librarycollection", $collectionid) )
	#set( $library = $mediaarchive.getData("library",$librarycol.get("library") ) )
<h3>[[Desktop Download]]</h3>
<form  name="archiveassets" id="archiveassets" 
   method="post" action="$home$apphome/views/modules/librarycollection/export.html">
#if( $desktops.size() == 0 ) [[No desktop app connected]] #end

#if( $desktops.size() > 1)
Please close a desktop

#else
<p>[[File will be exported to your desktop]]: ${desktop.getHomeFolder()}/EnterMedia/${librarycol.getName()}/
</p>
	<input type="hidden" name="desktopid" value="$desktop.getDesktopId()" />
#end

	<input type="hidden" name="collectionid" value="${librarycol.getId()}" />
	<input class="btn" type="submit" id="archiveassetsbutton" value="[[Sync to Desktop]]">	   			
</form>
<h3>[[Zip File]]</h3>
<form  name="archiveassets" id="archiveassets" 
			   method="post" action="$home$apphome/views/modules/librarycollection/download/zip/${librarycol.getId()}.zip">
				<input type="hidden" name="collectionid" value="${librarycol.getId()}" />
				<input type="hidden" name="zip" value="true" />
				<input class="btn" type="submit" id="archiveassetsbutton" value="[[Download Zip]]">	   			
</form>

#end

#if ($hits.getSelectionSize() > 0)
<h3>[[Asset Selections]]</h3>
<a class="btn emdialog"  data-hidefooter="true" href="$home$apphome/views/activity/downloadassets.html?hitssessionid=$!hits.getSessionId()&collectionid=$!{librarycol.getId()}">[[Download]] $hits.getSelectionSize() [[Selected Assets]]</a>
#else
#end
<br><br> 
