<ul id="saved-searches" class="search-list">
	<li>
		<div class="search-save"><a class="ir" href="#save">Save</a></div>
		<a class="search-href" href="#link">Approved Files</a>
		<div class="search-delete"><a class="ir" href="#delete">delete</a></div>
	</li>
	<li>
		<div class="search-save"><a class="ir" href="#save">Save</a></div>
		<a class="search-href" href="#link">Pending Files</a>
		<div class="search-delete"><a class="ir" href="#delete">delete</a></div>
	</li>
	<li>
		<div class="search-save"><a class="ir" href="#save">Save</a></div>
		<a class="search-href" href="#link">Your Files</a>
		<div class="search-delete"><a class="ir" href="#delete">delete</a></div>
	</li>
	<li>
		<div class="search-save"><a class="ir" href="#save">Save</a></div>
		<a class="search-href" href="#link">Your Files</a>
		<div class="search-delete"><a class="ir" href="#delete">delete</a></div>
	</li>
	<li>
		<div class="search-save"><a class="ir" href="#save">Save</a></div>
		<a class="search-href" href="#link">Your Files</a>
		<div class="search-delete"><a class="ir" href="#delete">delete</a></div>
	</li>
	<li>
		<div class="search-save"><a class="ir" href="#save">Save</a></div>
		<a class="search-href" href="#link">Your Files</a>
		<div class="search-delete"><a class="ir" href="#delete">delete</a></div>
	</li>
	<li>
		<div class="search-save"><a class="ir" href="#save">Save</a></div>
		<a class="search-href" href="#link">Your Files</a>
		<div class="search-delete"><a class="ir" href="#delete">delete</a></div>
	</li>
</ul>