$pages.include("$apphome/components/advancedsearch/sidebar.html", $context)


$pages.include("$apphome/components/dontshow/sidebar.html",$context)

#if ( $canviewopencollections )
$pages.include("$apphome/components/opencollections/sidebar.html",$context)
#end


$pages.include("$apphome/components/categories/sidebar.html", $context)


##$pages.include("$apphome/components/previoussearches/sidebar.html", $context)

##$pages.include("$apphome/components/savedqueries/sidebar.html", $context)

##$pages.include("$apphome/components/relatedkeywords/sidebar.html",$context)

