<form id="eml-tab-green-container" class="validate-inputs" name="savemount" action="save.html" target="_top">
    
<h3>[[Import]]</h3>
#set( $id = $context.getRequestParameter("id") )

<input type="hidden" name="id" value="$id" />

#set( $path = $mount.path )
#if( !$path)
    #set( $path = "/WEB-INF/data/$catalogid/originals/hotfolder1" )
#end
##TODO: Use a detail editor here

<label>[[Import EnterMedia Workspace File]]</label>
<input type="hidden" name="field" value="name" />
<input class="field short required" name="name.value" value ="$!data.name" />
<div class="note">[[Make sure the file is a valid EnterMedia Workspace file.]]</div>




<input style="margin-top: 40px;" class="btn" type="submit" value="[[Save]]" />


</form>
