<div class="row">
#if($page.isPropertyTrue("small-nav"))
	<div class="col-md-12">
		$pages.include("${content.searchhome}/reporting/layout/small-menu.html")
		$pages.include("${content.searchhome}/reporting/layout/table-export.html")
		$pages.includeContent()
	</div>
#else
	<div class="col-md-2">
	$pages.include("${content.searchhome}/reporting/layout/menu.html")
	</div>
	<div class="col-md-10">
		$pages.include("${content.searchhome}/reporting/layout/table-export.html")
		$pages.includeContent()
	</div>
#end
</div>