<div class="btn-group">
	<button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Table Data</button>
	<ul class="dropdown-menu " role="menu">
		<li><a href="#" onClick ="$('#report').tableExport({type:'json',escape:'false',exportName:'report.json'});"> <img src='/${applicationid}/components/tableexport/icons/json.png' width='24px'> JSON</a></li>
		<li><a href="#" onClick ="$('#report').tableExport({type:'json',escape:'true',exportName:'report.json'});"> <img src='/${applicationid}/components/tableexport/icons/json.png' width='24px'> JSON (with Escape)</a></li>
		<li class="divider"></li>
		<li><a href="#" onClick ="$('#report').tableExport({type:'xml',escape:'false',exportName:'report.xml'});"> <img src='/${applicationid}/components/tableexport/icons/xml.png' width='24px'> XML</a></li>
		<li><a href="#" onClick ="$('#report').tableExport({type:'sql',exportName:'report.sql'});"> <img src='/${applicationid}/components/tableexport/icons/sql.png' width='24px'> SQL</a></li>
		<li class="divider"></li>
		<li><a href="#" onClick ="$('#report').tableExport({type:'csv',escape:'false',exportName:'report.csv'});"> <img src='/${applicationid}/components/tableexport/icons/csv.png' width='24px'> CSV</a></li>
		<li><a href="#" onClick ="$('#report').tableExport({type:'txt',escape:'false',exportName:'report.txt'});"> <img src='/${applicationid}/components/tableexport/icons/txt.png' width='24px'> TXT</a></li>
		<li class="divider"></li>				
		<li><a href="#" onClick ="$('#report').tableExport({type:'excel',escape:'false',exportName:'report.xls'});"> <img src='/${applicationid}/components/tableexport/icons/xls.png' width='24px'> XLS</a></li>
		<li><a href="#" onClick ="$('#report').tableExport({type:'doc',escape:'false',exportName:'report.doc'});"> <img src='/${applicationid}/components/tableexport/icons/word.png' width='24px'> Word</a></li>
		<li><a href="#" onClick ="$('#report').tableExport({type:'powerpoint',escape:'false',exportName:'report.ppt'});"> <img src='/${applicationid}/components/tableexport/icons/ppt.png' width='24px'> PowerPoint</a></li>
		<li class="divider"></li>
		<li><a href="#" onClick ="$('#report').tableExport({type:'png',escape:'false',exportName:'report.png'});"> <img src='/${applicationid}/components/tableexport/icons/png.png' width='24px'> PNG</a></li>
		<li><a href="#" onClick ="$('#report').tableExport({type:'pdf',pdfFontSize:'7',escape:'false',exportName:'report.json'});"> <img src='/${applicationid}/components/tableexport/icons/pdf.png' width='24px'> PDF</a></li>
	</ul>
</div>