#set($viewid = $context.getRequestParameter("viewid"))
#set($viewpath = $context.getRequestParameter("viewpath"))
#set( $moduleid = $context.findValue("module") )

#set($id = $data.id )
#if( !$id )
	#set( $id = $context.getRequestParameter("id") )
#end
#set( $action = "$home$apphome/components/dialogedit/deletefinish.html")
<div id="formresults">


<div id="default-fields">
    <div id="editlayout">
    <form id="dialogeditform" class="ajaxform" targetdiv="formresults" name="dataeditor" method="post"   action="$action" enctype="multipart/form-data">
    	<input name="save" type="hidden" value="true" />
    	<input name="id" type="hidden" value="$!id" />
 
    	<input name="searchtype" type="hidden" value="$searcher.searchType" />
    
       	<input name="oemaxlevel" type="hidden" value="1" />
   
    
    
    </form>
    
    
    
    </div>
</div>

Are you sure you want to delete?
   <button class="btn btn-danger" id="saveproduct" onclick="jQuery('#dialogeditform').submit(); return false;">Yes, Delete</button>
<button class="btn "  data-dismiss="modal" id="close" >No, Cancel</button>

</div>





